<%
var head = {
%>
<link rel="stylesheet" href="/static/css/order/orderInfo.css">
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0  backgorund-gray">
	<div class="grid-row padding-bottom-10 padding-top-10">
		<div class="order-info" style=" background-color: white;">
			<div class="order-info-top">
				<div class="order-logo display-inline-block grid-left">
					<a class="display-inline-block" href="javascript:void(0)">
						<img class="display-inline-block" style="width:207px;" src="/static/images/logo.png" alt="">
					</a>
				</div>
				<div class="order-progress-bar grid-right">
					<ul class="margin-top-10">
						<li class="active" data-tip="1">确认订单信息</li>
						<li data-tip="2">提交订单成功</li>
					</ul>
				</div>
			</div>
			<div class="order-info-down">
				<div><h1><i class="fa fa-pencil-square-o padding-right-10" aria-hidden="true"></i>核对订单信息</h1></div>
				<div>
					<form action="/order/createOrder" name="orderInfo" id="J_orderInfo" method="post">
						<input type="hidden" name="perOrderInfoNum" value="${perOrderInfoNum}">
						<table>
							<tr class="tab-title">
								<th colspan="9"><h5 class="font-size-16" style="padding-left: 5px;">新订购服务</h5></th>
							</tr>
							<tr class="tab-title-th">
								<th>序号</th>
								<th>商品名称</th>
								<th>订购规格</th>
								<th>单价(元)</th>
								<th>订购数量</th>
								<!--<th>优惠(元)</th>-->
								<th>总价(元)</th>
							</tr>
							<input type="hidden" name="titleId" class="titleIdO" value="">
							<input type="hidden" name="addressId" class="addressIdO" value="">
							<%for(list in cartOrder){%>
							<input type="hidden" name="cartIdArray" value="${list.recId}">
							<input type="hidden" name="goodsId" value="${list.goodsId}">
							<input type="hidden" name="formatId" value="${list.formatId}">
							<input type="hidden" name="goodsNumber" value="${list.goodsNumber}">
							<tr class="tab-item">
								<td>${listLP.index}</td>
								<td>${list.goodsName}</td>
								<td>
									<%if(list.goods.isDiscussPrice == 1){%>
										${list.format.number}
									<%}else{%>
										${list.format.number}${decode(list.format.format,0,"次",1,"月",2,"年",3,"套","/")}
									<%}%>

								</td>
								<td>${list.goodsPrice / 100}</td>
								<td>${list.goodsNumber}</td>
								<!--<td>${list.goodsName}</td>-->
								<td>${(list.goodsPrice * list.goodsNumber) / 100}</td>
							</tr>
							<%}%>
							<%if( orderAmount / 100  > 0){%>
							<tr>
								<td colspan="9">
									<table class="coupon-list">
										<tr class="tab-title">
											<th colspan="9"><h5 class="font-size-16" style="padding-left: 5px;">发票信息 <span class="translate-titleTip"><i class="fa fa-lightbulb-o"></i>开企业抬头发票须填写纳税人识别号，以免影响报销</span></h5></th>
										</tr>
										<tr>
											<td colspan="9" style="font-size: 16px;line-height: 30px;color:#666; padding:5px 10px">
												<ol>
													<li class="translateInfo"><span>不开发票</span><a id="J-editTranslate" style="margin-left:40px;color:#0041ed" href="javascript:void(0)" class="">修改</a><a id="J-noTranslate" style="margin-left:40px;color:#0041ed;display: none;" href="javascript:void(0)" class="">不开发票</a></li>
													<li class="translateInfo-g"></li>
												</ol>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<%}%>
							<%if(isNotEmpty(couponList)){%>
							<tr>
								<td colspan="9">
									<table class="coupon-list margin-bottom-10">
										<tr class="tab-title">
											<th colspan="9"><h5 class="font-size-16" style="padding-left: 5px;">使用优惠券</h5></th>
										</tr>
										<tr>
											<td colspan="9">
												<ul class="clearfix" id="coupon-list">
													<input type="hidden" name="userCouponId">
													<%for(list in couponList){%>
													<li>
														<div class="list-item active-blue">
															<input type="hidden" value="${list.userCouponId}" name="couponId">
															<div class="grid-left list-item-l" >
																<p >￥<span class="j_faceValue">${list.faceValue / 100}</span></p>
																<%if(list.applyChannel == 0){%>
																<p>无限制</p>
																<%}else if(list.applyChannel == 1){%>
																<p>满${list.discountValue / 100}元可用</p>
																<%}else {%>
																<p>折扣</p>
																<%}%>
															</div>
															<div class="grid-left list-item-r">
																<span class="font-size-18 margin-bottom-10">${decode(list.applyGoods,0,"全品类通用劵",1,"部分品类通用劵",2,"部分分类通用劵","未知")}</span>
																<p>适用平台：${decode(list.applyPlatform,0,"全平台","未知")}</p>
																<p>有效期至：${list.expiryEndTime}</p>
															</div>
														</div>
													</li>
													<%}%>
												</ul>
											</td>
										</tr>
										<tr class="tab-title">
											<th colspan="9">
												金额抵用：<span class="J_arrived">0</span>元
											</th>
										</tr>
									</table>
								</td>

							</tr>
							<%}else{%>
							<%}%>
							<!--<tr class="tab-pay">-->
								<!--<td colspan="9">-->
									<!--<span>付款小计：</span>-->
									<!--<span class="color-orange">${orderAmount / 100}</span>-->
									<!--<span>元</span>-->
								<!--</td>-->
							<!--</tr>-->
							<!--<tr class="tab-agreement">-->
								<!--<td colspan="9">-->
									<!--<div>-->
										<!--<span>请阅读</span>-->
										<!--<a href="javascript:void(0)" class="color-blue">订购协议</a>-->
									<!--</div>-->
								<!--</td>-->
							<!--</tr>-->
							<tr class="tab-agreement">
								<td colspan="9">
									<div class="tab-price">
										<span>商品总金额：<span class="color-red">￥${orderAmount / 100}</span></span> <br>
										<span>商品优惠券：<span class="color-red J_couponM">￥0</span></span>
									</div>
								</td>
							</tr>

							<tr class="tab-submit">
								<td colspan="9">
									<div>
										<div class="pay-box display-inline-block">
											<span>应付总额：</span>
											<input type="hidden" name="payMoney" value="${orderAmount / 100}">
											<span class="color-orange font-size-20" id="pay-money">${orderAmount / 100}</span>
											<span>元</span>
										</div>
										<button type="submit" class="btn btn-full-red padding-10 pay-btn">付款</button>
									</div>
								</td>
							</tr>
						</table>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<%
include("/invoice/invoice.html"){}
%>
<script src="/static/js/order/orderInfo.js"></script>
<%};
include("/layout/other-base.html",{headSection:head,htmlSection:htmlPart}){}
%>
