
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
    font-size: 0;
    zoom: 1;
}

.findPwd {
    width: 650px;
    margin:0 auto;
    position: relative;
}
.findPwd .find {
    font-size: 13px;
    font-weight: 600;
    margin:40px 0px;
}
/*new*/
@font-face {
    font-family: rei;
    src: url(/static/css/rei/rei.eot);
    src: url(/static/css/rei/rei.eot?#iefix) format("embedded-opentype"), url(/static/css/rei/rei.woff) format("woff"), url(/static/css/rei/rei.ttf) format("truetype"), url(/static/css/rei/rei.svg#rei) format("svg");
    font-weight: 400;
    font-style: normal
}

.ui-step {
    padding: 0 40px;
    margin: 0 auto;
    font-size: 14px;
    list-style: none;
    zoom: 1;
    position: relative;
    color: #b7b7b7;
    overflow: hidden;
}
.maincenter .ui-step {
    margin-bottom: 30px;
}
.ui-step li {
    float: left;
    height: 54px;
    margin: 0;
    width: 50%;
    position: relative;
}
.ui-step-3 li {
    width: 33%;
}
.ui-step:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.ui-step .ui-step-active {
    color: #f40;
}
.ui-step li.ui-step-end {
    position: absolute;
    top: 0;
    right: -110px;
    width: 150px;
    zoom: 1;
    _clear: both;
}
.ui-step li .ui-step-line {
    height: 3px;
    background: #b9b9b9;
    display: block;
    margin-top: 14px;
    line-height: 1;
    overflow: hidden;
}
.ui-step li .ui-step-icon {
    height: 50px;
    position: absolute;
    top: 0;
    width: 150px;
    text-align: center;
    left: -25px;
    font-family: tahoma;
}
.iconfont {
    font-family: rei;
    font-style: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}
.ui-step-icon .iconfont {
    font-size: 30px;
    margin: 0;
    color: #b7b7b7;
    color: rgba(0,0,0,.25);
    line-height: 30px;
    background: #fff;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 2px #fff, 0 0 0 #ccc, 1px 1px 2px #fff;
}
.ui-step .ui-step-active .iconfont {
    color: #f40;
}
.ui-step-icon .ui-step-number {
    line-height: 14px;
    font-style: normal;
    position: absolute;
    top: 9px;
    left: 0;
    padding: 0 21px;
    font-weight: 700;
    color: #fff;
}
.ui-step .ui-step-active i.ui-step-number {
    color: #FFF;
}
.ui-step-icon .ui-step-text {
    height: 20px;
    line-height: 20px;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    top: 34px;
    left: -50px;
}
.ui-step li .ui-step-line {
    height: 3px;
    background: #b9b9b9;
    display: block;
    margin-top: 14px;
    line-height: 1;
    overflow: hidden;
}
.ui-step li .ui-step-line-active{
    background:#f40;
}
.ui-step li.ui-step-end .ui-step-line {
    display: none;
}
.ui-step li .ui-step-icon {
    height: 50px;
    position: absolute;
    top: 0;
    width: 150px;
    text-align: center;
    left: -25px;
    font-family: tahoma;
}
.ui-step-end .ui-step-number {
    background: transparent;
    font-size: 12px;
    font-style: normal;
    left: 18px;
    line-height: 12px;
    padding: 0;
    text-shadow: none;
    top: 10px;
}
.ui-step-end .ui-step-number {
    background: transparent;
}
.findPwd  .bot {
    padding-bottom:40px;
}
.findPwd .info ,.findPwd .item{
    padding-top: 40px;
    margin-left:20%;
    line-height: 30px;
}
.findPwd .info label input ,.findPwd .item label input{
    width: 160px;
    height: 25px;
    padding-left:5px;
}
.findPwd .item .secret{
   display: none;
    margin-left: 16%;
    color:#f40;
}
.findPwd .item .img{
    width: 90px;
    height: 28px;
}
.findPwd .item label{
    position: relative;
}
.findPwd .item label img{
    position: absolute;
    top: -6px;
}
.findPwd .item label .change {
    margin-left: 100px;
}
.findPwd .item label.img:hover{
    text-decoration: underline;
    color:#00a2ca;
    cursor: pointer ;
}
.findPwd .error ,.findPwd .error1{
    /*margin-left: 27%;*/
    padding-top: 5px;
    color:#f40;
    padding-left: 42px;
}
.findPwd .err2 {
    margin-left: 8%;
    color:#f40;
}
.findPwd .error1 {
    margin-left: 0%;
}
.findPwd .sub {
    width: 75px;
    line-height: 25px;
    color:#fff;
    text-align: center;
    background: #00a2ca;
    /*border: 1px solid #00a2ca;*/
    margin-left:35%;
    margin-top: 30px;
    margin-bottom:50px;
}
.findPwd .sub:hover{
    cursor: pointer;
}

/*checkMobile*/
.ui-form-item {
    padding: 20px 5px 20px 190px;
    zoom: 1;
}
.ui-form-item:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-label {
    float: left;
    width: 210px;
    margin-left: -210px;
    padding-top: 5px;
    text-align: right;
    font-size: 12px;
}
.ui-form-item input {
    vertical-align: middle;
}
.checkcode-warp {
    position: relative;
    width: 300px;
}
.ui-input {
    width: 190px;
    padding: 8px 9px;
    line-height: 18px;
    border: 1px solid #ddd;
    color: #595959;
    font-size: 12px;
}
.ui-input-checkcode-new {
    border: 1px solid #ddd;
    height: 24px;
    line-height: 24px;
    padding: 5px 10px;
    width: 278px;
}
.ui-form-item .ui-input {
    font-size: 12px;
    color: #6C6C6C;
    vertical-align: middle;
}
.checkcode-warp .getcheckcode {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fff;
    cursor: pointer;
    width: 95px;
    height: 36px;
    border: 1px solid #ddd;
    border-left: none;
}
.ui-form-item-error .ui-form-explain {
    color: #FF5243;
}
.checkcode-warp .getcheckcode.btn-disabled{
    color: #ccc;
    cursor: no-drop;
}
.pw-tip {
    position: absolute;
    padding-left: 6px;
    width: 300px;
    display: none
}
.pw-tip-arr {
    display: block;
    width: 7px;
    height: 9px;
    background: url(../../static/img/arr-left.png) no-repeat 0 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px
}
.pw-tip-bd {
    padding: 20px;
    background: #fff url(../../static/img/pw-tip-bd.png) 0 100% repeat-x;
    border: 1px solid #c2c8c8
}
.pw-rule-item {
    padding: 2px 0
}
.pw-rule-item .iconfont {
    margin-right: 3px;
    color: #b7b7b7;
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle
}
.pw-rule-item .pw-icon-ok {
    color: #14c2b3
}
.pw-rule-item .pw-icon-error {
    color: #ff460f
}
.pw-strength {
    height: 18px;
    line-height: 18px;
    position: relative;
    padding-bottom: 10px
}
.pw-strength-bar {
    width: 95px;
    position: absolute;
    left: 60px;
    top: 0
}
.pw-strength-bar span {
    display: block;
    width: 25px;
    height: 10px;
    float: left;
    margin-left: 1px;
    background-color: #dcdcdc;
    position: relative;
    top: 5px
}
.pw-strength-bar em {
    display: block;
    width: 15px;
    height: 18px;
    line-height: 18px;
    float: left
}
.pw-strength-bar-1 .pw-strength-1 {
    background-color: #ff460f
}
.pw-strength-bar-1 em {
    color: #ff460f
}
.pw-strength-bar-2 .pw-strength-1, .pw-strength-bar-2 .pw-strength-2 {
    background-color: #ff6a00
}
.pw-strength-bar-2 em {
    color: #ff6a00
}
.pw-strength-bar-3 .pw-strength-1, .pw-strength-bar-3 .pw-strength-2, .pw-strength-bar-3 .pw-strength-3 {
    background-color: #0a9e00
}
.pw-strength-bar-3 em {
    color: #0a9e00
}
.pw-strength-bar-1 .pw-strength-2, .pw-strength-bar-1 .pw-strength-3, .pw-strength-bar-2 .pw-strength-3 {
    background-color: #dcdcdc
}
@font-face {
    font-family: regiconfont;
    src: url(//at.alicdn.com/t/font_1408947319_9759417.eot);
    src: url(//at.alicdn.com/t/font_1408947319_9759417.eot?#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/font_1408947319_9759417.woff) format('woff'), url(//at.alicdn.com/t/font_1408947319_9759417.ttf) format('truetype'), url(//at.alicdn.com/t/font_1408947319_9759417.svg#iconfont) format('svg')
}
.page .iconfont, .msg .iconfont, .ks-dialog .iconfont, .pw-tip .iconfont, .gmsg .iconfont {
    font-family: regiconfont !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}
.msg {
    display: none;
    padding-left: 22px;
    font-size: 12px;
    line-height: 1.4;
    color: #3e3e3e;
    width: 290px;
}
.msg-type-ok i {
    color: #6bc827
}
.msg-type-error {
    color: #ff3f13;

}

.msg i {
    display: inline;
    float: left;
    margin-left: -18px;
    margin-top: -1px;
    color: #00bfff;
    font-size: 16px;
    line-height: 18px;
}
.msg-type-error i, .msg-type-warn i {
    color: #ff3f13
}
.msg-display-block {
    display: block;
    margin-top: 10px
}
.msg-display-inline {
    zoom: 1;
    *display: inline
}
.msg-hide {
    display: none
}
.msg .msg-tit, .msg .msg-cnt {
    display: inline;
}
.findPwd label .title{
    width:92px;
    text-align: right;
    display: inline-block;
}