<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/1/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/1/css/mybuyer.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/1/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">订单管理</h3>
            <div class="my-invoice">
                <div class="order-tab">
                    <ul class="order-tab-box">
                        <li class="first active"><a href="javascript:void(0)">发票索取</a></li>
                        <li><a href="javascript:void(0)">发票列表</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<%};
include("/1/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>