<!doctype html>
<html>
<head>
  <meta name="charset" content="utf-8"/>
  <title>${title!}</title>
  <meta name="description" content="">
  <meta name="keyword" content="大数据,云计算,">
  <script type="text/javascript" src="${host.static}/js/jquery-3.1.1.min.js"></script>
  <link type="text/css" rel="stylesheet" href="${host.static}/css/index-min.css">
  <link type="text/css" rel="stylesheet" href="${host.static}/css/all.css">
  <link type="text/css" rel="stylesheet" href="${host.static}/css/layout-hangye-pc.css">
  <link type="text/css" rel="stylesheet" href="${host.static}/css/index.css">
  <link type="text/css" rel="stylesheet" href="${host.static}/css/knight.css">
  ${headSection}
</head>
<body>
<%include("/layout/header.html"){} %>
<div class="page-layout page-main-content">
  ${htmlSection}
</div>
<%include("/layout/footer.html"){} %>
<%include("/layout/float_tool.html"){} %>
</body>
</html>