<div>
  <!--公告 -->
  <div home-section-notice="" ng-if="!hideBusinessPart">
    <div class="home-section-notice">
      <div class="notice-lego">
        <span class="inline-block notice-title">公告:</span>
        <div class="inline-block">
          <!-- exported styles -->
          <link rel="stylesheet" href="//g.alicdn.com/ali-mod/aliyun-lego-console-notice/0.0.3/index.css">
          <!--region -->
          <div data-guid="195853" id="guid-195853" data-hidden="" class="aliyun-lego-console-notice J_Module">
            <div class="module-wrap J_tb_lazyload">
              <ul class="notice-list" id="J-aliyun-lego-console-notice-wrap">
                <li><span class="date">[4.1]</span><a href="#" target="_blank">通知1</a></li>
                <li><span class="date">[3.31]</span><a href="#" target="_blank">通知2</a></li>
                <li><a href="#" target="_blank">更多&gt;&gt;</a></li>
              </ul>
            </div>
          </div>

          <!--<script src="//g.alicdn.com/ali-mod/aliyun-lego-console-notice/0.0.3/index.js"></script>-->
        </div>
      </div>
    </div>
  </div>
  <!-- end 公告 -->
  <!-- 主体部分 -->
  <div class="home-section-main clearfix" ng-class="{'home-section-main-hide-bussiness':hideBusinessPart}">
    <!-- 左侧 -->
    <div class="home-section-left">
      <div home-section-user="" class="home-section-wrap "
           ng-if="!(homeConsoleConfig.isSubAccount || homeConsoleConfig.isStsAccount)">
        <div class="home-section-user clearfix" data-spm="104">
          <div class="user-part-header pull-left">
            <a ng-if="!homeConsoleConfig.isIntlUser" ng-href="http://v.aliyun.com" class="user-header " href="">
              <img width="50" height="50" ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_family.jpg"
                   src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_family.jpg">
              <span class="user-level ng-binding">L1</span>
            </a>
            <div class="user-name">
              <span class="text-muted">Hi,</span><a ng-href="/console/account/#/secure" class="text-primary"
                                                    aliyun-truncate-text="" source-text="*磊" text-length="14"
                                                    href="">*磊</a>
            </div>
            <!-- ngIf: !homeConsoleConfig.isIntlUser -->
            <div class="user-yq " ng-if="!homeConsoleConfig.isIntlUser">
              <!--<a target="_blank" ng-href="http://yq.aliyun.com" href="http://yq.aliyun.com"><span class="user-yq-icon"></span><span>云栖社区</span></a>-->
            </div>
            <!-- end ngIf: !homeConsoleConfig.isIntlUser -->
          </div>
          <div class="user-part-body">
            <!-- 账号,费用,推荐码 --><!-- ngIf: !homeConsoleConfig.isIntlUser -->
            <div class="user-part-account " ng-if="!homeConsoleConfig.isIntlUser">
              <div class="user-body-title">
                余额<span class="home-colon">:</span>
              </div>
              <div class="user-body-main">
                <div class="user-balance">
                  <span class="ng-binding">0</span><span class="user-balance-small ng-binding">.00</span><span
                  class="user-small">元</span>
                </div>
                <!-- ngIf: accountInfo.amountOwed > 0 -->
              </div>
              <div>
                <a ng-href="https://expense.console.aliyun.com/#/account/recharge/alipay"
                   class="btn btn-sm btn-primary margin-right-2 ng-binding"
                   href="https://expense.console.aliyun.com/#/account/recharge/alipay">充值</a>
                <div class="inline-block">
                  <a ng-href="https://expense.console.aliyun.com" target="_blank" class="ng-binding"
                     href="https://expense.console.aliyun.com">费用中心</a><span class="user-opt-gap"></span><a
                  ng-href="https://expense.console.aliyun.com/#/promotionCode/rebate" target="_blank" class="ng-binding"
                  href="https://expense.console.aliyun.com/#/promotionCode/rebate">推荐码</a>
                </div>
              </div>
            </div>
            <div class="user-part-todo " ng-if="!homeConsoleConfig.isIntlUser">
              <div class="user-body-title">
                待办<span class="home-colon">:</span>
              </div>
              <div class="user-body-main">
                <div class="user-renew">
                  <span class="ng-binding">0</span><a ng-href="https://renew.console.aliyun.com" class="user-small"
                                                      href="https://renew.console.aliyun.com">续费待办</a>
                </div>
              </div>
              <div>
                <div class="user-opt inline-block">
                  <a ng-href="https://workorder.console.aliyun.com/console.htm#/ticket/list/" target="_blank"
                     href="https://workorder.console.aliyun.com/console.htm#/ticket/list/">工单待办</a><span
                  class="margin-left-1 ng-binding">0</span><span class="user-opt-gap"></span><a
                  ng-href="https://expense.console.aliyun.com/#/coupon" target="_blank"
                  href="https://expense.console.aliyun.com/#/coupon">代金券</a><span
                  class="margin-left-1 ng-binding">0</span>
                </div>
              </div>
            </div>
            <div class="user-part-identity">
            </div>
          </div>
        </div>
      </div>
      <div class="home-section-wrap">
        <div class="home-section-product">
          <div class="product-container">
            <div class="product-section">
              <div class="section-head">
                <span class="title-strong ng-binding">我的产品与服务</span>
              </div>
              <div class="section-content clearfix">
                TODO...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 右侧 -->
    <div class="home-section-right " ng-if="!hideBusinessPart">
      <!-- banner区域 -->
      <div class="home-section-wrap">
        <div home-section-lego="topic" class="home-section-topic ng-isolate-scope">
          <div class="home-section-topic">
            <div class="home-section-lego">
              <!-- exported styles -->
              <link rel="stylesheet" href="//g.alicdn.com/ali-mod/aliyun-lego-console-zt1/0.0.13/index.css">
              <!--region -->
              <div id="guid-194278" class="aliyun-lego-console-zt1 J_Module">
                <div class="module-wrap J_tb_lazyload">
                  <div class="zt-list">
                    <div class="img-wrap">
                      <div class="border-left">
                      </div>
                      <div class="border-right">
                      </div>
                      <div class="border-bottom">
                      </div>
                      <div class="border-top">
                      </div>
                      <a href="#" target="_blank">
                        <img src="https://img.alicdn.com/tps/TB1I.6QMXXXXXc1XpXXXXXXXXXX-640-180.jpg" width="320">
                      </a>
                    </div>
                    <div class="img-wrap">
                      <div class="border-left">
                      </div>
                      <div class="border-right">
                      </div>
                      <div class="border-bottom">
                      </div>
                      <div class="border-top">
                      </div>
                      <a href="https://www.aliyun.com/app" target="_blank">
                        <img src="https://img.alicdn.com/tps/TB1WcxDMXXXXXaJaXXXXXXXXXXX-640-180.jpg" width="320">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--region --><!-- exported scripts -->
              <!--<script src="//g.alicdn.com/ali-mod/aliyun-lego-console-zt1/0.0.13/index.js"></script>-->
            </div>
          </div>
        </div>
      </div>
      <!-- 新功能/发布区域 -->
      <div home-section-trends="" class="home-section-wrap">
        <div class="home-section-trends home-section-lego">
          <div>
            <!-- exported styles -->
            <link rel="stylesheet" href="//g.alicdn.com/ali-mod/aliyun-lego-console-product-update/0.0.9/index.css">
            <!--region -->
            <div id="guid-194838" class="aliyun-lego-console-product-update J_Module">
              <div class="module-wrap J_tb_lazyload">
                <div class="product-fun-update-hd">
                  产品功能和升级
                </div>
                <dl class="product-fun-update-list">
                  <dt>4月</dt>
                  <dd>
                    <ul class="month-list">
                      <li class="first border"><i class="li-icon"></i><span class="date">3.29</span><a target="_blank"
                                                                                                       href="">VPC默认专有网络功能上线</a>
                      </li>
                      <li class="border"><i class="li-icon"></i><span class="date">3.02</span><a target="_blank"
                                                                                                 href="">对象存储跨区域复制功能正式开放</a>
                      </li>
                      <li class="last border"><i class="li-icon"></i><span class="date">3.01</span><a target="_blank"
                                                                                                      href="">邮件推送资源包售卖方式上线</a>
                      </li>
                    </ul>
                  </dd>
                  <dt>2月</dt>
                  <dd>
                    <ul class="month-list">
                      <li class="first border"><i class="li-icon"></i><span class="date">1.27</span><a target="_blank"
                                                                                                       href="">负载均衡支持安全防护</a>
                      </li>
                      <li class="last border"><i class="li-icon"></i><span class="date">1.12</span><a target="_blank"
                                                                                                      href="">RDS异地容灾功能上线</a>
                      </li>
                    </ul>
                  </dd>
                  <dt>1月</dt>
                  <dd>
                    <ul class="month-list">
                      <li class="first border"><i class="li-icon"></i><span class="date">12.18</span><a target="_blank"
                                                                                                        href="">负载均衡支持多可用区</a>
                      </li>
                      <li class="last border"><i class="li-icon"></i><span class="date">12.1</span><a target="_blank"
                                                                                                      href="">RDS数据库权限开放</a>
                      </li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div>
            <link rel="stylesheet" href="//g.alicdn.com/ali-mod/aliyun-lego-console-newproduct/0.0.7/index.css">
            <div id="guid-194484" class="aliyun-lego-console-newproduct J_Module">
              <div class="module-wrap J_tb_lazyload">
                <div class="product-list-hd">
                  新产品发布
                </div>
                <!--<ul class="product-list">-->
                <!--<li><i class="product-icons-48 product-icons-ram product-list-icon"></i>-->
                <!--<div class="product-list-right">-->
                <!--<div class="product-list-title">-->
                <!--<a href="https://data.aliyun.com/product/re" target="_blank">推荐引擎</a>-->
                <!--</div>-->
                <!--<p class="product-list-subtitle">-->
                <!--一款用于实时预测用户对物品偏好的数据工具-->
                <!--</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li><i class="product-icons-48 product-icons-mongodb product-list-icon"></i>-->
                <!--<div class="product-list-right">-->
                <!--<div class="product-list-title">-->
                <!--<a href="http://www.aliyun.com/product/mongodb" target="_blank">云数据库MongoDB版</a>-->
                <!--</div>-->
                <!--<p class="product-list-subtitle">-->
                <!--三副本保证高可用。适用初创业务，免去表结构变更痛苦-->
                <!--</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li><i class="product-icons-48 product-icons-petadata product-list-icon"></i>-->
                <!--<div class="product-list-right">-->
                <!--<div class="product-list-title">-->
                <!--<a href="http://www.aliyun.com/product/petadata" target="_blank">PB级云数据库PetaData</a>-->
                <!--</div>-->
                <!--<p class="product-list-subtitle">-->
                <!--PB级数据存储的分布式数据库。支持MySQL数据库接口-->
                <!--</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li><i class="product-icons-48 product-icons-ram product-list-icon"></i>-->
                <!--<div class="product-list-right">-->
                <!--<div class="product-list-title">-->
                <!--<a href="https://www.aliyun.com/product/ram/" target="_blank">访问控制</a>-->
                <!--</div>-->
                <!--<p class="product-list-subtitle">-->
                <!--帮助您管理云服务器、数据库、云存储等云资源的访问权限-->
                <!--</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li><i class="product-icons-48 product-icons-dsi product-list-icon"></i>-->
                <!--<div class="product-list-right">-->
                <!--<div class="product-list-title">-->
                <!--<a href="https://www.aliyun.com/product/dsi" target="_blank">数据安全险</a>-->
                <!--</div>-->
                <!--<p class="product-list-subtitle">-->
                <!--因黑客攻击导致数据泄露，最高赔偿100万-->
                <!--</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
              </div>
            </div>
            <!--region --><!-- exported scripts -->
            <!--<script src="//g.alicdn.com/ali-mod/aliyun-lego-console-newproduct/0.0.7/index.js"></script>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>