<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/accountInformation.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
  <div class="grid-row clearfix">
    <%include("/usercenter/user-center-menu.html"){} %>
    <div class="grid-right info-center-box ">
      我的发布
    </div>
  </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<!--<script type="text/javascript" src="/static/js/usercenter/userInfo/accountInformation.js"></script>-->

