.Authentication{
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
}
.Authentication button{
    cursor: pointer;
    margin: auto;
    display: block;
    border-radius: 3px;
}
.Authentication .item label{
    display: inline-block;
    width: 80px;
}
.Authentication .item div{
    display: inline-block;
}
.Authentication table{
    width: 100%;
    border: 1px solid #e5e5e5;
}
.Authentication table tr{
}
.Authentication table tr td{
    padding: 8px;
    border: 1px solid #e5e5e5;
}
.Authentication table tr td a{
    text-align: center;
}

.Authentication .addBtn{
    text-align: center;
    padding: 5px;
}

 /*基本信息*/
.Authentication .info{
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
}
.info .item{
    padding: 10px 0;
}
.info .info-header{
    line-height: 39px;
}
.info .info-header a{
    vertical-align: sub;
    margin-left: 10px;
}
.info .tag-box span{
    display: inline-block;
    background-color: #e6e6e6;
    margin-right: 3px;
    padding: 3px 9px;
    cursor: pointer;
    border-radius: 3px;
}
.info .tag-box span.active{
    background-color: #078cfc;
    color: #ffffff;
}
.info .info-edit{
    display: none;
}
.info .providerDesc{display: inline-block;  width: 700px;}


.Authentication-itemBox{
    width: 100%;
}
.Authentication-itemBox .Authentication-title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.Authentication-itemBox .Authentication-content{
    padding: 10px
}
.Authentication-itemBox .Authentication-content .no-data{padding: 20px;display: none}
.Authentication-itemBox .Authentication-content .content{}
.content dl{border-bottom: 1px solid #e5e5e5;padding: 8px}
.content dl .btn{display: none}
.content dl{box-shadow: 2px 1px 15px #e5e5e5;}
.content dl:hover .btn{display: block}
.content dl dt,.content dl dd{
    padding: 10px 0;
}
.content dl dt div{display: inline-block;}
.content dl dt .sub-title{ font-weight: bold;font-size: 14px}
.content dl dd {font-size: 0}
.content dl dd label{ display: inline-block;font-size: 14px; width: 10%; vertical-align: top;}
.content dl dd div{ display: inline-block;font-size: 14px; width: 80%; }

.Authentication-itemBox .Authentication-content .contentP{}

.contentP dl{border-bottom: 1px solid #e5e5e5;padding: 8px}
.contentP dl .btn{display: none}
.contentP dl{box-shadow: 0 3px 15px #e5e5e5;}
.contentP dl:hover .btn{display: block}

.contentP dl dt,.contentP dl dd{
    padding: 10px 0;
}
.contentP dl dt div{display: inline-block;}
.contentP dl dt .sub-title{ font-weight: bold;font-size: 14px}
.contentP dl dd {font-size: 0}
.contentP dl dd span{ display: inline-block;font-size: 14px; width: 25%; }

.Authentication-itemBox .Authentication-content .content-span-33{}
.content-span-33{} dl dd span{ display: inline-block;font-size: 14px; width: 33.33%; }
.Authentication-itemBox .addBtn{
    font-size: 14px;
    padding: 2px 7px;
    margin-top: 6px;
}
/*添加table的样式*/
.from{ }
.from tr{

}
.from td{
    width: 50%;
}
.from td.pdleft110{
    padding-left: 100px;
}

.from td label{
    display: inline-block;
    width: 95px;
    text-align: right;
    float: left;
    margin-top: 3px;
}
.from td input{
    height: 25px;
    width: 135px;
    border: 1px solid #e5e5e5;
    padding-left: 5px;
}
.from td textarea{
    border: 1px solid #e0e0e0;
    width: 780px;
    padding: 4px;
}
.from td input[type="checkbox"]{
    height: 14px;
    width: 20px;
    vertical-align: text-bottom;
}
.from td select{
    height: 25px;
    width: 167px;
    border: 1px solid #e5e5e5;
}

.from .upload-box {
    position: relative;
}
.from input.fileUploadBtn {
    min-width: 70px;
    width: 70px;
    position: relative;
    z-index: 1;
    background-color: #ff0000;
    opacity: 0;
}
.from  .falseBen {
    width: 70px;
    height: 25px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 0px;
    line-height: 25px;
    text-align: center;
    background-color: #078cfc;
    color: #fff;
    border-color: #078cfc;
}


.help-block{
    color:#E34F4F ;
}

textarea{ resize:none;}

.vertical-align-text-top{
    vertical-align: text-top !important;
}

/*服务商引导页*/

.authentication{}
.authentication .authentication-facilitator{
      margin-top: 27px;
}
.authentication-facilitator .facilitator-info{
    display: inline-block;
    height: 210px;
    width: 100%;
}
.authentication-facilitator .facilitator-info h2{
    font-size: 24px;
    text-align: center;
}
.authentication-facilitator .facilitator-info p{
    font-size: 14px;
    text-align: center;
    padding: 10px 150px;
    line-height: 30px;
}
.authentication-facilitator .facilitator-info a{
    font-size: 18px;
    width: 192px;
    height: 48px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    display: block;
    line-height: 48px;
}

.authentication-facilitator .facilitator-card{

}
.authentication-facilitator .facilitator-card .card{
    position: relative;
    width: 445px;
    height: 293px;
    border: 1px solid #F0F0F0;
}
.authentication-facilitator .facilitator-card .card:hover{
    box-shadow: 0px 0px 10px #D7D7D7;
}
.authentication-facilitator .facilitator-card .card .card-header{
    position: absolute;
    height: 46px;
    top: 5px;
    background-color: #237EE8;
    width: 447px;
    left: -1px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.authentication-facilitator .facilitator-card .card .card-info{
    margin-top: 85px;
    padding: 0 25px;
}
.authentication-facilitator .facilitator-card .card .card-info div{
    margin-bottom: 30px;
}
.authentication-facilitator .facilitator-card .card .card-info p{
    display: inline-block;
    font-size: 18px;
    vertical-align: text-top;
    width: 350px;
}
.authentication-facilitator .facilitator-card .card .card-info span{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #ffffff;
    line-height: 26px;
    text-align: center;
    margin-right: 13px;
    vertical-align: text-top;
    background-color: #237EE8;
}
.authentication .authentication-demand{
    margin-top: 60px;
}
.authentication-demand h2{
   text-align: center;
   font-size: 24px;
}
.authentication-demand  a{
    font-size: 18px;
    width: 192px;
    height: 48px;
    border-radius: 40px;
    text-align: center;
    margin: 30px auto;
    display: block;
    line-height: 48px;
}
.authentication-demand .advantagesBox{ height:284px; overflow: hidden;}
.advantagesUl { overflow: hidden;}
.advantagesUl li{ float: left; width: 260px; height:284px; position: relative;}
.advantagesUl li:after{ content: ''; position: absolute; right:0; top: 153px; display: block; height:6px; width:72px; background-color: #f9d657; border-radius:6px;  }
.advantagesUl li:last-child{ float: left; width: 200px;}
.advantagesUl li:last-child:after{ display: none}

.advantagesBgBox{ width: 193px; height:247px;color:#48c8e3; background:url("../../../images/crowdsourcing/index/advantages-bg.gif") -193px 0 no-repeat ; overflow: hidden;}
.advantagesBgBox:hover{color:#fff; background-position: 0 0; }

.advantageTitle{ text-align: center; font-size: 18px; margin:85px 0 5px 0; font-weight:bold;}
.advantageContent{width: 140px; padding:0 0 0 32px;font-size: 14px; line-height:25px;}
.advantageImg{ position: absolute; left:57px;top:215px;}
