<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/verify.css">
<%};%>

<%
var htmlPart = {
%>
<div id="content">
	<div class="content-layout">
		<div class="maincenter" style="position: relative">
			<ol class="ui-step ui-step-3">
				<li class="ui-step-start ui-step-done">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="ui-step-number">1</i>
						<span class="ui-step-text"> 验证身份 </span>
					</div>
				</li>
				<li class="ui-step-active">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="ui-step-number">2</i>
						<span class="ui-step-text"> 修改登录密码 </span>
					</div>
				</li>
				<li class="ui-step-end">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="iconfont ui-step-number"></i>
						<span class="ui-step-text"> 完成 </span>
					</div>
				</li>
			</ol>
			<div class="maincenter-box">
				<form method="post" class="ui-form" id="J_Form">
					<div id="pass-form">
						<div class="ui-form-item" style="z-index: 98;">
							<label class="ui-label"> 新的登录密码 ：</label>
							<input class="ui-input" type="password" id="newPwd" name="newPwd">
						</div>
						<div class="ui-form-item" style="z-index: 98;">
							<label class="ui-label"> 确认新的登录密码 ：</label>
							<input name="newPwdRepeat" class="ui-input" type="password" id="newPwdRepeat">
						</div>
					</div>
					<div class="ui-form-item">
						<input type="submit" value=" 确定 " class="ui-button ui-button-lorange">
					</div>
				</form>
			</div>
			<div class="msg msg-type-error" id="J_MsgPassword" style="position: absolute; left: 754px; top: 138px; display: block;"><i class="iconfont">󰅕</i>
				<div class="msg-tit"></div>
				<div class="msg-cnt" aria-live="assertive">密码设置不符合要求</div>
			</div>
			<div class="msg msg-type-info" id="J_MsgRePassword" style="position: absolute; left: 754px; top: 190px; display: none;"><i class="iconfont">󰅂</i>
				<div class="msg-tit"></div>
				<div class="msg-cnt" aria-live="assertive">请再次输入你的密码</div>
			</div>
			<div class="pw-tip" id="J_PwdTip" style="position: absolute; left: 754px; top: 83px; display: none;">
				<i class="pw-tip-arr"></i>
				<div class="pw-tip-bd">
					<div class="pw-strength"><span class="tsl" data-phase-id="r_ui_pwd_strength">强度</span>
						<div class="pw-strength-bar">
							<span class="pw-strength-1"></span>
							<span class="pw-strength-2"></span>
							<span class="pw-strength-3"></span>
							<em></em>
						</div>
					</div>
					<div class="pw-rule">
						<div class="pw-rule-item pw-rule-length"><i class="iconfont"></i><span>6~20个字符</span></div>
						<div class="pw-rule-item pw-rule-legal"><i class="iconfont"></i><span class="tsl">只能包含字母、数字以及标点符号（除空格）</span>
						</div>
						<div class="pw-rule-item pw-rule-multi"><i class="iconfont"></i><span class="tsl">字母、数字和标点符号至少包含2种</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>