<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/verify.css">
<%};%>

<%
var htmlPart = {
%>
<div id="content">
	<div class="content-layout">
		<div class="maincenter" style="position: relative">
			<ol class="ui-step ui-step-3">
				<li class="ui-step-start ui-step-done">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="ui-step-number">1</i>
						<span class="ui-step-text"> 验证身份 </span>
					</div>
				</li>
				<li class="ui-step-active">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="ui-step-number">2</i>
						<span class="ui-step-text"> 修改支付密码 </span>
					</div>
				</li>
				<li class="ui-step-end">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="iconfont ui-step-number"></i>
						<span class="ui-step-text"> 完成 </span>
					</div>
				</li>
			</ol>
			<div class="maincenter-box">
				<style>
					#newPwdStrengthWrap .ui-pwd-strength-word {
						display: none;
					}
				</style>
				<form method="post" class="ui-form" id="J_Form" action="${host.auth}/modify/payPassword">
					<div id="pass-form">
						<div class="ui-form-item ui-form-item-cur" style="z-index: 98;">
							<label class="ui-label"> 当前支付密码 ：</label>
							<input name="curPayPassword" class="ui-input" type="password" id="oldPwd">
							<div id="J-pop-_fm-pas-_0-o" class="ui-form-explain fn-hide" style="z-index: 98; width: 314px; top: 142px; left: 410px; zoom: 1; display: none; position: absolute;">
								<em class="ui-form-arrow" style="position: absolute; left: 744px; top: 284px;"></em>
								<i class="ui-tiptext-icon iconfont"></i> <span>请输入当前支付密码</span>
							</div>
						</div>
						<div class="ui-form-item ui-form-item-new" style="z-index: 98;">
							<label class="ui-label"> 新的支付密码 ：</label>
							<input class="ui-input" type="password" id="newPwd" name="paymentPassword">
							<div id="J-pop-_fm-pas-_0-n" class="ui-form-explain fn-hide" style="z-index: 98; width: 311px; top: 198px; left: 410px; zoom: 1; display: none; position: absolute;">
								<em class="ui-form-arrow" style="position: absolute; left: 744px; top: 340px;"></em>
								<i class="ui-tiptext-icon iconfont"></i> <span>请输入新的支付密码</span>
							</div>
						</div>
						<div class="ui-form-item ui-form-item-newCon" style="z-index: 98;">
							<label class="ui-label"> 确认新的支付密码 ：</label>
							<input name="paymentPasswordCon" class="ui-input" type="password" id="newPwdConfirm">
							<div id="J-pop-_fm-pas-_0-c" class="ui-form-explain fn-hide" style="z-index: 98; width: 314px; top: 254px; left: 410px; zoom: 1; display: none; position: absolute;">
								<em class="ui-form-arrow" style="position: absolute; left: 744px; top: 396px;"></em>
								<i class="ui-tiptext-icon iconfont"></i> <span>请输入新的支付密码</span>
							</div>
						</div>
					</div>
					<div class="ui-form-item">
						<input type="button" value=" 确定 " onclick="return check()" class="ui-button ui-button-lorange">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
var testData = {
	pay: {
		password: /^[0-9]{6}$/
	},
	payPassword: function (val) {
		return this.pay.password.test(val)
	}
};
var oldPwd = false;
$('#oldPwd').on('focus',function(){
	$('.ui-form-item-cur').removeClass('ui-form-item-error').children('.ui-form-explain').hide();
});
$('#newPwd').on('focus',function(){
	$('.ui-form-item-new').removeClass('ui-form-item-error').children('.ui-form-explain').hide();
});
$('#newPwdConfirm').on('focus',function(){
	$('.ui-form-item-newCon').removeClass('ui-form-item-error').children('.ui-form-explain').hide();
});
$('#oldPwd').on('blur',function(){
	if(!$(this).val()){
		$('.ui-form-item-cur').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请输入当前支付密码');
	}else{
		if(!testData.payPassword($(this).val())){
			$('.ui-form-item-cur').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('当前支付密码不符合要求');
		}else{
			testCurPayPwd($(this).val())
		}
	}
});
function testCurPayPwd(val){
	$.ajax({
		url:'${host.auth}/verify/verifyPayPassword',
		data:{
			paymentPassword:val
		},
		type:'post',
		success:function (data) {
			if(data.code == 1){
				oldPwd = true;
//				$('.ui-form-item-cur').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('当前支付密码不正确').siblings('.iconfont').html('');
			}else if(data.code == 0){
				oldPwd = false;
				$('.ui-form-item-cur').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('当前支付密码不正确');
			}else{
				oldPwd = false;
				$.alert(data.message);
			}
		}
	});
}
$('#newPwd').on('blur',function(){
	if(!$(this).val()){
		$('.ui-form-item-new').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请输入新支付密码');
	}else{
		if(!testData.payPassword($(this).val())){
			$('.ui-form-item-new').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('新支付密码不符合要求');
		}else if($(this).val() === $('#oldPwd').val()){
			$('.ui-form-item-new').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('新支付密码不能与老密码相同');
		}
	}
});
$('#newPwdConfirm').on('blur',function(){
	if(!$(this).val()){
		$('.ui-form-item-newCon').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请确认支付密码');
	}else{
		if(!$(this).val() === $('#newPwd').val()){
			$('.ui-form-item-newCon').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('确认密码与新支付密码不同');
		}
	}
});
function check(){
	var payPasswordCur = $('input[name=curPayPassword]').val();
	var payPasswordNew = $('input[name=paymentPassword]').val();
	var payPasswordCon = $('input[name=paymentPasswordCon]').val();
	if(payPasswordCur){
		if(oldPwd){
			if(payPasswordNew){
				if(testData.payPassword(payPasswordNew)){
					if(payPasswordNew == payPasswordCur){
						$('.ui-form-item-new').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('新支付密码不能与原密码相同');
					}else{
						if(payPasswordCon === payPasswordNew){
							return $('#J_Form').submit();
						}else{
							$('.ui-form-item-newCon').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('确认密码与新支付密码不同');
						}
					}
				}else{
					$('.ui-form-item-new').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('新支付密码不符合要求');
				}
			}else{
				$('.ui-form-item-new').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请输入新支付密码');
			}
		}else{
			$('.ui-form-item-cur').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('当前支付密码不正确');
		}
	}else{
		$('.ui-form-item-cur').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请输入当前支付密码');
	}
}

</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>