<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/verify.css">
<%};%>

<%
var htmlPart = {
%>
<div id="content">
	<div class="content-layout">
		<div class="maincenter" style="position: relative">
			<ol class="ui-step ui-step-3">
				<li class="ui-step-start ui-step-done">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="ui-step-number">1</i>
						<span class="ui-step-text"> 验证身份 </span>
					</div>
				</li>
				<li class="ui-step-active">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="ui-step-number">2</i>
						<span class="ui-step-text"> 设置支付密码 </span>
					</div>
				</li>
				<li class="ui-step-end">
					<div class="ui-step-line">-</div>
					<div class="ui-step-icon">
						<i class="iconfont">y</i>
						<i class="iconfont ui-step-number"></i>
						<span class="ui-step-text"> 完成 </span>
					</div>
				</li>
			</ol>
			<div class="maincenter-box">
				<style>
					#newPwdStrengthWrap .ui-pwd-strength-word {
						display: none;
					}
				</style>
				<form method="post" class="ui-form" id="J_Form" action="/modify/setPayPassword" name="userForm">
					<div id="pass-form">
						<div class="ui-form-item" style="z-index: 98;">
							<label class="ui-label"></label>
							密码必须是6位整数数字
						</div>
						<div class="ui-form-item ui-form-payPwd" style="z-index: 98;">
							<label class="ui-label"> 支付密码 ：</label>
							<input class="ui-input" type="password" id="payPwd" name="paymentPassword">
							<div id="J-pop-_fm-pas-_0-n" class="ui-form-explain fn-hide" style="z-index: 98; width: 314px; top: 180px; left: 530px; zoom: 1; display: none; position: absolute;">
								<em class="ui-form-arrow" style="position: absolute; left: 744px; top: 340px;"></em><i class="ui-tiptext-icon iconfont"></i> <span>请输入支付密码</span>
							</div>
						</div>
						<div class="ui-form-item ui-form-payPwdCon" style="z-index: 98;">
							<label class="ui-label"> 确认支付密码 ：</label>
							<input name="payPasswordConfirm" class="ui-input" type="password" id="payPwdConfirm">
							<div id="J-pop-_fm-pas-_0-c" class="ui-form-explain fn-hide" style="z-index: 98; width: 314px; top: 236px; left: 530px; zoom: 1; display: none; position: absolute;">
								<em class="ui-form-arrow" style="position: absolute; left: 744px; top: 396px;"></em>
								<i class="ui-tiptext-icon iconfont"></i> <span>请输入支付密码</span>
							</div>
						</div>
					</div>
					<div class="ui-form-item">
						<input type="button" value=" 确定 " onclick="return check()" class="ui-button ui-button-lorange">
					</div>
				</form>

			</div>

		</div>
	</div>
</div>
<script>
	var testData = {
		pay: {
			password: /^[0-9]{6}$/
		},
		payPassword: function (val) {
			return this.pay.password.test(val)
		}
	};
	$('#payPwd').on('focus',function(){
		$('.ui-form-payPwd').removeClass('ui-form-item-error').children('.ui-form-explain').hide()
	});
	$('#payPwd').on('blur',function(){
		if(!$(this).val()){
			$('.ui-form-payPwd').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请输入支付密码');
		}else{
			if(!testData.payPassword($(this).val())){
				$('.ui-form-payPwd').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请输入正确的支付密码');
			}
		}
	});
	$('#payPwdConfirm').on('focus',function(){
		$('.ui-form-payPwdCon').removeClass('ui-form-item-error').children('.ui-form-explain').hide()
	});
	$('#payPwdConfirm').on('blur',function(){
		if(!$(this).val()){
			$('.ui-form-payPwdCon').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('请确认支付密码');
		}else{
			if(!$(this).val() === $('#payPwd').val()){
				$('.ui-form-payPwdCon').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('确认密码与支付密码不同');
			}
		}
	});
	function check(){
		var payPassword = $('input[name=paymentPassword]').val();
		var payPasswordCon = $('input[name=payPasswordConfirm]').val();
		if(testData.payPassword(payPassword)){
			if(payPasswordCon === payPassword){
				$('#J_Form').submit();
				return true;
			}else{
				$('.ui-form-payPwdCon').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('确认密码与支付密码不同');
			}
		}else{
			$('.ui-form-payPwd').addClass('ui-form-item-error').children('.ui-form-explain').show().children('span').html('支付密码不符合要求');
		}
	}
</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>