<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/accountInformation.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="accountInformation">
                 <div class="accountInformation-top">
                     <div class="header clearfix">
                         <h4 class="grid-left center-title">账号信息</h4>
                     </div>
                     <ul>
                         <li><span class="info-title">登录账号:</span><span >4555555</span></li>
                         <li><span class="info-title">手机号码:</span><span >4555555</span></li>
                         <li><span class="info-title">邮箱:</span><span>4555555</span></li>
                         <li><span class="info-title">注册时间:</span><span>4555555</span></li>
                         <li><span class="info-title">最后登录IP:</span><span>4555555</span></li>
                         <li><span class="info-title">最后登录时间:</span><span>4555555</span></li>
                     </ul>
                 </div>
                 <div class="accountInformation-down">
                     <div class="header clearfix">
                         <h4 class="grid-left center-title">登录日志</h4>
                     </div>
                     <table>
                          <tr>
                              <th>登录时间</th>
                              <th>登录IP</th>
                              <th>备注</th>
                          </tr>
                         <tr>
                             <td>2017-07-04 16:50:27</td>
                             <td>192.168.15.90</td>
                             <td>********</td>
                         </tr>
                         <tr>
                             <td>2017-07-04 16:50:27</td>
                             <td>192.168.15.90</td>
                             <td>********</td>
                         </tr>
                         <tr>
                             <td>2017-07-04 16:50:27</td>
                             <td>192.168.15.90</td>
                             <td>********</td>
                         </tr>
                     </table>
                 </div>
            </div>

        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/accountInformation.js"></script>

