<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/becomingSupplierStep1.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-progress-bar.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
              <div class="becomingSupplierStep1">
                  <div class="becomingSupplierStep1-progress-bar">
                      <ul class="clearfix">
                          <li><span class="active"><i>1</i></span>下载合作协议</li>
                          <li><span><i>2</i></span>提出申请</li>
                          <li><span><i>3</i></span>等待平台审核</li>
                      </ul>
                  </div>
                  <div class="becomingSupplierStep1-info">
                      <p style="width: 700px;">申请成为供应商请下载 <a href="http://static.qddata.com.cn/supplier/交易中心产品代理协议.doc" class="a-color-blue">《交易中心产品代理协议》</a>，按协议模板填写内容打印、盖章快递至青岛大数据交易中心。</p>
                      <p>地址：${address}</p>
                      <p>邮编：${email}</p>
                      <p>收件人：${name}</p>
                      <p>手机：${phone}</p>
                      <p>电话：${mobile}</p>
                      <a href="/usercenter/becomingSupplierStep2" class="btn">下一步</a>
                  </div>
              </div>
        </div>
    </div>
</div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
