<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/bindBankCard.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script src="/static/js/plugins/validate/jquery-validate.js"></script>
<script src="/static/js/plugins/validate/messages_zh.js"></script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
                <div class="header">
                    <h4 class="center-title">资金管理/资金记录</h4>
                </div>
                <div class="fundmanage-box">
                    <div class="bindBankCard">
                        <div class="bindBankCard-title">绑定银行卡</div>
                        <div class="bindBankCard-content">
                            <form id="form" action="">
                                <div class="form-item">
                                    <label for=""><span class="color-red">*</span>银行账户类型：</label>
                                    <p id="bankAccountType"></p>
                                </div>
                                <div class="form-item">
                                    <label for=""><span class="color-red">*</span>账户名称：</label>
                                    <p id="account-name"></p>
                                </div>
                                <div class="form-item">
                                    <label for="bindName"><span class="color-red">*</span>银行名称：</label>
                                    <select id="bindName" name="bindName" >

                                    </select>
                                </div>
                                <div class="form-item">
                                    <label for="cardCode"><span class="color-red">*</span>银行卡号：</label>
                                    <input type="text" id="cardCode" name="bank" placeholder="输入银行卡号" tip="请输入银行卡号">
                                </div>
                                <div class="form-item">
                                    <label for="openBank">开户行：</label>
                                    <input type="text" id="openBank" name="openBank">
                                </div>
                                <div class="form-item">
                                    <label for="phoneNumber"><span class="color-red">*</span>手机号码：</label>
                                    <input type="text" id="phoneNumber" name="sphone"  placeholder="请填写该卡在银行预留的手机号码" tip="请填写该卡在银行预留的手机号码">
                                </div>
                                <div class="form-item">
                                    <label for="verificationCode"><span class="color-red">*</span>验证码：</label>
                                    <input type="text" id="verificationCode" name="verificationCode">
                                    <button  class="verification-code">获取验证码</button>
                                </div>
                                <a class="btn">提交</a>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/bindBankCard.js"></script>
