<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/fundmanage.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="user-center-box grid-right">
                <div class="header">
                    <h4 class="center-title">资金管理</h4>
                </div>
                <div class="fundmanage-box">
                    <div class="fundmanage-bd">
                        资金记录
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
