<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/capitalRecord.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left info-center-box ">
            <div class="user-center-box grid-right">
                <div class="header">
                    <h4 class="center-title">资金管理/资金记录</h4>
                </div>
                <div class="fundmanage-box">
                    <div class="capitalRecord">
                        <div class="search-criteria margin-top-10">

                        </div>
                        <div class="search-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
