<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/contactInformation.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="contactInformation">
                <div class="header clearfix">
                    <h4 class="grid-left center-title">账号信息</h4>
                </div>
                 <ul>
                     <li>
                         <label for="contacts">联系人 :</label>
                         <input type="text" id="contacts">
                     </li>
                     <li>
                         <label for="contact-number">联系电话 :</label>
                         <input type="text" id="contact-number">
                     </li>
                     <li>
                         <label for="mailing-address">邮寄地址 :</label>
                         <input type="text" id="mailing-address">
                     </li>
                     <li>
                         <label for="zip-code">邮编 :</label>
                         <input type="text" id="zip-code">
                     </li>
                     <li>
                         <a href="" class="save">保存</a>
                         <a href="" class="cancel">取消</a>
                     </li>
                 </ul>
            </div>

        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/accountInformation.js"></script>

