<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/nameAuthentication.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="nameAuthentication">
                <div class="header clearfix">
                    <h4 class="grid-left center-title">实名认证</h4>
                </div>
                <ul class="ul1">
                    <li>
                        <label>用户类型</label>
                        <p>单位会员</p>
                    </li>
                    <li>
                        <label>认证状态</label>
                        <p class="position-relative">
                            <span>已认证</span>
                            <a href="" class="repeat-revise-btn">重新修改</a>
                            <!--<a href="" class="repeat-revise-btn">立即认证</a>-->
                            <!--<a href="" class="revise-btn">修改</a>-->
                        </p>
                    </li>
                    <li>
                        <label>审核意见</label>
                        <p>通过</p>
                    </li>
                </ul>
                <ul class="ul2">
                    <li>
                        <label>单位名称</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>认证状态</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>社会信用代码</label>
                        <p>无</p>
                    </li>
                    <li class="img-box">
                        <label>社会信用代码扫描件</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>营业执照注册号</label>
                        <p>无</p>
                    </li>
                    <li class="img-box">
                        <label>营业执照扫描件</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>税务登记证号</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>营业范围</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>法定代表人</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>所在地</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>注册地址</label>
                        <p>无</p>
                    </li>
                    <li>
                        <label>联系电话</label>
                        <p>无</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/nameAuthentication.js"></script>

