<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/safeSet.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left safe-set-box ">
            <div class="header">
                <h4 class="safe-set-title">安全设置</h4>
            </div>
            <div class="user-info">
                <div class="login-info clearfix">
                    <div class="user-header grid-left">
                        <div class="img-box">
                            <img src="/static/images/user-safe-head.png" alt="">
                        </div>
                        <a href="javascript:void(0);"><p id="modify-head">修改头像</p></a>
                    </div>
                    <div class="login-account">
                        <p>登录账号：<span class="user-account">XXXXXXXXXX@163.com</span> <span class="isAuth">(您已通过实名认证)</span></p>
                        <p class="register-time">注册时间：<span>2015-01-01 18：43：23</span></p>
                    </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="safe-degree clearfix">
                        <div class="grid-left">您当前账号的安全程度</div>
                        <div class="grid-left safe-bar"></div>
                        <p class="grid-left">安全级别 <span class="degree">中</span> &nbsp;&nbsp;继续努力</p>
                    </div>
                    <div class="login-info-box clearfix">
                        <p class="grid-left pwd">登录密码</p>
                        <div class="grid-left description">
                            <p>
                                安全性高的密码可以使账户更安全，建议您定期更换密码，使用一个包含字母，符号，或者数字至少两项，且长度超过6位的密码
                            </p>
                        </div>
                        <div class="grid-left set-btn">
                            <p class="isset grid-left"><span class="fa fa-check-circle-o"></span>已设置 &nbsp;&nbsp;|</p><p class="modify-btn grid-left"><span>&nbsp;&nbsp;修改</span></p>
                        </div>
                    </div>
                    <div class="login-info-box clearfix">
                        <p class="grid-left pho">手机绑定</p>
                        <div class="grid-left description">
                            <p>
                                您已绑定了手机130*********（您的手机为安全手机，可以找回密码，但不能用手机登录）
                            </p>
                        </div>
                        <div class="grid-left set-btn">
                            <p class="isset grid-left"><span class="fa fa-check-circle-o"></span>已设置 &nbsp;&nbsp;</p>
                        </div>
                    </div>
                    <div class="login-info-box clearfix">
                        <p class="grid-left pho">邮箱绑定</p>
                        <div class="grid-left description">
                            <p>
                                您已绑定了手机130*********（您的手机为安全手机，可以找回密码，但不能用手机登录）
                            </p>
                        </div>
                        <div class="grid-left set-btn">
                            <p class="noset grid-left"><span class="fa fa-warning"></span>未设置 &nbsp;&nbsp; |</p><p class="modify-btn grid-left"><span>&nbsp;&nbsp;修改</span></p>
                        </div>
                    </div>
                    <div class="login-info-box clearfix">
                        <p class="grid-left pho">实名认证</p>
                        <div class="grid-left description">
                            <p>
                                您已绑定了手机130*********（您的手机为安全手机，可以找回密码，但不能用手机登录）
                            </p>
                        </div>
                        <div class="grid-left set-btn">
                            <p class="isset grid-left"><span class="fa fa-check-circle-o"></span>已认证 &nbsp;&nbsp;</p>
                        </div>
                    </div>
                    <div class="login-info-box clearfix" id="safeNotice">
                        <p class="grid-left pho">安全提示</p>
                        <div class="grid-left description">
                            <ol>
                                <li>①注意防范进入钓鱼网站，不要轻信各种即时通讯工具发送的商品和支付链接，谨防网购诈骗。</li>
                                <li>②建议您安装杀毒软件，并定期更新操作系统。</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
