<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/safeSet.css">
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
	<div class="grid-row clearfix">
		<%include("/usercenter/user-center-menu.html"){} %>
		<div class="grid-right info-center-box">
			<div class="safeSet">
				<div class="header clearfix">
					<h4 class="grid-left center-title">安全设置</h4>
				</div>
				<div class="bottom">
					<div class="safe-degree clearfix">
						<div class="grid-left">您当前账号的安全程度</div>
						<div class="grid-left safe-bar">
							<div class="progress-bar"></div>
						</div>
						<p class="grid-left">安全级别:<span class="degree">中</span> 继续努力${userCur.safetyLandScore}</p>
					</div>
					<div class="login-info-box clearfix">
						<p class="grid-left pwd">登录密码</p>
						<div class="grid-left description">
							<p>
								安全性高的密码可以使账户更加安全，建议您定期更换密码，使用一个包含字母、符号或数字至少两项且长度超过6位的密码
							</p>
						</div>
						<div class="grid-left set-btn">
							<p class="isset grid-left"><span class="fa fa-check-circle-o"></span>已设置</p>
							<span class="margin-left-5 margin-right-5 grid-left">|</span>
							<p class="modify-btn grid-left"><a href="${host.auth}/verify?type=loginPassword" class="color-blue">修改</a></p>
						</div>
					</div>
					<div class="login-info-box clearfix">
						<p class="grid-left pwd">交易密码</p>
						<div class="grid-left description">
							<p>
								安全性高的密码可以使账户更安全，建议您定期更换密码，使用6位数字的密码
							</p>
						</div>
						<div class="grid-left set-btn">
							<%if(userCur.paymentPasswordStatus == 0){%>
							<p class="noset grid-left"><span class="fa fa-warning"></span>未设置</p>
							<span class="margin-left-5 margin-right-5 grid-left">|</span>
							<p class="modify-btn grid-left"><a href="${host.auth}/verify?type=setPayPassword" class="color-blue">设置</a></p>
							<%}else if(userCur.paymentPasswordStatus == 1){%>
							<p class="isset grid-left"><span class="fa fa-check-circle-o"></span>已设置</p>
							<span class="margin-left-5 margin-right-5 grid-left">|</span>
							<p class="modify-btn grid-left"><a href="${host.auth}/verify?type=payPassword" class="color-blue">修改</a></p>
							<%}%>
						</div>
					</div>
					<div class="login-info-box clearfix">
						<p class="grid-left pho">手机绑定</p>
						<div class="grid-left description">
							<p>
								您已绑定了手机${userCur.mobile} [您的手机号可以直接用于登录、找回密码等]
							</p>
						</div>
						<div class="grid-left set-btn">
							<p class="isset grid-left"><span class="fa fa-check-circle-o"></span>已设置</p>
							<span class="margin-left-5 margin-right-5 grid-left">|</span>
							<p class="modify-btn grid-left"><a href="${host.auth}/verify?type=mobile" class="color-blue">修改</a></p>
						</div>
					</div>
					<!--<div class="login-info-box clearfix">-->
					    <!--<p class="grid-left pho">邮箱绑定</p>-->
					        <!--<div class="grid-left description">-->
					             <!--<p>-->
					             <!--您已绑定了手机${userCur.mobile} [您的手机号可以直接用于登录、找回密码等]-->
					             <!--</p>-->
					        <!--</div>-->
					        <!--<div class="grid-left set-btn">-->
					             <!--&lt;!&ndash;<p class="noset grid-left"><span class="fa fa-warning"></span>未设置</p>&ndash;&gt;-->
					             <!--&lt;!&ndash;<span class="margin-left-5 margin-right-5 grid-left">|</span>&ndash;&gt;-->
					             <!--&lt;!&ndash;<p class="modify-btn grid-left"><a href="${host.auth}/verify?type=mail" class="color-blue">设置</a></p>&ndash;&gt;-->
								<!--<p class="noset grid-left"><span class="fa fa-warning"></span>已设置</p>-->
								<!--<span class="margin-left-5 margin-right-5 grid-left">|</span>-->
								<!--<p class="modify-btn grid-left"><a href="${host.auth}/verify?type=mail" class="color-blue">修改</a></p>-->
					        <!--</div>-->
					<!--</div>-->
					<!--<div class="login-info-box clearfix" id="safeNotice">-->
						<!--<p class="grid-left pho">安全提示</p>-->
						<!--<div class="grid-left description">-->
							<!--<ol>-->
								<!--<li>①注意防范进入钓鱼网站，不要轻信各种即时通讯工具发送的商品和支付链接，谨防网购诈骗。</li>-->
								<!--<li>②建议您安装杀毒软件，并定期更新操作系统。</li>-->
							<!--</ol>-->
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>

			<!--<div class="user-info">-->
				<!--<div class="login-info clearfix">-->
					<!--<div class="user-header grid-left">-->
						<!--<div class="img-box">-->
							<!--<img src="${userCur.headImg}" alt="">-->
						<!--</div>-->
						<!--&lt;!&ndash;<a href="javascript:void(0);"><p id="modify-head">修改头像</p></a>&ndash;&gt;-->
					<!--</div>-->
					<!--<div class="login-account">-->
						<!--<p>登录账号：<span class="user-account">${userCur.userName}</span>-->
							<!--&lt;!&ndash;<%if(userCur.userType ==1){%>&ndash;&gt;-->
							<!--&lt;!&ndash;&lt;!&ndash;<span class="isAuth">您还未进行实名认证,<a href="/auth/index" class="color-blue">去认证</a></span>&ndash;&gt;&ndash;&gt;-->
							<!--&lt;!&ndash;<%}else if(userCur.userType ==2){%>&ndash;&gt;-->
							<!--&lt;!&ndash;<span class="isAuth">(您已通过实名认证)</span>&ndash;&gt;-->
							<!--&lt;!&ndash;<%}else if(userCur.userType ==3){%>&ndash;&gt;-->
							<!--&lt;!&ndash;<span class="isAuth">(正在审核您的个人资料)</span>&ndash;&gt;-->
							<!--&lt;!&ndash;<%}else if(userCur.userType ==4){%>&ndash;&gt;-->
							<!--&lt;!&ndash;<span class="isAuth">(您已通过企业认证)</span>&ndash;&gt;-->
							<!--&lt;!&ndash;<%}else if(userCur.userType ==5){%>&ndash;&gt;-->
							<!--&lt;!&ndash;<span class="isAuth">(正在审核您的企业资料)</span>&ndash;&gt;-->
							<!--&lt;!&ndash;<%}%>&ndash;&gt;-->
						<!--</p>-->
						<!--<p class="register-time">注册时间：<span>${userCur.regTime, "yyyy-MM-dd HH:mm:ss"}</span></p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

		</div>
	</div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
