<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/userInfo.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script type="text/javascript">
	var pagePath = '/order/goodsList';
	var pageType = 'get';
	var dataParm = {};
	dataParm.pageNumber = 1;
	dataParm.pageSize = 8;
</script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
	<div class="grid-row clearfix">
		<%include("/usercenter/user-center-menu.html"){} %>
		<div class="info-center-box grid-right">
			<div class="basic-information-top ">
				<div class="basic-information-top-title">
					基本信息
				</div>
				<div class="basic-information-top-content">
					<div class="user-info ">
						<div class="user-info-left grid-left">
							<img width="90" src="${user.headImg}" alt="">
							<div class="icon-box">
								<%if(isNotEmpty(userCur.mobile)){%>
								<span class="fa fa-mobile-phone font-size-18 color-blue"></span>
								<%}else{%>
								<span class="fa fa-mobile-phone font-size-18"></span>
								<%}%>
								<%if(isNotEmpty(userCur.email)){%>
								<span class="fa fa-envelope-o font-size-18 color-blue"></span>
								<%}else{%>
								<span class="fa fa-envelope-o font-size-18"></span>
								<%}%>
								<%if(userCur.userType == 4){%>
								<span class="fa fa-id-card-o font-size-18 color-blue"></span>
								<%}else{%>
								<span class="fa fa-id-card-o font-size-18 "></span>
								<%}%>
							</div>
						</div>
						<div class="user-info-right grid-left">
							<!--<p>Hi,<span id="userName">${user.userName}</span></p>-->
							<%if(userCur.userType == 0){%>
							<p class="usertype">管理员</p>
							<%}else if(userCur.userType == 1){%>
							<p class="usertype color-orange">未认证</p>
							<%}else if(userCur.userType == 2){%>
							<p class="usertype color-green">个人会员</p>
							<%}else if(userCur.userType == 3){%>
							<p class="usertype color-orange">个人认证审核中</p>
							<%}else if(userCur.userType == 4){%>
							<p class="usertype color-green">单位会员:<span>${orgName}</span></p>
							<%}else if(userCur.userType == 5){%>
							<p class="usertype color-orange">单位认证审核中</p>
							<%}else if(userCur.userType == 6){%>
							<p class="usertype color-red">个人认证审核失败</p>
							<%}else if(userCur.userType == 7){%>
							<p class="usertype color-red">单位认证审核失败</p>
							<%}%>
							<p class="info">用户帐号：<span title="${userCur.userName}"> ${userCur.userName}</span></p>
							<p class="info">手机号码：<span title="${userCur.mobile}"> ${userCur.mobile}</span></p>
							<p class="info">电子邮箱：<span title="${userCur.email}"> ${userCur.email}</span></p>
						</div>
						<!--<a id="enterForum" href="javascript:void(0);"><span class="fa fa-twitch"></span>进入论坛</a>-->
					</div>
					<div class="user-money">
						<div>
							<p class="margin-top-20">账户余额:</p>
							<%if(userCur.userType == 4){%>
							<p><span class="account-balance font-size-18 color-red">￥${payAccount.balance / 100}</span><a href="/usercenter/recharge" class="btn btn-full-orange margin-left-40">充值</a></p>
							<%}else {%>
							<p><span class="account-balance font-size-18 color-red" >￥${payAccount.balance / 100}</span></p>
							<%}%>
							<p>可用金额:<span class="available-balance">￥${payAccount.useBalance / 100}</span></p>
							<p>冻结金额:<span class="frozen-balance">￥${payAccount.frozenBalance / 100}</span></p>
						</div>

					</div>
					<div class="user-status ">
						<div class="auth-introduce ">
							<div class="auth-introduce-unit">
								<%if(userCur.userType == 0){%>
								<%}else if(userCur.userType == 1){%>
									<!--<p>如果您是个人用户，请进行个人会员认证</p>-->
									<!--<div class="margin-10">-->
									<!--<a href="/auth/user_auth_init" class="large-btn">个人会员认证</a>-->
									<!--</div>-->
									<p class="margin-top-20">如果您是单位用户，请进行单位会员认证</p>
									<a href="/auth/company_auth_init" class="large-btn">单位会员认证</a>
								<%}else if(userCur.userType == 2){%>
									<p class="font-size-18 status">您的个人会员认证审核<span class="color-green">已通过</span>！</p>
								<%}else if(userCur.userType == 3){%>
									<p class="font-size-18 margin-top-20">您提交的个人会员认证还在<span class="color-orange">审核中</span>！</p>
									<p class="font-size-14">我们会尽快审核，并将审核结果通过短信或邮件通知您,请及时关注。</p>
								<%}else if(userCur.userType == 4){%>
									<p class="font-size-18 margin-top-20 margin-bottom-10">您的单位会员认证审核<span class="color-green">已通过</span>！</p>

								<%}else if(userCur.userType == 5){%>
									<p class="font-size-18 margin-top-20">您提交的单位会员认证还在<span class="color-orange">审核中</span>！</p>
									<p class="font-size-14">我们会尽快审核，并将审核结果通过短信或邮件通知您，请及时关注。</p>
								<%}else if(userCur.userType == 6){%>
									<p class="font-size-18 margin-top-20">您提交的个人会员认证审核<span class="color-red">未通过</span>！</p>
									<a href="/auth/user_auth_init_step5" class="font-size-14 color-red" style="text-decoration: underline">查看原因 >></a>
								<%}else if(userCur.userType == 7){%>
									<p class="font-size-18 margin-top-20">您提交的单位会员认证审核<span class="color-red">未通过</span>！</p>
									<a href="/auth/company_auth_init_step5" class="font-size-14 color-red" style="height:18px; display: inline-block; border-bottom: 1px solid #E34F4F">查看原因 >></a>
								<%}%>
							</div>
							<div class="auth-introduce-supplier">
								<%if(userCur.supplierStatus == 0){%>
								<p class="font-size-18 margin-top-20">供应商申请 <span class="span-yellow font-size-18">审核中</span></p>
								<%}else if(userCur.supplierStatus == 1){%>
								<a href="javascript:void (0)" class="margin-top-20">供应商申请通过</a>
								<%}else if(userCur.supplierStatus == 2){%>
								<a href="/usercenter/becomingSupplierStep1" class="large-btn">供应商申请未通过</a>
								<p>您提交的申请资料有误，请重新提交。</p>
								<%}else if(isEmpty(userCur.supplierStatus)&&userCur.userType == 4){%>
								<a href="/usercenter/becomingSupplierStep1" class="large-btn">供应商申请</a>
								<%}%>
							</div>
							</div>
						</div>
				</div>
			</div>
			<div class="basic-information-down">
					<div class="header clearfix">
						<h4 class="grid-left my-order active margin-right-15" data-tab-id="one">我购买的数据</h4>
						<%if(userCur.supplierStatus == 1){%>
						<h4 class="grid-left my-order" data-tab-id="tow">我上架的商品</h4>
						<%}%>

					</div>
					<div class="my-order-list-one clearfix">

					</div>
					<div class="my-order-list-two clearfix">
						<!--<div class="order-list-item grid-left">-->
							<!--<div class="order-list-top clearfix">-->

									<!--<img class="grid-left" src="/static/images/list01.png" alt="">-->
									<!--<div class="order-list-top-info grid-left">-->
										<!--<h4>银行卡类别查询</h4>-->
										<!--<p>价格：<span>￥200</span></p>-->
									<!--</div>-->

							<!--</div>-->
							<!--<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>-->
						<!--</div>-->
					</div>
					<%include("/layout/pageaction.html"){} %>
				</div>
		</div>

		<!--以下代码暂时不要-->
		<!--<div class="grid-right forum-hot">-->
		<!--<div class="header">-->
		<!--<h4>论坛热点</h4>-->
		<!--</div>-->
		<!--<ul class="hot-list">-->
		<!--<li class="item"><span class="hot-icon">热点</span><a href="javascript:void(0)">从windows迁移到数据库</a></li>-->
		<!--<li class="item"><span class="hot-icon">热点</span><a href="javascript:void(0)">从windows迁移到数据库</a></li>-->
		<!--<li class="item"><span class="hot-icon">热点</span><a href="javascript:void(0)">从windows迁移到数据库</a></li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--以上代码暂时不要-->
		<!--<div class="grid-right forum-hot notice">-->
		<!--<div class="header">-->
		<!--<h4>公告</h4>-->
		<!--</div>-->
		<!--<div class="bottom-content clearfix">-->
		<!--<div class=" grid-left line-box">-->
		<!--<div class="line active">-->
		<!--<i class="round active"></i>-->
		<!--</div>-->
		<!--<div class="line active">-->
		<!--<i class="round active"></i>-->
		<!--</div>-->
		<!--<div class="line active">-->
		<!--<i class="round active"></i>-->
		<!--</div>-->
		<!--<div class="line">-->
		<!--<i class="round"></i>-->
		<!--</div>-->
		<!--<div class="line">-->
		<!--<i class="round"></i>-->
		<!--</div>-->
		<!--</div>-->
		<!--<ul class="grid-left notice-list">-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time current">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time current">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time current">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--</div>-->
	</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/userInfo.js"></script>
