<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/userInfo.css">
<script type="text/javascript">
//	var pagePath = '/order/goodsList';
//	var pageType = 'get';
//	var dataParm = {};
//	dataParm.pageNumber = 1;
//	dataParm.pageSize = 6;
</script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
	<div class="grid-row clearfix">
		<%include("/usercenter/user-center-menu.html"){} %>
		<div class="info-center-box grid-right">
			<div class="basic-information-top ">
				<div class="basic-information-top-title">
					基本信息
				</div>
				<div class="basic-information-top-content">
					<div class="user-info">
						<div class="user-info-left grid-left">
							<img width="90" src="${user.headImg}" alt="">
							<div class="icon-box">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<div class="user-info-right grid-left">
							<!--<p>Hi,<span id="userName">${user.userName}</span></p>-->
							<%if(userCur.userType == 0){%>
							<p class="usertype">管理员</p>
							<%}else if(userCur.userType == 1){%>
							<p class="usertype color-orange">未认证</p>
							<%}else if(userCur.userType == 2){%>
							<p class="usertype color-green">个人会员</p>
							<%}else if(userCur.userType == 3){%>
							<p class="usertype color-orange">个人认证审核中</p>
							<%}else if(userCur.userType == 4){%>
							<p class="usertype color-green">单位会员</p>
							<%}else if(userCur.userType == 5){%>
							<p class="usertype color-orange">单位认证审核中</p>
							<%}else if(userCur.userType == 6){%>
							<p class="usertype color-red">个人认证审核失败</p>
							<%}else if(userCur.userType == 7){%>
							<p class="usertype color-red">单位认证审核失败</p>
							<%}%>
							<p class="info">用户账号：<span> nihih</span></p>
							<p class="info">手机号码：<span> 18769883892</span></p>
							<p class="info">电子邮箱：<span> 409071865@qq.com</span></p>
						</div>
						<!--<a id="enterForum" href="javascript:void(0);"><span class="fa fa-twitch"></span>进入论坛</a>-->
					</div>
					<div class="user-status ">
						<%if(userCur.userType == 0){%>

						<%}else if(userCur.userType == 1){%>
						<div class="auth-introduce ">
							<!--<p>如果您是个人用户，请进行个人会员认证</p>-->
							<!--<div class="margin-10">-->
							<!--<a href="/auth/user_auth_init" class="large-btn">个人会员认证</a>-->
							<!--</div>-->
							<p>如果您是单位用户，请进行单位会员认证</p>
							<div class="margin-10">
								<a href="/auth/company_auth_init" class="large-btn">单位会员认证</a>
							</div>
						</div>
						<%}else if(userCur.userType == 2){%>
						<div class="auth-introduce ">
							<p>
								<span class="font-size-18">您的个人会员认证审核<span class="color-green">已通过</span>！</span>
							</p>
						</div>
						<%}else if(userCur.userType == 3){%>
						<div class="auth-introduce ">
							<p>
								<span class="font-size-18">您提交的个人会员认证还在<span class="color-orange">审核中</span>！</span>
								<br>
								<br>
								<span class="font-size-14">我们会尽快审核，并将审核结果通过短信或邮件通知您，<br>请及时关注。</span>
							</p>
						</div>
						<%}else if(userCur.userType == 4){%>
						<div class="auth-introduce">
							<p>
								<span class="font-size-18">您的单位会员认证审核<span class="color-green">已通过</span>！</span>
							</p>
						</div>
						<%}else if(userCur.userType == 5){%>
						<div class="auth-introduce ">
							<p>
								<span class="font-size-18">您提交的单位会员认证还在<span class="color-orange">审核中</span>！</span>
								<br>
								<br>
								<span class="font-size-14">我们会尽快审核，并将审核结果通过短信或邮件通知您，<br>请及时关注。</span>
							</p>
						</div>
						<%}else if(userCur.userType == 6){%>
						<div class="auth-introduce ">
							<p>
								<span class="font-size-18">您提交的个人会员认证审核<span class="color-red">未通过</span>！</span>
								<br>
								<br>
								<a href="/auth/user_auth_init_step5" class="font-size-14 color-red" style="text-decoration: underline">查看原因 >></a>
							</p>
						</div>
						<%}else if(userCur.userType == 7){%>
						<div class="auth-introduce ">
							<p>
								<span class="font-size-18">您提交的单位会员认证审核<span class="color-red">未通过</span>！</span>
								<br>
								<br>
								<a href="/auth/company_auth_init_step5" class="font-size-14 color-red" style="height:18px; display: inline-block; border-bottom: 1px solid #E34F4F">查看原因 >></a>
							</p>
						</div>
						<%}%>
					</div>
				</div>

			</div>
			<div class="center-content">
				<div class="bottom margin-bottom-30">
					<div class="header clearfix">
						<h4 class="grid-left my-order active margin-right-15" data-tab-id="one">我购买的数据</h4>
						<h4 class="grid-left my-order" data-tab-id="tow">我上架的商品</h4>
					</div>
					<div class="my-order-list-one clearfix">
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>


						</div>
					</div>
					<div class="my-order-list-two clearfix">
						<div class="order-list-item grid-left">
							<div class="order-list-top clearfix">
								<img class="grid-left" src="/static/images/list01.png" alt="">
								<div class="order-list-top-info grid-left">
									<h4>银行卡类别查询</h4>
									<p>价格：<span>￥200</span></p>
								</div>
							</div>
							<div class="order-list-down">购买时间: <span class="buy-time">2013-09-01 16:12:00 </span></div>
						</div>
					</div>
					<!--<script>-->
					<!--function loadPageData(data) {-->
					<!--if (data.data.list.length > 0) {-->
					<!--var list = data.data.list;-->
					<!--var html = '';-->
					<!--for (var i = 0; i < list.length; i++) {-->
					<!--html += '<div class="order-info grid-left">';-->
					<!--html += '<div class="grid-left img-box">';-->
					<!--html += '<img src="' + list[i].goodsImg + '" alt="" width="50px">';-->
					<!--html += '</div>';-->
					<!--html += '<div class=" grid-left detail-info">';-->
					<!--html += '<h4>' + list[i].goodsName + '</h4>';-->
					<!--html += '<p class="application-time">申请时间: <span class="app-time">' + list[i].payTime + '</span></p>';-->
					<!--html += '<a target="_blank" class="read" href="${host.website}/exchange/orderEndDetails?id=' + list[i].goodsId + '&orderSn=' + list[i].orderSn + '&format='+list[i].goodsFormat+'"　>立即查看</a>';-->
					<!--html += '</div>';-->
					<!--html += '</div>';-->
					<!--}-->
					<!--$('.my-order-list').html(html);-->
					<!--} else {-->
					<!--$('.my-order-list').html('<tr class="noData"><td colspan="5" style="width:978px; text-align:center;line-height:100px;">暂无已购买数据！</td></tr>');-->
					<!--}-->

					<!--}-->
					<!--</script>-->
					<%include("/layout/pageaction.html"){} %>
				</div>
			</div>
		</div>

		<!--以下代码暂时不要-->
		<!--<div class="grid-right forum-hot">-->
		<!--<div class="header">-->
		<!--<h4>论坛热点</h4>-->
		<!--</div>-->
		<!--<ul class="hot-list">-->
		<!--<li class="item"><span class="hot-icon">热点</span><a href="javascript:void(0)">从windows迁移到数据库</a></li>-->
		<!--<li class="item"><span class="hot-icon">热点</span><a href="javascript:void(0)">从windows迁移到数据库</a></li>-->
		<!--<li class="item"><span class="hot-icon">热点</span><a href="javascript:void(0)">从windows迁移到数据库</a></li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--以上代码暂时不要-->
		<!--<div class="grid-right forum-hot notice">-->
		<!--<div class="header">-->
		<!--<h4>公告</h4>-->
		<!--</div>-->
		<!--<div class="bottom-content clearfix">-->
		<!--<div class=" grid-left line-box">-->
		<!--<div class="line active">-->
		<!--<i class="round active"></i>-->
		<!--</div>-->
		<!--<div class="line active">-->
		<!--<i class="round active"></i>-->
		<!--</div>-->
		<!--<div class="line active">-->
		<!--<i class="round active"></i>-->
		<!--</div>-->
		<!--<div class="line">-->
		<!--<i class="round"></i>-->
		<!--</div>-->
		<!--<div class="line">-->
		<!--<i class="round"></i>-->
		<!--</div>-->
		<!--</div>-->
		<!--<ul class="grid-left notice-list">-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time current">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time current">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time current">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--<li class="notice-item">-->
		<!--<p class="notice-time">2017-02-10</p>-->
		<!--<a href="#">2017交易中心新版上线</a>-->
		<!--</li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--</div>-->
	</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script>
	$(".recharge").click(function () {
		window.location.href = '/usercenter/recharge';
	});
    $(".my-order-list-two").hide();
	$(".center-content .bottom .header h4").on("click",function () {
		$(this).addClass("active").siblings().removeClass("active");
		if($(this).attr('data-tab-id')=="one"){
		    $(".my-order-list-one").show();
            $(".my-order-list-two").hide();
		}else {
            $(".my-order-list-one").hide();
            $(".my-order-list-two").show();
		}
    })
</script>
