<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/withdrawalStep2.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script type="text/javascript">

</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="header">
                <h4 class="center-title">提现</h4>
            </div>
            <div class="withdrawalStep2">
                <div class="withdrawalStep2-top">
                    <h4></h4>
                </div>
                <div class="withdrawalStep2-middle">
                    <ul class="clearfix">
                        <li>
                            <p class="active">提现申请</p>
                            <p id="present-application">2017-07-05 18:00</p>
                        </li>
                        <li>
                            <p>后台审核</p>
                            <p id="background-audit">2017-07-05 18:00</p>
                        </li>
                        <li>
                            <p>审核完成</p>
                            <p id="audit-completed">2017-07-05 18:00</p>
                        </li>
                    </ul>
                </div>
                <div class="withdrawalStep2-down">
                    <a href="/withdrawRecord/getUserInfo#one" class="a-color-blue margin-right-40">查看提现记录</a>
                    <a href="/usercenter/fundmanage" class="a-color-blue margin-left-40">返回查看余额</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/withdrawalStep2.js"></script>
