<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/withdrawals.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="header">
                <h4 class="center-title">提现</h4>
            </div>
            <div class="withdrawals">
                <ul class="withdrawals-content">
                    <li class="apply-money"><label for="">申请提现金额：</label>
                        <input type="text">元
                        <span>可用金额</span>
                        <span class="money">￥555</span>
                        <a href="" class="blue margin-left-15">全部提现</a>
                    </li>
                    <li class="cash-account"><label for="">提现账号：</label>
                        <div class="cash-account-card">
                            <p></p>
                            <p><span>银行卡号：</span>1545454545454545</p>
                            <p><span>账户名：</span>九次方</p>
                        </div>
                    </li>
                    <li class="trade-password"><label for="password">交易密码：</label>
                        <input type="text" id="password">
                    </li>
                    <li class="payment">
                        <a href="">去支付</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
