<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/fundmanage.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left info-center-box ">
            <div class="user-center-box grid-right">
                <h3 class="center-title">提现</h3>
                <div class="fundmanage-box">
                    <div class="fundmanage-bd">
                        <div class="user-balance">
                            <div class="title">您的可提现金额为:</div>
                            <div class="price">8000<span>.00元</span></div>
                            <div class="price-input"><label>请输入您要提现的金额：</label><input type="text"></div>
                            <div class="operation withdrawals-btn"><a href="javascript:void(0)">提交</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
