<div class="row">
  <div class="grid-left viewDetails margin-bottom-30">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h4>订单详情</h4></div>
      <div class="pull-right">
        <button class="btn btn-default" ui-sref="account.search" data-ng-click="back()"><span class="glyphicon glyphicon-refresh"></span> 返回</button>
      </div>
    </div>
    <div class="viewContent clearfix" style="color: #949494;font-size: 13px; line-height: 13px;padding:15px 10px;">
      <div class="leftContent grid-left padding-top-20 text-align-center">
        <div class="state-top margin-bottom-30">
          订单号：<span style="color: black;">{{order.orderSn}}&nbsp;&nbsp;</span>
          订单时间：<span style="color: black;">{{order.addTime}}&nbsp;&nbsp;</span>
          买方：<span style="color: black;">{{buyer.userName}}&nbsp;&nbsp;</span>
          买方手机：<span style="color: black;">{{buyer.mobile}}&nbsp;&nbsp;</span>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-hover" style="margin-bottom: 20px;">
    <thead>
    <tr style="font-size: 16px;line-height: 16px;">
      <th style="padding-left: 40px;">数据商品</th>
      <th class="text-center">供应商</th>
      <th class="text-center">价格</th>
      <th class="text-center">数量</th>
      <th class="text-center">小计</th>
      <th class="text-center">商品类型</th>
      <th class="text-center">交付信息</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr class="padding-bottom-10" data-ng-if="!loadingState" data-ng-repeat="goods in order.mgOrderGoodsList" class="" style="font-size: 14px;line-height: 14px;">
      <td class="text-left" style="padding-left: 40px;width: 200px;">
        <div class="p-img">
          <a target='_blank' href="http://www.qddata.com.cn/exchange/details?id={{goods.goodsId}}">
            <img src="{{goods.goodsImg}}" alt="" style="width:70px;height:70px;border:0;">
          </a>
        </div>
        <div class="margin-top-10 marign-bottom-10" >
          <a target='_blank' href="http://www.qddata.com.cn/exchange/details?id={{goods.goodsId}}">
            <span ng-bind="goods.goodsName | limitTo:10"></span>
          </a>
        </div>
      </td>
      <td>{{goods.supplier}}</td>
      <td>¥{{goods.goodsPrice / 100}}</td>
      <td ng-bind="goods.goodsNumber"></td>
      <!--<td>¥{{goods.payName * goods.goodsPrice / 100}}</td>-->
      <td>
        <p style="border-bottom: 1px dashed #eee">¥{{goods.goodsNumber * goods.goodsPrice / 100}}</p>
        <p>{{goods.payName}}</p>
      </td>
      <td>
        <span text-length="50" ng-bind="goods.goodsType | goodsType"></span>
      </td>
      <td>

        <button class="btn btn-primary" ng-disabled="goods.goodsType==1" ng-click="remark(goods.goodsId,order.orderId,goods.goodsType,goods.isOffline)">查看</button>
 <!--       <div ng-if="goods.goodsType == 1">
          <a ui-sref="{{item.url}}">
            <div class="nav-icon"></div>
            <div class="nav-title " ng-bind="item.title"></div>
          </a>
        </div>-->
      </td>
      <!--<td class="operate text-center">-->
      <!--&lt;!&ndash;<a href="${host.website}/exchange/details?id='goods.goodsId'" class="buy btn-full-blue display-inline-block">再次购买</a>&ndash;&gt;-->
      <!--<a ng-click="getGoodDetail($event,goods.goodsId)" class="btn-full-red display-inline-block margin-top-10">数据详情</a>-->
      <!--</td>-->
    </tr>
    </tbody>
  </table>
  <div class="text-left">
    <ul class="" style="list-style-type:none;padding-bottom: 20px;">
      <li style="color: #949494;font-size: 16px;padding-top: 15px;text-align: right">订单合计：
        <span style="color: black;font-size: 16px; padding-top: 15px;">¥{{order.orderAmount / 100}}</span></li>
      <!--<li style="color: #949494;font-size: 16px;padding-top: 15px;">订单优惠：-->
        <!--<span style="color: black;font-size: 16px;padding-top: 15px;">¥{{order.goodsDiscountFee / 100}}</span></li>-->
      <!--<li style="color: #949494;font-size: 16px;padding-top: 15px;">实际应付：-->
        <!--<span style="color: black;font-size: 16px;padding-top: 15px;">¥{{(order.orderAmount - order.discountFee)/ 100}}</span></li>-->
      <!--<li style="color: #949494;font-size: 16px;padding-top: 15px;">付款方式：-->
        <!--<span ng-bind="order.payName" style="color: black;font-size: 16px;padding-top: 15px;"></span></li>-->
    </ul>
  </div>
  <!--<div style="color: #949494;font-size: 16px; line-height: 16px;padding-top: 20px; padding-left: 40px;">-->
    <!--开具类型：<span style="color: black;">{{order.invMedia}}&nbsp;&nbsp;</span>-->
    <!--发票类型：<span style="color: black;">{{order.invType}}&nbsp;&nbsp;</span>-->
    <!--发票抬头：<span style="color: black;">{{order.invHead}}&nbsp;&nbsp;</span>-->
    <!--发票内容：<span style="color: black;">{{order.invContent}}&nbsp;&nbsp;</span>-->
  <!--</div>-->
</div>