<style>
  .control-label {
    width: 80px;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>商品删除</h5></div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-12">

        <div class="gridSection">
          <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <thead>
            <tr>
              <th>商品ID</th>
              <th>索引名称</th>
              <th>索引类型</th>
              <th width="200" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!loadingState" data-ng-repeat="item in pagination.store" class="">
              <td>
                <span text-length="50" ng-bind="item.goodsId"></span>
              </td>
              <td id="vdata">
                qingdao-goods-v2
              </td>

              <td>
                goods
              </td>

              <td class="text-center">
                  <a href="javascript:;" ng-click="delGoods(item.goodsId,'qingdao-goods-v2','goods')">删除</a>

              </td>
            </tr>
            </tbody>
            <tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
            <tr>
              <td colspan="9">
                <div class="pull-right page-box">
                  <div class="pagination-info">共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条</div>
                  <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                      ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                      max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                      force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                      last-text="末页">
                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="simple-grid-none-data-wrap">
          <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
            <div class="row-padding row-margin text-center">
              <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
              <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>