<style>
  .control-label {
    width: 80px;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>索引删除</h5></div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-12">

        <div class="gridSection">
          <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <thead>
            <tr>
              <th>编号</th>
              <th>索引名称</th>
              <th>索引类型</th>
              <!--<th width="200" class="text-center">操作</th>-->
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="item in ess" class="">
              <td>
                <span text-length="50" ng-bind="item.no"></span>
              </td>
              <td>
                <span text-length="50" ng-bind="item.index"></span>
              </td>

              <td>
                <span text-length="50" ng-bind="item.type"></span>
              </td>

              <!--<td class="text-center">-->
                  <!--<a href="javascript:;" ng-click="del(item.index)">删除</a>-->

              <!--</td>-->
            </tr>
            </tbody>

          </table>
        </div>
        <div class="searchSection">
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label">索引名称</label>
              <input ng-model="index" type="text" class="form-control">
            </div>
            <!--<div class="form-group">-->
              <!--<label class="control-label">索引类型</label>-->
              <!--<input ng-model="type" type="text" class="form-control">-->
            <!--</div>-->

            <button type="submit" class="btn btn-primary" data-ng-click="del(index)">删除</button>
          </form>
        </div>
        <div class="simple-grid-none-data-wrap">
          <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
            <div class="row-padding row-margin text-center">
              <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
              <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>