<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>{{title}}优惠券</h5></div>
            <div class="pull-right">
                <button class="btn btn-default"  data-ng-click="refresh()"><span class="glyphicon glyphicon-arrow-left"></span> 返回
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <form class="form-horizontal" role="form" id="userForm" name="userForm" novalidate>
                <div class="form-group">
                    <label class="col-sm-4 control-label">优惠券类型</label>
                    <div class="col-sm-4">
                        <select ng-model="couponType" ng-options="item.id as item.name for item in typeStatus" style="width: 155px;height: 32px">

                        </select>
                    </div>
                    <div class="col-sm-4 control-label" style="text-align: left;">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="couponName">优惠券名称<span class="must">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="couponName" name="couponName"  ng-maxlength="50" class="form-control" ng-model="couponName" style="width: 155px;height: 32px" required/>
                    </div>
                    <div class="col-sm-4 control-label" style="text-align: left;">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="userName">适用平台<span class="must">*</span></label>
                    <div class="col-sm-4">
                        <select ng-model="applyPlatform" ng-options="item.id as item.name for item in applyPlatforms" style="width: 155px;height: 32px">

                        </select>
                    </div>
                    <!--<div class="col-sm-4 control-label" style="text-align: left;">-->
                        <!--系统用户名不能为空，且最大长度为50-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="totalCount">总发行量<span class="must">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="totalCount" name="totalCount"  ng-maxlength="50" class="form-control" ng-model="totalCount" placeholder="只能输入正整数，输入0为无限制。" style="width: 155px;height: 32px" required/>
                    </div>
                    <!--<div class="col-sm-4 control-label" style="text-align: left;">-->
                        <!--系统用户名不能为空，且最大长度为50-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="faceValue">面额<span class="must">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="faceValue" name="faceValue"  ng-maxlength="50" class="form-control" ng-model="faceValue" placeholder="面值只能是数值，0.01-10000，限2位小数。" style="width: 155px;height: 32px" required/>
                    </div>
                    <!--<div class="col-sm-4 control-label" style="text-align: left;">-->
                        <!--系统用户名不能为空，且最大长度为50-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="limitedCount">每人限领<span class="must">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="limitedCount" name="limitedCount"  ng-maxlength="50" class="form-control" ng-model="limitedCount" style="width: 155px;height: 32px" required/>
                    </div>
                    <!--<div class="col-sm-4 control-label" style="text-align: left;">-->
                        <!--系统用户名不能为空，且最大长度为50-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="applyChannel">使用门槛</label>
                    <div class="col-sm-1">
                        <input type="radio" name="applyChannel" ng-model="applyChannel" value="0" ng-checked="applyChannel==0" class="margin-right-10"/>无限制
                    </div>
                    <div class="col-sm-2">
                        <input type="radio" name="applyChannel" ng-model="applyChannel" value="1" ng-checked="applyChannel==1" class="margin-right-10"/>
                        <span>满 <input style="width: 40px;" type="text" data-ng-model="discountValue">可用</span>
                    </div>
                    <!--<div class="col-sm-4 control-label" style="text-align: left;">-->
                        <!--系统用户名不能为空，且最大长度为50-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="userName">有效期<span class="must">*</span></label>
                    <div class="col-sm-8">
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">日期范围</label>
                            <div class="col-sm-10">
                                <p class="input-group col-sm-4" style="float: left">
                                    <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                                           ng-paste="$event.preventDefault()" type="text" class="form-control"
                                           uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="expiryStartTime"
                                           is-open="popup1.opened" datepicker-options="startDateOptions" close-text="关闭" clear-text="清除"
                                           current-text="今天" readonly="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <label class="control-label col-sm-1" style="float: left">至</label>
                                <p class="input-group col-sm-4" style="float: left">
                                    <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                                           ng-paste="$event.preventDefault()" type="text" class="form-control"
                                           uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="expiryEndTime"
                                           is-open="popup2.opened" datepicker-options="endDateOptions"
                                           close-text="Close" close-text="关闭" clear-text="清除" current-text="今天" readonly="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label" for="validDays"> 固定天数</label>
                            <div class="col-sm-10 ">
                                <input type="text" id="validDays" name="validDays"  ng-maxlength="50" class="form-control" ng-model="validDays" style="width: 155px;height: 32px" required/>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--<div class="col-sm-4 control-label" style="text-align: left;">-->
                        <!--系统用户名不能为空，且最大长度为50-->
                    <!--</div>-->

                <!--<div class="form-group ">-->

                    <!--<div class="col-sm-4 control-label" style="text-align: left;">-->
                        <!--系统用户名不能为空，且最大长度为50-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" >可使用商品</label>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <input type="radio" name="applyGoods" ng-model="applyGoods" value="0" ng-checked="applyGoods==0" style="margin-right: 10px"/>全部商品
                            <input type="radio" name="applyGoods" ng-model="applyGoods" value="1" ng-checked="applyGoods==1" style="margin-right: 10px"/>部分商品
                            <input type="radio" name="applyGoods" ng-model="applyGoods" value="2" ng-checked="applyGoods==2" style="margin-right: 10px"/>部分分类
                        </div>

                    </div>
                    <div class="col-sm-4 control-label" style="text-align: left;">
                        <!--系统用户名不能为空，且最大长度为50-->
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" data-ng-click="save()" ng-disabled="userForm.$pristine || userForm.$invalid" style="margin: auto;display: block;">
                         提交
                    </button>
                </div>
        </form>
    </div>
</div>