.header-top-bar{
    background: #f5f5f5;
    height:30px;
    line-height: 30px;
}
.header-top-bar li{
    margin:0 10px;
}
.header-top-bar li .fa{
    font-size: 14px;
}
.header-centerbar{
    height:108px;
}
.header-centerbar .grid-row{
    height:80px;
    padding-top: 28px;
}
.header-centerbar .logo{}
.header-centerbar .search{
    margin-left:76px;
    position: relative;
}
.header-centerbar .search .fa{
    position: absolute;
    left:0;
    top:0;
    width:38px;
    height:38px;
    line-height:38px;
    font-size:20px;
    color: #c0c0c0;
}
.header-centerbar .search input{
    width:440px;
    height:36px;
    border:1px solid #bec5cf;
    background: #fff;
    padding-left:32px;
    font-size: 13px;
    color: #666;
}
.header-centerbar .search button{
    position: absolute;
    right:0;
    top:0;
    width:80px;
    height:38px;
    cursor: pointer;
}
.header-centerbar .search .search-text{
    line-height: 26px;
}
.header-centerbar .search .search-text a:hover{
    color:#ffa800;
}
.header-centerbar .shopping-cart{
    position: absolute;
    top:29px;
    right: 0px;
    z-index: 1000;
    width: 141px;
}
.header-centerbar .shopping-cart-top{
    position: relative;
    z-index: 12000;
    line-height: 36px;
    margin-bottom: -1px;
    width: 141px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    background-color: #F9F9F9;
    border: 1px solid #DFDFDF;
}
.header-centerbar .shopping-cart-top:after{
    content: '0';
    color: white;
    position: absolute;
    top: -5px;
    right: 23px;
    background-color: #e34f4f;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 7px 7px 7px 0;
    display: block;
}
.header-centerbar .shopping-cart-top span{
    margin-right: 15px;
}
.header-centerbar .shopping-cart-down{
    width: 141px;
    display: none;
    background-color: white;
    box-shadow: 0px 0px 5px #F9F9F9;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-title{
    height: 35px;
    line-height: 35px;
    padding: 5px;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content{
    padding: 5px;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content ul li{

}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-top {
    padding: 5px;
    background-color: greenyellow;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-top div:first-child span {
     color: white;
     padding: 3px;
     display: inline-block;
     margin-right: 5px;
     background-color: green;
 }
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-top div:last-child{
    height: 24px;
    line-height: 24px;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down {
    height: 60px;
    padding: 5px;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down img{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: #3e567c;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down .content-down-name{
    height: 58px;
    width: 120px;
    overflow: hidden;
    vertical-align: middle;

}
.header-centerbar .shopping-cart-down .shopping-cart-down-pay{
    padding: 5px;
    height: 35px;
    line-height: 35px;
    background-color: #F9F9F9;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-pay div:last-child{
    width: 65px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #e34f4f;
    color: white;
    border-radius: 5px;
}
.header-bottom-bar{
    height:46px;
    line-height: 46px;
    background: #3e557b;
}
.header-bottom-bar .grid-row{
    position: relative;
}
.header-bottom-bar li{
    padding: 0 56px;
}
.header-bottom-bar li.active{
    background: #2d3f5c;
}
.header-bottom-bar li a{
    font-size: 16px;
    color: #fff;
    display: block;
}
/************/
.footer-bar{
    padding:50px 0;
    background: #494952;
    overflow: hidden;
    color:#fff;
}
.footer-bar a{
    color:#959595;
}
.footer-bar h3,.footer-bar p{
    color:#fff;
}
.footer-bar dl{width:200px;}
.footer-bar dl dt{
    padding-left:30px;
    font-size: 16px;
    position: relative;
}
.footer-bar dl dt span{
    position: absolute;
    left:7px;
    top:2px;
    font-size: 20px;
}
.footer-bar dl dd{
    padding-left:30px;
    font-size: 14px;
    line-height: 30px;
}
.footer-bar .QRcode-box{
    width:130px;
    text-align: center;
}
.footer-bar .QRcode-box h3{
    font-size: 16px;
    line-height: 40px;
}
.userInfos {
    position: relative;
}
.userInfos .userInfos-box {
    position: absolute;
    width: 260px;
    top: 39px;
    left: 0px;
    display: none;
    z-index: 1;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 10px;
}
.userInfos .login{
    display: block;
    padding: 0 10px;
    position: relative;
    height:29px;
    z-index:5;
}
.userInfos:hover .login{
    border-bottom: 2px solid #fff;
}
.userInfos .userInfos-box{
    position:absolute;
    width:260px;
    background: #fff;
    border:1px solid #ccc;
    padding:10px;
    top:29px;
    left:0px;
    display: none;
    z-index: 1;
}
.userInfos .userInfos-box a{
    color:#333;
    float: right;
}
.userInfos .userInfos-box .userInfos-con{
    width:120px;
    float: left;
}
.userInfos .userInfos-box .userInfos-con img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}
.userInfos .userInfos-box .userInfos-con p{
    float: left;
    margin-left: 20px;
}
.float-tool {
    position: fixed;
    _position: absolute;
    bottom: 33%;
    right: .1%;
    z-index: 250;
    margin-bottom: -90px
}

.float-tool .btn-tool {
    margin: 5px 0;
    width: 22px;
    height: 22px;
    font-size: 21px;
    padding: 8px;
    cursor: pointer
}

.float-tool .btn-tool a {
    color: #00a2ca
}

.float-tool .btn-tool a:hover {
    color: #fff !important;
    text-decoration: none
}

.float-tool .gotop-wrap {
    background: #f1f1f1;
    line-height: 22px
}

.float-tool .gotop-wrap a:hover, .float-tool .gotop-wrap:hover {
    background: #27b5d7
}

.float-tool .gotop-wrap:hover a {
    color: #fff !important
}

.float-tool .top {
    display: none
}

.float-tool .cloud-helper {
    position: relative;
    height: 110px
}

.float-tool .cloud-helper a {
    display: block;
    top: 0;
    left: 0;
    width: 39px;
    height: 128px;
    position: absolute;
    overflow: hidden
}

.float-tool .cloud-helper .cloud-help-icon-top {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url(//gtms02.alicdn.com/tps/i2/TB1axaoHXXXXXcLXpXXK.SYFVXX-30-36.png);
    background-image: -webkit-image-set(url(//gtms02.alicdn.com/tps/i2/TB1axaoHXXXXXcLXpXXK.SYFVXX-30-36.png) 1x, url(//gtms01.alicdn.com/tps/i1/TB1oDOrHXXXXXbEXpXXeffVHFXX-60-72.png) 2x);
    background-position: 4px 0;
    background-repeat: no-repeat
}

.float-tool .cloud-helper .cloud-help-icon-bottom {
    display: block;
    width: 38px;
    height: 90px;
    background-image: url(//gtms01.alicdn.com/tps/i1/TB1.UypHXXXXXbQXpXXhxqzPVXX-38-293.gif);
    background-image: -webkit-image-set(url(//gtms01.alicdn.com/tps/i1/TB1.UypHXXXXXbQXpXXhxqzPVXX-38-293.gif) 1x, url(//gtms04.alicdn.com/tps/i4/TB1ciqkHXXXXXXIXVXXNi0h6FXX-76-586.gif) 2x);
    background-position: 0 -202px
}

.float-tool .cloud-helper a:hover .cloud-help-icon-bottom {
    background-position: 0 -101px
}
input:focus, select:focus, textarea:focus {
    outline:none;
    border:1px solid #69c5dd;
}