.box{
    /*display: block;*/
    width: 1200px;
    height: 1000px;
    margin:0 auto;
    background: lightgrey;
}
.box .smalltitle {
    position: relative;
    font-size:12px;
    line-height: 23px;
    color:#BCBCBC;
    margin:10px 0px;
}
.box .smalltitle img {
    position: absolute;
    top: 0px;
}
.box .smalltitle .greater{
    padding-left:25px;
}
.box .content {
    /*background: #f0ad4e;*/
    height: 800px;
    width: 800px;
    float: left;
    margin-left: 85px;
}
.box .rightside {
    width: 273px;
    height: 800px;
    margin-left: 37px;
    float: left;
}
.box .content .userinfo {
    font-size: 14px;
    line-height: 25px;
    color:#BCBCBC;
}
.box .content .username{
    color:#D24867;
}
.box p {
    font-size: 14px;
    text-indent: 30px;
}
.box .content .images img {
    display: block;
    margin: 50px auto;
}
.box .rightside .first {
    width: 274px;
    height: 172px;
    background: #F2F2F2;
    margin-bottom: 50px;
}
.box .rightside .public {
    line-height: 22px;
    margin-top: 20px;
    padding-top: 20px;
    color:#676767;
}
.box .rightside .public span:nth-child(1){
    border-right:3px solid #676767;
    margin-left: 20px;
    margin-right: 10px;
}
.box .rightside .public span:nth-child(2){
    font-size: 14px;
    font-weight:bold;
    margin-right:95px;
}
.box .rightside .public span:nth-child(3) {
    font-size: 14px;
    color:#BCBCBC;
}
.box .rightside p{
    font-size: 12px;
    font-weight:bold;
    color:#676767;
    margin-top: 30px;
}
.box .rightside .second {
    width: 274px;
    height: 550px;
    background: #F2F2F2;
}
.box .rightside .public img {
    width: 241px;
    height: 145px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.box .second .top p {
    border-bottom: 1px solid #E6E6E6;
}