
/* Grid
================================================================== */
.grid-0{
    width:100%;
}
.grid-row{
    width:1200px;
    margin:0 auto;
}
/* Dispaly
=================================================================== */
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
.display-inline{
    display: inline;
}
/* Border
=================================================================== */
.border-top{
    border-top:1px solid #d5d5d5;
}
.border-right{
    border-right:1px solid #d5d5d5;
}
.border-bottom{
    border-bottom:1px solid #d5d5d5;
}
.border-left{
    border-left:1px solid #d5d5d5;
}
/* Color
=================================================================== */
.color-gray-3{
    color:#333 ;
}
.color-gray-6{
    color:#666 ;
}
/*以下为本站的三大主色调*/
.color-orange{
    color: #ffa800;
}
.color-blue{
    color: #078cfc;
}
.color-gray-blue{
    color: #3E557B;
}
.color-red{
    color: #e34f4f;
}

/* Background
=================================================================== */
.backgorund-gray{
    background-color:#f5f5f5 ;
}
.backgorund-white{
    background-color:#ffffff;
}
/*以下为本站的三大主色调*/
.backgorund-red{
    background-color:#E34F4F;
}
.backgorund-blue{
    background-color:#078cfc;
}
.backgorund-gray-blue{
    background-color:#3E557B;
}
.backgorund-orange{
    background-color:#FFA800;
}

/* Text-align
=================================================================== */
.text-align-left{
    text-align:left;
}
.text-align-center{
    text-align:center;
}
.text-align-right{
    text-align:right;
}
/* Float
=================================================================== */
.grid-left{
    float: left !important;
}
.grid-right{
    float: right !important;
}
/* clear float
=================================================================== */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
    font-size: 0;
    zoom: 1;
}
/* ul li
=================================================================== */
ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Margin
=================================================================== */
.margin-5 {
    margin: 5px !important;
}
.margin-10 {
    margin: 10px !important;
}
.margin-15 {
    margin: 15px !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-right-0 {
    margin-right: 0px !important;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-left-30 {
    margin-left: 30px !important;
}
.margin-right-30 {
    margin-right: 30px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-left-40 {
    margin-left: 40px !important;
}
.margin-right-40 {
    margin-right: 40px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-top-40 {
    margin-top: 40px !important;
}
.margin-off {
    margin: 0 !important;
}
.margin-off-top {
    margin-top: 0 !important;
}
.margin-off-bottom {
    margin-bottom: 0 !important;
}
.margin-off-left {
    margin-left: 0 !important;
}
.margin-off-right {
    margin-right: 0 !important;
}
/* Padding
=================================================================== */
.padding-5 {
    padding: 5px !important;
}
.padding-10 {
    padding: 10px !important;
}
.padding-15 {
    padding: 15px !important;
}
.padding-20 {
    padding: 20px !important;
}
.padding-30 {
    padding: 30px !important;
}
.padding-40 {
    padding: 40px !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-right-5 {
    padding-right: 5px !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-right-10 {
    padding-right: 10px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-left-15 {
    padding-left: 15px !important;
}
.padding-right-15 {
    padding-right: 15px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-left-20 {
    padding-left: 20px !important;
}
.padding-right-20 {
    padding-right: 20px !important;
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-left-40 {
    padding-left: 40px !important;
}
.padding-right-40 {
    padding-right: 40px !important;
}
.padding-bottom-40 {
    padding-bottom: 40px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}
.padding-left-50 {
    padding-left: 50px !important;
}
.padding-right-50 {
    padding-right: 50px !important;
}
.padding-bottom-50 {
    padding-bottom: 50px !important;
}
.padding-top-60 {
    padding-top: 60px !important;
}
.padding-left-60 {
    padding-left: 60px !important;
}
.padding-right-60 {
    padding-right: 60px !important;
}
.padding-bottom-60 {
    padding-bottom: 60px !important;
}
.padding-top-70 {
    padding-top: 70px !important;
}
.padding-left-70 {
    padding-left: 70px !important;
}
.padding-left-90 {
    padding-left: 90px !important;
}
.padding-right-70 {
    padding-right: 70px !important;
}
.padding-bottom-70 {
    padding-bottom: 70px !important;
}
.padding-off {
    padding: 0 !important;
}
.padding-off-left {
    padding-left: 0 !important;
}
.padding-off-right {
    padding-right: 0 !important;
}
.padding-off-bottom {
    padding-bottom: 0 !important;
}
.padding-off-top {
    padding-top: 0 !important;
}
/* Button
=================================================================== */
.btn{
    font-family:'aileronthin'arial!important;
    letter-spacing:1px;
    font-size:12px;
    -webkit-font-smoothing:subpixel-antialiased;
    -webkit-transition:border .3s linear,color .3s linear,background-color .3s linear;
    transition:border .3s linear,color .3s linear,background-color .3s linear
}
.btn-default{
    color:#212122;
    border:none;
    border-radius:0;
}
.btn-default:hover{
    color:#212122;
    border:none;
}
.btn-white{
    color:#fff;
    border:1px solid #fff;
    border-radius:0;
}
.btn-white:hover{
    color:#fff;
    border:1px solid #fff;
}
.btn-full-orange{
    background: #ffa800;
    color:#fff;
    border:none;
}
.btn-full-orange:hover{
    color:#fff;
    background: #eb9c03;
}
.btn-full-blue{
    background: #078cfc;
    color:#fff;
    border:none;
}
.btn-full-blue:hover{
    color:#fff;
    background: #0781e8;
}
.btn-full-red{
    background: #e34f4f;
    color:#fff;
    border:none;
}
.btn-full-red:hover{
    color:#fff;
    background: #d64242;
}

.vertical-align-middle{
    vertical-align: middle !important;
}
.font-weight-bold{
    font-weight: bold !important;
}
.font-weight-normal{
    font-weight: normal !important;
}

/*font-size*/
.font-size-14{
    font-size: 14px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px !important;
}
.font-size-24{
    font-size: 24px;
}

.position-relative{
    position: relative;
}
/*loading*/
.loading-wrapper{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10000;
}
.loading-bg{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 10001;
    background: rgba(0,0,0,0.1);
    /*-webkit-filter: blur(15px);*/
    /*-moz-filter: blur(15px);*/
    /*-o-filter: blur(15px);*/
    /*-ms-filter: blur(15px);*/
    /*filter: blur(15px);*/
}
.spinner {
    position: absolute;
    z-index: 10002;
    width: 100px;
    height: 60px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -50px;
}

.spinner > div {
    background-color: #ec5e5e;
    height: 100%;
    width: 5px;
    display: inline-block;
    margin:0 2px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.spinner .rect6 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
.noData{
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}

.line-blue{
    background-color: #247DE8;
}
.line-blue-active{
    background-color: #E1EFFF;
}
/*---a标签---*/
.a-blue{
    color: #078cfc;
}
.a-blue:hover{
    color: #0781e8;
    text-decoration: underline;
}