.information-center{
    padding:30px 0;
}
.information-center .information-bd{}
.information-center .information-menu{
    width:280px;
    border-top: 1px solid #ccc;
    margin-top: 30px;
}
.information-center .information-menu li{
    border-bottom: 1px solid #ccc;
}
.information-center .information-menu li a{
    line-height: 50px;
    font-size: 14px;
    color: #333;
    font-weight: 800;
    text-decoration: none;
    display: block;
    padding-left:20px;
}
.information-center .information-menu .information-hot-doc{
    margin-top: 30px;
    background: #f5f5f5;
    padding: 10px;
}
.information-center .information-menu .information-hot-doc .hot-doc-title{
    border-left: 2px solid #333;
    padding-left: 10px;
}
.information-center .information-menu .information-hot-doc .hot-doc-content li {
    padding: 10px 0;
}
.information-center .information-menu .information-hot-doc .hot-doc-content li .imgs{
    height: 70px;
    font-size: 36px;
    text-align: center;
    line-height: 70px;
}
.information-center .information-menu .information-hot-doc .hot-doc-content li .info{
    text-align: justify;
    text-indent: 2em;
    padding: 10px 0 0 0;
}
.information-center .center-title{
    font-size: 18px;
    height: 30px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
}
.information-center .center-title span{
    font-size:14px;
    margin-left:20px;
    line-height: 20px;
}
.information-center .information li a:hover{
    color:#0c9abe;
}
.information-center .information-content{
    width:890px;
}
.information-center .information-content .information-list{

}
.information-center .information-content .information-list li{
    margin-top: 10px;
    overflow: hidden;
    background: #f1f1f1;
}
.information-center .information-content .information-list .imgs{
    width: 200px;
    height: 140px;
    background: #ccc;
    font-size: 40px;
    text-align: center;
    line-height: 140px;
}
.information-center .information-content .information-list .info{
    width: 670px;
    padding: 0 10px;
}
.information-center .information-content .information-list .info .title{
    font-size: 16px;
    padding-top: 5px;
}
.information-center .information-content .information-list .info .desc{
    text-indent: 2em;
    padding: 10px 0;
    text-align: justify;
}
.information-center .information-content .information-list .info .user{}
.information-center .information-content .information-list .info .user span{
    display: block;
    line-height: 30px;
    margin-right:10px;
}
.information-center .information-content .information-list .info .user .admin-img{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #36bfc5;
    border-radius: 50%;
}
.information-center .information-content .information-list .info .user .admin-name{
    margin-right:30px;
}
.information-center .information-content .information-list .info .user .add-time{}


