/******** myseller-wrapper start ********/
.myseller-wrapper .category-label{
    height:50px;
    padding-left:130px;
    position: relative;
    margin-left: 200px;
}
.myseller-wrapper .category-label label{
    position: absolute;
    left:0;
    top:0;
    font-size: 14px;
    width:130px;
    text-align: right;
    line-height: 32px;
}
.myseller-wrapper .category-label input{
    width: 300px;
    height: 30px;
    border: 1px solid #333;
    padding: 0 5px;
}
.myseller-wrapper .category-label span{
    width: 50px;
    margin-left: -50px;
    display: inline-block;
    height: 32px;
    background: #333;
    line-height: 32px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    color:#fff;
}
.myseller-wrapper .category-label select{
    width: 312px;
    height: 32px;
}
.myseller-wrapper .select-category-box{
    padding:10px;
    background: #f5f6fa;
    border: 1px solid #ccc;
    overflow: hidden;
}
.myseller-wrapper .select-category-box .select-category-item{
    padding:10px;
    background: #fff;
    border: 1px solid #e5e5e5;
    width: 200px;

    position: relative;
}
.myseller-wrapper .select-category-box .select-category-item .item-box{
    height:300px;
    overflow: auto;
}
.myseller-wrapper .select-category-item .item-box dl{
    border-bottom:1px dotted #ccc;
    padding:10px 0;
}
.myseller-wrapper .select-category-item .item-box dl:last-child{
    border:none;
}
.myseller-wrapper .select-category-item .item-box dt{
    color: #00c1de;
    font-weight: 800;
}
.myseller-wrapper .select-category-item .item-box dd{
    cursor: pointer;
    padding: 5px 0 5px 5px;
}
.myseller-wrapper .select-category-item .item-box dd.active{
    color:#00a2ca;
}
.myseller-wrapper .select-category-item .item-box dd:hover{
    background: #f1f1f1;
}
.myseller-wrapper .select-category-box .select-category-item .search-item{
    width:100%;
    position: relative;
}
.myseller-wrapper .select-category-box .select-category-item .search-item span{
    position: absolute;
    font-size: 15px;
    left: 4px;
    top: 3px
}
.myseller-wrapper .select-category-box .select-category-item .search-item input{
    width: 100%;
    height: 24px;
    padding-left: 20px;
    box-sizing: border-box;
}
.myseller-wrapper .cate-path{
    color: #444;
    padding-top: 9px;
    position: relative;
    line-height: 22px;
    height: 54px;
}
.myseller-wrapper .cate-path .clearfix{
    background-color: #FFFAF2;
    border: 1px solid #FEDBAB;
    padding: 4px 27px;
}
.myseller-wrapper .cate-path .clearfix label{
    font-size: 14px;
    font-weight: 800;
}
.myseller-wrapper .cate-path .arrow{
    left: 43px;
    top: 3px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fedbab;
}
.pulish-btn{text-align: center}
.pulish-btn a{
    display: inline-block;
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 0;
    background: #00c1de;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
/******** myseller-wrapper end ********/
/******** publish-wrapper start ********/
.pulish-wrapper .publish-box{
    border:1px solid #e5e5e5;
    margin:20px 0;
}
.pulish-wrapper .publish-box .category-title{
    line-height: 30px;
    background: #f5f6fa;
    padding-left: 20px;
    margin-bottom: 10px;
}
.pulish-wrapper .publish-box h1{
    font-size: 14px;
    padding: 0 20px;
    color: #000;
}
.pulish-wrapper .publish-box .struct{
    margin:10px 0;
    padding:5px;
}
.pulish-wrapper .publish-box .struct table{width:100%}
.pulish-wrapper .publish-box .struct tr{}
.pulish-wrapper .publish-box .struct tr td{
    padding:2px 5px 8px;
    line-height: 24px;
}
.pulish-wrapper .publish-box .struct tr td .attribute-box table{
}
.attribute-bd{}
.attribute-bd .search-select-box .search-txt{
    width: 560px;
    height: 30px;
    border: 1px solid #ccc;
    position: relative;
    cursor: text;
}
.attribute-bd .search-select-box .search-txt span{
    position: absolute;
    right:10px;
    top:10px;
}
.attribute-bd .search-option{
    display: none;
    margin-top: -32px;
    width:552px;
    max-height:200px;
    position: absolute;
    background: #fff;
    z-index: 999;
    border: 1px solid #d7d7d7;
    padding:5px;
}
.attribute-bd .search-option input{
    width:222px;
    height:26px;
    padding:0 3px;
    border:1px solid #ccc;
}
.attribute-bd .search-option ul{
    max-height: 172px;
    overflow-y: scroll;
}
.attribute-bd .search-option ul li{
    line-height: 26px;
    padding-left: 5px;
}
.attribute-bd .search-option ul li:nth-child(even){
    background: #f8f8f8;
}
.attribute-bd .search-option ul li:hover{
    background: #f6f6f6;
}
.text-box input{
    width: 700px;
    border: 1px solid #ccc;
    height: 22px;
    color: #333;
    padding: 2px 5px;
}
.errors ul li {
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    word-break: break-all;
    padding: 0 10px 0 0;
    color: #EA4A36;
    line-height: 24px;
}
.textarea-box textarea{
    width: 700px;
    border: 1px solid #ccc;
    height: 55px;
    color: #333;
    padding: 2px 5px;
    resize:none;
}
.input-count{
    margin-left:10px;
    vertical-align: top;
    display: inline-block;
}
.pulish-wrapper .publish-box .struct tr td.bar{
    width: 120px;
    text-align: right;
    vertical-align: top;
}
.table-box{width:712px;}
.table-box table{
    /*border: 1px solid #d7d7d7;*/
}
.table-box table th{
    background-color: #f8f8f8;
    border: 1px solid #d7d7d7;
    white-space: nowrap;
    font-weight: 400;
    padding: 1px 0;
    text-align: center;
}
.table-box table td{
    border: 1px solid #d7d7d7;
    padding: 1px 0;
    text-align: center;
    white-space: nowrap;
}
.inputbox input{
    border: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    height: 23px;
    text-indent: 3px;
}
.inputbox textarea{
    border: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    min-height: 23px;
    text-indent: 3px;
}
.checkbox-box input{
    margin-right: 5px;
}
.radio-box input{
    margin-right: 5px;
}
.radio-box label,.checkbox-box label{
    margin-right:15px;
}
.wangEditor-container .wangEditor-menu-container{
    background: #f1f1f1;
}
.wangEditor-wrapper{
    wdith:712px;
}
.info.block {
    line-height: 26px;
    display: inline-block;
    color: #767676;
}
.multimage-wrap {
    margin-bottom: 10px;
}
.multimage-wrap .image-list {
    display: inline-block;
}
.multimage-wrap .image-list li {
    border: 1px solid #cdcdcd;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    margin: 0 10px 0 0;
}
.multimage-wrap .image-list li {
    border: 1px solid #cdcdcd;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    margin: 0 10px 0 0;
}
.multimage-wrap .image-list li .preview {
    z-index: 0;
    text-align: center;
    line-height: 90px;
    font-family: arial;
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.multimage-wrap .image-list li .preview .upload-tip {
    color: #d7d7d7;
    cursor: pointer;
    font-size: 42px;
    position: relative;
    top: 5px;
    text-decoration: none;
}
.multimage-wrap .image-list li .info {
    display: inline-block;
    position: absolute;
    background: rgba(33,33,33,.7);
    color: #fff;
    left: 0;
    top: 0;
    z-index: 7;
    width: 100%;
    text-align: center;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2404040, endColorstr=#b2404040)";
}
.multimage-wrap .image-list li .info em {
    color: #f60;
}
/******** publish-wrapper end ********/
/******** trade-wrapper end ********/
.trade-wrapper{}
.trade-box{}
.trade-box table{
    width:100%;
}
.trade-box table tr{
    border: 1px solid #e5e5e5;
}
.trade-box table th {
    background: #f5f6fa;
    height: 30px;
    line-height: 30px;
    padding:0 10px;
}
.trade-box table td {
    padding:0 10px;
}
.trade-box table td a{
    display: block;
    padding:10px;
    text-align:center;
}
.trade-box table td a img{
    width:70px;
}
.trade-box table td a p{

}
.trade-box .text-right{text-align: right}
.trade-box .text-center{text-align: center}
/******** trade-wrapper end ********/