<%
var head = {
%>
<link rel="stylesheet" href="/static/css/auth/auth_index.css">
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0  backgorund-gray">
    <div class="grid-row padding-bottom-30 padding-top-10">
        <div class="enterModule">
            <ul>
                <li>
                    <div class="person">
                        <div class="title">
                            <div class="headline">个人用户</div>
                            <p>浏览交易中心资源、了解交易中心及行业动态；认证后可以购买个人用户类大数据产品</p>
                        </div>
                        <div class="personC">
                            <div class="personC_title">适用于个人用户</div>
                        </div>
                        <a href="/auth/user_auth_init">个人用户认证</a>
                    </div>
                </li>
                <li>
                    <div class="enterprise">
                        <div class="title">
                            <div class="headline">单位用户</div>
                            <p>认证后的单位用户，可以购买交易中心全部类型的大数据产品（包括限单位用户购买类大数据产品）</p>
                        </div>
                        <div class="personE">
                            <div class="personC_title">适用于企业用户</div>
                        </div>
                        <a href="/auth/company_auth_init">企业用户认证</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
