<%
var head = {
%>
<link rel="stylesheet" href="/static/css/auth/user_auth_init.css">
<link rel="stylesheet" href="/static/css/auth/company_auth_init.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0  backgorund-gray">
    <div class="grid-row padding-bottom-30 padding-top-10">
        <div class="auth-box">
            <div class="auth-title clearfix">
                <h3 class="grid-left">企业认证</h3>
                <!--<p class="grid-right"><a class="blue" href="javascript:void(0)">去用户中心</a></p>-->
            </div>
            <div class="auth-content">
                <!--认证协议开始-->
                <div class="auth-agreement">
                    <div class="steps">
                        <div class="img-show step1"></div>
                        <ul class="txt clearfix">
                            <li class="grid-left blue">阅读购买协议</li>
                            <li class="grid-left">提交认证信息</li>
                            <li class="grid-left">等待审核</li>
                            <li class="grid-left last">完成</li>
                        </ul>
                    </div>
                    <div class="agreement-tips">
                        请认真阅读如下协议，并拉至底部勾选‘阅读并同意’！
                    </div>
                    <div class="agreement-text">
                        <h2 class="agreement-title">青岛交易中心用户协议</h2>
                        <p>
                            本协议是用户与九连环大数据平台（包括但不限于www.galaxybigdata.com等，简称“本平台”）的所有者，即北京九连环信息服务有限公司及其关联公司（以下简称为“九连环”）之间就本平台服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击“同意并继续”按钮后，即视为您接受并同意遵守本协议的约定。</p>
                        <h3> 第1条 本平台服务条款的确认及接纳</h3>
                        <p>
                            1.1本平台各项服务的所有权和运作权归九连环拥有。<br>
                            1.2本协议条款是处理用户与本平台双方权利义务的依据，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定或约定。<br>
                            1.3用户点击同意本协议的，即视为用户确认自己具有享受本平台服务、下单支付等相应的权利能力和行为能力，能够独立承担法律责任。若未满18周岁，则视为用户确认是在其父母或其他监护人的监护参与下使用本平台。<br>
                            1.4九连环保留在中华人民共和国大陆地区施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
                        </p>
                        <h3>第2条 本平台服务</h3>
                        <p>
                            2.1 用户必须自行准备如下设备和承担如下开支：<br>
                            2.1.1上网设备，包括但不限于个人电脑、调制解调器及其他必备的上网装置；<br>
                            2.1.2上网开支，包括但不限于网络接入费、上网设备租用费、手机流量费等。<br>
                            2.2 用户在确认并同意本协议，并遵守相应法律法规的情况，有权享受本平台所提供的各项服务。
                        </p>
                        <h3>第3条 用户权利和义务</h3>
                        <p>
                            3.1合法性和真实性
                            <br>3.1.1
                            用户在确认并同意本协议之后，按照平台规定清晰完整地填写用户资料；用户本着诚信原则保证所提交的注册信息（包括但不限于姓名、身份证、联系电话、电子邮箱等）的合法性和真实性。
                            <br>3.1.2 用户需自行承担由于资料的不合法、不真实、不详尽等问题引起的相应责任及后果，并且本平台保留单方终止用户使用本平台各项服务的权利。
                            <br>3.2 隐私保护
                            <br>3.2.1用户在本平台注册成功后获得的账户、密码及其他相关账户信息不得提供给他人使用，否则用户将自行承担由此产生的全部责任，并与实际使用人承担连带责任。
                            <br>3.2.2用户购买本平台所提供的产品或服务时提交的交易请求，视为用户向本平台披露个人信息，接受本平台所提供的商品销售、售后服务、客户服务、处理信用卡付款、数据分析、市场营销或其他必要事宜；如前述全部或部分事宜之一涉及由九连环外的第三方履行的，九连环有权将您的信息以必要方式向第三方披露，第三方有权以履行上述事宜为目的联系您。
                            <br>3.2.3用户在本平台进行注册、浏览、下单结算、评价、参加促销活动等行为时，涉及用户真实姓名、通信地址、联系电话、电子邮箱、订单详情、评价或反馈、投诉内容、cookies等信息的，本平台有权从完成交易、售后及客户服务、开展活动、完成良好的客户体验等多种角度予以收集，并将对其中涉及个人隐私信息予以严格保密，除非得到用户的授权、为履行强行性法律义务（如国家安全机关指令）或法律另有规定、本注册协议或其他条款另有约定外，本平台不会向外界披露您的隐私信息。
                            <br>3.3用户同意使用本平台的产品或服务用于其功能所指向的合法的目的和用途，并不进行任何竞争性、破坏性或非法的使用。用户承诺使用本平台的产品或服务进行的活动所引发的一切法律后果，由用户承担全部责任。如因用户使用本平台产品或服务的行为，导致本平台或任何第三方为此承担了相关的责任，则用户需全额赔偿服务商或任何第三方的相关支出及损失，包括合理的律师费用。
                        </p>
                        <h3>第4条 平台交易须知</h3>
                        <p>
                            4.1用户理解并同意九连环仅提供大数据平台，对于服务产品和交易对象的选择和交易的内容，应由用户自行判断，且审慎交易。用户需自行了解产品或服务的适用性、功能、收费标准、退款规则、服务有效期等情况并注意交易风险。
                            <br>4.2本平台所展示产品或服务的价格、数量、使用期限等信息随时都有可能发生变动，本平台不作特别通知。由于平台上产品或服务信息的数量极其庞大，本平台将尽量保证用户所浏览产品或服务信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本平台网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解。
                            <br>4.3用户在本平台购买产品或服务时，请务必仔细确认所购产品的品名、价格、数量、型号、规格、尺寸或服务的时间、内容、限制性要求等重要事项，并在下单时核实用户的联系方式、联系人等信息。如用户填写的联系人非用户本人，则该联系人的行为和意思表示产生的法律后果均由用户自行承担。
                            <br>4.4
                            用户的购买行为应当基于真实的消费需求，不得存在对产品或服务实施恶意购买、恶意维权等扰乱本平台正常交易秩序的行为。基于维护本平台交易秩序及交易安全的需要，九连环发现上述情形时可主动执行关闭相关交易订单等操作。
                        </p>
                        <h3>第5条 所有权及知识产品条款</h3>
                        <p>
                            5.1本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在本平台上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。
                            <br>5.2
                            用户接受本协议，即表明用户主动将其在任何时间段在本平台上发表的任何形式的信息内容（包括但不限于用户评价等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给九连环所有，您同意九连环有权就任何主体侵权而单独提起诉讼。
                            <br>5.3本平台所展示的资料信息（包括但不限于文字、图表、商标、logo、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件等），均是九连环或其内容提供商的财产，受中国和国际相关版权法规、公约等的保护，未经九连环书面许可，任何第三方无权将上述资料信息复制、出版、发行、公开展示、编码、翻译、传输或散布至任何其他计算机、服务器、网站或其他媒介。
                            <br>5.4 本平台上所有内容的汇编是九连环的排他财产，受中国和国际版权法的保护。本平台上所有软件都是九连环或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。
                            <br>5.5 用户不得鼓励、协助或授权任何其他人复制、修改、反向工程、反向编译或反汇编、拆解或者试图篡改全部或部分软件，或利用软件创设衍生产品。
                        </p>
                        <h3>第6条 违约责任及处理</h3>
                        <p>
                            6.1 违约责任认定
                            <br>有以下情况之一的，视为用户违约：
                            <br>6.1.1 用户在使用本平台时违反相关法律法规的规定；
                            <br>6.1.2 用户利用本平台从事欺诈、发布或出售侵权产品或服务、侵犯他人合法权益或其他违法违约行为；
                            <br>6.1.3 其他违反本协议第3条的违约行为。
                            <br>6.2 违约责任的处理
                            <br>6.2.1 用户发布的产品或服务的信息构成违约的，本平台有权对用户发的产品或服务进行限制、监管或下架处理；
                            <br>6.2.2
                            用户在使用或通过本平台对他人或本平台造成直接或间接的经济损失的，或用户存在危及他人或本平台安全风险的，本平台有权限制或封闭用户账号，对于造成的经济损失本平台将依照相应的法律法规追究赔偿。
                        </p>
                        <h3>第7条 协议的变更及终止</h3>
                        <p>
                            7.1 协议变更
                            <br>本平台可根据国家法律法规的变化及本平台运营的需要，有权对本协议进行不定期修改或补充，修改或补充后的协议（下称“最新协议”）一旦替代原有协议即视为生效，用户可以随时查阅。用户有义务了解或关注最新协议的内容，若用户不同意最新协议须立即停止使用本平台服务，同时可以联系本平台反馈，反馈内容经本平台审核采纳后会酌情修改；若用户在最新协议发布之后继续使用本平台服务，则视为用户已经同意最新协议。
                            <br>7.2 协议终止
                            <br>出现以下情况时，即视为本协议终止：
                            <br>7.2.1 用户主动注销账户或在最新协议生效后停止本平台服务的；
                            <br>7.2.2 用户违反本协议第8条规定，本平台有权终止本协议并依法追究责任；
                            <br>7.2.3 其他应当终止本协议的情况。
                        </p>
                        <h3>第8条 不可抗力</h3>
                        <p>
                            如果由于黑客攻击或政府管制或网络通讯瘫痪等对其发生和后果不能预见的事件，用户和本平台均确认此属不可抗力；在不可抗力下，本平台会合理地尽力处理善后事宜，同时用户同意本平台无须对合同的延期履行、不能履行承担任何责任。
                        </p>
                        <h3>第9条 法律适用及管辖</h3>
                        <p>
                            9.1法律适用
                            <br>本协议的订立、执行和解释及争议的解决均适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其他条款继续有效。
                            <br>9.2 管辖
                            <br>如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向九连环所在地法院提起诉讼。
                        </p>
                        <h3>第10条 其他</h3>
                        <p>
                            本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。<br>
                            请您在发现任何违反本协议以及其他任何单项服务的服务条款九连环各类公告之情形时，通知九连环。您可以通过如下联络方式同九连环联系：<br>
                            青岛市黄岛区滨海大道1888号<br>
                            电话：0532-86617555<br>
                            邮箱：admin@qddata.com.cn

                        </p>
                    </div>
                    <div class="agreement-btn">
                        <input type="checkbox" id="check">
                        我已阅读并同意《青岛交易中心用户协议》
                        <a href="/auth/company_auth_init_step2" class="gray-btn2" id="next">下一步</a>
                    </div>
                </div>
                <!--认证协议结束-->
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/auth/company_auth_init.js"></script>
