<%
var head = {
%>
<link rel="stylesheet" href="/static/css/plugins/jedate/jedate.css">
<link rel="stylesheet" href="/static/css/auth/user_auth_init.css">
<link rel="stylesheet" href="/static/css/auth/company_auth_init.css">
<script src="/static/js/plugins/widget/jquery.ui.widget.js"></script>
<script src="/static/js/plugins/fileupload/jquery.fileupload.js"></script>
<script src="/static/js/plugins/jedate/jquery.jedate.min.js"></script>
<script src="/static/js/plugins/validate/jquery-validate.js"></script>
<script src="/static/js/plugins/validate/messages_zh.js"></script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0  backgorund-gray">
	<div class="grid-row padding-bottom-30 padding-top-10">
		<div class="auth-box">
			<div class="auth-title clearfix">
				<h3 class="grid-left">单位认证</h3>
			</div>
			<div class="auth-content">
				<!--认证信息开始-->
				<div class="auth-info">
					<div class="steps">
						<ul class="txt clearfix">
							<li data-tip="√" class="blue active">阅读交易规则</li>
							<li data-tip="..." class="blue curActive">提交认证信息</li>
							<li>完成</li>
						</ul>
					</div>
					<div id="authForm">
						<form id="companyForm" name="companyForm">
							<div class="auth-info">
								<h3>单位认证信息</h3>
								<ul class="typeBox">
									<li>
										<label><span>企业名称：</span><span class="gs">*</span></label>
										<div class="inputBoxs">
											<input name="governmentName" placeholder="请输入企业名称" type="text"/>
											<p class="p_title p-info">需与营业执照或组织机构代码证上的名称完全一致。信息审核后，若想更名，只能重新审核</p>
										</div>
									</li>
									<li>
										<label><span>社会信用代码：</span><span class="gs">*</span></label>
										<div class="inputBoxs">
											<input name="creditCode" placeholder="请输入社会信用代码" type="text"/>
											<p class="p_title p-info">统一社会信用代码是一组长度为18位的用于法人和其他组织身份识别的代码。统一社会信用代码由国家标准委发布</p>

										</div>
									</li>
									<li>
										<label></label>
										<div class="inputBoxs">
											<label><input type="checkbox" name ="fruit" class="margin-right-5 supplier vertical-align-middle" value="1">同时申请成为供应商</label>
											<p class="supplier-info">
												申请成为供应商，请点击下载 <a href="http://static.pybdex.com/supplier/河南平原大数据交易产品合作协议.docx" target="_blank" class="a-color-blue">《河南平原大数据交易产品合作协议》</a>&lt;!&ndash;（签署版）&ndash;&gt;，在提交申请后，按协议模版填写好内容打印、盖章后快递至河南平原大数据交易中心平台。
											</p>
										</div>
									</li>
									<li>
										<label><span></span><span class="gs">*</span></label>
										<div class="inputBoxs tips_box" style="font-size:14px;">
											提示：
											<br>
											1.请点击下面的“点击下载”，下载协议模板；
											<br>
											2.提交认证申请后，请将下载的用户协议打印2份，请贵单位签字、盖章；快递至河南平原大数据交易中心，交易所在收前述纸质文件后，将尽快审核。
											<br><br>
											<span style="width:75px;display: inline-block;text-align: right;">收件地址：</span>${address}
											<br>
											<span style="width:75px;display: inline-block;text-align: right;">邮编：</span>${email}
											<br>
											<!--<span style="width:75px;display: inline-block;text-align: right;">收件人：</span>${name}
											<br>
											<span style="width:75px;display: inline-block;text-align: right;">手机号：</span>${mobile}
											<br>-->
											<span style="width:75px;display: inline-block;text-align: right;">电话：</span>${phone}
											<br>
										</div>
									</li>

								</ul>

								<div class="button">
									<button id="verifyBtn"  type="button" class="btn-full-blue">立即认证</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!--认证信息结束-->
			</div>
		</div>
	</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/auth/company_auth_step2.js"></script>
