<%
var head = {
%>
<link rel="stylesheet" href="/static/css/auth/user_auth_init.css">
<link rel="stylesheet" href="/static/css/auth/company_auth_init.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0  backgorund-gray">
    <div class="grid-row padding-bottom-30 padding-top-10">
        <div class="auth-box">
            <div class="auth-title clearfix">
                <h3 class="grid-left">单位认证</h3>
                <!--<p class="grid-right"><a class="blue" href="javascript:void(0)">去用户中心</a></p>-->
            </div>
            <div class="auth-content">
                <!--认证协议开始-->
                <div class="auth-agreement">
                    <div class="steps">
                        <div class="img-show step1"></div>
                        <ul class="txt clearfix">
                            <li class="grid-left blue">阅读交易规则</li>
                            <li class="grid-left">提交认证信息</li>
                            <li class="grid-left">等待审核</li>
                            <li class="grid-left last">完成</li>
                        </ul>
                    </div>
                    <div class="agreement-tips">
                        请认真阅读如下协议，并拉至底部勾选‘阅读并同意’！
                    </div>
                    <div class="agreement-text">
                        <h2 class="agreement-title">数据星河BDGStore交易规则</h2>
                        <h3>第一章 总则</h3>
                        <p>第一条 为规范大数据资源的交易行为，建立良好的交易秩序，维护交易各方合法权益，根据《中华人民共和国网络安全法》、《国务院办公厅关于清理整顿各类交易场所的实施意见》国办发〔2012〕37号）、《山东省人民政府办公厅关于贯彻国办发〔2012〕37号文件进一步做好清理整顿各类交易场所工作的意见》（鲁政办发〔2012〕56号）、《大宗商品电子交易规范》（GB/T18769—2003）、《商品现货市场交易特别规定（试行）》（商务部令2013年第3号）等法律、行政法规、部门规章、规范性文件，制定数据星河BDGStore规则，简称“本规则”。</p>
                        <p>第二条 本规则由数据星河BDGStore制定，适用于数据星河BDGStore（以下简称“BDGStore”）及BDGStore发生的交易行为。</p>
                        <p>第三条 在数据星河BDGStore全部制度文件中，本交易规则为主体，《用户注册协议》、《BDGStore产品代理协议》以及由BDGStore制定的其他规范性文件作补充，相互引用。本交易规则未规定或规定不详事宜而本条前述规范性文件有规定或约定的，从其规定或约定。</p>
                        <p>第四条 数据交易应遵循公开、公正、公平的原则，遵循诚实信用原则和意思自治原则。</p>
                        <p>第五条 数据交易各参与方的行为应当遵守法律、行政法规、部门规章及其他规范性文件。</p>
                        <h3>第二章 BDGStore</h3>
                        <p>第六条 BDGStore接受政府监管和社会监督，BDGStore应为数据交易提供稳定可靠的运行中心，保障数据的安全，并维护交易市场健康、稳定发展。BDGStore有义务配合执法部门依法对涉嫌违法数据内容开展调查。</p>
                        <p>第七条 BDGStore对数据交易行为具有监督和审核的权利，有权按相关法律法规和本规则及时停止违规交易行为。</p>
                        <p>第八条 BDGStore未经授权委托或司法、行政部门要求，不得将托管数据出售或非法提供给他人。</p>
                        <p>第九条 BDGStore应当采取技术措施和其他必要措施，妥善保管托管数据，防止第三人未经授权进行截取、搜集、检索、接入，避免发生托管数据泄露、毁损、丢失、篡改等安全事件。</p>
                        <p>第十条 在发生或者可能发生托管数据泄露、毁损、丢失等隐患时，BDGStore应当立即采取补救措施。</p>
                        <p>第十一条 如因不可抗力、意外事件、非法入侵、法律修订、政策变动或司法、行政部门依法要求等造成BDGStore无法提供服务，BDGStore不承担责任。</p>
                        <p>第十二条 BDGStore应当不断改进各方面条件和服务，方便各方交易。</p>
                        <h3>第三章 交易主体</h3>
                        <p>第十三条 参与交易的主体包括数据提供方、数据购买方；数据提供方指直接向本BDGStore提供大数据产品供应服务的单位，可以是大数据产品的所有权人、数据代理商以及获得大数据产品所有权人授权而可以转让其大数据产品部分或全部权益的其他主体。</p>
                        <p>第十四条 交易主体应遵守相关法律法规和本规则以及单独签订的其他协议。</p>
                        <p>第十五条 本BDGStore的数据提供方只能是单位，包括但不限于法人及其他拥有相应的民事权利能力和民事行为能力的组织（以下统称“单位”）；本BDGStore的数据购买方只能是单位，个人用户不能从本BDGStore购买大数据商品。</p>
                        <p>第十六条 本BDGStore对数据提供方、数据购买方及数据代理商采用用户制管理。</p>
                        <p>第十七条 申请成为BDGStore买方用户须具备以下条件：</p>
                        <p>（1）提交申请、认证并经BDGStore审核通过；</p>
                        <p>（2）遵守中华人民共和国法律法规，具有良好的资信、商誉，无违法违规违约记录；</p>
                        <p>（3）承认并遵守BDGStore的交易规则及BDGStore另行颁布的其他规章制度；</p>
                        <p>（4）BDGStore要求具备的其他条件。</p>
                        <p>第十八条 数据购买方（以下在描述交易时，统称“买方”）应是经BDGStore审核通过，并自愿遵守本规则的单位用户。成为用户，须按照BDGStore线上平台相关流程进行注册、认证申请，经BDGStore审核通过后，正式成为BDGStore买方用户。</p>
                        <p>第十九条 只有通过认证的用户，才能参与本BDGStore的数据商品购买交易。</p>
                        <p>第二十条 用户享有下列权利：</p>
                        <p>（1）从事交易及与交易相关的活动；</p>
                        <p>（2）参加BDGStore举办的相关培训；</p>
                        <p>（3）使用BDGStore的有关设施，享用BDGStore提供的相关数据信息和有关服务；</p>
                        <p>（4）按本BDGStore规定可享有的其他权利。</p>
                        <p>第二十一条 用户应履行下列义务：</p>
                        <p>（1）遵守国家法律法规规章政策及BDGStore的规章制度，接受监督管理，配合BDGStore的工作；</p>
                        <p>（2）保护好自己的交易账号和交易密码，并对其交易账号使用所产生的结果负责；</p>
                        <p>（3）主动、及时地了解BDGStore发布的信息、公告和各项制度，并承担未尽合理关注的义务给自身造成的损失；</p>
                        <p>（4）对与BDGStore之间发生的行为承担法律责任；</p>
                        <p>（5）爱护BDGStore网络、设施，维护BDGStore声誉；</p>
                        <p>（6）因重大情况发生时应及时报告BDGStore；</p>
                        <p>（7）保证提供材料的真实性，并承担相应的法律责任；</p>
                        <p>（8）BDGStore规定应履行的其他义务。</p>
                        <p>第二十二条 若用户账户或交易业务由他人代理或代为操作，由此产生的法律责任由该账户的所有权人用户自行解决和承担。</p>
                        <p>第二十三条 买方不得用所购买的数据或服务从事违反法律法规、社会公德和商业道德的活动。数据提供方如设定了关于所出售数据的附加条款，交易达成后购买方应自觉遵守。</p>
                        <p>第二十四条 数据提供方或数据代理商（以下在描述交易时，统称“卖方”或“供应商”）须在完成前述用户申请认证后，还需要按照BDGStore关于供应商入驻规定提供相关资料、签订入驻协议、缴纳质保金、接受BDGStore培训才能成为BDGStore正式供应商，才能在BDGStore平台发布商品或服务，进行销售交易。</p>
                        <p>第二十五条 数据提供方可选择一种BDGStore支持的交易方式对数据自行定价出售，并按相关交易方式的规定设定数据售卖期限及使用和转让等相关细节。</p>
                        <p>第二十六条 数据代理商是受数据所有者委托，为其提供数据开发、数据开放服务，并代替数据所有者，在BDGStore出售委托数据的单位用户。数据代理商在提交数据时应提供上溯至数据所有者给予的授权文件，并遵循数据提供方条款和相关法律法规。</p>
                        <p>第二十七条 关于数据提供方的更多权利义务规定，由数据星河BDGStore在《BDGStore产品代理协议》中约定。</p>
                        <h3>第四章 交易对象</h3>
                        <p>第二十八条 本规则所称的交易对象，是指原始或经处理后的数字化信息及其附属的相关服务，包括但不限于企事业单位、社会团体等各类主体所持有或拥有的各类数据及其附属的相关服务，以下简称“交易对象”或“标的物”。</p>
                        <p>第二十九条 交易数据应是通过合法渠道获取，权利清晰无争议，并具备准确性、真实性，与数据描述一致。</p>
                        <p>第三十条 禁止交易的数据：</p>
                        <p>（1）涉及国家秘密和个人信息等受法律保护的数据。</p>
                        <p>（2）涉及他人知识产权或商业秘密等权利的数据，除非取得权利人明确许可，否则禁止在BDGStore交易。</p>
                        <p>（3）涉及以下内容的数据，禁止在BDGStore交易：</p>
                        ①反对宪法所确定的基本原则的；</p>
                        ②其内容含有违反法律法规规定的数据；</p>
                        ③损害国家荣誉、煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                        ④破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                        ⑤其他法律法规明确禁止交易的数据。</p>
                        <h3>第五章 交易</h3>
                        <p>第三十一条 本规则所称交易，是以货币换取数据资源（数据、产品、服务等）的行为，统称“数据源”。</p>
                        <p>第三十二条 标准类数据源商品（包括但不限于标准化的可以在购买后直接下载或者调用接口使用的数据源商品）在交易过程中，购买方用户直接通过BDGStore平台下单、支付、购买、下载或调用使用。</p>
                        <p>第三十三条 非标准化数据源商品（如定制数据、方案等），购买方原则上需要就该次交易与BDGStore或销售方或服务提供方签订线下协议；针对标的小的交易，可以不签该线下协议，具体细则由BDGStore另行制定。</p>
                        <p>第三十四条 在线数据/服务交易是指以数据调用接口的形式，由卖方向买方提供数据的交易形式或以SaaS方式提供的线上服务的工具、平台和组件等。</p>
                        <p>第三十五条 卖方有权自主确定交易价格，价格基本单位为数据调用次数或服务期限。</p>
                        <p>第三十六条 卖方应在数据商品或服务发布到BDGStore平台时清晰描述待交易的数据调用接口和使用方法，方便买方了解、购买使用。</p>
                        <p>第三十七条 数据/服务审核：BDGStore负责对数据/服务可交易化的审核，对满足要求的数据/服务进行上线操作。对不满足要求的数据/服务上线申请，BDGStore有权要求卖方修正或暂停该数据/服务上线。</p>
                        <p>第三十八条 离线数据/产品交易是指卖方将数据拷贝到BDGStore，由BDGStore转移给买方的数据交易形式，以及采用下载方式离线安装的平台、工具和组件等产品；其他由卖方通过线下完成交易标的服务的交易形式。</p>
                        <p>第三十九条 交易达成后，卖方将买方购买的服务的部分或全部交由第三方完成的，卖方应当就该第三方完成的工作成果向买方负责。</p>
                        <p>第四十条 卖方发现买方提供的服务要求不合理的，应当及时通知买方。因买方怠于答复等原因造成卖方损失的，买方应当赔偿损失。买方中途变更定制服务的要求，造成卖方损失的，应当赔偿损失。</p>
                        <p>第四十一条 卖方为了完成买方所购买的服务而需要买方协助的，买方有协助的义务。买方不履行协助义务致使该交易服务不能完成的，卖方可以催告买方在合理期限内履行义务，并可以顺延履行期限；买方逾期不履行的，卖方可以解除合同。</p>
                        <p>第四十二条 卖方在工作期间，应当接受买方必要的监督检验。买方不得因监督检验妨碍卖方的正常工作。</p>
                        <p>第四十三条 交付完成的约定：</p>
                        <p>（1）标准化数据源下载类商品，以买方成功下载并使用视为交付完成。</p>
                        <p>（2）API接口调用类商品，以买方成功调用API接口视为交付完成。</p>
                        <p>（3）其他服务类商品，以买方获得完整服务方案或方案获得正常使用视为交付完成。</p>
                        <p>第四十四条 在上述商品或服务交付过程中，若买方在所购买数据源商品或服务规定的交付、下载、调用、使用期限内未完成相关下载、调用或使用而导致所购买数据源商品或服务过期而无法使用的，视为放弃，由买方自行承担责任。</p>
                        <p>第四十五条 卖方交付的工作成果不符合质量要求的，买方可以要求卖方承担修正、重作、减少报酬、赔偿损失等违约责任；卖方不予及时解决的，买方可以向BDGStore投诉，BDGStore将协助买方解决。</p>
                        <p>第四十六条 数据/服务下架：卖方在BDGStore平台展示待销售的商品或服务需要下架即停止在本BDGStore销售的，卖方应当提前10个工作日以书面或其他有效方式向BDGStore申请，BDGStore清理完该商品或服务未完全交付及客诉相关事宜并同意下架后，卖方方可在BDGStore平台下架该商品或服务。</p>
                        <p>第四十七条 数据/服务停止服务：如卖方确有提前关闭数据调用和服务（即停止该数据或服务在所有渠道的使用）的需要，应向BDGStore及时发送正式书面申请，并做好前期买方的相关后续服务工作，方可停止该数据或服务的服务。</p>
                        <p>第四十八条 若卖方因为数据/服务下架或停止服务而影响已购买该数据/服务的买方的权益而引起投诉或争议的，卖方应当及时解决，BDGStore有权使用卖方未结算的费用或质保金先行赔付买方，再与卖方结算。</p>
                        <h3>第六章 交易监督</h3>
                        <p>第四十九条 本中心对交易中的下列事项，予以重点监控：</p>
                        <p>（1）涉嫌违法违规行为；</p>
                        <p>（2）交易数据受到法律、行政法规、部门规章和规范性文件及本中心业务规则等相关规定限制的行为；</p>
                        <p>（3）交易数据价格或者交易数据量明显异常的情形；</p>
                        <p>（4）本BDGStore认为需要重点监控的其他事项。</p>
                        <h3>第七章 风险控制</h3>
                        <p>第五十条 BDGStore有权根据某一交易数据品种或某一交易账号的异常交易情况，限制相关交易数据品种或交易账号的交易权限。</p>
                        <p>第五十一条 BDGStore有权出于安全因素，根据实际情况，对已发起或已确认的要约的买卖双方采取非常措施，来解除相关电子合同，以确保电子BDGStore的平稳运行和顺利发展。</p>
                        <p>第五十二条 在BDGStore内，交易用户对其名下所有账号成交的电子数据买卖，都负有履行相应义务和承担风险的责任。</p>
                        <p>第五十三条 交易用户在BDGStore拥有多个交易账号时，BDGStore有权对其合并计算以控制交易风险。</p>
                        <h3>第八章 争议处理</h3>
                        <p>第五十四条 BDGStore交易双方发生争议时，可选择自行协商解决、由BDGStore受理解决或向人民法院起诉。</p>
                        <p>第五十五条 如买卖双方选择BDGStore解决，即表示同意本BDGStore有权处理争议，但本BDGStore非司法机关，对争议的鉴别能力即对处理纠纷的能力有限，因此本BDGStore不保证争议处理结果符合各方期望，亦不对争议处理结果承担任何责任。</p>
                        <p>第五十六条 如BDGStore收到关于交易参与方侵犯第三方所有权、隐私权等的司法或行政处理的程序性或处理结果的通知，BDGStore将遵照通知执行，并将暂停前述情况所涉及的相关数据交易服务，并冻结该交易的款项，同时协助相关部门处理前述事宜。</p>
                        <p>第五十七条 数据质量争议：数据提供方应保证数据的准确性、真实性，与数据描述一致，如收到买方关于数据不符合上述描述的投诉，本BDGStore查证属实后，将停止数据交易服务，卖方应退还数据买方货款，期间产生的其他损失由卖方承担。</p>
                        <p>第五十八条 BDGStore所交易数据/服务由卖方定价，对已成交的购买合约，不受数据/服务价格调整的影响。对于卖方约定了数据调用有效期的，卖方可决定在有效期截止时是否继续提供数据调用服务，而不受已完成调用情况的限制。</p>
                        <p>第五十九条 数据交付中断风险：数据提供方应保证数据提供的及时性和稳定性，特别是实时性数据，如因数据提供方原因所导致的数据调用无效或服务中断，数据提供方有义务及时解决，如对数据买方造成重大损失的，经BDGStore核实确认，数据提供方应承担全部责任，BDGStore有义务协调双方妥善处理纠纷。</p>
                        <p>第六十条 举证责任：BDGStore可要求交易双方提供包括但不限于下述证据，且本BDGStore有权单方判断证据的效力：</p>
                        <p>（1）数据购买方对已交易的数据提出异议的，数据提供方对所出售的数据描述负有证明责任，对数据的说明应根据本BDGStore的要求提供数据的采集证明等证明文件。</p>
                        <p>（2）数据购买方明确数据质量有问题，且数据提供方已按照本BDGStore要求出具本条第（1）款约定证明文件的，买方应当根据BDGStore要求出具有资质的独立第三方测试机构的证明。</p>
                        <p>第六十一条 因交易双方约定不清而产生交易纠纷的，撤销该交易，因此导致的损失由交易双方共同承担，具体承担比例由本BDGStore根据具体情况判定或由争议双方自行协商。</p>
                        <p>第六十二条 本BDGStore根据自行判断的结果处理相关争议后，交易任一方不同意本BDGStore处理结果的，可向BDGStore所在地有管辖权的人民法院提起诉讼，凭生效的判决书可向交易责任方索赔或者从BDGStore获得相应的补偿；本BDGStore进行补偿后，取得相应的代位求偿权。</p>
                        <h3>第九章 附则</h3>
                        <p>第六十三条 通过BDGStore进行数据（产品/服务）提交、发布、交易等，参照本规则的相关规定执行；法律法规另有规定的，从其规定。</p>
                        <p>第六十四条 在法律允许的范围内，本规则由数据星河BDGStore负责解释。</p>
                        <p>第六十五条 本规则自 2017年 6月 9日起施行。</p>
                    </div>
                    <div class="agreement-btn">
                        <label for="check">
                            <input type="checkbox" id="check">
                             我已阅读并同意《青岛大数据交易中心交易规则》
                        </label>
                        <a href="/auth/company_auth_init_step2" class="gray-btn2" id="next">下一步</a>
                    </div>
                </div>
                <!--认证协议结束-->
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/auth/company_auth_init.js"></script>
