<%
var head = {
%>
<link rel="stylesheet" href="/static/css/auth/user_auth_init.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0  backgorund-gray">
    <div class="grid-row padding-bottom-30 padding-top-10">
        <div class="auth-box">
            <div class="auth-title clearfix">
                <h3 class="grid-left">个人认证</h3>
                <p class="grid-right"><a class="blue" href="javascript:void(0)">去用户中心</a></p>
            </div>
            <div class="auth-content">
                <!--认证信息开始-->
                <div class="auth-info" >
                    <div class="steps">
                        <div class="img-show step2"></div>
                        <ul class="txt clearfix">
                            <li class="grid-left blue">阅读购买协议</li>
                            <li class="grid-left blue">提交认证信息</li>
                            <li class="grid-left">等待审核</li>
                            <li class="grid-left last">完成</li>
                        </ul>
                    </div>
                    <form action="" id="authForm" enctype="multipart/form-data">
                        <div class="auth-info">
                            <h3>个人认证信息</h3>
                            <ul class="clearfix">
                                <li>
                                    <label for="userName" class="tit">姓名：</label>
                                    <input type="text" id="userName" class="txt" placeholder="建议填写本人真实姓名，便于我们提供技术支持">
                                </li>
                                <li>
                                    <label for="userCode" class="tit">身份证号：</label>
                                    <input type="text" id="userCode" class="txt" placeholder="请正确填写本人身份证号码">
                                </li>
                                <li class="submit-file">
                                    <form id="zform" enctype="multipart/form-data">
                                        <label for="submit1">
                                            <input type="file" id="submit1"  name="photo"/>
                                            <img src="/static/images/auth/z.png" alt="" id="zm"/>
                                        </label>
                                    </form>
                                </li>
                                <li class="submit-file">
                                    <form id="fform" enctype="multipart/form-data">
                                        <label for="submit2">
                                            <input type="file" id="submit2" multiple="multiple" name="photo"/>
                                            <img src="/static/images/auth/f.png" alt="" id="fm"/>
                                        </label>
                                    </form>
                                </li>
                                <li class="auth-submit">
                                    <label for="clickCheck">
                                        <input type="checkbox" id="clickCheck" checked/>我已阅读并同意《
                                        <a href="./user_auth_init" class="agreement-book">九连环用户注册协议</a>》
                                    </label>
                                    <div class="button">立即认证</div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <!--认证信息结束-->
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
