<%
var head = {
%>
<link rel="stylesheet" href="/static/css/plugins/jedate/jedate.css">
<script src="/static/js/plugins/jedate/jquery.jedate.min.js"></script>
<script src="/static/js/plugins/widget/jquery.ui.widget.js"></script>
<script src="/static/js/plugins/fileupload/jquery.fileupload.js"></script>

<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<link rel="stylesheet" href="/static/css/usercenter/auth/pspAuthentication.css">

<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box  margin-bottom-20">
            <div class="header clearfix">
                <h4 class="grid-left center-title">发布需求</h4>
            </div>
            <div class="pspAuthentication">
                <div class="info">
                    <div class="info-header">
                        <label for="">认证状态：</label>
                        <span>未认证</span>
                        <a href="javascript:void (0)"><i class="fa fa-pencil-square-o font-size-20" aria-hidden="true"></i></a>
                    </div>
                    <div class="info-show">
                        <div class="item">
                            <label>擅长领域：</label>
                            <div class="display-inline-block tag-box">
                                <span>数据采集</span>
                                <span>数据加工</span>
                                <span>数据模型</span>
                                <span>数据应用</span>
                                <span>其他</span>
                            </div>
                        </div>
                        <div class="item">
                            <label>个人介绍：</label>
                            <div>
                               极道少女防雷接地发货了抠脚大汉发空间大黄蜂拉克丝交电话费拉手动阀离开事件电话费拉客户法拉克水电费
                            </div>
                        </textarea>
                        </div>
                    </div>
                    <div class="info-edit">
                        <div class="item">
                            <label for="">擅长领域：</label>
                            <div class="display-inline-blocks tag-box">
                                <span>数据采集</span>
                                <span>数据加工</span>
                                <span>数据模型</span>
                                <span>数据应用</span>
                            </div>
                        </div>
                        <div class="item">
                            <label for="">个人介绍：</label>
                            <textarea name="" id="" cols="30" rows="10" placeholder="请详细介绍个人情况，突出个人专长，字数在500字以内。"></textarea>
                        </div>
                    </div>
                </div>
                <table class="education">
                    <caption style="text-align:left"><i class="fa fa-graduation-cap" aria-hidden="true"></i>教育经历 必填</caption>
                    <tbody>

                    </tbody>
                    <tfoot>
                      <tr>
                          <td colspan="7">
                              <div id="educationAdd">
                                  + 添加工作经历
                              </div>
                          </td>
                      </tr>
                    </tfoot>
                </table>
                <table class="work">
                    <caption style="text-align:left"><i class="fa fa-graduation-cap" aria-hidden="true"></i>教育经历 必填</caption>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <div id="workAdd">
                                + 添加工作经历
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <table class="project">
                    <caption style="text-align:left"><i class="fa fa-graduation-cap" aria-hidden="true"></i>教育经历 必填</caption>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <div id="projectAdd">
                                + 添加工作经历
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/usercenter/auth/pspAuthentication.js"></script>

