<link rel="stylesheet" href="/static/css/invoice/invoice.css">
<div class="translate-bg">
	<div class="translate-box invoiceInfo">
		<h4>发票信息<span class="fa fa-close translate-close-btn"></span></h4>
		<table>
			<tr>
				<td>申请开票金额：</td>
				<td>￥<span class="J_invoicePriceBox"></span></td>
			</tr>
			<tr>
				<td>当前发票：</td>
				<td class="info-t">
					<div class="hover"><span>普通发票</span><span>明细</span><span class="invoceVal">个人</span></div>
					<div><span>增值税发票</span></div>
				</td>
			</tr>
			<tr>
				<td>发票类型：</td>
				<td class="tab-btn">
					<a class="tab-translate hover" href="javascript:void(0)">增值税普通发票</a><a class="tab-translate" id="J_expertBtn" href="javascript:void(0)">增值税专用发票</a>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="tab-box">
					<table class="hover">
						<tr>
							<td>发票介质：</td>
							<td>纸质</td>
						</tr>
						<tr>
							<td>发票抬头：</td>
							<td>
								<div class="title-boxes">
									<div class="input-invoice">
										<input type="text" readonly="readonly" value="个人"><a href="javascript:void(0)">编辑</a><a href="javascript:void(0)">删除</a>
									</div>
									<div class="input-invoice">
										<input type="text" readonly="readonly" value="九次方大数据信息集团有限公司"><a href="javascript:void(0)">编辑</a><a href="javascript:void(0)">删除</a>
									</div>
									<div class="input-invoice">
										<input type="text" readonly="readonly" value="贵阳交易所"><a href="javascript:void(0)">编辑</a><a href="javascript:void(0)">删除</a>
									</div>
								</div>
								<div class="add-title-box">
									<div class="items-title">
										<span class="items-title-t">发票抬头：</span><input class="items-title-i" name="titleName_1" type="text">
										<p style="font-size: 12px;padding: 0 20px;color: #f00;line-height: 20px;">
											发票抬头只能是中文，50个字以内，不能为空</p>
									</div>
									<div class="items-titleId">
										<span class="items-title-t">纳税人识别号：</span><input class="items-title-i" name="taxpayerIdentifyNo_1" type="text">
										<p style="font-size: 12px;padding: 0 20px;color: #f00;line-height: 20px;">
											纳税人识别号是15-20位以内数字或字母组合，字母为大写，不能为空</p>
									</div>
									<div class="items-titleBtn">
										<a href="javascript:void(0)" onclick="submitAddTitle()" class="btn btn-full-blue">保存</a>
										<a href="javascript:void(0)" onclick="cancelAddTitle()" class="btn btn-full-orange">取消</a>
									</div>
								</div>
								<div><a class="add-title" href="javascript:void(0)">+新增发票抬头</a></div>
							</td>
						</tr>
						<tr>
							<td>纳税人识别号：</td>
							<td>
								<div class="input-exclusive"><input type="text" class="p_input-exclusive" readonly="readonly"></div>
							</td>
						</tr>
						<tr>
							<td>发票内容：</td>
							<td>明细</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="form-btn z_invoice" style="margin-top: 20px;">
									<a href="javascript:void(0)" class="add-go-address add-go-address-common">选择收票地址</a>
								</div>
							</td>
						</tr>
					</table>
					<table class="Z_ssac">
						<tr>
							<td></td>
							<td>
								<div class="tip-exclusive">
									<p class="p1"><span class="fa fa-exclamation-circle"></span>我们会在一个工作日内完成审核工作。</p>
									<p>1）注意有效增值税发票开票资质仅为一个。</p>
									<p>2）发票常见问题查看增票资质帮助。</p>
									<p>3）本页面信息仅供增值税专用发票-资质审核使用，切勿进行支付相关业务，谨防上当受骗。</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>您的增票资质：</td>
							<td class="invoiceStatus">未添加</td>
						</tr>
						<tr class="Z_invoice_btn">
							<td></td>
							<td>
								<a href="javascript:void(0)" class="Z_set_btn J_edit_invoice" style="background: #237ee8;color: #fff;">修改</a>
								<a href="javascript:void(0)" class="Z_set_btn J_del_invoice" style="background: #e34f4f;color: #fff;">删除</a>
								<a href="javascript:void(0)" class="Z_set_btn J_reset_invoice" style="background: #237ee8;color: #fff;">重新增加增票资质</a>
							</td>
						</tr>
						<tr class="Z_invoice_item">
							<td><span class="must-tip">*</span>单位名称：</td>
							<td>
								<div class="input-exclusive">
									<input type="text" class="text-input" name="Z_titleName">
									<p class="must-tip">发票抬头只能是中文，50个字以内，不能为空</p>
								</div>
							</td>
						</tr>
						<tr class="Z_invoice_item">
							<td><span class="must-tip">*</span>纳税人识别号：</td>
							<td>
								<div class="input-exclusive">
									<input type="text" class="text-input" name="Z_taxpayerIdentifyNo">
									<p class="must-tip">纳税人识别号是15-20位以内数字或字母组合，字母自动识别为大写，不能为空</p>
								</div>
							</td>
						</tr>
						<tr class="Z_invoice_item">
							<td><span class="must-tip">*</span>注册地址：</td>
							<td>
								<div class="input-exclusive">
									<input type="text" class="text-input" name="Z_regAddress">
									<p class="must-tip">注册地址可为数字、汉字、英文，50个字以内</p>
								</div>
							</td>
						</tr>
						<tr class="Z_invoice_item">
							<td><span class="must-tip">*</span>注册电话：</td>
							<td>
								<div class="input-exclusive">
									<input type="text" class="text-input" name="Z_regTel">
									<p class="must-tip">注册电话为15位以内的数字</p>
								</div>
							</td>
						</tr>
						<tr class="Z_invoice_item">
							<td><span class="must-tip">*</span>开户银行：</td>
							<td>
								<div class="input-exclusive">
									<input type="text" class="text-input" name="Z_openBank">
									<p class="must-tip">开户银行必须包含中文，50字内</p>
								</div>
							</td>
						</tr>
						<tr class="Z_invoice_item">
							<td><span class="must-tip">*</span>银行账户：</td>
							<td>
								<div class="input-exclusive">
									<input type="text" class="text-input" name="Z_bankAccount">
									<p class="must-tip">银行账户50个数字以内，只能是数字</p>
								</div>
							</td>
						</tr>
						<tr class="Z_invoice_item Z_invoice_item_bot">
							<td></td>
							<td>
								<label><input type="checkbox" checked="checked" class="J-invoiceZZ">我已阅读并同意<a href="javascript:void(0)" style="color:#0041ed;">《增票资质确认书》</a></label>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="form-btn z_invoice" style="margin-top: 20px;">
									<a href="javascript:void(0)" class="submit-invoice">提交</a>
									<a href="javascript:void(0)" class="add-go-address add-go-address-special" style="display: none">选择收票地址</a>
									<a href="javascript:void(0)" class="cancel-edit" style="display: none">取消</a>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>

		</table>
	</div>
	<div class="translate-box invoiceAddress">
		<h4>收票地址<a href="javascript:void(0)" class="J_gotoInvoiceInfo" style="font-size: 12px;font-weight: normal;color: #0000ff;margin-left: 20px;">返回发票信息页</a><span class="fa fa-close translate-close-btn"></span></h4>
		<div class="addAddress" style="display: none">
			<a href="javascript:void(0)" class="addAddressBtn"><i class="fa fa-plus"></i>添加收票地址</a>
		</div>
		<div class="editAddress" style="display: none">
			<table>
				<tr class="Z_invoice_item">
					<td><span class="must-tip">*</span>姓名：</td>
					<td>
						<div class="input-exclusive">
							<input type="text" class="text-input" name="invoiceName">
							<p class="must-tip">15个字以内，支持中文、字母</p>
						</div>
					</td>
				</tr>
				<tr class="Z_invoice_item">
					<td><span class="must-tip">*</span>手机：</td>
					<td>
						<div class="input-exclusive">
							<input type="text" class="text-input" name="mobile">
							<p class="must-tip">请填写有效的手机号</p>
						</div>
					</td>
				</tr>
				<tr>
					<td><span class="must-tip">*</span>地区：</td>
					<td>
						<div class="input-exclusive">
							<select name="province" id="province" onchange="loadRegion('city', this)">
								<option value="-1">全部</option>
							</select>
							<select name="city" id="city" onchange="loadRegion('region', this)">
								<option value="-1">全部</option>
							</select>
							<select name="region" id="region">
								<option value="-1">全部</option>
							</select>
							<p class="must-tip">请选择地区</p>
						</div>
					</td>
				</tr>
				<tr>
					<td><span class="must-tip">*</span>地址：</td>
					<td>
						<div class="input-exclusive">
							<input type="text" class="text-input" name="address">
							<p class="must-tip">150字内字符，支持中文、数字、字母</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>固话：</td>
					<td>
						<div class="input-exclusive">
							<input type="text" class="text-input quhao" style="width: 50px;" name="fixedLine1">
							<input type="text" class="text-input dianhua" style="width: 328px;" name="fixedLine2">
							<p class="must-tip">最多四位数字</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>邮编：</td>
					<td>
						<div class="input-exclusive">
							<input type="number" class="text-input" name="postCode">
							<p class="must-tip">邮编填写不符合规则</p>
						</div>
					</td>
				</tr>
			</table>
			<div class="form-btn" style="margin: 20px 0;text-align: center">
				<a href="javascript:void(0)" style="background: #237ee8;color:#fff;display: inline-block;float: none;" class="submit-add">提交</a>
				<a href="javascript:void(0)" style="display: inline-block;float: none;" class="cancel-add">取消</a>
			</div>
		</div>
		<div class="addressInfo">


		</div>
	</div>
</div>
<script src="/static/js/invoice/invoice.js"></script>