<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/recommendInfo.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="user-center-box grid-right">
                <div class="header">
                    <h4 class="center-title">市场推广/有奖推荐</h4>
                </div>
                <div class="fundmanage-box">
                    <div class="fundmanage-bd">
                        <div class="account-funds margin-top-10" style="padding-bottom: 30px;">
                            <div class="account-funds-title">邀请推荐</div>
                            <div class="recommend-data">
                                <div class="recommend-data-content"  style="padding-left: 26px;border-right: 1px solid #ccc;text-align: left">
                                    <h2 class="recommend-data-content-title">推荐人数</h2>
                                    <i class="recommend-data-num">${inviteeInfo.inviteeNum!0}</i>人
                                </div>
                                <div class="recommend-data-content" style="border-left:none;">
                                    <h2 class="recommend-data-content-title" >推荐获得积分</h2>
                                    <i class="recommend-data-num" >${inviteeInfo.rewardJf!0}分</i>
                                </div>
                            </div>
                            <p class="recommend-data-footer">
                                注：1.好友需通过你的专属链接注册才能建立邀请关系；&nbsp;&nbsp; 2.好友完成注册和认证流程，被邀请人才能获得奖励；&nbsp;&nbsp;
                                3.数据每日更新，请耐心等待。
                            </p>
                        </div>
                        <div class="bank-card  margin-top-10">
                            <div class="bank-card-title">我的推荐</div>
                            <div class="bank-card-content margin-bottom-30">
                                <div class="recommend-operate-content">
                                    <h2>我的专属推广链接</h2>
                                    <input class="recommendUrl" id="recommendUrl" type="text" readonly
                                           value="${recommendUrl!''}">
                                    <button type="button"
                                            onclick="document.getElementById('recommendUrl').select();document.execCommand('Copy'); document.getElementById('msg-info').style.display='inline-block';"
                                            class="forCopy">点击复制
                                    </button>
                                    <span id="msg-info" class="msg-info">*复制成功，请粘贴给你的好友!*</span>
                                </div>
                                <div class="recommend-operate-content">
                                    <h2>通过社交应用推荐</h2>
                                    <div class="recommend-ways">
                        <!--                <li><a href="javascript:;"><i class="social-logo social-wechat"></i>微信</a></li>
                                        <li><a href="javascript:;"><i class="social-logo social-weibo"></i>新浪微博</a></li>
                                        <li><a href="javascript:;"><i class="social-logo social-qqzone"></i>QQ空间</a>
                                        </li>
                                        <li><a href="javascript:;"><i class="social-logo social-qq"></i>QQ好友</a></li>-->
                                    </div>
                                </div>
                                <div class="recommend-operate-content" style="    display: none;">
                                    <p class="recommend-tips">
                                        1、邀请好友注册并认证后，邀请人可获得20积分/人，每日获得邀请积分上限为200积分；
                                        <br>
                                        2、邀请积分达到上限后可继续邀请好友，但不会获得积分；
                                        <br>
                                        3、BDGstore将采用大数据技术杜绝违规操作及作弊行为，若判定为违规操作及作弊行为，BDGstore有权取消其获奖资格；
                                        <br>
                                        4、除积分奖励外，邀请奖励和被邀请人注册奖励会按照活动规则进行增加或调整，详情请关注平台动态或活动规则；
                                        <br>
                                        5、邀请规则以此页面公布为准，如需变更邀请规则，BDGstore将会提前以公告的方式告知，敬请密切关注平台动态。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%};
    include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
    %>
    <script src="/static/js/usercenter/recommend/sosh.min.js"></script>
    <script type="text/javascript">
        sosh('.recommend-ways', {
            // 分享的链接，默认使用location.href
            url: "${recommendUrl!''}",
            // 分享的标题，默认使用document.title
            title: '我的专属推广链接',
            // 分享的摘要，默认使用<meta name="description" content="">content的值
            digest: '我的专属推广链接',
            // 分享的图片，默认获取本页面第一个img元素的src
            pic: 'http://www.lsdashuju.net/static/images/logo-share-other.jpg',
            // 选择要显示的分享站点，顺序同sites数组顺序，
            // 支持设置的站点有weixin,yixin,weibo,qzone,tqq,douban,renren,tieba
            sites: ['weixin', 'weibo', 'qzone', 'tqq', 'douban'] //
        })
    </script>
</div>