.info-center-box .header{
    border: none !important;
}
.accountInformation{background:#fff;}
.accountInformation .accountInformation-top{
    margin-bottom: 15px;
}
.accountInformation .accountInformation-top ul{
    margin-left: 280px;
    margin-top: 10px;
    width: 332px;
}
.accountInformation .accountInformation-top ul li{
    height: 32px;
    line-height: 32px;
    color: #666666;
    font-size: 14px;
    margin-bottom: 16px;
}
.accountInformation .accountInformation-top ul li .info-title{
    display: inline-block;
    width: 90px;
    margin-right: 10px;
    text-align: right;
}

.accountInformation .accountInformation-down table{
    width: 812px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #E5E5E5;
}
.accountInformation .accountInformation-down table tr{
    border: 1px solid #E5E5E5;
}
.accountInformation .accountInformation-down table th{
    width: 33.33%;
    height: 39px;
    text-align: center;
    color: #333;
    background-color: #F4F4F4;
}
.accountInformation .accountInformation-down table td{
    height: 34px;
    text-align: center;
}

/** 改版样式 */
.info-center-box-n{
  background:transparent!important;
      opacity: 0.965;
}

.top-div{
      background-image:linear-gradient(to right,#ebedef,#ebf1f8);
      margin-top: -5px;
}

.top-div-c{
  width: 973px;
      background: #fff;
      margin-top: 12px;
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 12px;
}

.header .center-title-n{
       border-left-width: 0;
       width: 70px;
       border-bottom: 3px solid #31557b;
       font-size: 16px;
       padding-left: 0;
       margin-left: 10px;
       margin-top: 2px;
}

.accountInformation .accountInformation-down .top-div-c table{
      display: inline-table;
      margin: 0;
      width: 974px;
}

.accountInformation .top-div-c table th{
    background-color: #f9f9f9;
}