.capitalRecord{}
.capitalRecord .search-criteria{
    width: 100%;
    border: 1px solid #e5e5e5;
}
.capitalRecord .search-criteria li{
    height: 46px;
    border-bottom: 1px dashed #e5e5e5;
}
.capitalRecord .search-criteria li:last-child{
    height: 46px;
    line-height: 46px;
    border-bottom:none;
}
.capitalRecord .search-criteria li span{
    float: left;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    width: 118px;
    /**background-color: #F6F6F6;*/
    background-color: #f9f9f9;
}
.capitalRecord .search-criteria li ul{
    float: left;
}
.capitalRecord .search-criteria li ul li{
    float: left;
    height: 46px;
    line-height: 46px;
    width: 100px;
    cursor:pointer;
    text-align: center;
}
.capitalRecord .search-criteria li ul li.active{
    color: #247de8;
}
.capitalRecord .search-criteria li:last-child div{
    display: inline-block;
}
.capitalRecord .search-criteria li:last-child .line{
    display: inline-block;
    height: 1px;
    width: 14px;
    background-color: #e5e5e5;
    margin: 0 5px 4px;
}
.capitalRecord .search-criteria li:last-child div input{
    width: 125px;
    height: 25px;
    padding-left: 5px;
    border: 1px solid #e5e5e5;
}
.capitalRecord .search-criteria li:last-child .time-box{
    margin-left: 25px;
}
.capitalRecord .search-criteria li:last-child .select-month a{
   padding: 0 15px ;
}
.capitalRecord .search-criteria li:last-child .select-month a.active{
   color: #247de8;
}
.capitalRecord .search-criteria li:last-child .select-month a:first-child{
   border-right: 1px solid #6E6E6E;
}

.capitalRecord .search-list{
   margin-top: 20px;
    width: 100%;
    border:1px solid #E5E5E5;
}
.capitalRecord .search-list tr th{
    height: 39px;
    line-height:39px;
    /**background-color: #F4F4F4;*/
    background-color: #f9f9f9;
    border-bottom:1px solid #E5E5E5;
}
.capitalRecord .search-list tr td{
    height: 39px;
    text-align: center;
    line-height:39px;
    border-bottom:1px dashed #E5E5E5;
}
.capitalRecord .search-list tr td.income{
    color: #f17d17;
}
.capitalRecord .search-list tr td.pay{
    color: #2282e7;
}

/** 改版样式 */
.capitalRecorddiv{
 width:1010px;
height:100%;
 margin-left:-14px;
 margin-top:-21px;
background-image:linear-gradient(to right,#ebedef,#ebf1f8);
}

.header-n{
    border-bottom:0!important;
}

.search-criteria-n{
       width: 980px!important;
       margin-left: 13px;
       margin-top:20px!important;
       background: #fff;
       display: inline-block;
}

.search-list-n{
      width: 980px!important;
      background: #fff;
      border:0!important;
}

.center-title-n{
   border-left-width:0!important;
   width:146px;
   border-bottom:3px solid #31557b;
   font-size:16px!important;
   padding-left:0!important;
   margin-top:-13px;
}

.info-center-box-n{
 padding:14px 14px 0!important;
     opacity: 0.965;
}

.search-list-div{
      background: #fff;
      width: 980px;
      margin-left: 13px;
  }
}