
.hello-user{
    font-size: 16px;
    line-height: 40px;
}
.hello-user span{
    margin: 0 10px;
    color: #00c1de;
}
.user-info{
    padding: 20px 0 200px 30px;
    background: #f1f1f1;
}
.user-info .user-head-portrait{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    position: relative;
    background: #fff;
}
.user-info .user-head-portrait img{
    width:100%;
}
.user-info .user-head-portrait span{
    display: none;
    position: absolute;
    font-size: 12px;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
}
.user-info .user-head-portrait:hover span{

    display: block;
}
.user-info li{
    position: relative;
    line-height: 60px;
    padding-left: 100px;
    min-height: 60px;
    font-size:14px;
}
.user-info .tip-title{
    line-height: 20px;
    min-height: 20px;
    color: #bd2424;
}
.user-info label{
    position: absolute;
    left: 0;
}
.user-info .except{
    width: auto;
    margin-right: 10px;
    position: static;
    display: inline;
}
.user-info .input-txt{
    padding: 4px;
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 30px;
    font-size: 14px;
    color: #222;
    background: #fff;
}
.user-info .input-txt:focus{
    outline: none;
    border:1px solid #00c1de;
}
.user-info .submit-btn{
    min-width:100px;
    height:36px;
    border:0;
    background:#00c1de;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
}


/******fund-manage start*******/

.fundmanage-box .fundmanage-bd{
    overflow: hidden;
}
/*账户资金*/
.fundmanage-box .fundmanage-bd .account-funds{
  border: 1px solid #E9E9E9;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-title{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    background-color: #F4F4F4;
    border-bottom: 1px solid #E9E9E9;
    padding-left: 15px;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content{
    padding: 15px 0px 15px 50px;
    overflow: hidden;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left{
    display: inline-block;
    float: left;
    width: 570px;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left .balance-title{
   font-size: 14px;
   color: #656565;
    font-weight: bold;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left .money{
    color: #F43739;
    font-size: 25px;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left .operation-btn{

}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left .operation-btn a{
  display: inline-block;
    width: 65px;
    height: 26px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left .operation-btn a.disable{
   background-color: #e5e5e5;
    cursor: no-drop;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left .operation-btn a.color-red{
   color: #E34F4F;
   text-decoration: underline;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-left .tip{
    color: #999999;
    font-size: 12px;
}
.fundmanage-box .fundmanage-bd .account-funds .account-funds-content-right{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #656565;
    width: 340px;
    height: 152px;
    background: url(../../../images/fundmanage/fundmanage.png) no-repeat 135px 0px;
}
/*我的银行卡*/
.fundmanage-box .fundmanage-bd .bank-card{
    height: 340px;
    border: 1px solid #E9E9E9;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-title{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    background-color: #F4F4F4;
    border-bottom: 1px solid #E9E9E9;
    padding-left: 15px;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content{

}
/*未绑定银行卡样式*/
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .add-card{
    width: 336px;
    height: 186px;
    display: inline-block;
    border: 1px dashed #5799F2;
    margin: 15px 0px 0px 15px;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .add-card p{
    text-align: center;
    color: #85B3FD;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .add-card .Plus{
    font-size: 80px;
    line-height: 80px;
    color: #247DE8;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .add-card .tip{
    color:#999999;
}
/*绑定银行卡样式*/
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .show-card{
    width: 294px;
    height: 110px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #e5e5e5;
    margin: 15px 0px 0px 15px;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .show-card .card-name{

}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .show-card p{
    height: 30px;
    line-height: 30px;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .show-card h4{
    font-size: 20px;
    text-align: center;
}
.fundmanage-box .fundmanage-bd .bank-card .bank-card-content .show-card a{
    display: block;
    text-align: right;
}
.account-funds-title-cov{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff !important;
    border-bottom: none !important;
    border-left: 2px solid #227de7;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95% !important;
    padding-left: 15px;
}
.bank-card-title-cov{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff !important;
    border-bottom: none !important;
    border-left: 2px solid #227de7;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95% !important;
    padding-left: 15px;
}
.useBalance-icon{
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 17px;
    background:url(../../../images/shz/balance.png) no-repeat;
    vertical-align: sub;
}
.freeze-icon{
    margin-right: 5px;
    display: inline-block;
    width:14px;
    height: 17px;
    background:url(../../../images/shz/freeamount.png) no-repeat;
    vertical-align: sub;
}
.tip-icon{
    margin-right: 5px;
    display: inline-block;
    width:15px;
    height: 14px;
    background:url(../../../images/shz/prompt.png) no-repeat;
    vertical-align: sub;
}