<link type="text/css" rel="stylesheet" href="/static/css/font/exposition/iconfont.css">
<div class="trading-sidebar">
    <div class="topList">
        <ul>
            <li  data-cont="trading" >
                <i class="iconfont icon-bolanzhanshi"></i>
                <a href="/exposition/index" >博览会</a></li>
            <li data-cont="strategy"  >
                <i class="iconfont icon-jiaoyi01"></i>
                <a href="/exposition/data_trading">数据交易</a>
            </li>
            <li  data-cont="leader" >
                <i class="iconfont icon-cengcibuju"></i>
                <a href="/exposition/data_crowdsourcing">数据众包</a>
            </li>
            <li  data-cont="media" >
                <i class="iconfont icon-chuangxinfuwu"></i>
                <a href="/exposition/financial_innovation">金融创新</a>
            </li>
            <!--<li data-cont="glory" >-->
                <!--<i class="iconfont icon-jiejuefangan"></i>-->
                <!--<a href="/exposition/solve_plan" >解决方案</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<script src="/static/js/exposition/index.js"></script>
