<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/exposition/expos.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center">
    <div class="innovation-bd grid-row clearfix innovation-padding">
        <%include("/exposition/exposition_template.html"){}%>
        <div class="innovation-content grid-right ">
            <div class="public">
                <span></span>
                <h3>金融创新</h3>
            </div>
            <div class="financial">
                <h3 class="info-title">一、深度创新</h3>
                <br>
                <p class="info-text">围绕大数据金融创新业务链条向前向后延伸，在大数据产业发展投融资深度上做出实质性的拓展，在大数据及信息产业领域产生的资金方面的需求、有资金对大数据项目的需求以及信用风险进行有效引导和控制。</p>
                <br>
                <h3 class="info-title">二、广度创新</h3>
                <br>
                <p class="info-text">以金融产品线的丰富程度。对大数据发展产业数据交易、数据处理、数据应用三条线从定向投融资试点突破，协调各方资源促进大数据产业核心发展。</p>
                <br>
                <h3 class="info-title">三、创新的形式</h3>
                <br>
                <p class="info-text">受大数据潮流的影响等因素综合作用，打通用户行为数据的积累分析和把数据转化为有效价值或产业价值。各方面对于大数据相关的技术都有明显的需求和依赖。从这些维度进行的业务创新与大数据产业发展相结合、发挥先发优势。</p>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>