<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>管理分类属性-{{category.catName}}</h5></div>
      <div class="pull-right">
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group text-center col-sm-5">
      <label>分类内属性</label>
      <div class="searchSection">
        <button class="btn btn-default" ng-click="cate_attr_tree.expand_all()"><span class="glyphicon glyphicon-resize-full"></span> 展开全部
        </button>
        <button class="btn btn-default" data-ng-click="cate_attr_tree.collapse_all()"><span class="glyphicon glyphicon-resize-small"></span> 折叠全部
        </button>
      </div>
      <div class="gridSection">
        <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
        <tree-grid tree-data="tree_data" tree-control="cate_attr_tree" col-defs="col_defs" expand-on="expanding_property" icon-leaf="glyphicon" on-select="treehandler(branch)"></tree-grid>
      </div>
      <div class="simple-grid-none-data-wrap">
        <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
          <div class="row-padding row-margin text-center">
            <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
            <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group text-center col-sm-5">
      <label>待添加属性</label>
      <div class="searchSection">
        <button class="btn btn-default" ng-click="cate_noContain_attr_tree.expand_all()"><span class="glyphicon glyphicon-resize-full"></span> 展开全部
        </button>
        <button class="btn btn-default" data-ng-click="cate_noContain_attr_tree.collapse_all()"><span class="glyphicon glyphicon-resize-small"></span> 折叠全部
        </button>
      </div>
      <div class="gridSection">
        <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
        <tree-grid tree-data="noContain_tree_data" tree-control="cate_noContain_attr_tree" col-defs="cate_notContain_col_defs" expand-on="cate_notContain_expanding_property" icon-leaf="glyphicon" on-select="treehandler(branch)"></tree-grid>
      </div>
      <div class="simple-grid-none-data-wrap">
        <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
          <div class="row-padding row-margin text-center">
            <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
            <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>