<style>
.multipleSelect{
	width: 245px;
	height: 281px;
	font-style: normal;
	font-size: 14px;
	text-decoration: none;
	color: #797979;
}
</style>
<div class="row">
	<div class="col-sm-12">
		<div class="console-title console-title-border clearfix">
			<div class="pull-left"><h5 ng-bind="title">新增分类</h5></div>
			<div class="pull-right">
				<button class="btn btn-default" ui-sref="category.search">
					<span class="glyphicon glyphicon-arrow-left"></span> 返回
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<form class="form-horizontal" role="form" id="categoryForm" name="category">
			<div class="form-group">
				<div class="col-sm-4" style="padding-right:50px;">
					<div class="form-group pull-right" style="margin:60px 0 30px;">
						<label class="col-sm-4 control-label">一级分类</label>
						<div class="col-sm-6">
							<select id="dataTempa" data-ng-model="dataTemp" ng-options="dataTemp.typeId as dataTemp.typeName for dataTemp in dataTemps" style="width: 184px;height: 32px">
							</select>
						</div>
					</div>
					<div class="form-group pull-right" style="margin:30px 0 30px;">
						<label class="col-sm-4 control-label">二级分类</label>
						<div class="col-sm-6">
							<select id="dataTempb" data-ng-model="dataTemp" ng-options="dataTemp.typeId as dataTemp.typeName for dataTemp in dataTemps" style="width: 184px;height: 32px">
							</select>
						</div>
					</div>
					<div class="form-group pull-right" style="margin:30px 0 30px;">
						<label class="col-sm-4 control-label">三级分类</label>
						<div class="col-sm-6">
							<select id="dataTempc" data-ng-model="dataTemp" ng-options="dataTemp.typeId as dataTemp.typeName for dataTemp in dataTemps" style="width: 184px;height: 32px">
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<div>
							<span style="font-size: 16px;margin-bottom: 20px;">选择需迁移数据</span>
							<select data-ng-model="dataTemp" class="multipleSelect" multiple="multiple" size="8" style="height:300px;">
								<option value="1">1231231</option>
								<option value="2">1231231</option>
								<option value="3">1231231</option>
								<option value="4">1231231</option>
								<option value="5">1231231</option>
								<option value="6">1231231</option>
								<option value="7">1231231</option>
								<option value="8">1231231</option>
								<option value="9">1231231</option>
								<option value="10">1231231</option>
								<option value="11">1231231</option>
								<option value="12">1231231</option>
								<option value="13">1231231</option>
								<option value="14">1231231</option>
								<option value="15">1231231</option>
								<option value="16">1231231</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group" style="line-height: 300px; text-align: center">
						数据迁移至：
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group" style="margin:60px 0 60px;">
						<label class="col-sm-2 control-label">一级分类</label>
						<div class="col-sm-6">
							<select id="dataTemp1" data-ng-model="dataTemp" ng-options="dataTemp.typeId as dataTemp.typeName for dataTemp in dataTemps" style="width: 184px;height: 32px">
							</select>
						</div>
					</div>
					<div class="form-group" style="margin:30px 0 60px;">
						<label class="col-sm-2 control-label">二级分类</label>
						<div class="col-sm-6">
							<select id="dataTemp2" data-ng-model="dataTemp" ng-options="dataTemp.typeId as dataTemp.typeName for dataTemp in dataTemps" style="width: 184px;height: 32px">
							</select>
						</div>
					</div>
					<div class="form-group" style="margin:30px 0 30px;">
						<label class="col-sm-2 control-label">三级分类</label>
						<div class="col-sm-6">
							<select id="dataTemp3" data-ng-model="dataTemp" ng-options="dataTemp.typeId as dataTemp.typeName for dataTemp in dataTemps" style="width: 184px;height: 32px">
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-lg center-block" style="min-width: 200px;">
					确认迁移
				</button>
			</div>


		</form>
	</div>
</div>