<style>
.multipleSelect{
	width: 245px;
	height: 281px;
	font-style: normal;
	font-size: 14px;
	text-decoration: none;
	color: #797979;
}
</style>
<div class="row">
	<div class="col-sm-12">
		<div class="console-title console-title-border clearfix">
			<div class="pull-left"><h5 ng-bind="title">新增分类</h5></div>
			<div class="pull-right">
				<button class="btn btn-default" ui-sref="category.search">
					<span class="glyphicon glyphicon-arrow-left"></span> 返回
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<form class="form-horizontal" role="form" id="categoryForm" name="category">
			<div class="form-group">
				<div class="col-sm-4" style="padding-right:50px;">
					<div class="form-group pull-right" style="margin:60px 0 30px;">
						<label class="col-sm-4 control-label">一级分类</label>
						<div class="col-sm-6">
							<select id="dataTemp1" data-ng-model="dataTemp1v" ng-options="dataTemp.catId as dataTemp.catName for dataTemp in dataTemp1" style="width: 184px;height: 32px" ng-change="getCategory(dataTemp1v,'dataTemp2')">
							</select>
						</div>
					</div>
					<div class="form-group pull-right" style="margin:30px 0 30px;" ng-show="dataTemp2">
						<label class="col-sm-4 control-label">二级分类</label>
						<div class="col-sm-6">
							<select id="dataTemp2" data-ng-model="dataTemp2v" ng-options="dataTemp.catId as dataTemp.catName for dataTemp in dataTemp2" style="width: 184px;height: 32px" ng-change="getCategory(dataTemp2v,'dataTemp3')">
							</select>
						</div>
					</div>
					<div class="form-group pull-right" style="margin:30px 0 30px;" ng-show="dataTemp3">
						<label class="col-sm-4 control-label">三级分类</label>
						<div class="col-sm-6">
							<select id="dataTemp3" data-ng-model="dataTemp3v" ng-options="dataTemp.catId as dataTemp.catName for dataTemp in dataTemp3" style="width: 184px;height: 32px" ng-change="getCategory(dataTemp3v,'dataTemp4')">
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<div style="position:relative">
							<p style="font-size: 16px;margin-bottom: 20px;">选择需迁移数据</p>
							<select data-ng-model="goodsV" ng-options="dataTemp.goodsId as dataTemp.goodsName for dataTemp in goodsArr" ng-click="evaluate()" class="multipleSelect" multiple="multiple" size="8" style="height:300px;">

							</select>
							<span class="" ng-show="goodsArrS" style="position: absolute;left:95px;top:140px;">{{goodsArrS_txt}}</span>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group" style="line-height: 300px; text-align: center">
						数据迁移至：
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group" style="margin:60px 0 60px;">
						<label class="col-sm-3 control-label">一级分类</label>
						<div class="col-sm-6">
							<select id="dataTempA" data-ng-model="dataTempAv" ng-options="dataTemp.catId as dataTemp.catName for dataTemp in dataTempA" style="width: 184px;height: 32px" ng-change="getCategory(dataTempAv,'dataTempB')">
							</select>
						</div>
					</div>
					<div class="form-group" style="margin:30px 0 60px;" ng-show="dataTempB">
						<label class="col-sm-3 control-label">二级分类</label>
						<div class="col-sm-6">
							<select id="dataTempB" data-ng-model="dataTempBv" ng-options="dataTemp.catId as dataTemp.catName for dataTemp in dataTempB" style="width: 184px;height: 32px" ng-change="getCategory(dataTempBv,'dataTempC')">
							</select>
						</div>
					</div>
					<div class="form-group" style="margin:30px 0 30px;" ng-show="dataTempC">
						<label class="col-sm-3 control-label">三级分类</label>
						<div class="col-sm-6">
							<select id="dataTempC" data-ng-model="dataTempcV" ng-options="dataTemp.catId as dataTemp.catName for dataTemp in dataTempC" style="width: 184px;height: 32px" ng-change="getCategory(dataTempCv,'dataTempD')">
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-lg center-block" ng-disabled="!goodsVd || !dataFrom || !dataEnd " ng-click="pushData()" style="min-width: 200px;">
					确认迁移
				</button>
			</div>


		</form>
	</div>
</div>