<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/1/css/innovation.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center">
    <div class="innovation-bd y-row">
        <%include("/1/layout/innovation_template.html"){}%>
        <div class="innovation-content y-right">
            <h3 class="center-title">孵化器</h3>
            <div class="innovation">
                <img src="../../static/1/img/innovation/u5035.png" alt="">
            </div>
            <div class="contentInno">
                <p class="title">我们的招商条件是什么？</p>
                <p>招商条件：以数据互联和智能引擎为核心，做大数据产业应用创新创业企业的深度孵化平台；</p>
                <p>项目优势：</p>
                <p>1、 业内领先的技术能力及大数据行业应用能力：作为国内最早从事数据挖掘和应用的企业，已经积累了多年的经验，尤其是在跨行业的数据挖掘方面。</p>
                <p>2、深度孵化企业的高成功率：大数据深度孵化平台，除了为创业者提供空间、资金、辅导外，的资深顾问和技术团队还会深度参与孵化，与创业者探索商业模式和技术，整合市场资源，全程陪伴创业团队完成从零到一的蜕变。</p>
                <p class="title">有哪些扶植政策？</p>
                <p>目标用户群体：所有大数据相关的创业群体；</p>
                <p>特点：</p>
                <p>技术：国内领先的数据互联和智能引擎以十余年来各行业丰富的整理、分析、挖掘、应用经验，全新打造数据互联和智能引擎核心，为孵化企业提供独一无二的技术支持。</p>
                <p class="title">现场收费标准是多少？</p>
                <p>目标用户群体：所有大数据相关的创业群体；</p>
                <p>特点：</p>
                <p>收费：国内领先的数据互联和智能引擎以十余年来各行业丰富的整理、分析、挖掘、应用经验，全新打造最低报价。</p>
                <p class="title">环境场地如何？</p>
                <p>目标用户群体：所有大数据相关的创业群体；</p>
                <p>特点：</p>
                <p>收费：国内领先的数据互联和智能引擎以十余年来各行业丰富的整理、分析、挖掘、应用经验，全新打造最低报价。</p>
                <p class="title">配套设施有那些？</p>
                <p>目标用户群体：所有大数据相关的创业群体；</p>
                <p>特点：</p>
                <p>收费：国内领先的数据互联和智能引擎以十余年来各行业丰富的整理、分析、挖掘、应用经验，全新打造最低报价。</p>
            </div>
            <div class="innovation">
                <img src="../../static/1/img/innovation/u5037.png" alt="">
            </div>
        </div>
    </div>
</div>

<%};
include("/1/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>