<style>
    .form-inline .form-control {
        width: 110px;
    }

</style>
<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>评价审核</h5></div>
            <div class="pull-right">
                <button class="btn btn-default" data-ng-click="refresh()"><span
                    class="glyphicon glyphicon-refresh"></span> 刷新
                </button>
                <!--<a ui-sref="help.add" class="btn btn-primary">新增</a>-->
            </div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12">
                评分等级：
                <div class="searchSection  btn-group">
                    <button class="btn btn-default" data-ng-model="goodsCommentGrade" uib-btn-radio=""
                            data-ng-click="search()"> 全部
                    </button>
                    <button class="btn btn-default" data-ng-model="goodsCommentGrade" uib-btn-radio="5"
                            data-ng-click="search()"> 好评
                    </button>
                    <button class="btn btn-default" data-ng-model="goodsCommentGrade" uib-btn-radio="4"
                            data-ng-click="search()"> 较好
                    </button>
                    <button class="btn btn-default" data-ng-model="goodsCommentGrade" uib-btn-radio="3"
                            data-ng-click="search()"> 中评
                    </button>
                    <button class="btn btn-default" data-ng-model="goodsCommentGrade" uib-btn-radio="2"
                            data-ng-click="search()"> 较差
                    </button>
                    <button class="btn btn-default" data-ng-model="goodsCommentGrade" uib-btn-radio="1"
                            data-ng-click="search()"> 差评
                    </button>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;审核状态：
                <div class="searchSection  btn-group">
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="" data-ng-click="search()">
                        全部
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="0" data-ng-click="search()">
                        待审核
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="1" data-ng-click="search()">
                        已通过
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="2" data-ng-click="search()">
                        未通过
                    </button>
                </div>

                <div style="padding:15px 0 0;"><label class="control-label">订单编号：</label>
                    <input ng-model="orderSn" type="text" class="form-control" placeholder="请输入订单编号">
                    <label class="control-label">商品名称：</label>
                    <input ng-model="goodsName" type="text" class="form-control" placeholder="请输入商品名称">
                    <label class="control-label">评价关键字：</label>
                    <input ng-model="commentContent" type="text" class="form-control" placeholder="请输入评价内容"></div>
                <div>
                    <label class="control-label">订单时间：</label>
                    <p class="input-group" style="margin-top: 15px">
                        <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                               ng-paste="$event.preventDefault()" type="text" class="form-control"
                               uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="startDate"
                               is-open="popup1.opened" datepicker-options="dateOptions" close-text="关闭" clear-text="清除"
                               current-text="今天" readonly="true"/>
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open1()"><i
                             class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    <!--<input ng-model="addTime" type="text" class="form-control" placeholder="起始日期">-->
                    <label class="control-label">至</label>
                    <p class="input-group" style="margin-top: 15px">
                        <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                               ng-paste="$event.preventDefault()" type="text" class="form-control" uib-datepicker-popup
                               ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions"
                               close-text="Close" close-text="关闭" clear-text="清除" current-text="今天" readonly="true"/>
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open2()"><i
                             class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    <button style="margin-top: 5px" type="submit" class="btn btn-primary" data-ng-click="search()">搜索
                    </button>
                </div>
                <div data-ng-show="status== null||status==0 && commentList.length>0" >
                    <label class="checkbox-inline"><input type="checkbox" ng-model="master" ng-click="all(master)">全选</label>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default" ng-click="MultipleCheck(1)">批量通过</button>
                    <button class="btn btn-default" ng-click="MultipleCheck(2)">批量不通过</button>

                </div>
                <!--<pre>{{choseArr}}</pre>-->
                <div class="gridSection">
                    <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>

                    <table class="table table-hover" data-ng-repeat="item in commentList">
                        <thead>
                        <tr>
                            <th><label><input data-ng-show="item.status==0" type="checkbox" id={{item.commId}}
                                              ng-model="x" ng-checked="master"
                                              ng-click="chk(item.commId,x)"> 订单编号：</label><a href="javascript:void (0)"
                                                                                             ng-bind="item.orderSn"></a>
                            </th>
                            <th>评分等级： <span uib-rating ng-model="item.goodsCommentGrade" max="5" read-only="true"
                                            aria-labelledby="default-rating"></span></th>
                            <th>评价时间：<span ng-bind="item.addTime"></span></th>
                            <th>评价人：<span ng-bind="item.username"></span></th>
                            <th>商品名称：<span ng-bind="item.goodsName"></span></th>
                            <th width="155" style="text-align:center;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="5">
                                <div class="col-sm-2">评价内容：</div>
                                <div class="col-sm-10" style="word-break:break-all;"
                                     data-ng-bind="item.commentContent"></div>
                            </td>
                            <td>
                                <div data-ng-show="item.status==0" style="text-align:center;">
                                    <button class="btn btn-default" ng-click="commentCheck(item.commId,1)">通过</button>
                                    <button class="btn btn-default" ng-click="commentCheck(item.commId,2)">不通过</button>
                                </div>

                                <div data-ng-show="item.status==1" style="text-align:center;">
                                    审核通过
                                </div>
                                <div data-ng-show="item.status==2" style="text-align:center;">
                                    审核不通过
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table data-ng-show="commentList.length!==0">
                        <tr>
                            <td colspan="9">
                                <div class="pull-right page-box">
                                    <div class="pagination-info">
                                        共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条
                                    </div>
                                    <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                                        ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                                        max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                                        force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                                        last-text="末页">
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!--<table class="table table-hover" style="margin-bottom: 57px;">
                        <thead>
                        <tr>

                            <th>订单编号：<a href="#">2017071115321624510087</a></th>
                            <th>评分等级：三个星星</th>
                            <th>评价时间：2017-07-04</th>
                            <th >评价人：XXXXX</th>
                            <th >商品名称：国家重点监控企业污染源监督性监测结果</th>
                            <th width="155">操作</th>                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="5"><div class="col-sm-1" >评价内容：</div><div class="col-sm-11" style="word-break:break-all;">sasdfasdfasdfasdfkljasdfljasldfjsasdfasdfasdfasdfkljasdfljasldfjsasdfasdfasdfasdfkljasdfljasldfjsasdfasdfasdfasdfkljasdfljasldfj</div></td>
                            <td><button class="btn btn-default">通过</button> <button class="btn btn-default">不通过</button></td>
                        </tr>
                        </tbody>
                    </table>
-->

                </div>
                <div class="simple-grid-none-data-wrap" data-ng-show="commentList.length==0">
                    <div class="simple-grid-none-data text-center">
                        <div class="row-padding row-margin text-center">
                            <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
                            <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>