<style>
  .control-label {
    width: 80px;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5 ng-bind="title">待审核用户</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 刷新
        </button>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-12">
        <div class="searchSection">
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label">用户名</label>
              <input ng-model="userName" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">电话</label>
              <input ng-model="mobile" type="text" class="form-control">
            </div>
            <!--<div class="form-group">
              <label class="control-label">邮箱</label>
              <input ng-model="email" type="text" class="form-control">
            </div>-->
            <div class="form-group">
              <label class="control-label" style="width: 100px;">用户类型</label>
              <select data-ng-model="userType"  ng-options="userType.id as userType.name for userType in userTypes"  style="width: 184px;height: 32px">
              </select>
              <button type="submit" class="btn btn-primary" data-ng-click="search()">搜索</button>
            </div>
          </form>
        </div>
        <div class="gridSection">
          <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <thead>
            <tr>
              <th>用户名</th>
              <th>电话</th>
              <!--<th>邮箱</th>-->
              <th>用户类型</th>
              <th>提交审核时间</th>
              <!--<th>禁用</th>-->
              <th width="130" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!loadingState" data-ng-repeat="item in pagination.store" class="">
              <td>
                <a ng-click="detail($event,item)"
                   class="">
                  <span ng-bind="item.userName" ></span>
                </a>
              </td>
              <td>
                <span class="column-text" ng-bind="item.mobile"></span>
              </td>
              <!--<td>
                <span class="column-text" ng-bind="item.email"></span>
              </td>-->
              <td>
                <span class="column-text" ng-bind="item.userType | UserType"></span>
              </td>
              <td>
                <span class="" ng-bind="item.regTime"></span>
              </td>
              <!--<td>
                <span class="column-text" ng-bind="item.isEnable | yesNo"></span>
              </td>-->
              <td class="text-center">
                <a ng-click="detail($event,item)">审核</a>
              </td>
            </tr>
            </tbody>
            <tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
            <tr>
              <td colspan="9">
                <div class="pull-right page-box">
                  <div class="pagination-info">共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条</div>
                  <ul uib-pagination ng-change="pageChanged(page)" total-items="pagination.totalItems"
                      ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                      max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                      force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                      last-text="末页">

                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="simple-grid-none-data-wrap">
          <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
            <div class="row-padding row-margin text-center">
              <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
              <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>