<style>
  .none-edit {
    border: none;
    background: none;
    box-shadow: none;
    cursor: default;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>用户详情</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" ui-sref="user.search" data-ng-click="refresh()"><span
          class="glyphicon glyphicon-refresh"></span> 返回
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" role="form" id="userDetail">
      <fieldset>
        <h5 style="padding: 0px 20px;">基本信息</h5>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="userName">账户名:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" id="userName" name="userName" class="form-control none-edit"
                   value="{{cuser.userName}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="email">邮箱:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" id="email" name="email" value="{{cuser.email}}"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="mobile">手机:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuser.mobile}}" id="mobile" name="mobile"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="regTime">注册时间:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuser.regTime}}" id="regTime" name="regTime"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="regTime">账户余额:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuser.moneyBalance/100 | number:2}}元" id="moneyBalance"
                   name="moneyBalance" class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="lastLoginIp">最后登录IP:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuser.lastLoginIp}}" id="lastLoginIp" name="lastLoginIp"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="lastLoginTime">最后登录时间:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuser.lastLoginTime}}" id="lastLoginTime"
                   name="lastLoginTime" class="form-control none-edit"/>
          </div>
        </div>
      </fieldset>
      <fieldset ng-if="cuser.userType == 2">
        <h5 style="margin: 0px 20px;padding-bottom: 3px; border-bottom: 1px dashed #DDD;">详细信息</h5>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="realName">真实姓名:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" id="realName" name="realName" class="form-control none-edit"
                   value="{{cuserd.realName}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="gender">性别:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" id="gender" name="gender" class="form-control none-edit"
                   value="{{cuserd.gender}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="birthday">生日:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" id="birthday" name="birthday" class="form-control none-edit"
                   value="{{cuserd.birthday}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="address">住址:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" id="address" name="address" class="form-control none-edit"
                   value="{{cuserd.address}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="cardNum">身份证号:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" id="cardNum" name="cardNum" class="form-control none-edit"
                   value="{{cuserd.cardNum}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="cardNum">身份证扫描件:</label>
          <div class="col-sm-4">
            <p class="">正面照:</p><img ng-click="showBigImg(cuserd.identityCardFrontPath)"
                                     style="height: 200px;width: 200px"
                                     src="{{'http://static.qddata.com.cn/'+cuserd.identityCardFrontPath}}"/>
          </div>
          <div class="col-sm-4">
            <p class="">反面照:</p><img ng-click="showBigImg(cuserd.identityCardReversePath)"
                                     style="height: 200px;width: 200px"
                                     src="{{'http://static.qddata.com.cn/'+cuserd.identityCardReversePath}}"/>
          </div>
        </div>
      </fieldset>


      <fieldset ng-if="cuser.userType == 4">
        <h5 style="padding: 0px 20px;">企业信息</h5>
        <div class="form-group">
          <label class="col-sm-2 control-label">单位名称:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" name="orgName" class="form-control none-edit"
                   value="{{cuserd.orgName}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="email">法人代表:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" name="certificateCode" value="{{cuserd.certificateCode}}"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="email">经营范围:</label>
          <div class="col-sm-4">
            <!--<input type="text" disabled="disabled" name="industry" value="{{cuserd.industry}}" class="form-control none-edit"/>-->
            <textarea disabled="disabled" value="" style="margin: 0; width: 453px; height: 134px;resize:none">{{cuserd.industry}}</textarea>

          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="mobile">所在地:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuserd.region}}" name="region"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="mobile">详细地址:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuserd.orgAddress}}" name="orgAddress"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="cardNum">手机号:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" name="orgPhone" class="form-control none-edit"
                   value="{{cuserd.orgPhone}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="cardNum">营业执照编号:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" name="licenseCode" class="form-control none-edit"
                   value="{{cuserd.licenseCode}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="regTime">营业执照扫描件:</label>
          <div class="col-sm-4">
            <img ng-click="showBigImg(cuserd.licensePath)" src="http://static.qddata.com.cn/{{cuserd.licensePath}}"
                 style="max-width: 450px; max-height: 600px">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="lastLoginIp">税务登记证编号:</label>
          <div class="col-sm-4">
            <input type="text" disabled="disabled" value="{{cuserd.taxCode}}" name="taxCode"
                   class="form-control none-edit"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="lastLoginTime">税务登记证扫描件:</label>
          <div class="col-sm-4">
            <img ng-click="showBigImg(cuserd.taxPath)" src="http://static.qddata.com.cn/{{cuserd.taxPath}}"
                 style="max-width: 450px; max-height: 600px">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="realName">单位代码证编号:</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" name="certificateCode" class="form-control none-edit"
                   value="{{cuserd.certificateCode}}"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="lastLoginTime">单位代码证扫描件:</label>
          <div class="col-sm-4">
            <img ng-click="showBigImg(cuserd.certifictePath)"
                 src="http://static.qddata.com.cn/{{cuserd.certifictePath}}"
                 style="max-width: 450px; max-height: 600px">
          </div>
        </div>
      </fieldset>
      <h5 style="margin: 0px 20px;padding-bottom: 3px; border-bottom: 1px dashed #DDD;">登录日志</h5>

      <div class="form-group">
        <label class="col-sm-2 control-label">日志详情：</label>
        <div class="col-sm-5">
          <table class="table table-bordered">
            <tr>
              <th> 登录时间</th>
              <th> 登录IP</th>
            </tr>
            <tr data-ng-repeat="item in loginLog" class="">
              <td data-ng-bind="item.addTime"></td>
              <td data-ng-bind="item.clientIp"></td>
            </tr>
            <tr ng-show="loginLog.length == 0">
              <td>暂无</td>
              <td>暂无</td>
            </tr>
          </table>
        </div>
      </div>


      <!-- <div class="form-group">
         <div class="col-sm-2"></div>
         <div class="col-sm-4">
           <button class="btn btn-primary" data-ng-click="save()">
             <span class="glyphicon glyphicon-refresh"></span> 保存
           </button>
         </div>
       </div>-->
    </form>
  </div>
</div>