<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>余额充值</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" data-ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span> 返回
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" role="form" id="rechargeForm" name="rechargeForm">
      <fieldset>
        <div class="form-group">
          <div class="col-sm-4">
            <!--<input disabled="disabled" type="hidden" type="text" id="userId" name="userId" class="form-control none-edit" value="{{cuser.userId}}"/>-->
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">用户名</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text" class="form-control" data-ng-model="userBaseInfo.userName"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">余额</label>
          <div class="col-sm-4">
            <input disabled="disabled" type="text"   class="form-control" value="{{userBaseInfo.moneyBalance /100}}" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="recharge">充值金额</label>
          <div class="col-sm-4">
            <input type="number"  data-ng-model="money"  id="recharge" name="recharge" class="form-control"/>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <button class="btn btn-primary" data-ng-click="recharge()">
            <span class="glyphicon glyphicon-refresh"></span> 充值
          </button>
        </div>
      </div>
    </form>
  </div>
</div>