<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jusfoun.hookah.core.dao.GoodsAttrTypeMapper">

  <select id="findMaxByParentId" resultType="java.lang.String" parameterType="java.lang.String">
      SELECT MAX(type_id) FROM  goods_attr_type WHERE  parent_id = #{parentId}
  </select>

</mapper>