<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jusfoun.hookah.core.dao.GoodsMapper">
    <resultMap id="EsResultMap" type="com.jusfoun.hookah.core.domain.es.EsGoods">
        <id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="shop_price" jdbcType="BIGINT" property="shopPrice" />
        <result column="shop_number" jdbcType="INTEGER" property="shopNumber" />
        <result column="shop_format" jdbcType="TINYINT" property="shopFormat" />
        <result column="goods_brief" jdbcType="VARCHAR" property="goodsBrief" />
        <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
        <result column="keywords" jdbcType="VARCHAR" property="keywords" />
        <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
        <result column="cat_id" jdbcType="VARCHAR" property="catId" />
        <result column="cat_ids" jdbcType="VARCHAR" property="catIds" />
        <result column="goods_area" jdbcType="VARCHAR" property="goodsArea" />
        <result column="goods_areas" jdbcType="VARCHAR" property="goodsAreas" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>
    <select id="getNeedEsGoods" resultMap="EsResultMap">
        SELECT
            goods_id,
            goods_name,
            shop_price,
            shop_number,
            shop_format,
            goods_brief,
            goods_desc,
            keywords,
            goods_img,
            cat_id,
            getCategoryParentList(cat_id) cat_ids,
            goods_area goodsArea,
            getRegionParentList(goods_area) goods_areas,
            add_time,
            last_update_time
        from
            goods
        where is_delete = 1
        and is_onsale = 1
    </select>
</mapper>