<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jusfoun.hookah.core.dao.GoodsMapper">
  <!--<resultMap id="BaseResultMap" type="com.jusfoun.hookah.core.domain.Goods">-->
    <!--<id column="goods_id" jdbcType="VARCHAR" property="goodsId" />-->
    <!--<result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />-->
    <!--<result column="domain_id" jdbcType="VARCHAR" property="domainId" />-->
    <!--<result column="goods_name" jdbcType="VARCHAR" property="goodsName" />-->
    <!--<result column="goods_brief" jdbcType="VARCHARAR" property="goodsBrief" />-->
    <!--<result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />-->
    <!--<result column="keywords" jdbcType="VARCHAR" property="keywords" />-->
    <!--<result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />-->
    <!--<result column="is_delete" jdbcType="TINYINT" property="isDelete" />-->
    <!--<result column="goods_type" jdbcType="TINYINT" property="goodsType" />-->
    <!--<result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />-->
    <!--<result column="warn_number" jdbcType="INTEGER" property="warnNumber" />-->
    <!--<result column="onsale_start_date" jdbcType="TIMESTAMP" property="onsaleStartDate" />-->
    <!--<result column="onsale_end_date" jdbcType="TIMESTAMP" property="onsaleEndDate" />-->
    <!--<result column="cat_id" jdbcType="VARCHAR" property="catId" />-->
    <!--<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />-->
    <!--<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />-->
    <!--<result column="is_real" jdbcType="INTEGER" property="isReal" />-->
    <!--<result column="shop_price" jdbcType="REAL" property="shopPrice" />-->
    <!--<result column="shop_number" jdbcType="INTEGER" property="shopNumber" />-->
    <!--<result column="shop_format" jdbcType="TINYINT" property="shopFormat" />-->
    <!--<result column="seller_note" jdbcType="VARCHAR" property="sellerNote" />-->
    <!--<result column="add_user" jdbcType="VARCHAR" property="addUser" />-->
    <!--<result column="user_id" jdbcType="VARCHAR" property="userId" />-->
    <!--<result column="check_status" jdbcType="TINYINT" property="checkStatus" />-->
    <!--<result column="is_onsale" jdbcType="TINYINT" property="isOnsale" />-->
    <!--<result column="is_update" jdbcType="TINYINT" property="isUpdate" />-->
  <!--</resultMap>-->
  <!--<sql id="Base_Column_List">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbggenerated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
    <!--&ndash;&gt;-->
    <!--goods_id, goods_sn, domain_id, goods_name, goods_brief, goods_desc, keywords, goods_img, -->
    <!--is_delete, goods_type, goods_number, warn_number, onsale_start_date, onsale_end_date, -->
    <!--cat_id, add_time, last_update_time, is_real, shop_price, shop_number, shop_format, -->
    <!--seller_note, add_user, user_id, check_status, is_onsale, is_update-->
  <!--</sql>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbggenerated-->
      <!--This element is automatically generated by MyBatis Generator, do not modify.-->
    <!--&ndash;&gt;-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from goods-->
    <!--where goods_id = #{goodsId,jdbcType=VARCHAR}-->
  <!--</select>-->

    <resultMap id="EsResultMap" type="com.jusfoun.hookah.core.domain.es.EsGoods">
        <id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="goods_name_py" jdbcType="VARCHAR" property="goodsNamePy" />
        <result column="goods_brief" jdbcType="VARCHAR" property="goodsBrief" />
        <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
        <result column="keywords" jdbcType="VARCHAR" property="keywords" />
        <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
        <result column="cat_id" jdbcType="VARCHAR" property="catId" />
        <result column="cat_ids" jdbcType="VARCHAR" property="catIds" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    </resultMap>
    <select id="getNeedEsGoods" resultMap="EsResultMap">
        SELECT
            goods_id,
            goods_name,
            goods_name goods_name_py,
            goods_brief,
            goods_desc,
            keywords,
            goods_img,
            cat_id,
            getParentList(cat_id) cat_ids,
            add_time
        FROM
            goods
        where is_delete = 1
        and is_onsale = 1
    </select>
</mapper>