<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/css/mybuyer.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">订单管理</h3>
            <div class="order-manage">
                <div class="wrapper-tab">
                    <ul class="wrapper-tab-box">
                        <li class="first active"><a href="/mybuyer/attention_item">商品</a></li>
                        <li><a href="/mybuyer/attention_shop">店铺</a></li>
                    </ul>
                </div>
                <div class="attention-item-box">
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>
                    <div class="item-box y-left">
                        <div class="imgs">
                            <a href="javascript:void(0)"><img src="../../static/img/zheng.jpg" alt=""></a>
                            <span>取消关注</span>
                        </div>
                        <h3 class="title"><a href="javascript:void(0)">个人征信查询</a></h3>
                        <span class="price">￥800.00/次</span>
                    </div>

                </div>
                <%include("/layout/pageaction.html"){} %>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>