<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/css/mybuyer.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">购物车</h3>
            <div class="order-manage">
                <div class="order-box cart-box">
                    <table class="cart-list-title order-items">
                        <tr class="order-body">
                            <td class="checkbox"><label for=""><input type="checkbox">全选</label></td>
                            <td class="img"></td>
                            <td class="name">商品信息</td>
                            <td class="price">单价</td>
                            <td class="number">数量</td>
                            <td class="money">金额</td>
                            <td class="operation">操作</td>
                        </tr>
                    </table>
                    <table class="order-items">
                        <tr class="order-head">
                            <td class="checkbox"><input type="checkbox"></td>
                            <td colspan="6">卖家名称：大胡子妹妹</td>
                        </tr>
                        <tr class="order-body">
                            <td class="checkbox"><input type="checkbox"></td>
                            <td class="img"><div><img src="../../static/img/TB1BLQsPpXXXXXNXXXXXXXXXXXX-440-330.jpg" alt=""></div></td>
                            <td class="name">银行卡类型查询</td>
                            <td class="price">￥8000.00</td>
                            <td class="number">
                                <div>
                                    <span class="reduce-btn btn">-</span>
                                    <input type="text" value="1">
                                    <span class="plus-btn btn">+</span>
                                </div>
                            </td>
                            <td class="money">￥8000.00</td>
                            <td class="operation">
                                <a href="javascript:void(0)">商品详情</a>
                                <a href="javascript:void(0)">删除</a>
                            </td>
                        </tr>
                        <tr class="order-body">
                            <td class="checkbox"><input type="checkbox"></td>
                            <td class="img"><div><img src="../../static/img/TB1BLQsPpXXXXXNXXXXXXXXXXXX-440-330.jpg" alt=""></div></td>
                            <td class="name">银行卡类型查询</td>
                            <td class="price">￥8000.00</td>
                            <td class="number">
                                <div>
                                    <span class="reduce-btn btn">-</span>
                                    <input type="text" value="1">
                                    <span class="plus-btn btn">+</span>
                                </div>
                            </td>
                            <td class="money">￥8000.00</td>
                            <td class="operation">
                                <a href="javascript:void(0)">商品详情</a>
                                <a href="javascript:void(0)">评价</a>
                                <a href="javascript:void(0)">申请售后</a>
                                <a href="javascript:void(0)">删除</a>
                                <a href="javascript:void(0)">再次购买</a>
                            </td>
                        </tr>
                    </table>
                    <table class="cart-list-bottom order-items">
                        <tr class="order-body">
                            <td class="checkbox"><label for=""><input type="checkbox">全选</label></td>
                            <td class="img"></td>
                            <td class="name"></td>
                            <td class="price"></td>
                            <td class="number">已选商品 <span>0</span>件</td>
                            <td class="money">总金额：<span>￥0.00</span></td>
                            <td class="operation"><button class="buy-btn">结算</button></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>