<%
var head = {
%>
<link rel="stylesheet" href="/static/css/error/error.css">
<style>
    .toIndex{
        background-color: #304848;
    }
    .toIndex:hover{
        background-color: #57c0d5;
    }
</style>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 error">
    <div class="grid-row">
        <div class="error-prompt">
            <div class="display-inline-block error-prompt-content" style="height: auto;margin-top: 25px;">
                <img style="width: 458px;" src="/static/images/404.jpg" alt="">
                <div style="border:1px dashed #304848;position: relative;top: 20px;">
                    <a class="toIndex" style="border-radius: 25px;position: absolute;top: -20px;left: 50%;transform: translate(-72px,0);display: inline-block;color:#fff;font-size: 24px;width: 155px;line-height: 40px;" href="/">返回首页</a>
                    <p style="color: #304848;font-size: 30px;font-weight: normal;line-height: 48px;">抱歉，找不到页面～</p>
                    <p style="color: #304848;font-size: 14px;font-weight: normal;margin-bottom: 25px;margin-top: 10px;">您请求访问的页面，暂时找不到，我们建议您返回首页进行浏览，谢谢！</p>
                </div>
            </div>
        </div>
        <!--<div class="error-recommend">-->
        <!--<div>为你推荐</div>-->
        <!--<div class="order-list">-->
        <!--<ul class="clearfix">-->
        <!--<li>-->
        <!--<a class="item-top" href="javascript:void(0)">-->
        <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
        <!--<p class="goods-name">信用查询</p>-->
        <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
        <!--</a>-->
        <!--<div class="item-down">-->
        <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
        <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="item-top" href="javascript:void(0)">-->
        <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
        <!--<p class="goods-name">信用查询</p>-->
        <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
        <!--</a>-->
        <!--<div class="item-down">-->
        <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
        <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="item-top" href="javascript:void(0)">-->
        <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
        <!--<p class="goods-name">信用查询</p>-->
        <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
        <!--</a>-->
        <!--<div class="item-down">-->
        <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
        <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="item-top" href="javascript:void(0)">-->
        <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
        <!--<p class="goods-name">信用查询</p>-->
        <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
        <!--</a>-->
        <!--<div class="item-down">-->
        <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
        <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="item-top" href="javascript:void(0)">-->
        <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
        <!--<p class="goods-name">信用查询</p>-->
        <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
        <!--</a>-->
        <!--<div class="item-down">-->
        <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
        <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
