<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/goods.css">
<%};%>

<%
var htmlPart = {
%>
<div class="goods-container">
    <div class="goods-bd y-row">
        <h3 class="menu-title">
            <ul>
                <li class="y-left title-first">所选分类：</li>
                <li class="y-left"><span>></span></li>
                <li class="y-left"><a href="javascript:void(0)">交易中心</a></li>
                <li class="y-left"><span>></span></li>
                <li class="y-left"><a href="javascript:void(0)">数据源</a></li>
            </ul>
        </h3>
        <div class="goods-center">
            <div class="goods-sort">
                <div class="sort-inner">
                    <ul class="sorts">
                        <li class="sort y-left">
                            <a class="link active first" title="排序" href="javascript:void(0)">综合排序</a>
                        </li>
                        <li class="sort y-left">
                            <a class="link" title="销量从高到低" href="javascript:void(0)">销量</a>
                        </li>
                        <li class="sort y-left has-droplist">
                            <div class="trigger">
                                <div class="link  ">
                                    <span class="text" title="价格从低到高">价格</span>
                                    <span class="icon">∨</span>
                                </div>
                            </div>
                            <ul class="droplist">
                                <li class="sort">
                                    <a class="link" href="javascript:void(0)">价格从低到高</a>
                                </li>
                                <li class="sort">
                                    <a class="link" href="javascript:void(0)">价格从高到低</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-list">
                <div class="goods-list-inner">
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="/goods/details">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="/goods/details">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:<a href="javascript:void(0)">324</a></span></div>
                    </div>
                </div>
                <%include("/layout/pageaction.html"){} %>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.has-droplist').hover(function(){
        $('.has-droplist .droplist').toggle();
    })
</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>