<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/goods.css">
<%};%>

<%
var htmlPart = {
%>
<div class="goods-container">
    <div class="goods-bd y-row">
        <h3 class="menu-title">
            <ul>
                <li class="y-left title-first">所选分类：</li>
                <li class="y-left"><span>></span></li>
                <li class="y-left"><a href="javascript:void(0)">交易中心</a></li>
                <li class="y-left"><span>></span></li>
                <li class="y-left"><a href="javascript:void(0)">数据源</a></li>
            </ul>
        </h3>
        <div class="goods-group">
            <div class="row">
                <div class="head"><span>品牌：</span></div>
                <div class="body">
                    <div class="items items-show2line">
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果苹</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果苹</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果苹</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹苹果果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                    </div>
                    <div class="btns">
                        <span class="submit">提交</span>
                        <span class="cancel">取消</span>
                    </div>
                </div>
                <div class="foot">
                    <span class="switch-multi">多选</span>
                    <span class="show-more">更多<span class="fa fa-angle-down"></span></span>
                    <span class="show-less">收起<span class="fa fa-angle-up"></span></span>
                </div>
            </div>
            <div class="row">
                <div class="head"><span>品牌：</span></div>
                <div class="body">
                    <div class="items">
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                    </div>
                    <div class="btns">
                        <span class="submit">提交</span>
                        <span class="cancel">取消</span>
                    </div>
                </div>
                <div class="foot">
                    <span class="switch-multi">多选</span>
                    <span class="show-more">更多<span class="fa fa-angle-down"></span></span>
                    <span class="show-less">收起<span class="fa fa-angle-up"></span></span>
                </div>
            </div>
            <div class="row">
                <div class="head"><span>品牌：</span></div>
                <div class="body">
                    <div class="items">
                        <a class="item icon-tag" href="javascript:void(0)" title="苹果">
                            <span class="icon-btn-check-small"></span>
                            <span class="text">苹果</span>
                            <span class="fa fa-exclamation-circle"></span>
                        </a>
                    </div>
                    <div class="btns">
                        <span class="submit">提交</span>
                        <span class="cancel">取消</span>
                    </div>
                </div>
                <div class="foot">
                    <span class="switch-multi">多选</span>
                    <span class="show-more">更多<span class="fa fa-angle-down"></span></span>
                    <span class="show-less">收起<span class="fa fa-angle-up"></span></span>
                </div>
            </div>
        </div>
        <div class="goods-center">
            <div class="goods-sort">
                <div class="sort-inner">
                    <ul class="sorts">
                        <li class="sort y-left">
                            <a class="link active first" title="排序" href="javascript:void(0)">综合排序</a>
                        </li>
                        <li class="sort y-left">
                            <a class="link" title="销量从高到低" href="javascript:void(0)">销量</a>
                        </li>
                        <li class="sort y-left has-droplist">
                            <div class="trigger">
                                <div class="link  ">
                                    <span class="text" title="价格从低到高">价格</span>
                                    <span class="icon">∨</span>
                                </div>
                            </div>
                            <ul class="droplist">
                                <li class="sort">
                                    <a class="link" href="javascript:void(0)">价格从低到高</a>
                                </li>
                                <li class="sort">
                                    <a class="link" href="javascript:void(0)">价格从高到低</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-list">
                <div class="goods-list-inner">
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="/goods/details">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="/goods/details">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:324</span></div>
                    </div>
                    <div class="goods-items y-left">
                        <div class="imgs">
                            <img src="../../static/img/44c33.jpg" alt="">
                        </div>
                        <div class="row price">￥8000.00<span class="y-right">销量:394</span></div>
                        <div class="row title"><a href="javascript:void(0)">失信被执行人查询失信被执行人查询失信被执行人查询</a></div>
                        <div class="row seller"><a href="javascript:void(0)">wudy大数据</a><span class="y-right">评价:<a href="javascript:void(0)">324</a></span></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.has-droplist').hover(function(){
        $('.has-droplist .droplist').toggle();
    })
    $('.switch-multi').on('click',function(){
        $('.switch-multi').show();
        $('.btns').hide();
        $(this).parents().siblings('.body').children('.btns').show();
        $(this).hide();
    })
    $('.cancel').on('click',function(){
        $('.switch-multi').show();
        $(this).parents('.btns').hide();
    })
    $('.show-more').on('click',function(){
        $(this).hide().siblings('.show-less').show();
        $(this).parents().siblings('.body').children('.items').addClass('items-show3line');
    })
    $('.show-less').on('click',function(){
        $(this).hide().siblings('.show-more').hide();
        $(this).parents().siblings('.body').children('.items').removeClass('items-show3line');
    })
</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>