<style>
	.control-label {
		width: 80px;
	}
</style>
<div class="row">
	<div class="col-sm-12">
		<div class="console-title console-title-border clearfix">
			<div class="pull-left"><h5>{{pageTitle}}</h5></div>
			<div class="pull-right">
				<button class="btn btn-default" data-ng-click="refresh()">
					<span class="glyphicon glyphicon-refresh"></span> 刷新
				</button>
				<!--<button class="btn btn-default" data-ng-click="returnPage()"><span class="glyphicon glyphicon-refresh"></span> 返回-->
				<!--</button>-->
				<!--<a target="_blank" href="{{site.websiteServer}}/usercenter/goodsPublish" class="btn btn-primary">新增</a>-->
			</div>
		</div>
		<div class="row margin-top">
			<div class="col-sm-12">
				<div class="searchSection">
					<form class="form-inline">
						<div class="form-group">
							<label class="control-label">商品名称</label>
							<input ng-model="searchName" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label">商品编码</label>
							<input ng-model="searchSn" type="text" class="form-control">
						</div>
						<div class="form-group" data-ng-if="goodsTypeView == 1">
							<label class="control-label">审核状态</label>
							<select ng-model="searchCheckStatus" ng-options="checkStatus.id as checkStatus.name for checkStatus in checkStatuss" style="width: 155px;height: 32px">
							</select>
						</div>
						<div class="form-group" data-ng-if="goodsTypeView == 1">
							<label class="control-label">上架状态</label>
							<select ng-model="searchOnSaleStatus" ng-options="onSaleStatus.id as onSaleStatus.name for onSaleStatus in onSaleStatuss" style="width: 155px;height: 32px">
							</select>
						</div>
						<div class="form-group" data-ng-if="goodsTypeView != 1">
							<label class="control-label">供应商名称</label>
							<input ng-model="orgName" type="text" class="form-control">
						</div>
						<!--<div class="form-group">
						  <label class="control-label">商品关键字</label>
						  <input ng-model="searchKw" type="text" class="form-control">
						</div>
						<div class="form-group">
						  <label class="control-label">商品店铺</label>
						  <input ng-model="searchShop" type="text" class="form-control">
						</div>-->
						<button type="submit" class="btn btn-primary" data-ng-click="search()">搜索</button>
					</form>
				</div>
				<div class="gridSection">
					<div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
					<table class="table table-hover" style="margin-bottom: 57px;">
						<thead>
						<tr>
							<th>编号</th>
							<th>名称</th>
							<th data-ng-if="goodsTypeView != 1">价格</th>
							<th>所属地域</th>
							<th data-ng-if="goodsTypeView != 1">分类</th>
							<th>类型</th>
							<th>供应商</th>
							<th data-ng-if="goodsTypeView != 2">审核状态</th><!--13-->
							<th data-ng-if="goodsTypeView == 3">审核时间</th><!--3-->
							<th data-ng-if="goodsTypeView == 3">审核人</th><!----><!--3-->
							<th data-ng-if="goodsTypeView == 1">上架状态</th><!--1-->
							<th data-ng-if="goodsTypeView != 3">创建时间</th><!--12-->
							<th data-ng-if="goodsTypeView == 1">渠道来源</th><!--1-->
							<th width="200" class="text-center">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr data-ng-if="!loadingState" data-ng-repeat="item in pagination.store" class="">
							<td>
								<span text-length="50" ng-bind="item.goodsSn"></span>
							</td>
							<td>
								<a href="javascript:;" ng-click="goodsDetail(item)">
									<span class="column-text" ng-bind="item.goodsName | limitTo:10"></span>
								</a>
							</td>
							<td data-ng-if="goodsTypeView != 1">
								<span ng-bind="item.shopPrice / 100"></span>
							</td>
							<td>
								<span class="column-text" ng-bind="item.goodsArea"></span>
							</td>
							<td data-ng-if="goodsTypeView != 1"><span ng-bind="item.catId"></span></td>
							<td>
								<span class="column-text" ng-bind="item.goodsType | goodsType"></span>
							</td>
							<td>
								<span class="column-text" ng-bind="item.orgName"></span>
							</td>
							<td data-ng-if="goodsTypeView != 2">
								<span class="column-text" style="color: red" ng-show="item.checkStatus == 2">未通过</span>
								<span class="column-text" style="color: green" ng-show="item.checkStatus == 1">已通过</span>
								<span class="column-text" ng-show="item.checkStatus == 0">待审核</span>
							</td>
							<td data-ng-if="goodsTypeView == 3"><span ng-bind="item.checkTime"></span></td>
							<td data-ng-if="goodsTypeView == 3"><span ng-bind="item.checkUser"></span></td>
							<td data-ng-if="goodsTypeView == 1">
								<span class="column-text" ng-show="(item.checkStatus == 0 || item.checkStatus == 2) && item.isOnsale == 1">待上架</span>
								<span class="column-text" style="color: green" ng-show="item.checkStatus == 1 && item.isOnsale == 1">已上架</span>
								<span class="column-text" style="color: DimGray " ng-show="item.isOnsale == 0">已下架</span>
								<span class="column-text" style="color: red" ng-show="item.isOnsale == 2">强制下架</span>
							</td>
							<td data-ng-if="goodsTypeView != 3">
								<span class="column-text" ng-bind="item.lastUpdateTime"></span>
							</td>
							<td data-ng-if="goodsTypeView == 1">
								<span class="column-text">本地资源</span>
							</td>
							<td class="text-center" data-ng-if="item.isDelete == 1">
								<span data-ng-if="item.isOnsale == '1' && item.checkStatus == '0'">
								  	<a href="javascript:void(0);" ng-click="goCheck(item, 1)">去审核</a>
								</span>
								<span data-ng-if="item.isOnsale == '1' && item.checkStatus == '1'">
								  	<a href="javascript:void(0);" ng-click="forceOffShelf(item)">强制下架</a>
								</span>
								<span data-ng-if="item.isOnsale == '2'">
								  	<a href="javascript:void(0);" ng-click="goOff(item)">下架</a>
								</span>


								<!--<span data-ng-if="item.checkStatus ！= 0 && item.isOnsale == 2">-->
									<!--<span>已强制下架</span>-->
								<!--</span>-->
								<!--<span data-ng-if="item.isOnsale == 0">-->
								<!--<span>已下架</span>-->
								<!--</span>-->
								<!--<span data-ng-if="item.isOnsale == 2 || item.isOnsale == 0">-->
								<!--<span class="text-explode">|</span>-->
								<!--<a href="javascript:void(0);" ng-click="delGoods($event, item, 3)">上架</a>-->
								<!--</span>-->
							</td>
						</tr>
						</tbody>
						<tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
						<tr>
							<td colspan="9">
								<div class="pull-right page-box">
									<div class="pagination-info">
										共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条
									</div>
									<ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
										ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
										max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
										force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
										last-text="末页">
									</ul>
								</div>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
				<div class="simple-grid-none-data-wrap">
					<div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
						<div class="row-padding row-margin text-center">
							<span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
							<div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>