<div class="row" xmlns="http://www.w3.org/1999/html">
	<div class="col-sm-12">
		<div class="console-title console-title-border clearfix">
			<div class="pull-left"><h5>商品详情-审核</h5></div>
			<div class="pull-right">
				<button class="btn btn-default" data-ng-click="returnPage()">
					<span class="glyphicon glyphicon-repeat"></span> 返回
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<form class="form-horizontal" role="form">
			<fieldset>
				<ul style="padding: 0px 20px;" class="nav nav-tabs">
					<li data-ng-class="{'active':current == 1}" data-ng-click="setCurrent(1)">
						<a href="javascript:void(0)">基本信息</a>
					</li>
					<li data-ng-class="{'active' : current == 2}" data-ng-click="setCurrent(2)">
						<a href="javascript:void(0)">补充信息</a>
					</li>
					<li data-ng-class="{'active' : current == 3}" data-ng-show="editData.goodsType == 1 && editData.isOffline == 0" data-ng-click="setCurrent(3)">
						<a href="javascript:void(0)">封装内容编辑</a>
					</li>
				</ul>
				<div data-ng-show="current == 1">
					<div class="form-group">
						<label class="col-sm-2 control-label">商品名称</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="goodsName" value="{{editData.goodsName}}" readonly="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">商品简介</label>
						<div class="col-sm-5">
							<textarea style="margin: 0px; width: 452px; height: 84px;" readonly="true">{{editData.goodsBrief}}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">商品标签</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="goodsName" value="{{editData.keywords}}" readonly="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">商品类型</label>
						<div class="col-sm-5">
							<select disabled>
								<option value="0" ng-selected="editData.goodsType == 0">离线数据</option>
								<option value="1" ng-selected="editData.goodsType == 1">API</option>
								<option value="2" ng-selected="editData.goodsType == 2">数据模型</option>
								<option value="4" ng-selected="editData.goodsType == 4">分析工具--独立软件</option>
								<option value="5" ng-selected="editData.goodsType == 5">分析工具--SaaS</option>
								<option value="6" ng-selected="editData.goodsType == 6">应用场景--独立软件</option>
								<option value="7" ng-selected="editData.goodsType == 7">应用场景--SaaS</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">所属区域</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" value="{{editData.goodsArea}}" readonly="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">商品图片</label>
						<div class="col-sm-5">
							<a href="http://static.qddata.com.cn/{{editData.goodsImg}}" target="_blank">
								<img ng-src="http://static.qddata.com.cn/{{editData.goodsImg}}" style="max-width:300px;">
							</a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">适用范围</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" value="{{editData.trialRange}}" readonly="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">规格及价格</label>
						<div class="col-sm-5">
							<table class="table table-hover">
								<thead>
								<tr>
									<th>名称</th>
									<th>规格</th>
									<th>类型</th>
									<th>结算价（元）</th>
									<th>代理价（元）</th>
									<th>零售价（元）</th>
								</tr>
								</thead>
								<tbody>
								<tr data-ng-repeat="req in editData.formatList" class="">
									<td>
										<span class="" ng-bind="req.formatName"></span>
									</td>
									<td>
										<span class="column-text" ng-bind="req.number"></span>
									</td>
									<td>
										<span class="column-text" ng-bind="req.format | goodsFormat"></span>
									</td>
									<td>
										<span class="column-text" ng-bind="req.settlementPrice/100"></span>
									</td>
									<td>
										<span class="column-text" ng-bind="req.agencyPrice/100"></span>
									</td>
									<td>
										<span class="column-text" ng-bind="req.price/100"></span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group" data-ng-if="editData.goodsType == 0 || editData.goodsType == 1 || editData.goodsType == 2">
						<label class="col-sm-2 control-label">商品描述</label>
						<div class="col-sm-5">
							<p ng-bind-html="editData.goodsDesc | trustHtml"></p>
						</div>
					</div>
					<div class="form-group" data-ng-if="editData.goodsType == 0 || editData.goodsType == 1 || editData.goodsType == 2">
						<label class="col-sm-2 control-label">商品优势</label>
						<div class="col-sm-5">
							<p ng-bind-html="editData.goodsAdvantage | trustHtml"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">售后服务</label>
						<div class="col-sm-5">
							<p ng-bind-html="editData.afterSaleService | trustHtml"></p>
						</div>
					</div>
					<div class="form-group" data-ng-if="editData.goodsType == 0 || editData.goodsType == 1">
						<label class="col-sm-2 control-label">数据样例</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" value="{{editData.dataSample}}" readonly="true"/>
						</div>
					</div>
					<div class="form-group" data-ng-if="editData.goodsType == 1 || editData.goodsType == 4 || editData.goodsType == 5 || editData.goodsType == 6 || editData.goodsType == 7">
						<label class="col-sm-2 control-label">应用案例</label>
						<div class="col-sm-5">
							<p ng-bind-html="editData.appCase | trustHtml"></p>
						</div>
					</div>
					<div class="form-group" data-ng-if="$flag && editData.checkStatus == 0">
						<div class="col-sm-2"></div>
						<div class="col-sm-5">
							<button class="btn btn-primary" data-ng-click="setCurrent(2)">下一步</button>
						</div>
					</div>
				</div>
				<div data-ng-show="current == 2">
					<!-- 线下数据公共数据 -->
					<div data-ng-if="editData.isOffline == 1">
						<div class="form-group">
							<label class="col-sm-2 control-label">联系姓名</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" value="{{editData.offLineInfo.concatName}}" readonly="true"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">联系电话</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" value="{{editData.offLineInfo.concatPhone}}" readonly="true"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">联系邮件</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" value="{{editData.offLineInfo.concatEmail}}" readonly="true"/>
							</div>
						</div>
					</div>
					<!--线上数据-->
					<div data-ng-if="editData.isOffline == 0">
						<div data-ng-if="editData.goodsType == 0">
							<div class="form-group">
								<label class="col-sm-2 control-label">时间范围：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.offLineData.timeFrame}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">数据行数：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.offLineData.dataRows}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">数据容量：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.offLineData.dataCapacity}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">数据格式：</label>
								<div class="col-sm-5">
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.dataFormat == 0" disabled/>xls/xlsx
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.dataFormat == 1" disabled/>csv
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.dataFormat == 2" disabled/>txt
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.dataFormat == 3" disabled/>图片
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.dataFormat == 4" disabled/>音频
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.dataFormat == 5" disabled/>视频
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.dataFormat == 6" disabled/>其他
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">数据来源：</label>
								<div class="col-sm-5">
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.isOnline == 0" disabled/>数据文件
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.offLineData.isOnline == 1" disabled/>数据地址
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">数据包密码：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.offLineData.dataPwd}}" readonly="true"/>
								</div>
							</div>
						</div>
						<div data-ng-if="editData.goodsType == 1">
							<div class="form-group">
								<label class="col-sm-2 control-label">接口类型：</label>
								<div class="col-sm-5">
									<label class="radio-inline">
										<input type="radio" value="0" ng-checked="editData.apiInfo.apiType == '0'" readonly="true"/>restful
									</label>
									<label class="radio-inline">
										<input type="radio" value="1" ng-checked="editData.apiInfo.apiType == '1'" readonly="true"/>webservice
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">调用方法名：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.invokeMethod}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">接口地址：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.apiUrl}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">请求方式：</label>
								<div class="col-sm-5">
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.apiInfo.apiMethod == 'GET' || editData.apiInfo.apiMethod == 'get'" disabled/>GET
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.apiInfo.apiMethod == 'POST' || editData.apiInfo.apiMethod == 'post'" disabled/>POST
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">请求示例：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.reqSample}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">接口描述：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.apiDesc}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">请求参数：</label>
								<div class="col-sm-5">
									<table class="table table-hover">
										<thead>
										<tr>
											<th>名称</th>
											<th>类型</th>
											<th>默认值</th>
											<th>必填</th>
											<th>示例</th>
											<th>描述</th>
										</tr>
										</thead>
										<tbody>
										<tr data-ng-repeat="req in editData.apiInfo.reqParamList" class="">
											<td>
												<span class="" ng-bind="req.fieldName"></span>
											</td>
											<td>
												<span class="column-text" ng-bind="req.fieldType"></span>
											</td>
											<td>
												<span class="column-text" ng-bind="req.fieldDefault"></span>
											</td>
											<td>
												<span class="column-text" ng-bind="req.isMust | isMust">否</span>
											</td>
											<td>
												<span class="column-text" ng-bind="req.fieldSample"></span>
											</td>
											<td>
												<span class="column-text" ng-bind="req.describle"></span>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">返回参数：</label>
								<div class="col-sm-5">
									<table class="table table-hover">
										<thead>
										<tr>
											<th>参数名称</th>
											<th>参数说明</th>
										</tr>
										</thead>
										<tbody>
										<tr data-ng-repeat="req in editData.apiInfo.respParamList" class="">
											<td>
												<span class="" ng-bind="req.fieldName"></span>
											</td>
											<td>
												<span class="column-text" ng-bind="req.describle"></span>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">返回示例：</label>
								<div class="col-sm-5">
									<textarea style="margin: 0px; width: 452px; height: 150px;" readonly="true">
									{{editData.apiInfo.respSample}}
									</textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">返回格式：</label>
								<div class="col-sm-5">
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.apiInfo.respDataFormat == '0'" disabled/>json
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.apiInfo.respDataFormat == '1'" disabled/>xml
									</label>
									<label class="radio-inline">
										<input type="radio" ng-checked="editData.apiInfo.respDataFormat == '2'" disabled/>text
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">资源有效时间:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">编码属性：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.respDataMapping.codeAttrBean.codeAttr}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">成功：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.respDataMapping.codeAttrBean.codeInfoBean.successCode}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">失败：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.respDataMapping.codeAttrBean.codeInfoBean.failedCode}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">成功无数据：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.respDataMapping.codeAttrBean.codeInfoBean.successNoData}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">信息属性：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.respDataMapping.infoAttr}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">数据属性：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.respDataMapping.dataAttr}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">总条数属性：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.respDataMapping.totalNumAttr}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">更新频率：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.updateFreq}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">数据条数/行数：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.dataNumDivRowNum}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">密钥名称:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.encryptInfo.secretKeyName}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">密钥值:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.apiInfo.encryptInfo.secretKeyValue}}" readonly="true"/>
								</div>
							</div>
						</div>
						<div data-ng-if="editData.goodsType == 2">
							<div class="form-group">
								<label class="col-sm-2 control-label">模型类型：</label>
								<div class="col-sm-5">
									<select disabled>
										<option value="0" ng-selected="editData.dataModel.modelType == 0">分类
										</option>
										<option value="1" ng-selected="editData.dataModel.modelType == 1">回归
										</option>
										<option value="2" ng-selected="editData.dataModel.modelType == 2">识别
										</option>
										<option value="3" ng-selected="editData.dataModel.modelType == 2">预测
										</option>
										<option value="4" ng-selected="editData.dataModel.modelType == 4">聚类
										</option>
										<option value="5" ng-selected="editData.dataModel.modelType == 5">时间序列化
										</option>
										<option value="6" ng-selected="editData.dataModel.modelType == 6">关联将维
										</option>
										<option value="7" ng-selected="editData.dataModel.modelType == 7">优化
										</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">复杂度：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.dataModel.complexity}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">成熟度：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.dataModel.maturity}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">应用经验：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.dataModel.aexp}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">配套服务：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.dataModel.relationServ}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">模型规格：</label></br>
								<div class="col-sm-5">
									模型文件：<input type="text" class="form-control" value="{{editData.dataModel.modelFile.fileAddress}}" readonly="true"/>
									配置文件：<input type="text" class="form-control" value="{{editData.dataModel.configFile.fileAddress}}" readonly="true"/>
									配置参数：<input type="text" class="form-control" value="{{editData.dataModel.paramFile.fileAddress}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">联系方式：</label></br>
								<div class="col-sm-5">
									联系姓名：<input type="text" class="form-control" value="{{editData.dataModel.concatInfo.concatName}}" readonly="true"/>
									联系电话：<input type="text" class="form-control" value="{{editData.dataModel.concatInfo.concatPhone}}" readonly="true"/>
									联系邮件：<input type="text" class="form-control" value="{{editData.dataModel.concatInfo.concatEmail}}" readonly="true"/>
								</div>
							</div>
						</div>
						<div data-ng-if="editData.goodsType == 4">
							<div class="form-group">
								<label class="col-sm-2 control-label">核心功能：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atAloneSoftware.coreFunction}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">技术优势：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atAloneSoftware.technologicalSuperiority}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">团队优势：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atAloneSoftware.teamAdvantage}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需环境：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atAloneSoftware.desiredEnvironment}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需数据：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atAloneSoftware.dataNeeded}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">下载地址：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atAloneSoftware.dataAddress}}" readonly="true"/>
								</div>
							</div>
						</div>
						<div data-ng-if="editData.goodsType == 5">
							<div class="form-group">
								<label class="col-sm-2 control-label">核心功能：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atSaaS.coreFunction}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">团队优势：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atSaaS.teamAdvantage}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需环境：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atSaaS.desiredEnvironment}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需数据：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atSaaS.dataNeeded}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">在线访问地址：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.atSaaS.dataAddress}}" readonly="true"/>
								</div>
							</div>
						</div>
						<div data-ng-if="editData.goodsType == 6">
							<div class="form-group">
								<label class="col-sm-2 control-label">核心功能：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asAloneSoftware.coreFunction}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">技术优势：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asAloneSoftware.technologicalSuperiority}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">团队优势：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asAloneSoftware.teamAdvantage}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需环境：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asAloneSoftware.desiredEnvironment}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需数据：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asAloneSoftware.dataNeeded}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">下载地址：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asAloneSoftware.dataAddress}}" readonly="true"/>
								</div>
							</div>
						</div>
						<div data-ng-if="editData.goodsType == 7">
							<div class="form-group">
								<label class="col-sm-2 control-label">核心功能：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asSaaS.coreFunction}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">团队优势：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asSaaS.teamAdvantage}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需环境：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asSaaS.desiredEnvironment}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所需数据：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asSaaS.dataNeeded}}" readonly="true"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">在线访问地址：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" value="{{editData.asSaaS.dataAddress}}" readonly="true"/>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" data-ng-if="$flag && editData.goodsType != 1 && editData.checkStatus == 0">
						<form class="form-horizontal" role="form" id="goodsCheckForm" name="checkForm">
							<input type="hidden" id="goodsId" name="goodsId" value="{{editData.goodsId}}"/>
							<input type="hidden" id="goodsSn" name="goodsSn" value="{{editData.goodsSn}}"/>
							<input type="hidden" id="goodsName" name="goodsName" value="{{editData.goodsName}}"/>
							<div class="form-group">
								<label class="col-sm-2 control-label">审核状态：</label>
								<div class="col-sm-5">
									<label class="radio-inline">
										<input type="radio" name="checkStatus" value="1" checked/>通过
										<!--id="checkStatus_1" name="checkStatus" value="1" checked-->
									</label>
									<label class="radio-inline">
										<input type="radio" name="checkStatus" value="2"/>不通过
										<!--<input type="radio" id="checkStatus_2" name="checkStatus" value="2"/>不通过-->
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">审核意见：</label>
								<div class="col-sm-5">
									<label>
										<textarea name="checkContent" id="checkContent" style="margin: 0px; width: 452px; height: 84px;"></textarea>
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<button class="btn btn-primary" data-ng-click="setCurrent(1)">上一步</button>
									<button class="btn btn-primary" data-ng-click="submitCheck()" ng-disabled="checkForm.$invalid">
										<span class="glyphicon glyphicon-refresh"></span> 提交审核
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="form-group" data-ng-if="$flag && editData.checkStatus == 0 &&  editData.goodsType == 1">
						<div class="col-sm-2"></div>
						<div class="col-sm-5">
							<button class="btn btn-primary" data-ng-click="setCurrent(1)">上一步</button>
							<button class="btn btn-primary" data-ng-click="setCurrent(3)">下一步</button>
						</div>
					</div>
				</div>
				<div data-ng-show="current == 3 && editData.goodsType == 1">
					<div data-ng-if="editData.isOffline == 0">
						<div data-ng-if="editData.goodsType == 1" class="api-info-box">
							<div class="form-group">
								<label class="col-sm-2 control-label">接口类型：</label>
								<div class="col-sm-5">
									<label class="radio-inline" data-ng-if="$flag">
										<input name="apiType" value='0' type="radio" data-ng-model="packageApiInfo.apiType"/>restful
									</label>
									<label class="radio-inline" data-ng-if="!$flag">
										<input name="apiType" value='0' type="radio" disabled ng-checked="packageApiInfo.apiType"/>restful
									</label>
									<label class="radio-inline" data-ng-if="$flag">
										<input name="apiType" value='1' type="radio" data-ng-model="packageApiInfo.apiType"/>webservice
									</label>
									<label class="radio-inline" data-ng-if="!$flag">
										<input name="apiType" value='1' type="radio" disabled ng-checked="packageApiInfo.apiType"/>webservice
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">调用方法名：</label>
								<div class="col-sm-5">
									<input type="text" name="invokeMethod" class="form-control" data-ng-if="$flag" data-ng-model="packageApiInfo.invokeMethod"/>
									<input type="text" name="invokeMethod" class="form-control" data-ng-if="!$flag" readonly value="{{packageApiInfo.invokeMethod}}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">接口地址：</label>
								<div class="col-sm-5">
									<input type="text" name="apiUrl" class="form-control" data-ng-if="$flag" data-ng-model="packageApiInfo.apiUrl"/>
									<input type="text" name="apiUrl" class="form-control" data-ng-if="!$flag" disabled data-ng-model="packageApiInfo.apiUrl"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">请求方式：</label>
								<div class="col-sm-5">
									<label class="radio-inline" data-ng-if="$flag">
										<input type="radio" name="apiMethod" data-ng-model="packageApiInfo.apiMethod" value="GET"/>GET
									</label>
									<label class="radio-inline" data-ng-if="!$flag">
										<input type="radio" name="apiMethod" ng-checked="packageApiInfo.apiMethod == 'get' || packageApiInfo.apiMethod == 'GET'" disabled value="GET"/>GET
									</label>
									<label class="radio-inline" data-ng-if="$flag">
										<input type="radio" name="apiMethod" data-ng-model="packageApiInfo.apiMethod" value="POST"/>POST
									</label>
									<label class="radio-inline" data-ng-if="!$flag">
										<input type="radio" name="apiMethod" ng-checked="packageApiInfo.apiMethod == 'post' || packageApiInfo.apiMethod == 'POST' " disabled value="POST"/>POST
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">请求示例：</label>
								<div class="col-sm-5">
									<input type="text" name="reqSample" data-ng-if="$flag" class="form-control" data-ng-model="packageApiInfo.reqSample"/>
									<input type="text" name="reqSample" data-ng-if="!$flag" class="form-control" disabled value="packageApiInfo.reqSample"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">接口描述：</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="apiDesc" data-ng-model="packageApiInfo.apiDesc" disabled/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">请求参数：</label>
								<div class="col-sm-8">
									<table class="table table-hover">
										<thead>
										<tr>
											<th>名称</th>
											<th>类型</th>
											<th>默认值</th>
											<th>必填</th>
											<th>示例</th>
											<th>描述</th>
											<th>操作</th>
										</tr>
										</thead>
										<tbody>
										<tr data-ng-repeat="req in packageApiInfo.reqParamList" class="">
											<td>
												<input type="text" name="fieldName" value="{{req.fieldName}}" disabled>
											</td>
											<td>
												<select name="fieldType" disabled>
													<option ng-selected="req.fieldType == 'string'">string</option>
													<option ng-selected="req.fieldType == 'int'">int</option>
												</select>
											</td>
											<td>
												<input name="fieldDefault" type="text" value="{{req.fieldDefault}}" disabled>
											</td>
											<td>
												<select name="isMust" disabled>
													<option ng-selected="req.isMust == 0">否</option>
													<option ng-selected="req.isMust == 1">是</option>
												</select>
											</td>
											<td>
												<input name="fieldSample" type="text" value="{{req.fieldSample}}" disabled>
											</td>
											<td>
												<input name="describle" type="text" value="{{req.describle}}" disabled>
											</td>
											<td>
												<span class="column-text">-</span>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">返回参数：</label>
								<div class="col-sm-8">
									<table class="table table-hover">
										<thead>
										<tr>
											<th>参数名称</th>
											<th>参数说明</th>
										</tr>
										</thead>
										<tbody>
										<tr data-ng-repeat="req in packageApiInfo.respParamList" class="">
											<td>
												<span class="" ng-bind="req.fieldName"></span>
											</td>
											<td>
												<span class="column-text" ng-bind="req.describle"></span>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">返回示例：</label>
								<div class="col-sm-5">
									<textarea style="margin: 0px; width: 452px; height: 150px;" data-ng-if="$flag" name="respSample" data-ng-model="packageApiInfo.respSample"></textarea>
									<textarea style="margin: 0px; width: 452px; height: 150px;" data-ng-if="!$flag" disabled name="respSample" data-ng-model="packageApiInfo.respSample"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">返回格式：</label>
								<div class="col-sm-5">
									<label class="radio-inline" data-ng-if="$flag">
										<input name="respDataFormat" value='0' type="radio" data-ng-model="packageApiInfo.respDataFormat"/>json
									</label>
									<label class="radio-inline" data-ng-if="$flag">
										<input name="respDataFormat" value='1' type="radio" data-ng-model="packageApiInfo.respDataFormat"/>xml
									</label>
									<label class="radio-inline" data-ng-if="$flag">
										<input name="respDataFormat" value='2' type="radio" data-ng-model="packageApiInfo.respDataFormat"/>text
									</label>
									<label class="radio-inline" data-ng-if="!$flag">
										<input name="respDataFormat" value='0' disabled type="radio" ng-checked="packageApiInfo.respDataFormat == '0'"/>json
									</label>
									<label class="radio-inline" data-ng-if="!$flag">
										<input name="respDataFormat" value='1' disabled type="radio" ng-checked="packageApiInfo.respDataFormat == '1'"/>xml
									</label>
									<label class="radio-inline" data-ng-if="!$flag">
										<input name="respDataFormat" value='2' disabled type="radio" ng-checked="packageApiInfo.respDataFormat == '2'"/>text
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">资源有效时间：</label>
								<div class="col-sm-5">
									<input type="text" name="" class="form-control"/>
								</div>
							</div>
						</div>
						<div class="form-group" data-ng-if="$flag && editData.goodsType == 1 && editData.checkStatus == 0">
							<form class="form-horizontal" role="form" id="goodsCheckForm" name="checkForm">
								<input type="hidden" id="goodsId" name="goodsId" value="{{editData.goodsId}}"/>
								<input type="hidden" id="goodsSn" name="goodsSn" value="{{editData.goodsSn}}"/>
								<input type="hidden" id="goodsName" name="goodsName" value="{{editData.goodsName}}"/>
								<div class="form-group">
									<label class="col-sm-2 control-label">审核状态：</label>
									<div class="col-sm-5">
										<label class="radio-inline">
											<input type="radio" name="checkStatus" value="1" checked/>通过
											<!--id="checkStatus_1" name="checkStatus" value="1" checked-->
										</label>
										<label class="radio-inline">
											<input type="radio" name="checkStatus" value="2"/>不通过
											<!--<input type="radio" id="checkStatus_2" name="checkStatus" value="2"/>不通过-->
										</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">审核意见：</label>
									<div class="col-sm-5">
										<label>
											<textarea name="checkContent" id="checkContent" style="margin: 0px; width: 452px; height: 84px;"></textarea>
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2"></div>
									<div class="col-sm-5">
										<button class="btn btn-primary" data-ng-click="setCurrent(2)">
											上一步
										</button>
										<button class="btn btn-primary" data-ng-click="submitCheck()" ng-disabled="checkForm.$invalid">
											<span class="glyphicon glyphicon-refresh"></span> 提交审核
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>