<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>商品详情-审核</h5></div>
      <div class="pull-right">
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" role="form" id="goodsCheckForm" name="shelf">
      <fieldset>
        <h5 style="padding: 0px 20px;">基本信息</h5>
        <div class="form-group">
          <input type="hidden" id="goodsId" name="goodsId" value="{{editData.goodsId}}" />
          <input type="hidden" id="goodsSn" name="goodsSn" value="{{editData.goodsSn}}" />
          <label class="col-sm-2 control-label">商品名称</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="goodsName" value="{{editData.goodsName}}" readonly="true" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">商品简介</label>
          <div class="col-sm-5">
            <!--<input type="text" class="form-control" value="{{editData.goodsBrief}}" readonly="true" />-->
            <textarea style="margin: 0px; width: 452px; height: 84px;" readonly="true">{{editData.goodsBrief}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">商品类型</label>
          <div class="col-sm-5">
            <label class="radio-inline">
              <input type="radio" ng-checked="editData.goodsType == 0"/>常规商品
            </label>
            <label class="radio-inline">
              <input type="radio" ng-checked="editData.goodsType == 1"/>api
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">所属区域</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" value="{{editData.goodsArea}}" readonly="true" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">商品图片</label>
          <div class="col-sm-5">
            <img ng-src="{{editData.goodsImg}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">规格及价格</label>
          <div class="col-sm-5">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>名称</th>
                <th>规格</th>
                <th>类型</th>
                <th>价格</th>
              </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="req in editData.formatList" class="">
                <td>
                  <span class="" ng-bind="req.formatName"></span>
                </td>
                <td>
                  <span class="column-text" ng-bind="req.number"></span>
                </td>
                <td>
                  <span class="column-text" ng-show="req.format == 0">次</span>
                  <span class="column-text" ng-show="req.format == 1">天</span>
                  <span class="column-text" ng-show="req.format == 2">年</span>
                </td>
                <td>
                  <span class="column-text" ng-bind="req.price/100"></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">商品描述</label>
          <div class="col-sm-5">
            <!--<input type="text" class="form-control" value="{{editData.goodsDesc}}" readonly="true" />-->
            <textarea style="margin: 0px; width: 452px; height: 120px;" readonly="true">
              {{editData.goodsDesc}}
            </textarea>
          </div>
        </div>
        <div data-ng-if="editData.goodsType == 1">
          <div class="form-group">
            <label class="col-sm-2 control-label">接口地址</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" value="{{editData.apiInfo.apiUrl}}" readonly="true" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">请求方式</label>
            <div class="col-sm-5">
              <label class="radio-inline">
                <input type="radio" ng-checked="editData.apiInfo.apiMethod == 'GET'"/>GET
              </label>
              <label class="radio-inline">
                <input type="radio" ng-checked="editData.apiInfo.apiMethod == 'POST'"/>POST
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">请求示例</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" value="{{editData.apiInfo.reqSample}}" readonly="true" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">接口描述</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" value="{{editData.apiInfo.apiDesc}}" readonly="true" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">请求参数</label>
            <div class="col-sm-5">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>名称</th>
                  <th>类型</th>
                  <th>默认值</th>
                  <th>必填</th>
                  <th>示例</th>
                  <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="req in editData.apiInfo.reqParamList" class="">
                  <td>
                    <span class="" ng-bind="req.fieldName"></span>
                  </td>
                  <td>
                    <span class="column-text" ng-bind="req.fieldType"></span>
                  </td>
                  <td>
                    <span class="column-text" ng-bind="req.fieldDefault"></span>
                  </td>
                  <td>
                    <span class="column-text" ng-show="req.isMust == 0">否</span>
                    <span class="column-text" ng-show="req.isMust == 1">是</span>
                  </td>
                  <td>
                    <span class="column-text" ng-bind="req.fieldSample"></span>
                  </td>
                  <td>
                    <span class="column-text" ng-bind="req.describle"></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">返回示例</label>
            <div class="col-sm-5">
              <textarea style="margin: 0px; width: 452px; height: 150px;" readonly="true">
                {{editData.apiInfo.respSample}}
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">返回参数</label>
            <div class="col-sm-5">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>错误码</th>
                    <th>说明</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="req in editData.apiInfo.respParamList" class="">
                    <td>
                      <span class="" ng-bind="req.fieldName"></span>
                    </td>
                    <td>
                      <span class="column-text" ng-bind="req.describle"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group">
        <label class="col-sm-2 control-label">审核状态</label>
        <div class="col-sm-5">
          <label class="radio-inline">
            <input type="radio" id="checkStatus_1" name="checkStatus" value="1" checked/>通过
          </label>
          <label class="radio-inline">
            <input type="radio" id="checkStatus_2" name="checkStatus" value="2" />不通过
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="checkContent">审核意见</label>
        <div class="col-sm-5">
          <label>
            <textarea id="checkContent" name="checkContent" style="margin: 0px; width: 452px; height: 84px;"></textarea>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-primary" data-ng-click="submitCheck()">
            <span class="glyphicon glyphicon-refresh"></span> 提交审核
          </button>
        </div>
      </div>
    </form>
  </div>
</div>