<style>
  .control-label {
    width: 80px;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>商品查询</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 刷新
        </button>
        <a target="_blank" href="{{site.websiteServer}}/usercenter/goodsPublish" class="btn btn-primary">新增</a>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-12">
        <div class="searchSection">
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label">商品名称</label>
              <input ng-model="searchName" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">商品编码</label>
              <input ng-model="searchSn" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">商品关键字</label>
              <input ng-model="searchKw" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">商品店铺</label>
              <input ng-model="searchShop" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" data-ng-click="search()">搜索</button>
          </form>
        </div>
        <div class="gridSection">
          <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <thead>
            <tr>
              <th>编号</th>
              <th>名称</th>
              <th>类型</th>
              <th>审核状态</th>
              <th>上架状态</th>
              <th>创建时间</th>
              <th width="200" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!loadingState" data-ng-repeat="item in pagination.store" class="">
              <td>
                <a ng-class="{'title-unread':item.Status*1===0,'title-read':item.Status*1!==0}" href="javascript:;"
                   class=" title-unread">
                  <span text-length="50" ng-bind="item.goodsSn"></span>
                </a>
              </td>
              <td>
                <a href="javascript:;" ng-click="lookDetail(item)">
                  <span class="column-text" ng-bind="item.goodsName | limitTo:10"></span>
                </a>
              </td>
              <td>
                <span class="column-text" ng-show="item.goodsType == 0">常规商品</span>
                <span class="column-text" ng-show="item.goodsType == 1">API</span>
              </td>
              <td>
                <span class="column-text" ng-show="item.checkStatus == 0">审核中</span>
                <span class="column-text" ng-show="item.checkStatus == 1">通过</span>
                <span class="column-text" ng-show="item.checkStatus == 2">不通过</span>
              </td>
              <td>
                <span class="column-text" ng-show="item.isOnsale == 0">下架状态</span>
                <span class="column-text" ng-show="item.isOnsale == 1">上架状态</span>
                <span class="column-text" ng-show="item.isOnsale == 2">强制下架状态</span>
              </td>
              <td>
                <span class="column-text" ng-bind="item.addTime"></span>
              </td>
              <td class="text-center" data-ng-if="item.isDelete == 1">
                <span data-ng-if="item.checkStatus == 0">
                  <a href="javascript:;" ng-click="goCheck(item, 1)">去审核</a>
                </span>
                <span data-ng-if="item.isOnsale == '1' && item.checkStatus == '1'">
                  <a href="javascript:;" ng-click="goCheck(item, 2)">强制下架</a>
                </span>
                <!--<span data-ng-if="item.checkStatus ！= 0 && item.isOnsale == 2">-->
                  <!--<a href="javascript:;">已强制下架</a>-->
                <!--</span>-->
                <!--<span data-ng-if="item.isOnsale == 0">-->
                  <!--<a href="javascript:;">已下架</a>-->
                <!--</span>-->
                <!--<span data-ng-if="item.isOnsale == 2 || item.isOnsale == 0">-->
                  <!--<span class="text-explode">|</span>-->
                  <!--<a href="javascript:;" ng-click="delGoods($event, item, 3)">上架</a>-->
                <!--</span>-->
              </td>
            </tr>
            </tbody>
            <tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
            <tr>
              <td colspan="9">
                <div class="pull-right page-box">
                  <div class="pagination-info">共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条</div>
                  <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                      ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                      max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                      force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                      last-text="末页">
                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="simple-grid-none-data-wrap">
          <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
            <div class="row-padding row-margin text-center">
              <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
              <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>