<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/1/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/1/css/myseller.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/1/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">客服管理</h3>
            <div class="trade-wrapper">
                <div class="wrapper-tab">
                    <ul class="wrapper-tab-box">
                        <li class="first "><a href="/1/myseller/custom">退款管理</a></li>
                        <li class=""><a href="/1/myseller/customer">售后管理</a></li>
                        <li class="active"><a href="/1/myseller/illegal">违规记录</a></li>
                    </ul>
                </div>
                <div class="trade-box">
                    <table>
                        <tr>
                            <th class="text-center">商品信息</th>
                            <th>违规时间</th>
                            <th>违规原因</th>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="javascript:void(0)">
                                    <img src="../../static/1/img/zheng.jpg" alt="">
                                    <p>这个是商品的title</p>
                                </a>

                            </td>
                            <td>2017-03-08 14:39:20</td>
                            <td>虚假信息</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="javascript:void(0)">
                                    <img src="../../static/1/img/zheng.jpg" alt="">
                                    <p>这个是商品的title</p>
                                </a>

                            </td>
                            <td>2017-03-08 14:39:20</td>
                            <td>虚假信息</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<%};
include("/1/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>