<!doctype html>
<html>
<head>
  <meta name="charset" content="utf-8"/>
  <title>${title!}青岛大数据交易中心-登录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no,adress=no" />
  <meta name="description" content="">
  <meta name="keyword" content="大数据,云计算,">
  <link rel="shortcut icon" href="/static/img/favicon.ico"/>
  <script type="text/javascript" src="${ctxPath}/static/js/jquery-3.1.1.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/css/index-min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/all.css">
  <link type="text/css" rel="stylesheet" href="/static/css/layout-hangye-pc.css">
  <link type="text/css" rel="stylesheet" href="/static/css/index.css">
  <link type="text/css" rel="stylesheet" href="/static/css/knight.css">
  <link type="text/css" rel="stylesheet" href="/static/css/account_common.css">
  <link type="text/css" rel="stylesheet" href="/static/css/dpl.css">
  <link type="text/css" rel="stylesheet" href="/static/css/dialog/dialog.css">
  <script type="text/javascript" src="/static/js/dialog/dialog.js"></script>
  ${headSection}
</head>
<body>
<%include("/layout/header.html"){} %>
<div class="page-layout page-main-content">
  ${htmlSection}
</div>
<%include("/layout/footer.html"){} %>
</body>
</html>