<!doctype html>
<html>
<head>
  <meta name="charset" content="utf-8"/>
  <title>${title!}</title>
  <meta name="description" content="">
  <meta name="keyword" content="大数据,云计算,">
  <script type="text/javascript" src="${ctxPath}/static/js/jquery-3.1.1.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/css/index-min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/all.css">
  <link type="text/css" rel="stylesheet" href="/static/css/layout-hangye-pc.css">
  <link type="text/css" rel="stylesheet" href="/static/css/index.css">
  <link type="text/css" rel="stylesheet" href="/static/css/knight.css">
  <link type="text/css" rel="stylesheet" href="/static/css/account_common.css">
  <link type="text/css" rel="stylesheet" href="/static/css/dpl.css">
  <link type="text/css" rel="stylesheet" href="/static/css/dialog/dialog.css">
  <script type="text/javascript" src="/static/js/dialog/dialog.js"></script>
  ${headSection}
</head>
<body>
<%include("/layout/header.html"){} %>
<div class="page-layout page-main-content">
  ${htmlSection}
</div>
<%include("/layout/footer.html"){} %>
</body>
</html>