ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
    font-size: 0;
    zoom: 1;
}

.box .trading {
    padding: 20px 0px;
}


.box .trading .trading-content {
    width: 955px;
    background: #fff;
    float: left;
    color: #000;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 40px;
}

.box .trading .trading-content #media h3 {
    padding: 10px 40px;
}

.box .trading .trading-content #media h3, .box .trading .trading-content #media span {
    color: #247de8;
}

.box .trading .trading-content #media p {
    padding: 10px 40px;
}

.box .trading .trading-content #media p span {
    padding-right: 10px;
}

.box .trading .trading-content #glory ul {
    position: relative;
    padding: 20px 0px;
}

.box .trading .trading-content #glory ul li {
    height: 32px;
    line-height: 32px;
    background: #EFEFEF;
    margin-bottom: 10px;
    color: #333;
}

.box .trading .trading-content #glory ul li span {
    color: #fff;
    font-size: 15px;
    width: 170px;
    height: 32px;
    display: inline-block;
    background: #247de8;
    padding-left: 35px;
    margin-right: 20px;
}

.box .trading .trading-content .cont {
    /*display: none;*/
}

.box .trading .trading-content .cont img {
    margin: 0 auto;
}

.box .trading .trading-content .cont .public span {
    border-left: 2px solid #237DE7;
    margin-right: 10px;
}

.box .trading .trading-content .cont .public h3 {
    display: inline;
    line-height: 25px;
    font-size: 15px;
}

.box .trading .trading-content .cont .line {
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
    margin: 10px 0px;
}

.box .trading .trading-content .cont .nav-title {
    margin: 20px -20px;
    position: relative;
}
.box .trading .trading-content .cont .nav-title p {
    position: absolute;
    font-size: 23px;
    color:#fff;
    left:13px;
}
.box .trading .trading-content .cont .nav-title p:nth-child(2){
    top: 50px;
}
.box .trading .trading-content .cont .nav-title p:nth-child(3){
    top: 90px;
}
.box .trading .trading-content .cont p {
    font-size: 15px;
    color: #333333;
    line-height: 30px;
    padding-top: 15px;
    text-indent: 26px;
}

.box .trading .trading-content .cont .picBot {
    margin: 35px 40px;
    width: 800px;
    height: 278px;
    background: #F5FAFF;
    border-radius: 4px;
}

.box .trading .trading-content .cont .picBot .conBot {
    padding: 20px 80px;
    line-height: 52px;
    font-size: 20px;
}
.box .trading .trading-content .cont .picBot .conBot .public-style {
    position: relative;
}
.box .trading .trading-content .cont .picBot .conBot .public-style span:nth-child(1) {
    width: 135px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #237DE7;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-right: 25px;
}
.box .trading .trading-content .cont .picBot .conBot .public-style .zColor {
    color:#247DE8;
    padding-left: 36px;
}
.box .trading .trading-content .cont .picBot .conBot .public-style span:nth-child(1) span {
    width: 32px;
    height: 32px;
    background: #F7F7F7;
    position: absolute;
    top: -16px;
    left: -13px;
}

.box .trading .trading-content .cont .picBot .conBot .public-style img {
    margin-right: 22px;
    position: absolute;
    top:10px;
}

.box .trading .trading-content .cont:nth-child(2) p {
    color: #247de8;
}

.box .trading .trading-content .cont .round {
    margin: 0px 90px;
}

.box .trading .trading-content .cont .leader {
    margin: 20px 90px;
}
