<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>需求大厅->报名中</h5></div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12 margin-top-10 clearfix">
                <div class="col-md-1 col-sm-1  publish-status">
                        <p>状态</p>
                        <p>
                            <span data-ng-show="status==1" >待审核</span>
                            <span data-ng-show="status==4" >待发布</span>
                            <span data-ng-show="status==5" >报名中</span>
                            <span data-ng-show="status==6" >资格筛选</span>
                            <span data-ng-show="status==9" >待验收</span>
                            <span data-ng-show="status==11">已验收待付款</span>
                            <span data-ng-show="status==16">待退款</span>
                            <span data-ng-show="status==14">交易取消</span>
                            <span data-ng-show="status==15">交易完成</span>
                        </p>
                    </div>
                    <div class="col-md-11 col-sm-11  publish-Progress">
                        <ul class="clearfix">
                            <li data-index="1" ng-class="{'visited':checkTime,'active':addTime}">
                                <p>发布需求</p>
                                <p data-ng-bind="addTime"></p>
                            </li>
                            <li data-index="2" ng-class="{'visited':trusteeTime,'active':checkTime}">
                                <p>平台审核</p>
                                <p data-ng-bind="checkTime"></p>
                            </li>
                            <li data-index="3" ng-class="{'visited':pressTime,'active':trusteeTime}">
                                <p>悬赏费用托管</p>
                                <p data-ng-bind="trusteeTime"></p>
                            </li>
                            <li data-index="4" ng-class="{'visited':workingTime,'active':pressTime}">
                                <p>待发布</p>
                                <p data-ng-bind="pressTime"></p>
                            </li>
                            <li data-index="5" ng-class="{'visited':payTime,'active':workingTime}">
                                <p>供应商工作</p>
                                <p data-ng-bind="workingTime"></p>
                            </li>
                            <li data-ng-if="status!=16" data-index="6" ng-class="{'visited':commentTime,'active':payTime}">
                                <p>验收付款</p>
                                <p data-ng-bind="payTime"></p>
                            </li>
                            <li data-ng-if="status==16" data-index="6" ng-class="{'visited':cancelTime,'active':toBeRefundedTime }">
                                <p>待退款</p>
                                <p data-ng-bind="toBeRefundedTime "></p>
                            </li>
                            <li data-ng-if="status!=14" data-index="7" ng-class="{'active':commentTime}">
                                <p>评价</p>
                                <p data-ng-bind="commentTime"></p>
                            </li>
                            <li data-ng-if="status==14" data-index="7" ng-class="{'active':cancelTime  }">
                                <p>交易取消</p>
                                <p data-ng-bind="cancelTime  "></p>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="col-sm-12 margin-top-10 publish-table-box">
                    <table class="table">
                        <tr>
                            <th>需求方</th>
                            <td>
                                <span data-ng-bind="requiremetName"></span>
                            </td>
                            <th>需求方联系人</th>
                            <td>
                                <span data-ng-bind="contactName"></span>
                                <span data-ng-bind="contactPhone"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>需求标题</th>
                            <td>
                                <span data-ng-bind="title"></span>
                            </td>
                            <th>需求标签</th>
                            <td>
                                <div data-ng-if="tag">
                                    <span class="label label-primary" style="margin-right: 5px" data-ng-repeat="item in tag" data-ng-bind="item"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>需求类型</th>
                            <td colspan="3">
                                <span class="label label-primary" data-ng-show="type==1">数据采集</span>
                                <span class="label label-primary" data-ng-show="type==2">数据加工</span>
                                <span class="label label-primary" data-ng-show="type==3">数据模型</span>
                                <span class="label label-primary" data-ng-show="type==4">数据应用</span>
                                <span class="label label-primary" data-ng-show="type==5">数据清洗</span>
                            </td>
                        </tr>
                        <tr>
                            <th>需求描述</th>
                            <td colspan="3">
                                <textarea style=" resize:none;" data-ng-bind="description" cols="100" rows="10" readonly></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>附件</th>
                            <td colspan="3">
                                <a data-ng-repeat="item in zbAnnexes"  data-ng-href="{{item.filePath}}"  class="margin-right-5" target="_blank"><span class="glyphicon glyphicon-save" ></span> <span data-ng-bind="item.fileName" ></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>交付截止日期</th>
                            <td>
                                <span data-ng-bind="deliveryDeadline"></span>
                            </td>
                            <th>报名截止日期</th>
                            <td>
                                <p data-ng-if="status==6 && isZbRequirementAppliesShow" class="input-group">
                                    <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                                           ng-paste="$event.preventDefault()" type="text" class="form-control"
                                           uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="applyDeadline"
                                           is-open="popup1.opened" datepicker-options="inlineOptions" close-text="关闭" clear-text="清除"
                                           current-text="今天" readonly="true"/>
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="open1()">
                                          重新设置日期
                                      </button>
                                 </span>
                                </p>
                                <span data-ng-if="!(status==6 && isZbRequirementAppliesShow)" data-ng-bind="applyDeadline"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>悬赏金额</th>
                            <td colspan="3">
                                <div style="margin-right: 10px">
                                    <span>{{(rewardMoney/100) | currency: '￥'}}</span>
                                </div>
                                <div style="margin-right: 10px">
                                    <span class="glyphicon glyphicon-piggy-bank"></span>
                                    <span> 已托管比例（%）：</span>
                                    <span data-ng-bind="trusteePercent"> </span>
                                </div>
                                <div style="margin-right: 10px">
                                    <span>托管赏金：</span>
                                    <span>{{(rewardMoney/100)*(trusteePercent/100) | currency: '￥'}}</span>元
                                </div>
                                <div style="margin-right: 10px" data-ng-show="status==14 && isZbRequirementAppliesShow">
                                    <span class="glyphicon glyphicon-remove-circle"></span>流标,交易取消已退款
                                </div>
                                <div style="margin-right: 10px" data-ng-show="status==16 && isZbRequirementAppliesShow">
                                    <span class="glyphicon glyphicon-remove-circle"></span>流标,交易取消待退款
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>交付验收要求</th>
                            <td colspan="3">
                                <textarea style=" resize:none;" data-ng-bind="checkRemark" cols="100" rows="10" readonly></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            <div class="col-sm-12 margin-top-10 tab-box">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="任务报名">
                        <div class="tab-info" data-ng-show="!isZbRequirementAppliesShow">
                            <table class="table" >
                               <thead>
                               <tr>
                                   <th>公司名称</th>
                                   <th>信誉</th>
                                   <th>报名时间</th>
                                   <th>状态</th>
                                   <th>联系人</th>
                                   <th>手机号</th>
                                   <th>自荐理由描述</th>
                                   <th>操作</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr data-ng-repeat="item in zbRequirementApplies">
                                   <td>
                                       <a data-ng-bind="item.userName" data-ng-model="apply.name" data-ng-click=" getCard(item.userId)"></a>
                                   </td>
                                   <td>
                                       <span data-ng-bind="item.ucreditValue"></span>
                                   </td>
                                   <td>
                                       <span data-ng-bind="item.addTime"></span>
                                   </td>
                                   <td>
                                       <span  data-ng-show="item.status==0">报名中</span>
                                       <span  data-ng-show="item.status!=0 && item.status!=2">已被选中</span>
                                       <span  data-ng-show="item.status==2">未中标</span>
                                   </td>
                                   <td>
                                       <span data-ng-bind="item.userName"></span>
                                   </td>
                                   <td>
                                       <span data-ng-bind="item.mobile"></span>
                                   </td>
                                   <td>
                                       <span data-ng-bind="item.applyContent"></span>
                                   </td>
                                   <td>
                                       <div class="roundedTwo" data-ng-if="status == 6">
                                           <input type="radio" value="{{item.id}}" id="{{item.id}}" name="applyId" ng-model="apply.id">
                                           <label for="{{item.id}}"></label>
                                       </div>
                                       <div data-ng-if="status != 6">
                                           <span class="label label-primary" disabled data-ng-show="item.status!=0 && item.status!=2">已被选中</span>
                                           <button class="btn btn-primary"  disabled  data-ng-show="item.status==0 ">选中</button>
                                       </div>
                                   </td>
                               </tr>
                               </tbody>
                           </table>
                            <p class="margin-top-10 "> <span class="glyphicon glyphicon-volume-up"></span>温馨提示:报名结束后，请在上述报名用户名单尽快进行资格审查，筛选确认中标用户。</p>
                            <div style="margin: auto;width: 58px;" data-ng-show="status == 6">
                                <button class="btn btn-primary" data-ng-click="submit()">提交</button>
                            </div>
                        </div>
                        <div class="tab-info" data-ng-show="isZbRequirementAppliesShow">
                            <div>
                                <table class="table" >
                                    <thead>
                                    <tr>
                                        <th>公司名称</th>
                                        <th>信誉</th>
                                        <th>报名时间</th>
                                        <th>状态</th>
                                        <th>联系人</th>
                                        <th>手机号</th>
                                        <th>自荐理由描述</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="8">
                                            暂时没有人报名！
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="margin-top-10 "> <span class="glyphicon glyphicon-volume-up"></span>温馨提示:报名结束后，请在上述报名用户名单尽快进行资格审查，筛选确认中标用户。</p>
                            <div style="margin: auto;width: 200px;"  data-ng-show="isZbRequirementAppliesShow && status==6">
                                <button class="btn btn-primary" data-ng-click="public()">重新发布</button>
                                <button class="btn btn-primary" data-ng-click="giveUp(id)">确认流标</button>
                            </div>
                            <div style="margin: auto;width: 200px;"  data-ng-show="status==16">
                                <button class="btn btn-primary" data-ng-click="refund(id,userId)">去退款</button>
                                <button class="btn btn-primary" data-ng-click="back()">返回</button>
                            </div>
                            <div style="margin: auto;width: 200px;"  data-ng-show="status==14">
                                <button class="btn btn-primary" data-ng-click="back()">返回</button>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="任务成果">
                        <div class="tab-info" data-ng-show="!isZbProgramsShow">
                            <table class="table">
                                <tr>
                                    <td colspan="2">
                                        <span data-ng-show="zbProgramsStatus==0">待验收</span>
                                        <span data-ng-show="zbProgramsStatus==1">平台验收通过，待需方验收</span>
                                        <span data-ng-show="zbProgramsStatus==2">平台验收不通过，待修改</span>
                                        <span data-ng-show="zbProgramsStatus==3">需求方验收通过</span>
                                        <span data-ng-show="zbProgramsStatus==4">需求方验收不通过，退回修改</span>
                                        <span data-ng-show="zbProgramsStatus==5">方案不符合需求方要求验收驳回，交易失败</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>方案标题</th>
                                    <td>
                                        <span data-ng-bind="title"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>方案描述</th>
                                    <td>
                                        <span data-ng-bind="content"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>方案附件</th>
                                    <td>
                                        <a data-ng-repeat="item in reqProgram"  data-ng-href="{{item.filePath}}"  class="margin-right-5" target="_blank"><span class="glyphicon glyphicon-save" ></span> <span data-ng-bind="item.fileName" ></span></a>
                                    </td>
                                </tr>
                            </table>
                            <div style="margin: auto; width: 190px" class="margin-top-10" data-ng-show="zbProgramsStatus==0">
                                <button class="btn btn-primary" data-ng-click="check()">成果验收</button>
                                <button class="btn btn-default">返回</button>
                            </div>
                            <div style="margin: auto; width: 190px" class="margin-top-10" data-ng-show="zbProgramsStatus==3 && status==11">
                                <button class="btn btn-primary" data-ng-click="refund(id,userId)">去付款</button>
                                <button class="btn btn-default">返回</button>
                            </div>
                            <div style="margin: auto; width: 190px" class="margin-top-10" data-ng-show="zbProgramsStatus==5 && status==16">
                                <button class="btn btn-primary" data-ng-click="refund(id,userId)">去退款</button>
                                <button class="btn btn-default">返回</button>
                            </div>
                            <div style="margin: auto; width: 190px" class="margin-top-10" data-ng-show="zbProgramsStatus==1 || zbProgramsStatus==2 || zbProgramsStatus==4 ">
                                <button class="btn btn-primary" data-ng-click="check()" disabled>成果验收</button>
                                <button class="btn btn-default">返回</button>
                            </div>
                        </div>
                        <div class="tab-info" data-ng-show="isZbProgramsShow">

                            <div>
                                暂无内容
                            </div>
                            <div style="margin: auto; width: 190px" class="margin-top-10" data-ng-show="status==16 && !isZbRequirementAppliesShow">
                                <button class="btn btn-primary" data-ng-click="refund(id,userId)">去退款</button>
                                <button class="btn btn-default">返回</button>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="任务评价">
                        <div class="tab-info" data-ng-show="!isZbCommentsShow">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>评价方</th>
                                    <th>星级</th>
                                    <th>信誉分</th>
                                    <th>评价内容</th>
                                    <th>评价时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="item in zbComments">
                                    <td>
                                        <span data-ng-show="item.userType==2">需求方对服务商的评价</span>
                                        <span data-ng-show="item.userType==1">服务商对需求方的评价</span>
                                    </td>
                                    <td>
                                        <span uib-rating ng-model="item.level" max="5" read-only="true" aria-labelledby="default-rating"></span>
                                    </td>
                                    <td>
                                        <span data-ng-show="item.level==1">-2</span>
                                        <span data-ng-show="item.level==2">-1</span>
                                        <span data-ng-show="item.level==3">0</span>
                                        <span data-ng-show="item.level==4">1</span>
                                        <span data-ng-show="item.level==5">2</span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="item.content"></span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="item.addTime"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="margin: auto; width: 190px" class="margin-top-10">
                                <button class="btn btn-default" data-ng-click="back()">返回</button>
                            </div>
                        </div>
                        <div class="tab-info" data-ng-show="isZbCommentsShow">
                            暂无内容
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>









