<style>
    .form-inline .form-control {
        width: 110px;
    }

    .form-inline label {
        margin-top: 5px;
    }
    .input-group a{ font-size:14px;padding-right: 14px;}
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>需求大厅</h5></div>
            <div class="pull-right">
                <button class="btn btn-default" data-ng-click="refresh()"><span
                    class="glyphicon glyphicon-refresh"></span> 刷新
                </button>
                <!--<a ui-sref="help.add" class="btn btn-primary">新增</a>-->
            </div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12">
                订单状态：
                <div class="searchSection  btn-group">
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio=""
                            data-ng-click="search()"> 全部
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="1"
                            data-ng-click="search()"> 待审核
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="4"
                            data-ng-click="search()"> 待发布
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="5"
                            data-ng-click="search()"> 报名中
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="9"
                            data-ng-click="search()"> 待验收
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="11"
                            data-ng-click="search()">已验收待付款
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="16"
                            data-ng-click="search()">待退款
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="14"
                            data-ng-click="search()">交易取消
                    </button>
                    <button class="btn btn-default" data-ng-model="status" uib-btn-radio="15"
                            data-ng-click="search()">交易完成
                    </button>
                </div>


                <div style="padding:15px 0 0;">
                    <label class="control-label">需求编号：</label>
                    <input ng-model="requireSn" type="text" class="form-control" placeholder="请输入需求编号">
                    <label class="control-label">需求标题：</label>
                    <input ng-model="title" type="text" class="form-control" placeholder="请输入需求标题">
                    <!--<div class="form-inline"><label class="control-label">时间：</label>-->
                        <!--<p class="input-group" style="margin-top: 15px">-->
                            <!--<input style="background-color: transparent;" ng-keypress="$event.preventDefault()"-->
                                   <!--ng-paste="$event.preventDefault()" type="text" class="form-control"-->
                                   <!--uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="startDate"-->
                                   <!--is-open="popup1.opened" datepicker-options="startDateOptions" close-text="关闭" clear-text="清除"-->
                                   <!--current-text="今天" readonly="true"/>-->
                            <!--<span class="input-group-btn">-->
                         <!--<button type="button" class="btn btn-default" ng-click="open1()"><i-->
                             <!--class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                        <!--</p>-->
                        <!--<label class="control-label">至</label>-->
                        <!--<p class="input-group" style="margin-top: 15px">-->
                            <!--<input style="background-color: transparent;" ng-keypress="$event.preventDefault()"-->
                                   <!--ng-paste="$event.preventDefault()" type="text" class="form-control"-->
                                   <!--uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="endDate"-->
                                   <!--is-open="popup2.opened" datepicker-options="endDateOptions"-->
                                   <!--close-text="Close" close-text="关闭" clear-text="清除" current-text="今天" readonly="true"/>-->
                            <!--<span class="input-group-btn">-->
                         <!--<button type="button" class="btn btn-default" ng-click="open2()"><i-->
                             <!--class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                        <!--</p>&nbsp;&nbsp;-->
                        <!--<div class="input-group set-date-style">-->

                            <!--<a href="javascript:void(0)" data-ng-class="{'active':currentIndex==0}" data-ng-click="setDate('month',0,0)">本月</a> &nbsp;|&nbsp;-->
                            <!--<a href="javascript:void(0)" data-ng-class="{'active':currentIndex==1}" data-ng-click="setDate('month',1,1)">上个月</a>-->
                            <!--<a href="javascript:void(0)" data-ng-class="{'active':currentIndex==2}" data-ng-click="setDate('month',3,2)">上三个月</a>-->
                            <!--<a href="javascript:void(0)" data-ng-class="{'active':currentIndex==3}" data-ng-click="setDate('month',6,3)">上六个月</a>-->
                        <!--</div>-->
                        <button class="btn btn-primary" data-ng-click="search()">
                            搜索
                        </button>
                    <!--</div>-->
                    <!--&lt;!&ndash;<pre>{{choseArr}}</pre>&ndash;&gt;-->
                    <div class="gridSection">
                        <table class="table table-hover">
                            <thead>
                               <tr>
                                   <th>序号</th>
                                   <th>需求编号</th>
                                   <th>需求标题</th>
                                   <th>需求方</th>
                                   <th>悬赏金额</th>
                                   <th>状态</th>
                                   <th>提交日期</th>
                                   <th>交付截止日期</th>
                                   <th>操作</th>
                               </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in publishList">
                                <td data-ng-bind="$index+1"></td>
                                <td data-ng-bind="item.requireSn"></td>
                                <td data-ng-bind="item.title"></td>
                                <td data-ng-bind="item.requiremetName"></td>
                                <td>{{(item.rewardMoney/100) | currency: '￥'}}</td>
                                <td>
                                    <span data-ng-show="item.status==1" >待审核</span>
                                    <span data-ng-show="item.status==4" >待发布</span>
                                    <span data-ng-show="item.status==5" >报名中</span>
                                    <span data-ng-show="item.status==9" >待验收</span>
                                    <span data-ng-show="item.status==11">已验收待付款</span>
                                    <span data-ng-show="item.status==16">待退款</span>
                                    <span data-ng-show="item.status==14">交易取消</span>
                                    <span data-ng-show="item.status==15">交易完成</span>
                                </td>
                                <td data-ng-bind="item.addTime"></td>
                                <td data-ng-bind="item.deliveryDeadline"></td>
                                <td >
                                    <button class="btn btn-primary" data-ng-show="item.status==1"  data-ng-click="auditing(item.requireSn)">去审核</button>
                                    <button class="btn btn-primary" data-ng-show="item.status==4"  data-ng-click="public(item.requireSn)">去发布</button>
                                    <button class="btn btn-primary" data-ng-show="item.status==5"  data-ng-click="getDetails(item.requireSn)">资格筛选</button>
                                    <button class="btn btn-primary" data-ng-show="item.status==9"  data-ng-click="getDetails(item.requireSn)">去验收</button>
                                    <button class="btn btn-primary" data-ng-show="item.status==11" data-ng-click="getDetails(item.requireSn)">去付款</button>
                                    <button class="btn btn-primary" data-ng-show="item.status==16" data-ng-click="getDetails(item.requireSn)">退款</button>
                                    <button class="btn btn-primary" data-ng-show="item.status==14" data-ng-click="getDetails(item.requireSn)">查看</button>
                                    <button class="btn btn-primary" data-ng-show="item.status==15" data-ng-click="getDetails(item.requireSn)">查看</button>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <table ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
                            <tr>
                                <td colspan="9">
                                    <div class="pull-right page-box">
                                        <div class="pagination-info">
                                            共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条
                                        </div>
                                        <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                                            ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                                            max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                                            force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                                            last-text="末页">
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="simple-grid-none-data-wrap">
                        <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
                            <div class="row-padding row-margin text-center">
                                <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
                                <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>