<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>需求列表->待发布</h5></div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12 margin-top-10 clearfix">
               <div class="col-md-1 col-sm-1  publish-status">
                   <p>状态</p>
                   <p>
                       <span data-ng-show="status==1" >待审核</span>
                       <span data-ng-show="status==4" >待发布</span>
                       <span data-ng-show="status==5" >报名中</span>
                       <span data-ng-show="status==9" >待验收</span>
                       <span data-ng-show="status==11">已验收待付款</span>
                       <span data-ng-show="status==16">待退款</span>
                       <span data-ng-show="status==14">交易取消</span>
                       <span data-ng-show="status==15">交易完成</span>
                   </p>
               </div>
               <div class="col-md-11 col-sm-11  publish-Progress">
                   <ul class="clearfix">
                       <li data-index="1" class="visited">
                           <p>发布需求</p>
                           <p>2017/02/56 12:24:00</p>
                       </li>
                       <li data-index="2" class="visited">
                           <p>平台审核</p>
                           <p>2017/02/56 12:24:00</p>
                       </li>
                       <li data-index="3" class="visited">
                           <p>悬赏费用托管</p>
                           <p>2017/02/56 12:24:00</p>
                       </li>
                       <li data-index="4" class="active">
                           <p>待发布</p>
                           <p>2017/02/56 12:24:00</p>
                       </li>
                       <li data-index="5">
                           <p>供应商工作</p>
                           <p>2017/02/56 12:24:00</p>
                       </li>
                       <li data-index="6">
                           <p>验收付款</p>
                           <p>2017/02/56 12:24:00</p>
                       </li>
                       <li data-index="7">
                           <p>评价</p>
                           <p>2017/02/56 12:24:00</p>
                       </li>
                   </ul>
               </div>
            </div>
            <div class="col-sm-12 publish-table-box margin-top-10">
                <table class="table">
                    <tr>
                        <th>需求方</th>
                        <td>
                            <span data-ng-bind="requiremetName"></span>
                        </td>
                        <th>需求方联系人</th>
                        <td>
                            <span data-ng-bind="contactName"></span>
                            <span data-ng-bind="contactPhone"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>需求标题</th>
                        <td>
                            <span data-ng-bind="title"></span>
                        </td>
                        <th>需求标签</th>
                        <td>
                            <div data-ng-if="tag !=null ">
                                <button class="btn btn-info" data-ng-bind="tag"></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>需求类型</th>
                        <td colspan="3">
                            <button class="btn btn-info" data-ng-show="type==1">数据采集</button>
                            <button class="btn btn-info" data-ng-show="type==2">数据加工</button>
                            <button class="btn btn-info" data-ng-show="type==3">数据模型</button>
                            <button class="btn btn-info" data-ng-show="type==4">数据应用</button>
                            <button class="btn btn-info" data-ng-show="type==5">数据清洗</button>
                        </td>
                    </tr>
                    <tr>
                        <th>需求描述</th>
                        <td colspan="3">
                            <textarea style=" resize:none;" data-ng-bind="description" cols="100" rows="10" readonly></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>附件</th>
                        <td colspan="3">
                            <a data-ng-repeat="item in zbAnnexes" data-ng-href="{{item.filePath}}" data-ng-bind="item.fileName" class="margin-right-5"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>交付截止日期</th>
                        <td>
                            <span data-ng-bind="deliveryDeadline"></span>
                        </td>
                        <th>报名截止日期</th>
                        <td>
                            <p class="input-group">
                                <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                                       ng-paste="$event.preventDefault()" type="text" class="form-control"
                                       uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="applyDeadline"
                                       is-open="popup1.opened" datepicker-options="startDateOptions" close-text="关闭" clear-text="清除"
                                       current-text="今天" readonly="true"/>
                                <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>悬赏金额</th>
                        <td colspan="3">
                            <div>
                                <span>￥</span>
                                <span data-ng-bind="rewardMoney"></span>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-piggy-bank"></span>
                                <span> 已托管比例（%）：</span>
                                <span data-ng-bind="trusteePercent"> </span>
                            </div>
                            <div>
                                <span>托管赏金：</span>
                                <span data-ng-bind="rewardMoney"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>交付验收要求</th>
                        <td colspan="3">
                            <textarea style=" resize:none;" data-ng-bind="checkRemark" cols="100" rows="10" readonly></textarea>
                        </td>
                    </tr>
                </table>
                <div style="margin: auto;width: 58px;">
                    <button class="btn btn-primary" data-ng-click="public()">发布</button>
                </div>
            </div>
        </div>
    </div>
    </div>