<%
var head = {
%>
<link rel="stylesheet" href="/static/css/index/index.css">
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/static/css/exchange/style.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 exchange-list backgorund-gray">
  <div class="grid-row">
    <div class="search">
      <div class="bdg-row" style="position: relative">
        <!--头部类目展示模块-->
        <%include("/layout/menu.html"){} %>
        <div class="success-cont">
          <div class="grid-left success-lcol padding-top-15 padding-bottom-15">
            <div class="success-top clearfix">
              <b class="fa fa-check-circle-o grid-left margin-right-10"></b>
              <h3 class="ftx-02 grid-left">商品已成功加入购物车！</h3></div>
            <div class="p-item clearfix margin-top-30">
              <div class="p-img grid-left margin-right-10"><a href="javascript:history.go(-1)"
                                                              class="goGoodsDetails"><img
                src="${goodsInfo.goodsImg}"></a></div>
              <div class="p-info grid-left">
                <div class="p-name">
                  <a href="javascript:history.go(-1)" class="goGoodsDetails">${goodsInfo.goodsName}</a>
                </div>
                <div class="p-extra">
                                    <span class="txt" title="价格">价格：${trunc(goodsInfo.shopPrice / 100, 2)}&nbsp;&nbsp;规格：${goodsInfo.shopNumber}
                                    <% if(goodsInfo.shopFormat == 0){%>
                                        次
                                    <%}else if(goodsInfo.shopFormat == 1){%>
                                        月
                                    <%}else if(goodsInfo.shopFormat == 2){%>
                                        年
                                    <%}%>
                                    </span><span class="txt" id="goodsNum">/  数量：<span></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-right success-btns success-btns-new">
            <div class="success-ad">
              <a class="btn-tobback btn btn-default goGoodsDetails" href="javascript:history.go(-1)">查看商品详情</a>
              <a class="gotocart btn btn-full-red goToCart" href="/usercenter/buyer/cart"><b></b>去购物车结算</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/exchange/addToCart.js"></script>
