<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/exchange.css">
<link type="text/css" rel="stylesheet" href="/static/css/bbsInformation.css">
<%};%>

<%
var htmlPart = {
%>
<div class="box">
    <div class="smalltitle">
        <img src="../../static/bbsInformation/u2.png" alt=""><span class="greater">></span><span>资讯中心></span><span>新闻</span>
    </div>
    <div class="content">
        <div class="headline">
            <h4>全国百名博士团莅临大数据交易中心考察调研</h4>
        </div>
        <div class="userinfo">
            <img src="../../static/bbsInformation/u8.png"/>
            <span class="username">admin</span>
            <span class="admin">管理员</span>
            <span class="time">2017-3-11 10:00:00</span>
        </div>
        <p>2月5日，参加“拥抱大数据时代——2017全国百名博士贵州行”活动的全国百名博士，莅临贵阳大数据交易中心考察调研，并就大数据产业发展进行了深入了解与交流。</p>
        <p>拥抱大数据时代——2017全国百名博士贵州行”活动由贵州省人民政府驻北京办事处主办，贵州省委统战部、贵州省大数据发展管理局等单位支持，汇集北京、上海、广东等全国各地的大数据专家、学者、博士及硕士，旨在以专家博士视角关注大数据产业的新政和比较优势，调动高端人才资源，助力贵州大数据产业发展。</p>
        <div class="images">
            <img src="../../static/bbsInformation/u1020.png" alt="">
        </div>
        <p>全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
        <p>不仅如此，贵阳大数据交易中心去年6月成为全国信标委等机构的“大数据交易标准试点基地”；参与制定的《大数据产业发展规划（2016-2020年）》，已由工信部在今年1月17日正式公布。贵阳大数据交易中心执行总裁王叁寿表示，规划为大数据产业明确了发展方向，也是对整个产业发展的巨大推动，贵阳大数据交易中心在新的一年将发奋努力，推动大数交易走向完善。</p>
    </div>
    <div class="rightside">
        <div class="first">
            <div class="public">
                <span></span> <span>板块信息</span>
                <span>今日发贴&nbsp;&nbsp;</span>
            </div>
            <p>本版块为技术交流，禁止一切不相关话题发布</p>
        </div>
        <div class="second">
            <div class="top">
                <div class="public">
                    <span></span> <span>论坛热文</span>
                    <img src="../../static/bbsInformation/u34.png" alt="">
                    <p>2017年人工智能的兴起于衰败</p>
                </div>
            </div>
            <div class="bottom">
                <div class="public">
                    <img src="../../static/bbsInformation/u38.png" alt="">
                    <p>2017年VR技术对生活影响</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
