<%
var head = {
%>
<meta property="og:type" content="product" />
<meta property="og:url" content="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="stylesheet" href="/static/css/index/index.css">
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/static/css/exchange/style.css">
<link rel="stylesheet" href="/static/js/plugins/json/jquery.json-viewer.css">
<script>
	var JshopPrice = ${goodsDetails.shopPrice};
	var isDiscussPrice = ${goodsDetails.isDiscussPrice};
	$('html').attr( "xmlns:wb","http://open.weibo.com/wb")
</script>
<script type="text/javascript" src="/static/js/plugins/qrcode/qrcode.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/json/jquery.json-viewer.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 goodsDetails bdg-row ">
	<div class="grid-row" style="position: relative">
		<%if(has(userType)){%>
		<input type="hidden" id="J_userType" value="${userType}">
		<input type="hidden" id="J_purchaseLimit" value="${goodsDetails.purchaseLimit}">
		<%}%>
		<div class="crumbs-nav padding-top-20 padding-bottom-10" id="J_crimbsNav">
			分类：
			<%
			var arrs = null;
			var catId = goodsDetails.catId;
			var iii = 1;
			%>
			<%
			if(isNotEmpty(goodsDetails.catFullName)){
			arrs = strutil.split(goodsDetails.catFullName,"->");
			}
			%>
			<%for(as in arrs){%>
			<a class="color-blue" href="/exchange/list?catId=${strutil.subStringTo(catId,0,iii * 3)}&prId=${strutil.subStringTo(catId,0,3)}&prNm=${arrs[0]}">${as}</a>
			<%if(!asLP.last){%>
			<span>&nbsp;>&nbsp;</span>
			<%}%>
			<%
			iii++;
			}
			%>
		</div>
		<div class="grid-left goods-left bdg-row">
			<div class="goods-details clearfix">
				<div class="goods-details-img grid-left bdg-row">
					<div class="img-box">
						<img src="${goodsDetails.goodsImg}" alt="" id="J_goodsImg">
					</div>
					<div class="collect-box margin-top-20">
						<p class="" title="浏览">
							<i class="fa fa-eye"></i>
							<span>浏览：</span>
							<span></span>
							<span>${goodsDetails.clickRate}</span>
						</p>
						<p class="" title="点击关注">
							<span class="attention">
								<%if(goodsDetails.orNotFavorite){%>
								<i class="fa fa-heart" id="J_attenBtn" style="color:#e34f4f;"></i>
								<span class="eval">已关注：</span>
								<%}else{%>
								<i class="fa fa-heart" style="cursor:pointer;" id="J_attenBtn" onclick="Attention.add('${goodsDetails.goodsId}')"></i>
								<span class="eval">关注：</span>
								<%}%><span id="J_atonNum">${goodsDetails.followNum}</span>
							</span>
						</p>
						<p class="" title="销量">
							<i class="fa fa-exchange"></i>
							<span>销量：</span>
							<span></span>
							<span>${goodsDetails.sales}</span>
						</p>
						<p>
							<i class="fa fa-share-alt"></i>
							<span>分享：</span>
							<span></span>
							<a class="share-btn-d" title="分享到豆瓣" href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='https://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e(d.title)+'&sel='+e(s)+'&v=1',w=450,h=330,x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width='+w+',height='+h+',left='+(screen.width-w)/2+',top='+(screen.height-h)/2))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><img src="https://img3.doubanio.com/pics/fw2douban_s.png" alt="推荐到豆瓣"/></a>
							<!--<a class="share-btn-d" title="分享到豆瓣" href="javascript:void(function(){var d=document,tit=document.getElementById('J_goodsTitle').innerHTML,cont=document.getElementById('J_goodsBrief').innerHTML,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='https://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+tit+'&sel='+e(s)+'&v=1',w=450,h=330,x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width='+w+',height='+h+',left='+(screen.width-w)/2+',top='+(screen.height-h)/2))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><img src="https://img3.doubanio.com/pics/fw2douban_s.png" alt="推荐到豆瓣"/></a>-->
							<a class="share-btn-d" href="javascript:void(0)" id="J-share-weixin" title="分享到微信"><i class="fa fa-weixin"></i></a>
							<a class="share-btn-d" title="分享到微博" style="margin-top: -6px;background: none;" href="javascript:void(0)"><wb:share-button appkey="713961305" addition="simple" type="icon" ralateUid="6416875548" default_text="${goodsDetails.goodsName}" pic="${goodsDetails.goodsImg}"></wb:share-button></a>
						</p>
					</div>
				</div>
				<!--详细信息-->
				<div class="goods-details-right grid-left bdg-row">
					<div class="detail-title margin-bottom-10">
						<span class="font-weight-bold vertical-align-middle" id="J_goodsTitle">${goodsDetails.goodsName}</span>
						<%if(isNotEmpty(goodsDetails.dataSample)){%>
							<a class="tag-link" href="${host.static+'/'+goodsDetails.dataSample}" target="_blank">下载数据样例</a>
						<%}%>
					</div>
					<div class="margin-bottom-10">
						<%if(isNotEmpty(goodsDetails.keywordsNames)){%>
						<%for(list in strutil.split (goodsDetails.keywordsNames,",")){%>
						<span style="padding: 1px 6px;border: 1px solid #ffa800;margin-right: 10px;color: #ffa800;border-radius: 30px;">${list}</span>
						<%}%>
						<%}%>
					</div>
					<div class="detail-info margin-bottom-10">
						<span class="font-size-14" id="J_goodsBrief">${goodsDetails.goodsBrief}</span>
					</div>
					<div class="detail-money margin-bottom-20" id="J_detail-money">
						<%if(goodsDetails.IsDiscussPrice == 0){%>
						<div>
							<span>价格：</span>
							<i class="fa fa-jpy font-size-14 color-red-bdg" aria-hidden="true"></i>
							<span class="font-size-24 color-red-bdg J_goodsPrice" formatid="<%for(item in goodsDetails.formatList){%><%if(itemLP.first){%>${item.formatId}<%}%><%}%>">${goodsDetails.shopPrice / 100}</span>
						</div>
						<%}else{%>
						<div>
							<span>价格</span>
							<span class="font-size-24 color-orange J_goodsPrice" formatid="<%for(item in goodsDetails.formatList){%><%if(itemLP.first){%>${item.formatId}<%}%><%}%>">面议
<span style="font-size:12px;">(详情请咨询客服)</span>
</span>
						</div>
						<%}%>
						<%if(goodsDetails.formatList.~size > 0 && goodsDetails.IsDiscussPrice == 0){%>
						<div class="money-standard">
							<span>规格：</span>
							<%for(item in goodsDetails.formatList){%>
							<a href="javascript:;" onclick="editPrice(this, ${item.price}, ${item.formatId})" class="margin-right-5 ${itemLP.first ? 'active':''}" formatid="${item.formatId}" price="${item.price}">${item.number}${decode(item.format,0,"次",1,"月",2,"年",3,"套","未知")}</a>
							<%}%>
						</div>
						<%}%>
					</div>
					<div>
					</div>
					<div class="detail-count padding-left-10 margin-top-10">
						<div style="margin:24px 0 20px;">
							<span style="font-size: 14px;">评分：</span>
							<%
							var goodsGradesC = goodsGrades + '';
							var goodsGrade = strutil.subStringTo (goodsGradesC,0,1);
							goodsGrade = parseInt(goodsGrade);
							%>
							<span class="display-inline-block">
								<%for(var i = 0; i < goodsGrade; i++){%>
								<i class="fa fa-star color-orange font-size-18" aria-hidden="true"></i>
								<%}%>
								<%for(var i = 0; i < 5-goodsGrade; i++){%>
								<i class="fa fa-star-o color-orange font-size-18" aria-hidden="true"></i>
								<%}%>
							</span>
						</div>
						<form action="${host.website}/order/directInfo" name="goodsDetail" id="J_goodsDetail" method="post">
							<span class="font-size-14 grid-left" style="line-height: 42px;">数量：</span>
							<div class="purchase-quantity grid-left">
								<a href="javascript:void(0)" class=" btn-a btn-sub">-</a>
								<input id="J_buyNumber" type="text" name="goodsNumber" value="1" autocomplete="off">
								<a href="javascript:void(0)" class="btn-a btn-plus">+</a>
							</div>
							<input type="hidden" name="goodsId" id="J_goodsId" value="${goodsDetails.goodsId}">
							<input type="hidden" name="formatId" id="J_formatId" value="${goodsDetails.formatList[0].formatId}">
							<a class="vertical-align-middle btn btn-full-orange grid-left" href="javascript:check()" style="cursor: pointer; margin-left:10px; height:42px; line-height:42px; font-size:18px;width:138px;background-color: #ffa800;">
								立即购买
							</a>
							<a id="J_addCart" href="javascript:addCart('${goodsDetails.goodsId}','${goodsDetails.isDiscussPrice}');" style="height:40px; line-height:40px; font-size:18px;width:136px;background-color: #fff;border:1px solid #ffa800;color:#ffa800;" class="vertical-align-middle btn btn-full-blue margin-left-10  grid-left">加入购物车</a>
							<!--<a id="J_test" href="javascript:addCart('${goodsDetails.goodsId}','${goodsDetails.isDiscussPrice}');" style="height:40px; line-height:40px; font-size:18px;width:136px;background-color: #faf8ca;border:1px solid #ffa800;color:#ffa800;" class="vertical-align-middle btn btn-full-blue margin-left-10  grid-left">申请试用</a>-->
						</form>
					</div>
					<br>
				</div>
			</div>
			<!--table切换-->
			<div class="goods-table margin-top-20 margin-bottom-10">
				<div class="table-title">
					<ul>
						<li class="grid-left active">详情介绍</li>
						<%if(goodsDetails.goodsType == 0){%>
						<li class="grid-left">商品优势</li>
						<li class="grid-left">售后服务</li>
						<%}else if(goodsDetails.goodsType == 1){%>
						<li class="grid-left">API详情</li>
						<li class="grid-left">服务相关</li>
						<%}else if(goodsDetails.goodsType == 2){%>
						<li class="grid-left">商品优势</li>
						<li class="grid-left">商品特性</li>
						<li class="grid-left">售后服务</li>
						<%}else if(goodsDetails.goodsType == 6 || goodsDetails.goodsType == 7){%>
						<li class="grid-left">商品优势</li>
						<li class="grid-left">配置需求</li>
						<li class="grid-left">售后服务</li>
						<%}else if(goodsDetails.goodsType == 4 || goodsDetails.goodsType == 5){%>
						<li class="grid-left">商品优势</li>
						<li class="grid-left">配置需求</li>
						<li class="grid-left">售后服务</li>
						<%}%>
						<li class="grid-left evaluate">评价<span id="J_evaluate"></span></li>
					</ul>
				</div>
				<div class="table-content">
					<div class="table-item active detail margin-bottom-10" id="">
						<table class="tab-one">
							<%if(goodsDetails.goodsType == 0){%>
							<tr>
								<td>时间：</td>
								<td>${goodsDetails.offLineData.timeFrame.startDate}&nbsp;至&nbsp;${goodsDetails.offLineData.timeFrame.endDate}</td>
							</tr>
							<tr>
								<td>数据条数/行数：</td>
								<td>${goodsDetails.offLineData.dataRows}</td>
							</tr>
							<tr>
								<td>数据容量：</td>
								<td>${goodsDetails.offLineData.dataCapacity}</td>
							</tr>
							<tr>
								<td>数据格式：</td>
								<td>
									${decode(goodsDetails.offLineData.dataFormat,0,'xls/xlsx',1,'csv',2,'txt',3,'图片',4,'word',5,'ppt',6,'其他','未知')}
								</td>
							</tr>
							<%}%>
							<tr>
								<td>商品编码：</td>
								<td>${goodsDetails.goodsSn}</td>
							</tr>
							<tr>
								<td>适用范围：</td>
								<td>${goodsDetails.trialRange}</td>
							</tr>
							<tr>
								<td>所属地域：</td>
								<td>${goodsDetails.goodsAreaFullName}</td>
							</tr>
							<tr>
								<td>商品描述：</td>
								<%if(isNotEmpty(goodsDetails.goodsDesc)){%>
								<td>
									<div class="goodsDescBox">${goodsDetails.goodsDesc}</div>
								</td>
								<%}else{%>
								<td>
									<div class="goodsDescBox">${goodsDetails.goodsBrief}</div>
								</td>
								<%}%>
							</tr>
							<%if(goodsDetails.goodsType == 1){%>
							<tr>
								<td>商品优势：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.goodsAdvantage}</div>
								</td>
							</tr>
							<%}%>
							<%if(goodsDetails.goodsType == 4){%>
							<tr>
								<td>核心功能：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atAloneSoftware.coreFunction}</div>
								</td>
							</tr>
							<%if(isNotEmpty(goodsDetails.appCase)){%>
							<tr>
								<td>应用案例：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.appCase}</div>
								</td>
							</tr>
							<%}%>
							<%}%>
							<%if(goodsDetails.goodsType == 5){%>
							<tr>
								<td>核心功能：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atSaaS.coreFunction}</div>
								</td>
							</tr>
							<%if(isNotEmpty(goodsDetails.appCase)){%>
							<tr>
								<td>应用案例：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.appCase}</div>
								</td>
							</tr>
							<%}%>
							<%}%>
							<%if(goodsDetails.goodsType == 6){%>
							<tr>
								<td>核心功能：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.asAloneSoftware.coreFunction}</div>
								</td>
							</tr>
							<%if(isNotEmpty(goodsDetails.appCase)){%>
							<tr>
								<td>应用案例：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.appCase}</div>
								</td>
							</tr>
							<%}%>
							<%}%>
						</table>
					</div>
					<%if(goodsDetails.goodsType == 0){%>
					<div class="table-item goodsDescBox">
						${goodsDetails.goodsAdvantage}
					</div>
					<div class="table-item goodsDescBox">
						${goodsDetails.afterSaleService}
					</div>
					<%}else if(goodsDetails.goodsType == 1){%>
					<%if(isNotEmpty(goodsDetails.apiUrl)){%>
					<div class="table-item">
						<table class="tab-one">
							<tr>
								<td>接口链接：</td>
								<td>${goodsDetails.apiInfo.apiUrl}</td>
							</tr>
							<tr>
								<td>请求方式：</td>
								<td>${decode(goodsDetails.apiInfo.apiMethod,'1','GET','2','POST','未知')}</td>
							</tr>
							<tr>
								<td>返回格式：</td>
								<td>${decode(goodsDetails.apiInfo.respDataFormat,'1','JSON','2','XML','未知')}</td>
							</tr>
							<tr>
								<td>请求参数：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con">
										<table class="tab-two">
											<tr>
												<th>名称</th>
												<th>类型</th>
												<th>必填</th>
												<!--<th>示例值</th>-->
												<!--<th>默认值</th>-->
												<th>描述</th>
											</tr>
											<%for(items in goodsDetails.apiInfo.reqParamList){%>
											<tr>
												<td>${items.fieldName}</td>
												<td>${items.fieldType}</td>
												<td>${decode(items.isMust,"0","否","1","是","未知")}</td>
												<!--<td>${items.fieldSample}</td>-->
												<!--<td>${items.fieldDefault}</td>-->
												<td>${items.describle}</td>
											</tr>
											<%}%>
										</table>
									</div>
								</td>
							</tr>
							<tr>
								<td>请求示例：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con">
										<div class="reqSample-con" >
											${goodsDetails.apiInfo.reqSample}
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>返回示例：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con">
										<pre class="reqSample-con"  id="json-respSample-2">
											${goodsDetails.apiInfo.respSample}
										</pre>
									</div>
								</td>
							</tr>
							<tr>
								<td>返回参数：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con" style="margin-bottom: 40px;">
										<table>
											<tr>
												<th>字段</th>
												<th>说明</th>
											</tr>
											<%for(items in goodsDetails.apiInfo.respParamList){%>
											<tr>
												<td><p style="white-space: nowrap;">${items.fieldName}</p></td>
												<td>${items.describle}</td>
											</tr>
											<%}%>
										</table>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<%}else{%>
					<div class="table-item">
						<table class="tab-one">
							<tr>
								<td>接口类型：</td>
								<td>${decode(goodsDetails.apiInfo.apiType,0,'restful',1,'webservice','未知')}</td>
							</tr>
							<tr>
								<td>接口地址：</td>
								<td>${goodsDetails.apiInfo.apiUrl}</td>
							</tr>
							<tr>
								<td>请求方式：</td>
								<td>${goodsDetails.apiInfo.apiMethod}</td>
							</tr>
							<tr>
								<td>接口描述：</td>
								<td>${goodsDetails.apiInfo.apiDesc}</td>
							</tr>
							<tr>
								<td>请求参数：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con">
										<table class="tab-two">
											<tr>
												<th>名称</th>
												<th>类型</th>
												<th>必填</th>
												<!--<th>示例值</th>-->
												<!--<th>默认值</th>-->
												<th>描述</th>
											</tr>
											<%for(items in goodsDetails.apiInfo.reqParamList){%>
											<tr>
												<td>${items.fieldName}</td>
												<td>${items.fieldType}</td>
												<td>${decode(items.isMust,"0","否","1","是","未知")}</td>
												<!--<td>${items.fieldSample}</td>-->
												<!--<td>${items.fieldDefault}</td>-->
												<td>${items.describle}</td>
											</tr>
											<%}%>
										</table>
									</div>
								</td>
							</tr>
							<tr>
								<td>请求示例：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con">
										<div class="reqSample-con" >
											${goodsDetails.apiInfo.reqSample}
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>返回示例：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con">
										<pre class="reqSample-con"  id="json-respSample">
											${goodsDetails.apiInfo.respSample}
										</pre>
									</div>
								</td>
							</tr>
							<tr>
								<td>返回参数：</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="apiInfo-con" style="margin-bottom: 40px;">
										<table>
											<tr>
												<th>字段</th>
												<th>说明</th>
											</tr>
											<%for(items in goodsDetails.apiInfo.respParamList){%>
											<tr>
												<td><p style="white-space: nowrap;">${items.fieldName}</p></td>
												<td>${items.describle}</td>
											</tr>
											<%}%>
										</table>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<%}%>
					<div class="table-item goodsDescBox">${goodsDetails.afterSaleService}</div>
					<%}else if(goodsDetails.goodsType == 2){%>
					<div class="table-item goodsDescBox">
						${goodsDetails.goodsAdvantage}
					</div>
					<div class="table-item">
						<table class="tab-one margin-bottom-10">
							<tr>
								<td>复杂度：</td>
								<td>${decode(goodsDetails.dataModel.complexity,0,'高',1,'中',2,'低','未知')}</td>
							</tr>
							<tr>
								<td>成熟度：</td>
								<td>${decode(goodsDetails.dataModel.maturity,0,'高',1,'中',2,'低',3,'待定','未知')}</td>
							</tr>
							<tr>
								<td>应用经验：</td>
								<td>${goodsDetails.dataModel.aexp}</td>
							</tr>
							<tr>
								<td>配套服务：</td>
								<td>${goodsDetails.dataModel.relationServ}</td>
							</tr>
						</table>
					</div>
					<div class="table-item goodsDescBox">
						${goodsDetails.afterSaleService}
					</div>
					<%}else if(goodsDetails.goodsType == 6 || goodsDetails.goodsType == 7){%>
					<div class="table-item">
						<table class="tab-one margin-bottom-10">
							<tr>
								<td>技术优势：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.asAloneSoftware.technologicalSuperiority}
									</div>
								</td>
							</tr>
							<tr>
								<td>团队优势：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.asAloneSoftware.teamAdvantage}</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="table-item">
						<table class="tab-one margin-bottom-10">
							<tr>
								<td>所需环境：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.asAloneSoftware.desiredEnvironment}</div>
								</td>
							</tr>
							<tr>
								<td>所需数据：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.asAloneSoftware.dataNeeded}</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="table-item goodsDescBox">${goodsDetails.afterSaleService}</div>
					<%}else if(goodsDetails.goodsType == 4){%>
					<div class="table-item">
						<table class="tab-one margin-bottom-10">
							<tr>
								<td>技术优势：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atAloneSoftware.technologicalSuperiority}
									</div>
								</td>
							</tr>
							<tr>
								<td>团队优势：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atAloneSoftware.teamAdvantage}</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="table-item">
						<table class="tab-one margin-bottom-10">
							<tr>
								<td>所需环境：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atAloneSoftware.desiredEnvironment}</div>
								</td>
							</tr>
							<tr>
								<td>所需数据：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atAloneSoftware.dataNeeded}</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="table-item">${goodsDetails.afterSaleService}</div>
					<%}else if(goodsDetails.goodsType ==5){%>
					<div class="table-item">
						<table class="tab-one margin-bottom-10">
							<tr>
								<td>技术优势：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atSaaS.technologicalSuperiority}
									</div>
								</td>
							</tr>
							<tr>
								<td>团队优势：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atSaaS.teamAdvantage}</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="table-item">
						<table class="tab-one margin-bottom-10">
							<tr>
								<td>所需环境：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atSaaS.desiredEnvironment}</div>
								</td>
							</tr>
							<tr>
								<td>所需数据：</td>
								<td>
									<div class="goodsDescBox">${goodsDetails.atSaaS.dataNeeded}</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="table-item goodsDescBox">${goodsDetails.afterSaleService}</div>
					<%}%>
					<div class="table-item evaluate">
						<h1 class="font-size-14 margin-bottom-10" style="display: none;background: #f6f6f6;height: 36px;line-height: 36px;text-indent: 11px;">
							最新评论：</h1>
						<ol>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-right goods-right margin-bottom-30">
			<div class="recommend-one">
				<div class="recommend-title font-weight-bold">${reCommData.shelvesName}</div>
				<ul class="padding-top-5">
					<%for(item in reCommData.goods){%>
					<li>
						<a class="display-block" target="_blank" href="${host.website}/exchange/details?id=${item.goodsId}">
							<img src="${item.goodsImg}" alt="">
							<div class="img-info">
								<p class="title">${item.goodsName}</p>
								<%if(item.isDiscussPrice == 1){%>
								<p class="color-red-bdg">面议</p>
								<%}else{%>
								<%if(item.shopPrice >= 1000000){%>
								<p class="color-red-bdg">￥${trunc(item.shopPrice / 1000000,2)}万/${item.shopNumber == 1 ?
									'' : item.shopNumber}${decode(item.shopFormat,0,'次',1,'月',2,'年',3,'套','未知')}</p>
								<%}else{%>
								<p class="color-red-bdg">￥${item.shopPrice /100}/${item.shopNumber == 1 ? '' :
									item.shopNumber}${decode(item.shopFormat,0,'次',1,'月',2,'年',3,'套','未知')}</p>
								<%}%>
								<%}%>
							</div>
						</a>
					</li>
					<%}%>
				</ul>
			</div>
			<div class="ad-box-c">
				<%for(item in advertisingBitsImg){%>
				<a class="display-block" target="_blank" href="${item.imgLink}">
					<img src="${item.imgUrl}" alt="">
				</a>
				<%}%>
			</div>
		</div>
	</div>
</div>
<div class="qrcode-wrap">
	<span class="fa fa-close close-share-btn"></span>
	<p>请使用微信扫描</p>
	<div class="qrcode-box" id="qrcode"></div>
</div>
<div class="qrcode-wraper">
	<div class="qrcode-wraper-in">
		<div class="qrcode-title">
			<span class="grid-left"><img src="/static/images/logo-sbh.png" alt=""></span>
			<a href="javascript:void(0)" class="fa fa-close close-share-btn grid-right"></a>
		</div>
		<div class="qrcode-content">
			<h3 class="content-title">分享到微信</h3>
			<div class="content-body">
				<div class="content-body-left">用微信“扫一扫”右侧的二维码，即可把页面分享给您的微信好友或者朋友圈。
				<p style="font-size: 14px; color:red;line-height: 30px;">${goodsDetails.goodsName}</p>
				</div>
				<div class="content-body-right" id="qrcodeBNA"></div>
			</div>
		</div>
		<div class="qrcode-footer">
			<span class="footer-line"></span>
			<div class="footer-title"><span>如何用</span><span class="title-icon"><img src="/static/images/wxshare/share_wx_icon.jpg" alt=""></span><span>微信拍二维码：</span><span style="margin-left: 10px;"></span></div>
			<ul class="footer-content">
				<li>
					<img src="/static/images/wxshare/share_img_1.jpg" alt=""><p>点击下方的“发现”图标</p>
				</li>
				<li>
					<img src="/static/images/wxshare/share_img_2.jpg" alt=""><p>选择扫一扫</p>
				</li>
				<li>
					<img src="/static/images/wxshare/share_img_3.jpg" alt=""><p>扫码</p>
				</li>
				<li>
					<img src="/static/images/wxshare/share_img_4.jpg" alt=""><p>点击分享按钮</p>
				</li>
				<li>
					<img src="/static/images/wxshare/share_img_5.jpg" alt=""><p>点击发送给朋友或分享到朋友圈完成分享</p>
				</li>
				<li>
					<img src="/static/images/wxshare/share_img_6.jpg" alt=""><p></p>
				</li>
			</ul>
		</div>
	</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/goods/details.js"></script>
<script>
	var appId ='${wxConfig.appId}',
		timestamp ='${wxConfig.timestamp}',
		nonceStr ='${wxConfig.nonceStr}',
		signature ='${wxConfig.signature}',
		shareTitle = '${goodsDetails.goodsName}',
		shareImg = '${goodsDetails.goodsImg}',
		shareDesc = $('#J_goodsBrief').text(),
		shareLink = location.href.split('#')[0];
	    respSample = JSON.stringify(${goodsDetails.apiInfo.respSample});
	$(document).ready(function(){
        $("meta[property='og:url']").attr('content',shareLink);
        $("meta[property='og:title']").attr('content',shareTitle);
        $("meta[property='og:description']").attr('content',shareDesc);
        $("meta[property='og:image']").attr('content',shareImg);
	})
	$(function () {
		var qrcode = new QRCode(document.getElementById("qrcodeBNA"), {
			width: 100,
			height: 100
		});
		function makeCode() {
			var elText = shareLink;
			qrcode.makeCode(elText);
		}
		$('#J-share-weixin').click(function () {
			$('.qrcode-wraper').show();
			makeCode();
		});
		$('.close-share-btn').click(function () {
			$('.qrcode-wraper').hide()
		});
		wx.config({
			debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: appId, // 必填，公众号的唯一标识
			timestamp: timestamp, // 必填，生成签名的时间戳
			nonceStr: nonceStr, // 必填，生成签名的随机串
			signature: signature,// 必填，签名，见附录1
			jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});
		wx.ready(function(){

			wx.onMenuShareTimeline({ //分享到朋友圈
				title: shareTitle, // 分享标题
				link: shareLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				imgUrl: shareImg, // 分享图标
				success: function () {
					// 用户确认分享后执行的回调函数
					$.alert('分享成功');
					$('.qrcode-wrap').hide()
				},
				cancel: function () {
					// 用户取消分享后执行的回调函数
					$.alert('取消分享');
				}
			});
			wx.onMenuShareAppMessage({ //分享给好友
				title: shareTitle, // 分享标题
				desc: shareDesc, // 分享描述
				link: shareLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				imgUrl: shareImg, // 分享图标
				success: function () {
					// 用户确认分享后执行的回调函数
					$.alert('分享成功');
					$('.qrcode-wrap').hide()
				},
				cancel: function () {
					// 用户取消分享后执行的回调函数
					$.alert('取消分享');
				}
			});
		});
		wx.error(function(res){
			$.alert('res');
		});

        //美化json格式展示
        var dataRespSample=JSON.parse(respSample);
        $("#json-respSample").jsonViewer(dataRespSample);
        $("#json-respSample-2").jsonViewer(dataRespSample);

	});

</script>
