<%
var head = {
%>
<link rel="stylesheet" href="/static/css/exchange/style.css">
<link rel="stylesheet" href="/static/css/font/exchange/iconfont.css">
<style>
	.cm-banner {
		width: 100%;
		height: 400px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
	}
	.cm-banner-in {
		width: 1260px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -630px;
	}
	.cm-banner-in span {
		position: absolute;
		top:158px;
		width: 30px;
		height: 84px;
		background: rgba(255,255,255,0.4);
		text-align: center;
		line-height: 84px;
		color:#dcdcdc;
		font-weight: bold;
		font-size: 24px;
	}
	#cm_banner_list li {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 400px;
	}
	#cm_banner_list li a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.cm-banner-num {
		width: 1200px;
		position: absolute;
		left: 50%;
		bottom: 0;
		text-align: right;
		z-index: 2;
		margin-left: -600px;
	}
	.cm-banner-num li {
		width: 16px;
		margin: 10px 6px;
		height: 16px;
		background-color: #fff;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		display: inline-block;
		opacity: 0.8;
	}
	.cm-banner-num .active {
		background-color: #cc3333;
		width:30px;
	}
	.cm-banner-arrow {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		opacity: 0.8;
		display: none;
	}
	#cm_prev {
		left: 0;

	}
	#cm_next {
		right: 0;

	}
</style>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 exchange-index">
	<!--顶部轮播图-->
	<div class="index-banner">
		<div class="grid-row bdg-row" style="position: relative">
			<!--菜单-->
			<%include("/layout/menu.html"){} %>
		</div>
		<div class="exchange-index-banner">
			<div class="cm-banner">
				<div class="cm-banner-list">
					<ul id="cm_banner_list">
					</ul>
					<ul class="cm-banner-num" id="cm_banner_num"></ul>
				</div>
				<div class="cm-banner-in w">
					<span id="cm_prev" class="cm-banner-arrow"><</span>
					<span id="cm_next" class="cm-banner-arrow">></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid-0">
	<div class="grid-row">
		<%for(item in goodsStorageInfo){%>
		<div class="storageList">
			<h2>${item.name}</h2>
			<div class="storageBox">
				<div class="storageImg storageImg_${itemLP.index} grid-left">
					<img class="one_img" src="${item.img}" alt="">
					<%if(itemLP.first){%>
					<div class="box">
						<img src="/static/images/exchange/y_1.png" alt="" class="y_1">
						<img src="/static/images/exchange/y_2.png" alt="" class="y_2">
						<img src="/static/images/exchange/y_3.png" alt="" class="y_3">
					</div>
					<%}else if(itemLP.index == 2){%>
					<div class="box">
						<img src="/static/images/exchange/y2_1.png" alt="" class="y2_1">
						<img src="/static/images/exchange/y2_2.png" alt="" class="y2_2">
						<img src="/static/images/exchange/y2_3.png" alt="" class="y2_3">
					</div>
					<%}else if(itemLP.index == 3){%>
					<div class="box">
						<img src="/static/images/exchange/y3_1.png" alt="" class="y3_1">
						<img src="/static/images/exchange/y3_2.png" alt="" class="y3_2">
					</div>
					<%}%>
					<p class="describle">${item.describle}</p>
				</div>
				<div class="storageInfo grid-left">
					<div class="tagsList">
						<div class="left grid-left">
							<%for(typeList in item.mgGoodsStorageVo.typeList){%>
							<%if(typeListLP.first){%>
							<div class="tagsItem">
								<a href="/exchange/label?storageId=${item.mgGoodsStorageVo.storageId}&typeId=${typeList.typeId}">
									<h5>${typeList.typeName}</h5>
									<p>${typeList.describle}</p>
									<img src="${typeList.img}" alt="">
								</a>
							</div>
							<%}%>
							<%}%>
						</div>
						<div class="right grid-left">
							<%for(typeList in item.mgGoodsStorageVo.typeList){%>
							<%if(typeListLP.index == 2){%>
							<div class="tagsItem">
								<a href="/exchange/label?storageId=${item.mgGoodsStorageVo.storageId}&typeId=${typeList.typeId}">
									<h5>${typeList.typeName}</h5>
									<p>${typeList.describle}</p>
									<img src="${typeList.img}" alt="">
								</a>
							</div>
							<%}%>
							<%}%>
							<%for(typeList in item.mgGoodsStorageVo.typeList){%>
							<%if(typeListLP.index == 3){%>
							<div class="tagsItem">
								<a href="/exchange/label?storageId=${item.mgGoodsStorageVo.storageId}&typeId=${typeList.typeId}">
									<h5>${typeList.typeName}</h5>
									<p>${typeList.describle}</p>
									<img src="${typeList.img}" alt="">
								</a>
							</div>
							<%}%>
							<%}%>
						</div>
						<div class="left grid-left">
							<%for(typeList in item.mgGoodsStorageVo.typeList){%>
							<%if(typeListLP.index == 4){%>
							<div class="tagsItem">
								<a href="/exchange/label?storageId=${item.mgGoodsStorageVo.storageId}&typeId=${typeList.typeId}">
									<h5>${typeList.typeName}</h5>
									<p>${typeList.describle}</p>
									<img src="${typeList.img}" alt="">
								</a>
							</div>
							<%}%>
							<%}%>
						</div>
						<div class="right grid-left">
							<%for(typeList in item.mgGoodsStorageVo.typeList){%>
							<%if(typeListLP.index == 5){%>
							<div class="tagsItem">
								<a href="/exchange/label?storageId=${item.mgGoodsStorageVo.storageId}&typeId=${typeList.typeId}">
									<h5>${typeList.typeName}</h5>
									<p>${typeList.describle}</p>
									<img src="${typeList.img}" alt="">
								</a>
							</div>
							<%}%>
							<%}%>
							<%for(typeList in item.mgGoodsStorageVo.typeList){%>
							<%if(typeListLP.index == 6){%>
							<div class="tagsItem">
								<a href="/exchange/label?storageId=${item.id}&typeId=${typeList.typeId}">
									<h5>${typeList.typeName}</h5>
									<p>${typeList.describle}</p>
									<img src="${typeList.img}" alt="">
								</a>
							</div>
							<%}%>
							<%}%>
						</div>
					</div>
					<div class="goodsList">
						<%for(goodsItem in item.mgGoodsStorageVo.goodsList){%>
						<div class="goodsItem grid-left">
							<a href="/exchange/details?id=${goodsItem.goodsId}">
								<h5>${goodsItem.goodsName}</h5>
								<img src="${goodsItem.goodsImg}" alt="">
								<%if(goodsItem.shopFormat == -1){%>
								<p>${decode(goodsItem.shopFormat,0,'次',1,'月',2,'年',3,'套',-1,'面议')}</p>
								<%}else{%>
									<%if(goodsItem.shopPrice >= 1000000){%>
									<p>￥<i>${trunc(goodsItem.shopPrice / 1000000,2)}</i>万/${goodsItem.shopNumber == 1 ?'' : goodsItem.shopNumber}${decode(goodsItem.shopFormat,0,'次',1,'月',2,'年',3,'套',-1,'面议')}</p>
									<%}else{%>
									<p>￥<i>${goodsItem.shopPrice /100}</i>/${goodsItem.shopNumber == 1 ?'' : goodsItem.shopNumber}${decode(goodsItem.shopFormat,0,'次',1,'月',2,'年',3,'套',-1,'面议')}</p>
									<%}%>
								<%}%>

								<span>${goodsItem.catName}</span>
							</a>
						</div>
						<%}%>
					</div>
				</div>
			</div>
		</div>
		<%}%>
		<div class="activity clearfix">
			<div class="activity_item grid-left">
				<div class="activityTop">
					<div class="activity_img"><img src="/static/images/exchange/activity_1.png" alt=""></div>
					<p>
						API服务<br>
						<span>开发者的丰富API服务库</span>
					</p>
					<a target="_blank" href="http://www.bdgstore.cn/activity/superCost">马上去抢购</a>
				</div>
				<div class="activityBottom">
					<div class="botOld"></div>
					<div class="botNew"></div>
				</div>
			</div>
			<div class="activity_item grid-left">
				<div class="activityTop">
					<div class="activity_img"><img src="/static/images/exchange/activity_2.png" alt=""></div>
					<p>
						BDG Store数据星河<br>
						<span>全球大数据产业生态圈</span>
					</p>
					<a target="_blank" href="http://cms.bdgstore.cn/gysjxh/index.jhtml">点击查看</a>
				</div>
				<div class="activityBottom">
					<div class="botOld"></div>
					<div class="botNew"></div>
				</div>
			</div>
			<div class="activity_item grid-left">
				<div class="activityTop">
					<div class="activity_img"><img src="/static/images/exchange/activity_3.png" alt=""></div>
					<p>
						个人身份验证<br>
						<span>授权通道，加密传输，安全可靠，快速响应</span>
					</p>
					<a target="_blank" href="http://www.bdgstore.cn/exchange/details?id=02b343c87e6011e79931fefcfe6cbde7 ">马上去体验</a>
				</div>
				<div class="activityBottom">
					<div class="botOld"></div>
					<div class="botNew"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<iframe frameborder=0 width=100% height=0 marginheight=0 marginwidth=0 id="jyxgzx" scrolling=no
		src="http://cms.bdgstore.cn/jyzsnr/index.jhtml"></iframe>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/exchange/index.js"></script>
<script>
	$(function () {
		$.ajax({
			type: "get",
			url: host.website + '/api/image/list',
			success: function (data) {
				if (data.code == 1) {
					var html = '';
					var html2 = '';
					for (var j = 0; j < data.data.length; j++) {
						html += '<li><a href="' + data.data[j].imgLink + '" class="imgFloat_' + j + '" style="background:url(' + data.data[j].imgUrl + ') center center no-repeat"></a></li>';
						if (j == 0) {
							html2 += '<span class="on" index="' + (j + 1) + '"></span>';
						} else {
							html2 += '<span index="' + (j + 1) + '"></span>';
						}
					}
					$('#cm_banner_list').html(html);
//                    $('.btns').html(html2);
					//鼠标移入显示箭头按钮
					$('.cm-banner').hover(function () {
						$('.cm-banner-arrow').show();
						clearInterval(cm_timer);
					}, function () {
						$('.cm-banner-arrow').hide();
						cm_timer = setInterval(function () {
							i++;
							if (i > cm_length - 1) {
								i = 0;
							}
							$('#cm_banner_list li').eq(i).fadeIn(800).siblings().fadeOut(800);
							cm_toggle(i);
						}, 2500);
					});

					//鼠标移入箭头按钮高亮
					$('.cm-banner-arrow').hover(function () {
						$(this).css('opacity', '1');
					}, function () {
						$(this).css('opacity', '0.8');
					});

					//初始化必要变量
					var i = 0;
					var cm_length = $('#cm_banner_list li').length;
					var cm_toggle = function (point) {
						$('#cm_banner_num li').eq(point).addClass('active').siblings().removeClass('active');
					};

					//动态添加小圆点
					for (j = 0; j < cm_length; j++) {
						$('#cm_banner_num').append('<li></li>');
					}

					//给第一个小圆点添加样式
					$('#cm_banner_num li').first().addClass('active');

					//给第一张图片添加样式
					$('#cm_banner_list li').first().css('display', 'block');

					//鼠标点击左箭头切换
					$('#cm_prev').click(function () {
						i--;
						if (i < 0) {
							i = cm_length - 1;
						}
						$('#cm_banner_list li').eq(i).fadeIn(800).siblings().fadeOut(800);
						cm_toggle(i);
					});

					//鼠标点击右箭头切换
					$('#cm_next').click(function () {
						i++;
						if (i > cm_length - 1) {
							i = 0;
						}
						$('#cm_banner_list li').eq(i).fadeIn(800).siblings().fadeOut(800);
						cm_toggle(i);
					});

					//鼠标点击圆点切换
					$('#cm_banner_num li').click(function () {
						var cm_index = $(this).index();
						$('#cm_banner_list li').eq(cm_index).fadeIn(800).siblings().fadeOut(800);
						i = cm_index;
						cm_toggle(cm_index);
					});

					//自动播放
					cm_timer = setInterval(function () {
						i++;
						if (i > cm_length - 1) {
							i = 0;
						}
						$('#cm_banner_list li').eq(i).fadeIn(800).siblings().fadeOut(800);
						cm_toggle(i);
					}, 2500);

				} else {
					$.alert(data.message)
				}
			}
		});
		$('.activity_item').hover(function(){
			var thisElm = $(this).children('.activityBottom').children('.botNew')
			setTimeout(function(){
				thisElm.animate({height:'317px',bottom:'0'},10);
			},700)
		},function(){
			var thisElm = $(this).children('.activityBottom').children('.botNew')
			setTimeout(function(){
				thisElm.css({height:'221px',bottom:'36px'},10);
			},700)
		});
	});

</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
