<%
var head = {
%>
<link rel="stylesheet" href="/static/css/exchange/style.css">
<link rel="stylesheet" href="/static/css/font/exchange/iconfont.css">
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 exchange-index">
	<!--顶部轮播图-->
	<div class="index-banner">
		<div class="grid-row bdg-row" style="position: relative">
			<!--菜单-->
			<%include("/layout/menu.html"){} %>
		</div>
		<div class="exchange-index-banner">
			<%include("/exchange/exchange-banner.html"){} %>
		</div>
	</div>
	<!--<div class="exchange-category-top grid-row">-->
	<!--<ul>-->
	<!--<li>-->
	<!--<div>-->
	<!--<h3>数据推荐</h3>-->
	<!--<p>京东指数-洞察趋势，主动市场先机</p>-->
	<!--</div>-->
	<!--<a href="">查看详情</a>-->
	<!--<div class="category-top-img">-->
	<!--</div>-->
	<!--</li>-->
	<!--<li>-->
	<!--<div>-->
	<!--<h3>数据推荐</h3>-->
	<!--<p>京东指数-洞察趋势，主动市场先机</p>-->
	<!--</div>-->
	<!--<a href="">查看详情</a>-->
	<!--<div class="category-top-img">-->
	<!--</div>-->
	<!--<li>-->
	<!--<div>-->
	<!--<h3>数据推荐</h3>-->
	<!--<p>京东指数-洞察趋势，主动市场先机</p>-->
	<!--</div>-->
	<!--<a href="">查看详情</a>-->
	<!--<div class="category-top-img">-->
	<!--</div>-->
	<!--<li>-->
	<!--<div>-->
	<!--<h3>数据推荐</h3>-->
	<!--<p>京东指数-洞察趋势，主动市场先机</p>-->
	<!--</div>-->
	<!--<a href="">查看详情</a>-->
	<!--<div class="category-top-img">-->
	<!--</div>-->
	<!--</ul>-->
	<!--</div>-->
	<!--推荐资讯-->
	<%
	if(goodsShelvesVoInfo.recomm_data != '')
	var recomm_data = goodsShelvesVoInfo.recomm_data;
	{%>
	<div class="exchange-recommend-resource padding-bottom-30">
		<div class="grid-row">
			<div class="recommend-resource-top" style="">
				<div class="recommend-resource-top-left grid-left">
					<div class="d">
						<i class="iconfont icon-zanxiao color-gray-blue" aria-hidden="true"></i>
						<span class="font-weight-bold">${recomm_data.shelvesName}</span>
						<span class="color-gray-6">${recomm_data.shelvesDesc}</span>
					</div>
				</div>
				<div class="recommend-resource-top-right grid-right">
					<a href="${host.website}/exchange/shelves?id=${recomm_data.shelvesId}" target="_blank" class="a-hover-blue">更多>></a>
				</div>
			</div>
			<div class="recommend-resource-down clearfix">
				<ul>
					<%
					var item = recomm_data.goods;
					var index =0;
					if(item.~size >8){
					index =8;
					}else{
					index = item.~size;
					}
					for(var i=0;i< index;i++){
					%>
					<li>
						<!--<div class="li-item-top">-->
							<!--<a href="${host.website}/exchange/details?id=${item[i].goodsId}">-->
								<!--<img src="${item[i].goodsImg}" alt="">-->
							<!--</a>-->
							<!--<div class="padding-left-5 top-box">-->
								<!--<a href="${host.website}/exchange/details?id=${item[i].goodsId}">-->
									<!--<p class="title">${item[i].goodsName}</p></a>-->
								<!--<a href="${host.website}/exchange/details?id=${item[i].goodsId}">-->
									<!--<p class="subtitle">${item[i].goodsBrief}</p></a>-->
							<!--</div>-->
						<!--</div>-->
						<div class="li-item-top">
							<a target="_blank" href="${host.website}/exchange/details?id=${item[i].goodsId}" class="top-box">
								<img src="${item[i].goodsImg}" class="top-box-img" alt="">
								<div class="padding-left-5 top-box-info">
									<p class="title">${item[i].goodsName}</p>
									<p class="subtitle">${item[i].goodsBrief}</p>
								</div>
							</a>
						</div>
						<div class="li-item-down">
							<div class="down-box-one">
								<div class="grade">
									<span class="grade-grade">评分:</span>
									<%
									var goodsGradesC = item[i].goodsGrades + '';
									var goodsGrade = strutil.subStringTo (goodsGradesC,0,1);
									goodsGrade = parseInt(goodsGrade);
									%>
									<span class="grade-star">
										<%for(var j = 0; j < goodsGrade; j++){%>
										<i class="fa fa-star color-orange font-size-14" aria-hidden="true"></i>
										<%}%>
										<%for(var j = 0; j < 5-goodsGrade; j++){%>
										<i class="fa fa-star-o color-orange font-size-14" aria-hidden="true"></i>
										<%}%>
									</span>
									<!--<span class="grade-star">-->
                                          <!--<i class="iconfont icon-shoucang star-i-item"></i>-->
                                          <!--<i class="iconfont icon-shoucang star-i-item"></i>-->
                                          <!--<i class="iconfont icon-shoucang star-i-item"></i>-->
                                          <!--<i class="iconfont icon-shoucang star-i-item"></i>-->
                                          <!--<i class="iconfont icon-shoucang star-i-item"></i>-->
                                      <!--</span>-->
								</div>
								<!--<span class="collect" onclick="Attention.add('${item[i].goodsId}')"><i class="iconfont icon-jushoucanggift collect-item"></i>关注</span>-->
							</div>
							<div class="down-box-tow">
								<span class="money"><i class="money-i-item" >￥</i>${item[i].shopPrice / 100}</span>
								<a class="detail btn-hover-red" href="${host.website}/exchange/details?id=${item[i].goodsId}" target="_blank" >查看详情</a>
							</div>
						</div>
						<div class="li-hover">
						</div>
					</li>
					<%}%>
				</ul>
			</div>
		</div>
	</div>
	<%}%>
	<div class="exchange-center-bar">
		<img src="/static/images/exIndex.png" alt="" style="width: 100%;">
	</div>
	<!--热门资讯-->
	<%
	if(goodsShelvesVoInfo.hot_res_data != ''){
	var hot_res_data = goodsShelvesVoInfo.hot_res_data;
	%>
	<div class="exchange-hot-resource grid-row">
		<div class="hot-resource-top" style="">
			<div class="hot-resource-top-left grid-left">
				<div class="d">
					<i class="iconfont icon-fire2 color-red"></i>
					<span class="font-weight-bold">${hot_res_data.shelvesName}</span>
					<span class="color-gray-6">${hot_res_data.shelvesDesc}</span>
				</div>
			</div>
			<div class="hot-resource-top-right grid-right">
				<a href="${host.website}/exchange/shelves?id=${hot_res_data.shelvesId}" class="a-hover-blue" target="_blank" >更多>></a>
			</div>
		</div>
		<div class="hot-resource-down clearfix">
			<div class="hot-down-left ">
				<div class="headline-box">
					<p class="main-headline">${hot_res_data.shelvesName}</p>
					<p class="sub-headline">${hot_res_data.shelvesDesc}</p>
				</div>
				<div class="label-box">
					<a target="_blank" href="/exchange/search?names=金融">金融</a>
					<a target="_blank" href="/exchange/search?names=银行">银行</a>
					<a target="_blank" href="/exchange/search?names=信用">信用</a>
					<a target="_blank" href="/exchange/search?names=企业信息">企业信息</a>
				</div>
				<span class="iconfont icon-toutiao bg-img"></span>
			</div>
			<div class="hot-down-table ">
				<table>
					<tr>
						<th>资源标识</th>
						<th>资源名称</th>
						<th>金额(￥)</th>
						<th>操作</th>
					</tr>
					<%
					var res_item = hot_res_data.goods;
					var index1 =0;
					if(res_item.~size >5){
					index1 =5;
					}else{
					index1 = res_item.~size;
					}
					for(var i=0;i< index1;i++){
					%>
					<tr>
						<td class="td-one"><img src="${res_item[i].goodsImg}" alt=""></td>
						<td class="td-two">${res_item[i].goodsName}</td>
						<td class="td-three"><span class="td-three-money">${res_item[i].shopPrice / 100}</span></td><!--<span>元/次</span>-->
						<td class="td-four">
							<a href="${host.website}/exchange/details?id=${res_item[i].goodsId}" class="a-hover-blue" target="_blank" >查看详情</a>
							<!--<span>免</span>-->
							<!--<span>企</span>-->
						</td>
					</tr>
					<%}%>
				</table>
			</div>
			<div class="hot-down-rank display-inline-block">
				<div class="h-title"><i></i><span>热销榜</span></div>
				<ul>
					<%
					var hot_sellItem = goodsShelvesVoInfo.hot_sell_data.goods;
					var index2 =0;
					if(hot_sellItem.~size >7){
					index2 =7;
					}else{
					index2 = hot_sellItem.~size;
					}
					for(var i=0;i< index2;i++){
					%>
					<li class="${decode(i,0,'active','')}">
						<img src="${hot_sellItem[i].goodsImg}" class="grid-left" alt="">
						<div class="infoBox grid-right">
							<a href="${host.website}/exchange/details?id=${hot_sellItem[i].goodsId}" target="_blank" ><p class="title">
								${hot_sellItem[i].goodsName}</p></a>
							<a href="${host.website}/exchange/details?id=${hot_sellItem[i].goodsId}" target="_blank" ><p class="p-none ">
								￥${hot_sellItem[i].shopPrice / 100}</p></a>
						</div>
					</li>
					<%}%>
				</ul>
			</div>
		</div>
	</div>
	<%}%>

	<!--更改的行业推荐-->
	<!--行业资讯-->
	<%
	if(goodsShelvesVoInfo.ind_res_data != ''){
	var ind_res_data = goodsShelvesVoInfo.ind_res_data;
	var ind_res_data_1 = goodsShelvesVoInfo.ind_res_data_1;
	var ind_res_data_2 = goodsShelvesVoInfo.ind_res_data_2;
	var ind_res_data_3 = goodsShelvesVoInfo.ind_res_data_3;
	var ind_res_data_4 = goodsShelvesVoInfo.ind_res_data_4;
	%>
	<div class="exchange-industry-resource grid-row">
		<div class="industry-resource-top ">
			<div class="industry-resource-top-left grid-left">
				<div class="d">
					<i class="iconfont icon-hangye color-gray-blue" aria-hidden="true"></i>
					<span class="font-weight-bold">${ind_res_data.shelvesName}</span>
					<span class="color-gray-6">${ind_res_data.shelvesDesc}</span>
				</div>
			</div>
			<div class="industry-resource-top-right grid-right">
				<a href="" class="a-hover-blue"
				   target="_blank">更多>></a>
			</div>
		</div>
		<div class="industry-resource-down ">
			<div class="carousel-box">
				<!--<div id="arr">-->
					<!--<div id="arrow-left" ><</div>-->
					<!--<div id="arrow-right">></div>-->
				<!--</div>-->
				<div class="screen" >
					<ul class="clearfix">
						<!--<li class="slide-item">-->
							<!--<div class="slide-item-top">-->
								<!--<img src="https://img.alicdn.com/tps/TB16hkwLXXXXXX6XXXXXXXXXXXX-576-840.jpg" class="img" alt="">-->
								<!--<a href="" class="bg">-->
									<!--<img src="" alt="">-->
									<!--<p></p>-->
								<!--</a>-->
							<!--</div>-->
							<!--<div class="slide-item-down">-->
								<!--<div class="one-info">-->
									<!--<p>大法师打发斯蒂芬</p>-->
									<!--<p class="color-red font-weight-bold">按需资费</p>-->
								<!--</div>-->
								<!--<div class="two-info">-->
									<!--<p>胜多负少的发生的</p>-->
									<!--<p class="color-red "><span>￥</span><span class="font-weight-bold font-size-18">100</span>/<span>2000次</span></p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
						<!--<li class="slide-item">-->
							<!--&lt;!&ndash;<div class="slide-item-top">&ndash;&gt;-->
								<!--&lt;!&ndash;<img src="https://img.alicdn.com/tps/TB16hkwLXXXXXX6XXXXXXXXXXXX-576-840.jpg" class="img" alt="">&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="" class="bg">&ndash;&gt;-->
									<!--&lt;!&ndash;<p>金融行业</p>&ndash;&gt;-->
								<!--&lt;!&ndash;</a>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="slide-item-down">&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="one-info">&ndash;&gt;-->
									<!--&lt;!&ndash;<p>大法师打发斯蒂芬</p>&ndash;&gt;-->
									<!--&lt;!&ndash;<p class="color-red font-weight-bold">按需资费</p>&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="two-info">&ndash;&gt;-->
									<!--&lt;!&ndash;<p>胜多负少的发生的</p>&ndash;&gt;-->
									<!--&lt;!&ndash;<p class="color-red "><span>￥</span><span class="font-weight-bold font-size-18">100</span>/<span>2000次</span></p>&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--</li>-->
						<!--最新的-->
						<li class="slide-item">
							<div class="slide-item-top">
								<img src="${host.static}/${ind_res_data_1.backImgPath}" alt="" class="bg">
								<a href="javascript:void(0);" class="hover-bg">
									<p>${ind_res_data_1.shelvesName}</p>
								</a>
							</div>
							<div class="slide-item-down">
								<%
								for(item in ind_res_data_1.goods){
								%>
								<div class="one-info">
									<a href="${host.website}/exchange/details?id=${item.goodsId}" target="_blank" class="color-red">
										<p>${item.goodsName}</p>
										<p class="color-red">
											￥<span class="font-weight-bold font-size-18 color-red">${item.shopPrice/100}</span>
										</p>
									</a>
								</div>
								<%}%>
							</div>
						</li>
						<li class="slide-item">
							<div class="slide-item-top">
								<img src="${host.static}/${ind_res_data_2.backImgPath}" alt="" class="bg">
								<a href="javascript:void(0);" class="hover-bg">
									<p>${ind_res_data_2.shelvesName}</p>
								</a>
							</div>
							<div class="slide-item-down">
								<%
								for(item in ind_res_data_2.goods){
								%>
								<div class="one-info">
									<a href="${host.website}/exchange/details?id=${item.goodsId}" target="_blank" class="color-red">
										<p>${item.goodsName}</p>
										<p class="color-red">
											￥<span class="font-weight-bold font-size-18 color-red">${item.shopPrice/100}</span>
										</p>
									</a>
								</div>
								<%}%>
							</div>
						</li>
						<li class="slide-item">
							<div class="slide-item-top">
								<img src="${host.static}/${ind_res_data_3.backImgPath}" alt="" class="bg">
								<a href="javascript:void(0);" class="hover-bg">
									<p>${ind_res_data_3.shelvesName}</p>
								</a>
							</div>
							<div class="slide-item-down">
								<%
								for(item in ind_res_data_3.goods){
								%>
								<div class="one-info">
									<a href="${host.website}/exchange/details?id=${item.goodsId}" target="_blank" class="color-red">
										<p>${item.goodsName}</p>
										<p class="color-red">
											￥<span class="font-weight-bold font-size-18 color-red">${item.shopPrice/100}</span>
										</p>
									</a>
								</div>
								<%}%>
							</div>
						</li>
						<li class="slide-item">
							<div class="slide-item-top">
								<img src="${host.static}/${ind_res_data_4.backImgPath}" alt="" class="bg">
								<a href="javascript:void(0);" class="hover-bg">
									<p>${ind_res_data_4.shelvesName}</p>
								</a>
							</div>
							<div class="slide-item-down">
								<%
								for(item in ind_res_data_4.goods){
								%>
								<div class="one-info">
									<a href="${host.website}/exchange/details?id=${item.goodsId}" target="_blank" class="color-red">
										<p>${item.goodsName}</p>
										<p class="color-red">
											￥<span class="font-weight-bold font-size-18 color-red">${item.shopPrice/100}</span>
										</p>
									</a>
								</div>
								<%}%>
							</div>
						</li>
						<!--追加的-->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<%}%>
	<!--底部分类-->
	<div class="exchange-category-down grid-row">
		<div class="category-left grid-left">
			<div class="category-box">
				<ul>
					<!--<li class="grid-left ">${goodsShelvesVoInfo.data_sur_data.shelvesName}</li>-->
					<li class="grid-left active">${goodsShelvesVoInfo.model_data.shelvesName}</li>
					<li class="grid-left">${goodsShelvesVoInfo.scene_data.shelvesName}</li>
					<li class="grid-left">${goodsShelvesVoInfo.plat_data.shelvesName}</li>
					<li class="grid-left">${goodsShelvesVoInfo.tools_data.shelvesName}</li>
				</ul>
			</div>
			<!--<div class="category-item ">-->
				<!--<div class="grid-left resource-two">-->
					<!--<div class="headline-box">-->
						<!--<p class="main-headline">${goodsShelvesVoInfo.data_sur_data.shelvesName}</p>-->
						<!--<p class="sub-headline">${goodsShelvesVoInfo.data_sur_data.shelvesDesc}</p>-->
					<!--</div>-->
					<!--<div class="label-box">-->
						<!--&lt;!&ndash;<span>资源汇总</span>&ndash;&gt;-->
						<!--&lt;!&ndash;<span>资源汇总</span>&ndash;&gt;-->
						<!--<a class="more a-hover-blue" href="${host.website}/exchange/shelves?id=${goodsShelvesVoInfo.data_sur_data.shelvesId}" target="_blank" >更多>></a>-->
					<!--</div>-->
					<!--<span class="iconfont icon-productfeatures bg-img"></span>-->
				<!--</div>-->
				<!--<div class="grid-right list-box">-->
					<!--<ul>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
			<div class="category-item item-active">
				<div class="grid-left resource-two">
					<div class="headline-box">
						<p class="main-headline">${goodsShelvesVoInfo.model_data.shelvesName}</p>
						<p class="sub-headline">${goodsShelvesVoInfo.model_data.shelvesDesc}</p>
					</div>
					<div class="label-box">
						<!--<span>资源汇总</span>-->
						<!--<span>资源汇总</span>-->
						<a class="more a-hover-blue" href="${host.website}/exchange/shelves?id=${goodsShelvesVoInfo.model_data.shelvesId}" class="a-hover-blue" target="_blank" >更多>></a>
					</div>
					<span class="iconfont icon-productfeatures bg-img"></span>
				</div>
				<div class="grid-right list-box">
					<ul>
						<%
						var model_item = goodsShelvesVoInfo.model_data.goods;
						var index4 =0;
						if(model_item.~size >6){
						index4 =6;
						}else{
						index4 = model_item.~size;
						}
						for(var i=0;i< index4 ;i++){
						%>
						<li>
							<a href="${host.website}/exchange/details?id=${model_item[i].goodsId}" target="_blank" >
								<img src="${model_item[i].goodsImg}" alt="">
								<p class="title">${model_item[i].goodsName}</p>
								<p class="star-box">
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
								</p>
								<p>
									<i class="money-symbol color-red">￥</i>
									<span class="color-red">${model_item[i].shopPrice / 100}</span>
								</p>
							</a>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
			<div class="category-item">
				<div class="grid-left resource-two">
					<div class="headline-box">
						<p class="main-headline">${goodsShelvesVoInfo.scene_data.shelvesName}</p>
						<p class="sub-headline">${goodsShelvesVoInfo.scene_data.shelvesDesc}</p>
					</div>
					<div class="label-box">
						<!--<span>资源汇总</span>-->
						<!--<span>资源汇总</span>-->
						<a class="more a-hover-blue" href="${host.website}/exchange/shelves?id=${goodsShelvesVoInfo.scene_data.shelvesId}" class="a-hover-blue" target="_blank" >更多>></a>

					</div>
					<span class="iconfont icon-productfeatures bg-img"></span>
				</div>
				<div class="grid-right list-box">
					<ul>
						<%
						var scene_item = goodsShelvesVoInfo.scene_data.goods;
						var index5 =0;
						if(scene_item.~size >6){
							index5 =6;
						}else{
							index5 = scene_item.~size;
						}
						for(var i=0;i < index5;i++){
						%>
						<li>
							<a href="${host.website}/exchange/details?id=${scene_item[i].goodsId}" target="_blank" >
								<img src="${scene_item[i].goodsImg}" alt="">
								<p class="title">${scene_item[i].goodsName}</p>
								<p class="star-box">
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
								</p>
								<p>
									<i class="money-symbol color-red">￥</i>
									<span class="color-red">${scene_item[i].shopPrice / 100}</span>
								</p>
							</a>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
			<div class="category-item">
				<div class="grid-left resource-two">
					<div class="headline-box">
						<p class="main-headline">${goodsShelvesVoInfo.plat_data.shelvesName}</p>
						<p class="sub-headline">${goodsShelvesVoInfo.plat_data.shelvesDesc}</p>
					</div>
					<div class="label-box">
						<!--<span>资源汇总</span>-->
						<!--<span>资源汇总</span>-->
						<a class="more a-hover-blue" href="${host.website}/exchange/shelves?id=${goodsShelvesVoInfo.plat_data.shelvesId}" class="a-hover-blue" target="_blank" >更多>></a>
					</div>
					<span class="iconfont icon-productfeatures bg-img"></span>

				</div>
				<div class="grid-right list-box">
					<ul>
						<%
						var plat_item = goodsShelvesVoInfo.plat_data.goods;
						var index6 =0;
						if(plat_item.~size >6){
						index6 =6;
						}else{
						index6 = plat_item.~size;
						}
						for(var i=0;i< index6 ;i++){
						%>
						<li>
							<a href="${host.website}/exchange/details?id=${plat_item[i].goodsId}" target="_blank" >
								<img src="${plat_item[i].goodsImg}" alt="">
								<p class="title">${plat_item[i].goodsName}</p>
								<p class="star-box">
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
								</p>
								<p>
									<i class="money-symbol color-red">￥</i>
									<span class="color-red">${plat_item[i].shopPrice / 100}</span>
								</p>
							</a>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
			<div class="category-item ">
				<div class="grid-left resource-two">
					<div class="headline-box">
						<p class="main-headline">${goodsShelvesVoInfo.tools_data.shelvesName}</p>
						<p class="sub-headline">${goodsShelvesVoInfo.tools_data.shelvesDesc}</p>
					</div>
					<div class="label-box">
						<!--<span>资源汇总</span>-->
						<!--<span>资源汇总</span>-->
						<a class="more a-hover-blue" href="${host.website}/exchange/shelves?id=${goodsShelvesVoInfo.tools_data.shelvesId}" class="a-hover-blue" target="_blank" >更多>></a>
					</div>
					<span class="iconfont icon-productfeatures bg-img"></span>

				</div>
				<div class="grid-right list-box">
					<ul>
						<%
						var tools_item = goodsShelvesVoInfo.tools_data.goods;
						var index7 =0;
						if(tools_item.~size >6){
						index7 =6;
						}else{
						index7 = tools_item.~size;
						}
						for(var i=0;i< index7 ;i++){
						%>
						<li>
							<a href="${host.website}/exchange/details?id=${tools_item[i].goodsId}" target="_blank" >
								<img src="${tools_item[i].goodsImg}" alt="">
								<p class="title">${tools_item[i].goodsName}</p>
								<p class="star-box">
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
									<i class="iconfont icon-shoucang color-orange star-item"></i>
								</p>
								<p>
									<i class="money-symbol color-red">￥</i>
									<span class="color-red">${tools_item[i].shopPrice / 100}</span>
								</p>
							</a>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
		</div>
		<!--<div class="category-right grid-right">-->
			<!--<div class="common-problems">-->
				<!--<i></i><span>常见问题</span><span class="a-hover-blue">更多>></span>-->
			<!--</div>-->
			<!--<ul class="common-problems-list">-->
				<!--<li class="a-hover-blue"><span>1</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>2</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>3</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>4</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>5</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>6</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>7</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>8</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
				<!--<li class="a-hover-blue"><span>9</span>近三年全国交..<span></span><span class="">2016-5-8</span></li>-->
			<!--</ul>-->
		<!--</div>-->
	</div>
</div>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/exchange/index.js"></script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
