<%
var head = {
%>
<link rel="stylesheet" href="/static/css/exchange/style.css">
<script type="text/javascript">
    $.getUrlParam = function (key) {
        var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
        var result = window.location.search.substr(1).match(reg);
        return result ? decodeURIComponent(result[2]) : null;
    };
    var catId = $.getUrlParam('catId');
    var prId = $.getUrlParam('prId');
    var prNm = $.getUrlParam('prNm');
    var msId = $.getUrlParam('msId');
    var msNm = $.getUrlParam('msNm');
    var pagePath = '/search/v1/goods';
    var pageType = 'post';
    var dataParm = {};
    dataParm.pageNumber = 1;
    dataParm.pageSize = 20;
    dataParm.esGoods ={};
    dataParm.esGoods.catIds = catId;
</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 exchange-list">
    <div class="grid-row">
        <div class="search">
            <div class="bdg-row" style="position: relative">
                <!--头部类目展示模块-->
                <%include("/layout/menu.html"){} %>
                <div class="search-category" id="J_searchCategory">
                    <!--<div class="panel-title">-->
                        <!--<span>全部结果:</span>-->
                    <!--</div>-->
                </div>
                <!--中间主体列表展示模块-->
                <div class="search-order">
                    <div class="order" >
                        <ul>
                            <li><a id="sort" href="javascript:;" class="active" type="">综合排序<span class="arrow-box"><i class="iconfont arrow">&#xe65e;</i></span></a></li>
                            <li><a id="onSaleDate" href="javascript:;" type="onSaleDate">上架时间 <span class="arrow-box"><i class="iconfont arrow">&#xe65e;</i></span></a></li>
                            <li><a id="orders" href="javascript:;" type="orders">下载量<span class="arrow-box"><i class="iconfont arrow">&#xe65e;</i></span></a></li>
                            <li><a id="commentRank" href="javascript:;" type="commentRank">评分<span class="arrow-box"><i class="iconfont arrow">&#xe65e;</i></span></a></li>
                            <li>
                                <a id="shopPrice" href="javascript:;" type="shopPrice">价格:</a>
                                <div class="priceBox">
                                    <input type="text" id="priceFrom" onkeyup="this.value=this.value.replace(/[^\d.]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " class="startPrice" placeholder="￥  请输入" />
                                    <em></em>
                                    <input type="text" id="priceTo" onkeyup="this.value=this.value.replace(/[^\d.]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " class="endPrice" placeholder="￥  请输入" />
                                    <span class="empty d" >清空</span>
                                    <span class="ensure btn-full-blue">确定</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="order-list">
                        <ul></ul>
                    </div>
                    <%include("/layout/pageaction.html"){} %>
                </div>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/exchange/list.js"></script>
