<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>添加轮播图</h5></div>
      <!--<div class="pull-right">
        <button class="btn btn-default" ui-sref="account.search" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 返回</button>
      </div>-->
    </div>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" role="form" id="carouselForm" name="carouselForm" novalidate>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="urls">跳转地址</label>
        <div class="col-sm-4">
          <input type="text" id="urls" name="url" class="form-control" data-ng-model="urls" placeholder="必填项" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="href">图片路径</label>
        <div class="col-sm-4">
          <input type="text" id="href" name="href" class="form-control" data-ng-model="href" placeholder="必填项" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="advertOrder">轮播顺序</label>
        <div class="col-sm-4">
          <input type="text" id="advertOrder" name="advertOrder" class="form-control" data-ng-model="advertOrder" ng-pattern="/[0-9]/" ng-maxlength="5" placeholder="数字 / 最长为5"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="advertGroup">轮播分组</label>
        <div class="col-sm-4">
          <input type="text" id="advertGroup" name="advertGroup" class="form-control" data-ng-model="advertGroup" ng-pattern="/[0-9]/" ng-maxlength="2" placeholder="数字 / 最长为2"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <!--<button class="btn btn-primary" data-ng-click="save()">
            <span class="glyphicon glyphicon-refresh"></span> 保存
          </button>-->
          <input class="btn btn-primary btn-lg" ng-disabled="carouselForm.$invalid"
                 type="button" value="保存" data-ng-click="add()"/>
        </div>
      </div>
    </form>
  </div>
</div>