<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jusfoun.hookah.core.dao.jf.JfRecordMapper" >
    <resultMap id="BaseResultMap" type="com.jusfoun.hookah.core.domain.jf.JfRecord" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="source_id" property="sourceId" jdbcType="TINYINT" />
        <result column="action" property="action" jdbcType="TINYINT" />
        <result column="score" property="score" jdbcType="INTEGER" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="expire" property="expire" jdbcType="TINYINT" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="add_date" property="addDate" jdbcType="VARCHAR" />
        <result column="action_desc" property="actionDesc" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id" parameterType="com.jusfoun.hookah.core.domain.jf.JfRecord" >

        insert into jf_record (user_id, source_id,
          action, score, note,
          expire, add_time, update_time,
          operator, add_date, action_desc
          )
        values (#{userId,jdbcType=VARCHAR}, #{sourceId,jdbcType=TINYINT},
          #{action,jdbcType=TINYINT}, #{score,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR},
          #{expire,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
          #{operator,jdbcType=VARCHAR}, #{addDate,jdbcType=VARCHAR}, #{actionDesc,jdbcType=VARCHAR}
          )
  </insert>

    <select id="selectListByUserId" resultType="com.jusfoun.hookah.core.domain.vo.JfShowVo">

        SELECT
            jr.add_time,
            js.action,
            js.action_desc,
            js.score,
            jr.note
        FROM
            jf_record jr
        LEFT JOIN jf_rule js ON jr.source_id = js.id
        WHERE
            jr.user_id = #{userId}
    </select>

    <select id="selectListByUserIdAndType" resultType="com.jusfoun.hookah.core.domain.jf.JfRecord">

        SELECT
            *
        FROM
            jf_record jr
         WHERE
            jr.user_id = #{userId}

            <if test="type == 1">
                AND (jr.action = #{type} OR jr.source_id = 11)
            </if>

            <if test="type == 2">
                AND (jr.action = #{type} OR jr.source_id = 12)
            </if>

            ORDER BY jr.add_time DESC

    </select>

    <select id="getUseScoreByUserId" resultType="java.lang.Integer">

        SELECT
            SUM(jr.score)
        FROM
            jf_record jr
        WHERE
            jr.expire = 0 AND jr.user_id = #{userId}
    </select>

</mapper>