<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/usercenter/myseller/myseller.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left info-center-box ">
            <div class="user-center-box grid-right">
                <div class="trade-wrapper">
                    <div class="wrapper-tab clearfix">
                        <ul class="wrapper-tab-box">
                            <li class="first "><a href="/usercenter/custom">退款管理</a></li>
                            <li class="active"><a href="/usercenter/customer">售后管理</a></li>
                            <li class=""><a href="/usercenter/illegal">违规记录</a></li>
                        </ul>
                    </div>
                    <div class="trade-box">
                        <table>
                            <tr>
                                <th style="width: 10%;" class="text-center">售后编号</th>
                                <th style="width: 10%;" class="text-center">商品信息/订单号</th>
                                <th style="width: 10%;">买家</th>
                                <th style="width: 10%;">申请时间</th>
                                <th style="width: 10%;">售后内容</th>
                                <th style="width: 10%;">售后要求</th>
                                <th style="width: 10%;">售后状态</th>
                                <th style="width: 10%;" class="text-center">操作</th>
                            </tr>
                            <tr>
                                <td class="text-center">363814134823</td>
                                <td class="text-center">
                                    <p style="margin-top:10px;">订单号：563814234863</p>
                                    <a href="javascript:void(0)">
                                        <img src="/static/images/zheng.jpg" alt="">
                                        <p>这个是商品的title</p>
                                    </a>

                                </td>
                                <td>怪蜀叔</td>
                                <td>2017-03-08 14:39:20</td>
                                <td>数据接口异常</td>
                                <td>及时修复</td>
                                <td>已修复</td>
                                <td>
                                    <a href="javascript:void(0)"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">363814134823</td>
                                <td class="text-center">
                                    <p style="margin-top:10px;">订单号：563814234863</p>
                                    <a href="javascript:void(0)">
                                        <img src="/static/images/zheng.jpg" alt="">
                                        <p>这个是商品的title</p>
                                    </a>
                                </td>
                                <td>怪蜀叔</td>
                                <td>2017-03-08 14:39:20</td>
                                <td>数据接口异常</td>
                                <td>及时修复</td>
                                <td>未修复</td>
                                <td>
                                    <a href="javascript:void(0)">处理</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>



