<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/myseller/myseller.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left info-center-box ">
            <div class="user-center-box grid-right">
                <div class="trade-wrapper">
                    <div class="wrapper-tab clearfix">
                        <ul class="wrapper-tab-box">
                            <li class="first "><a href="/usercenter/custom">退款管理</a></li>
                            <li class=""><a href="/usercenter/customer">售后管理</a></li>
                            <li class="active"><a href="/usercenter/customega">违规记录</a></li>
                        </ul>
                    </div>
                    <div class="trade-box">
                        <table>
                            <tr>
                                <th class="text-center" style="width: 33.33%;">商品信息</th>
                                <th style="width: 33.33%;">违规时间</th>
                                <th style="width: 33.33%;">违规原因</th>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0)">
                                        <img src="/static/images/zheng.jpg" alt="">
                                        <p>这个是商品的title</p>
                                    </a>

                                </td>
                                <td>2017-03-08 14:39:20</td>
                                <td>虚假信息</td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0)">
                                        <img src="/static/images/zheng.jpg" alt="">
                                        <p>这个是商品的title</p>
                                    </a>

                                </td>
                                <td>2017-03-08 14:39:20</td>
                                <td>虚假信息</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>



