<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/usercenter/myseller/myseller.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left info-center-box ">
            <div class="user-center-box grid-right">
                <h3 class="center-title">商品管理</h3>
                <div class="trade-wrapper">
                    <div class="wrapper-tab">
                        <ul class="wrapper-tab-box">
                            <li class="first "><a href="/myseller">发布商品</a></li>
                            <li class="active"><a href="/myseller/tradeing">已发布商品</a></li>
                        </ul>
                    </div>
                    <div class="trade-box">
                        <table>
                            <thead>
                            <tr>
                                <th class="text-center">宝贝</th>
                                <th>分类</th>
                                <th class="text-right">单价（元）</th>
                                <th class="text-center">添加时间</th>
                                <th class="text-center">审核状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <!--<tr>-->
                            <!--<td class="text-center">-->
                            <!--<a href="javascript:void(0)">-->
                            <!--<img src="../../static/1/img/zheng.jpg" alt="">-->
                            <!--<p>这个是商品的title</p>-->
                            <!--</a>-->
                            <!--</td>-->
                            <!--<td>分类二</td>-->
                            <!--<td class="text-right">8000</td>-->
                            <!--<td class="text-center">失败</td>-->
                            <!--<td>-->
                            <!--<a href="javascript:void(0)">重新审核</a>-->
                            <!--<a href="javascript:void(0)">修改</a>-->
                            <!--</td>-->
                            <!--</tr>-->
                        </table>
                    </div>
                    <%include("/layout/pageaction.html"){} %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>



