<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/myAttention.css">
<script type="text/javascript">
	var pagePath = '/goodsFavorite/list';
	var pageType = 'get';
	var dataParm = {};
	dataParm.pageNumber = 1;
	dataParm.pageSize = 20;

</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left myAttention">
            <div class="atten">
                <h3 class="myeval">我的关注</h3>
            </div>
            <div class="order-list">
                <ul>
                    <!--<li>-->
                        <!--<a class="item-top" href="/exchange/details?id=3c615b22210111e796c56a3b07101c5a">-->
                            <!--<p class="goods-img">-->
                                <!--<img src="http://static.hookah.app/20170414/1851337921dcd56e2c413cba36a2515248549e.png" alt="">-->
                            <!--</p>-->
                            <!--<p class="goods-name">测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api</p>-->
                            <!--<p class="goods-brief">测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api</p>-->
                        <!--</a>-->
                        <!--<div class="item-down">-->
                            <!--<span class="grid-left goods-price">-->
                                <!--￥<span>10</span>/次-->
                            <!--</span>-->
                            <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
                        <!--</div>-->
                        <!--<div class="cancel">-->
                            <!--<a href="">取消关注</a>-->
                        <!--</div>-->
                    <!--</li>-->

                </ul>
            </div>
            <%include("/layout/pageaction.html"){} %>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script>
    var goodsBrief = $(".item-top p:nth-last-child(1)");
    $(goodsBrief).each(function(index,n){
        var text = $(this).text();
        if(text.length>=65){
            $(this).text(text.slice(0,65)+'...');
        }
    })
</script>
<script type="text/javascript" src="/static/js/usercenter/mybuyer/myAttention.js"></script>

