<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/buyer/myAttention.css">
<script type="text/javascript">
	var pagePath = '/goodsFavorite/list';
	var pageType = 'get';
	var dataParm = {};
	dataParm.pageNumber = 1;
	dataParm.pageSize = 8;
    function loadPageData(data){
        if(data.data.list.length > 0){
            var list = data.data.list;
            var html = '';
            for(var i=0; i<list.length; i++){
                var mMat = null;
                switch(list[i].shopFormat){
                    case(0):
                        mMat = '次';
                        break;
                    case(1):
                        mMat = '天';
                        break;
                    case(2):
                        mMat = '年';
                        break;
                    case(3):
                        mMat = '套';
                        break;
                }
                html += '<li>';
                html += '<a target="_blank" title="'+list[i].goodsName+'" class="item-top" href="/exchange/details?id='+list[i].goodsId+'">';
                html += '<div class="goods-img">\
                 <img src="'+list[i].goodsImg+'" alt="">\
                </div>';
                if(list[i].isDiscussPrice == 1){
                    html += '<div class="goods-name">'+list[i].goodsName+'<div class="goods-price text-align-center color-red font-size-16">价格面议</div></div>';
                }else {
                    var d=Transformation(list[i].shopPrice,"10000")
                    html += '<div class="goods-name">'+list[i].goodsName+'<div class="goods-price">价格：<span>￥'+d+'/'+mMat+'</span></div></div>';
                }

                // html += '<p class="goods-brief">'+list[i].goodsBrief+'</p>';
                html += '</a>';
                html += '';
                if(list[i].isOnSale == 0){
                    html +='<span class="color-red">该商品已下架</span>';
                }
                // html += '<a class="grid-right" href="javascript:addCart(\''+list[i].goodsId+'\','+list[i].shopFormat+','+list[i].shopNumber+');">加入购物车</a>';
                html += '<span class="cancel" onclick="cancelAttention(\''+list[i].goodsId+'\')">取消关注</span>';
                html += '</li>';
            }
            $('.order-list ul').html(html);
        }else{
            $('.order-list').html('<div class="noData">暂无数据</div>');
        }
        sliceString();
    };
    //解决浏览器中多行文字溢出时，省略号代替的兼容性问题
    function sliceString(){
        var goodsBrief = $(".item-top p:nth-last-child(1)");
        $(goodsBrief).each(function(index,n){
            var text = $(this).html();
            if(text.length>=32){
                $(this).html(text.slice(0,32)+'...');
            }
        });
    }
</script>

<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix ">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right myAttention margin-bottom-30 ">
            <div class="atten">
                <h3 class="myeval">我的关注</h3>
            </div>
            <div class="order-list">
                <ul>
                    <!--<li>-->
                        <!--<a class="item-top" href="/exchange/details?id=3c615b22210111e796c56a3b07101c5a">-->
                            <!--<p class="goods-img">-->
                                <!--<img src="http://static.qddata.com.cn/20170414/1851337921dcd56e2c413cba36a2515248549e.png" alt="">-->
                            <!--</p>-->
                            <!--<p class="goods-name">测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api</p>-->
                            <!--<p class="goods-brief">测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api测试商品标题&#45;&#45;api</p>-->
                        <!--</a>-->
                        <!--<div class="item-down">-->
                            <!--<span class="grid-left goods-price">-->
                                <!--￥<span>10</span>/次-->
                            <!--</span>-->
                            <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
                        <!--</div>-->
                        <!--<div class="cancel">-->
                            <!--<a href="">取消关注</a>-->
                        <!--</div>-->
                    <!--</li>-->

                </ul>
            </div>
            <%include("/layout/pageaction.html"){} %>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/mybuyer/myAttention.js"></script>
