<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/buyer/myCoupon.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script type="text/javascript">
    var pagePath = '/coupon/getCouponByUserId';
    var pageType = 'get';
    var dataParm = {};
    dataParm.pageNumber = 1;
    dataParm.pageSize = 6;
    dataParm.userCouponStatus=0;
</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix ">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right myCoupon info-center-box ">
            <div class="user-center-box grid-right">
                <div class="header">
                    <h4 class="center-title">优惠券</h4>
                    <a href="http://cms.gbdex.bdgstore.cn/yhqsm/index.jhtml" class="ruleLink">优惠券规则说明</a>
                </div>
                <div class="content">
                    <div class="coupon-header">
                       <select name="" id="selectId" onchange="selectFn(this)">
                           <option value="0">可用优惠券</option>
                           <option value="1">已用优惠券</option>
                           <option value="2">过期优惠券</option>
                           <!--<option value="">回收站优惠券</option>-->
                       </select>
                       <ul class="clearfix" id="tagName">
                           <li data-coupon-id="0" class="active">新到账</li>
                           <li data-coupon-id="1">即将过期</li>
                           <!--<li data-coupon-id="">最优惠</li>-->
                       </ul>
                    </div>
                    <div class="coupon-list">
                          <ul class="clearfix" id="coupon-list">
                          </ul>
                          <%include("/layout/pageaction.html"){} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/mybuyer/myCoupon.js"></script>
