<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/cart.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray padding-top-20 padding-bottom-20">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="user-center-box grid-right">
            <div class="cart">
                <h3 class="center-title">购物车</h3>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
