<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/orderManagement.css">
<script type="text/javascript">
	var pagePath = '/order/list';
	var pageType = 'get';
	var dataParm = {};
	dataParm.pageNumber = 1;
	dataParm.pageSize = 20;

</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray ">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="orderManagement margin-left-10 margin-top-10 grid-right padding-bottom-20">
            <div class="title clearfix margin-bottom-15">
                <ul class="grid-left all">
                    <li class="padding-left-30 active"><a href="javascript:void(0)">全部订单 <span class="padding-right-40">50</span></a></li>
                    <li class="padding-left-60 "><a href="/usercenter/buyer/orderStay">待付款<span class="padding-left-5 padding-right-60">2</span></a></li>
                </ul>
                <div class="search grid-right">

                        <input type="search" name="search" placeholder="商品名称/订单号/商品编号">
                        <span class="fa fa-search"></span>

                </div>
            </div>
            <div class="list" >
                <div class="order">
                    <table>
                        <thead>
                            <tr >
                                <th class="">订单号</th>
                                <th class="text-align-center">商品信息</span></th>
                                <th class="text-align-center">数量</th>
                                <th class="text-align-center">规格</th>
                                <th class="text-align-right">金额</th>
                                <th class="">创建时间</th>
                                <th class="">状态</th>
                                <th class="text-align-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="content border-bottom">
                                <td class="text-align-center">
                                    2017022813474081863964
                                </td>
                                <td class="text-align-center">
                                    <img src="/static/images/xm.png" alt="">
                                    <a href="" class="display-block">银行卡实名认证接口（需个人授权）</a>
                                </td>
                                <td class="text-align-center">1</td>
                                <td class="text-align-center">次</td>
                                <td class="text-align-right">￥&nbsp;200.00</td>
                                <td>2017-02-28&nbsp;&nbsp;19:20:20</td>
                                <td>已付款</td>
                                <td class="text-align-center">
                                    <a href="" class="display-block">查看详情</a>
                                    <a href="" class="display-block">评价晒单</a>
                                    <a href="" class="display-block">取消</a>
                                </td>
                            </tr>
                            <tr class="content border-bottom">
                                <td class="text-align-center">
                                    2017022813474081863964
                                </td>
                                <td class="text-align-center">
                                    <img src="/static/images/xm.png" alt="">
                                    <a href="" class="display-block">银行卡实名认证接口（需个人授权）</a>
                                </td>
                                <td class="text-align-center">1</td>
                                <td class="text-align-center">次</td>
                                <td class="text-align-right">￥&nbsp;200.00</td>
                                <td>2017-02-28&nbsp;&nbsp;19:20:20</td>
                                <td>已付款</td>
                                <td class="text-align-center">
                                    <a href="" class="display-block">查看详情</a>
                                    <a href="" class="display-block">评价晒单</a>
                                    <a href="" class="display-block">取消</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <%include("/layout/pageaction.html"){} %>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/js/usercenter/mybuyer/orderManage.js"></script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
