<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/orderManagement.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray ">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="orderManagement margin-left-10 margin-top-10 grid-right padding-bottom-20">
            <div class="title clearfix margin-bottom-15">
                <ul class="grid-left all">
                    <li class="padding-left-30 active">全部订单 <span class="padding-right-40">50</span></li>
                    <li class="padding-left-60 ">待付款<span class="padding-left-5 padding-right-60">2</span></li>
                </ul>
                <div class="search grid-right">

                        <input type="search" name="search" placeholder="商品名称/订单号/商品编号">
                        <span class="fa fa-search"></span>

                </div>
            </div>
            <div class="list" >
                <div class="order">
                    <table>
                        <thead>
                            <tr >
                                <th class="one">2017-02-28&nbsp;&nbsp;19:20:20</th>
                                <th class="two">项目号: <span>2017022813474081863964</span></th>
                                <th class="three">数量</th>
                                <th class="four">金额</th>
                                <th class="five">状态</th>
                                <th class="six">操作</th>
                            </tr>
                        </thead>
                        <tabody>
                            <tr class="content" style="height:115px;">
                                <td>
                                    <img src="/static/images/xm.png" alt="" class="padding-left-50 ">
                                </td>
                                <td class="padding-left-30">
                                    <a href="">银行卡实名认证接口（需个人授权）</a>
                                </td>
                                <td class="padding-left-40">按次&nbsp;x&nbsp;1</td>
                                <td class="padding-left-40">￥&nbsp;200.00</td>
                                <td class="padding-left-60">已付款</td>
                                <td class="operate padding-left-40">
                                    <a href="" class="cha">查看详情</a>
                                    <a href="" class="ping">评价晒单</a>
                                    <a href="" class="cancel">取消</a>
                                </td>
                            </tr>
                        </tabody>
                    </table>
                </div>
            </div>
            <div class="list" style="display: none" >
                <div class="order">
                    <table>
                        <thead>
                        <tr>
                            <th class="one">2017-02-28&nbsp;&nbsp;19:20:20</th>
                            <th class="two">项目号: <span>2017022813474081863964</span></th>
                            <th class="three">数量</th>
                            <th class="four">金额</th>
                            <th class="five">状态</th>
                            <th class="six">操作</th>
                        </tr>
                        </thead>
                        <tabody>
                            <tr class="content" style="height:115px;">
                                <td>
                                    <img src="/static/images/xm.png" alt="" class="padding-left-50 ">
                                </td>
                                <td class="padding-left-30">
                                    <a href="">银行卡实名认证接口（需个人授权）</a>
                                </td>
                                <td class="padding-left-40">按次&nbsp;x&nbsp;1</td>
                                <td class="padding-left-40">￥&nbsp;200.00</td>
                                <td class="padding-left-60">未付款</td>
                                <td class="operate padding-left-40">
                                    <a href="" class="fu">付款</a>
                                    <a href="" class="ping">评价晒单</a>
                                    <a href="" class="cancel">取消</a>
                                </td>
                            </tr>
                        </tabody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/js/buyer/buyer.js"></script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
