<%
var head = {
%>
<link rel="stylesheet" href="/static/css/plugins/jedate/jedate.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/points.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script src="/static/js/plugins/jedate/jquery.jedate.min.js"></script>
<script type="text/javascript">
    	var pagePath = '/jf/getList';
    	var pageType = 'get';
    	var dataParm = {};
    	dataParm.pageNumber = 1;
    	dataParm.pageSize = 10;
    	dataParm.type = 0; // 0全部 1获取 2兑换 3过期
</script>
<script src="/static/js/usercenter/mybuyer/points.js"></script>

<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="orderManagement margin-top-10 grid-right padding-bottom-20 margin-bottom-30 info-center-box">
            <div class="header">
                <h4 class="center-title">我的积分</h4>
                <a href="http://cms.gbdex.bdgstore.cn/jfsm/index.jhtml" target="_blank" class="ruleLink">积分规则</a>
            </div>
            <div class="points-detail">
                <div class="howManyPoints">
                    <span>当前积分</span>
                    <i></i>
                    <sm>分</sm>
                </div>
                <!--<a href="#" class="getOtherThing">
                    <img src="/static/images/usercenter/buyer/points-02.png" alt="">积分兑换
                </a>
                <a href="#" class="getOtherThing">
                    <img src="/static/images/usercenter/buyer/points-03.png" alt="">积分抽奖
                </a>
                <a href="#" class="getOtherThing">
                    <img src="/static/images/usercenter/buyer/points-04.png" alt="">我的抽奖结果
                </a>-->
            </div>
            <div class="pointsList">
                <div class="listNav">
                    <a typeVal="0" href="javascript:void(0)" class="active">所有积分明细</a>
                    <a typeVal="1" href="javascript:void(0)">获取明细</a>
                    <a typeVal="2" href="javascript:void(0)">兑换明细</a>
                    <a typeVal="3" href="javascript:void(0)">过期明细</a>
                </div>
                <table class="pointsListDetail">


                </table>
                <%include("/layout/pageaction.html"){} %>

            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
