<%
var head = {
%>
<link rel="stylesheet" href="/static/css/plugins/jedate/jedate.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/points.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script src="/static/js/plugins/jedate/jquery.jedate.min.js"></script>
<script type="text/javascript">
    	var pagePath = '/order/pageData';
    	var pageType = 'get';
    	var dataParm = {};
    	dataParm.pageNumber = 1;
    	dataParm.pageSize = 5;
    	dataParm.payStatus = 1;//0:未付款，1：已付款
        dataParm.startDate = null;
        dataParm.endDate = null;
        dataParm.commentFlag = null;
</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="orderManagement margin-top-10 grid-right padding-bottom-20 margin-bottom-30 info-center-box">
            <div class="header">
                <h4 class="center-title">我的积分</h4>
                <a href="#" class="ruleLink">积分规则</a>
            </div>
            <div class="points">

            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/usercenter/mybuyer/orderManage.js"></script>
