<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/buyer/buyer.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/font/iconfont.css">
<script type="text/javascript" src="/static/js/plugins/vendor/jquery.raty.js"></script>
<script src="/static/js/plugins/validate/jquery-validate.js"></script>
<script src="/static/js/plugins/validate/messages_zh.js"></script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray ">
	<div class="grid-row clearfix">
		<%include("/usercenter/user-center-menu.html"){} %>
		<div class="sunAlone grid-left margin-bottom-30">
			<div class="sun">
				<h3 class="details">评价订单</h3>
			</div>
			<form action="" id="sunContentForm">
				<% for(list in order.mgOrderGoodsList){ %>
				<div class="sunContent item-${listLP.index} clearfix">
					<div class="lcontent grid-left padding-top-20 text-align-center">
						<div class="order margin-bottom-20">订单号: <span>${order.orderSn}</span></div>
						<div class="pic margin-bottom-20">
							<a href="/exchange/details?id=${list.goodsId}" target="_blank" name="${list.goodsId}">
								<img src="${host.static}/${list.goodsImg}" alt="">
							</a>
						</div>
						<div class="goodsName margin-bottom-20">
							<a href="/exchange/details?id=${list.goodsId}" target="_blank">${list.goodsName}</a>
						</div>
						<div class=" margin-bottom-20 ">¥&nbsp;${list.goodsPrice/100}</div>
					</div>
					<div class="rcontent grid-left padding-top-20 padding-left-20">
						<!--<div class="evaluation margin-bottom-20">-->
							<!--<span class="iconfont icon-jingshi "><span class="margin-left-5">请至少填写一件商品的评价</span></span>-->
						<!--</div>-->
						<div class="satisfaction margin-bottom-20">
							<span class="goods">商品满意度</span>
							<span class="demo">
								<div id="" class="function-demo target-demo"></div>
								<div id="" class="function-hint hint"></div>
							</span>
						</div>
						<div class="suneval clearfix">
							<span class="eve">
								<span class="padding-right-10">评价晒单</span>
							</span>
							<div class="grid-right">
							<textarea name="aloneCon${listLP.index}" cols="90" rows="5" class="padding-left-5 padding-top-5 grid-right margin-right-10 area required" placeholder="商品是否给力,快分享你的购买心得吧～～"></textarea>
							</div>
						</div>
					</div>
				</div>
				<% } %>
				<div class="sure text-align-center">
					<button class="margin-top-20 btn-full-orange margin-bottom-20 padding-30 padding-top-10 padding-bottom-10" type="button" id="J_sunSubmitBtn" onclick="checkFirst('${order.orderId}')">
						提交
					</button>
				</div>
				<!--onclick="check('${order.orderId}')"-->
			</form>
		</div>
	</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/usercenter/mybuyer/sunAlone.js"></script>
