<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/buyer/buyer.css">
<link rel="stylesheet" href="/static/css/usercenter/buyer/font/iconfont.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray ">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left viewDetails margin-bottom-30">
            <div class="view">
                <h3 class="details">订单详情</h3>
            </div>
            <div class="viewContent clearfix">
                <div class="leftContent grid-left padding-top-20 text-align-center">
                    <div class="state-top margin-bottom-30 ">订单号：<span>${order.orderSn}</span></div>
                    <h3 class="state-txt margin-bottom-10">完成</h3>
                    <div class="state-btn">
                        <a href="/order/payOrder?orderSn='${order.orderSn}'"   class="pay btn-full-red">付款</a>
                    </div>
                </div>
                <div class="rightContent grid-left padding-top-20 padding-left-20">
                    <div class="state-rtop text-align-center">
                        订单已经完成，欢迎您对本次交易及所购商品进行评价。
                    </div>
                    <div class="process text-align-center">
                        <div class="proce">
                            <span class="iconfont icon-dingdan "></span>
                        </div>
                        <div class="line">
                            <span></span>
                        </div>
                        <div class="proce">
                            <span class="iconfont icon-fukuan"></span>
                        </div>
                        <div class="line">
                            <span class="gray"></span>
                        </div>
                        <div class="proce">
                            <span class="iconfont icon-wancheng text-align-center"></span>
                        </div>
                    </div>
                    <div class="process-text text-align-center margin-bottom-20">
                        <div class="order">
                            <ul>
                                <li>提交订单</li>
                                <li>${order.addTime,dateFormat="yyyy-MM-dd"}</li>
                                <li>${order.addTime,dateFormat="HH:mm:ss"}</li>
                            </ul>
                        </div>
                        <div class="pay">付款成功</div>
                        <div class="over">完成</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="grid-left viewDetails margin-bottom-40">
            <div class="goods-list">
                <div class="goods-table">
                    <table>
                        <thead>
                        <tr>
                            <th>商品</th>
                            <!--<th>商品编号</th>-->
                            <th>价格</th>
                            <th>商品数量</th>
                            <th>商品类型</th>
                            <!--<th>下载数据</th>-->
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(list in order.mgOrderGoodsList){ %>
                        <tr class="padding-bottom-10">
                            <td class="goods text-align-center margin-top-10">
                                <div class="p-img">
                                    <a href="/exchange/details?id=${list.goodsId}" target="_blank">
                                        <img src="${list.goodsImg}" alt="">
                                    </a>
                                </div>
                                <div class="desc margin-top-10 marign-bottom-10" >
                                    <a href="/exchange/details?id=${list.goodsId}" target="_blank">${list.goodsName}</a>
                                </div>
                            </td>
                            <!--<td class="number" >${list.goodsSn}</td>-->
                            <td class="price">¥${trunc(list.goodsPrice / 100 , 2)}</td>
                            <td class="num">${list.goodsNumber}</td>
                            <td class="num">${decode(list.goodsType,0,'常规商品',1,'api商品','-')}</td>
                            <!--<td class="num">-->
                            <!--<%if(isNotEmpty(list.uploadUrl)){%>-->
                                <!--<a target="_blank" href="http://static.hookah.app/upload/download?filePath=${list.uploadUrl}">下载数据</a>-->
                            <!--<%}else{%>-->
                                <!-- - -->
                            <!--<%}%>-->
                            <!--</td>-->
                            <td class="operate">
                                <a href="${host.website}/exchange/details?id=${list.goodsId}" class="buy btn-full-blue display-inline-block">再次购买</a>
                                <a target="_blank" href="${host.website}/exchange/orderEndDetails?id=${list.goodsId}&orderSn=${order.orderSn}" class="buy btn-full-red display-inline-block margin-top-10">数据详情</a>
                            </td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
                <div class="goods-info clearfix text-align-center margin-top-15">
                    <ul class="grid-right margin-right-20">
                        <li>付款方式:<span>${order.payName}</span></li>
                        <li>付款时间：<span>${order.payTime,dateFormat="yyyy-MM-dd"}&nbsp;&nbsp;</span></li>
                        <li>商品总额: <span>¥${trunc(order.goodsAmount / 100 , 2)}</span></li>
                        <li>应付总额: <span>¥${trunc(order.orderAmount / 100 , 2)}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/usercenter/mybuyer/viewDetails.js"></script>