<div class="grid-0 index-banner">
    <%include("/layout/index_top_banner.html"){} %>
</div>
<!--<div class="grif-0 index-exchange-brief">-->
    <!--<div class="grid-row">-->
        <!--<div class="top-title">-->
            <!--<span class=" display-inline-block title-left"></span>-->
            <!--<h3 class=" display-inline-block">交易中心介绍</h3>-->
            <!--<span class=" display-inline-block title-right"></span>-->
        <!--</div>-->
        <!--<div class="top-info text-align-center margin-top-10">-->
            <!--<p class="display-inline-block">山东大数据交易中心整合了全球所有顶尖的大数据开发平台、技术工具、模型算法、应用组件等下游用户创业创新。打造中国大数据产业的"App-->
                <!--Store"。借助大数据技术完成数据集成、融合。</p>-->
        <!--</div>-->
        <!--<div class="list-data text-align-center">-->
            <!--<div class="data-item display-inline-block ">-->
                <!--<a class="data-item-inner display-inline-block " href="javascript:void(0)">-->
                    <!--<div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>-->
                    <!--<h3 class="item-h3">资源种类</h3>-->
                    <!--<p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="data-item display-inline-block ">-->
                <!--<a class="data-item-inner display-inline-block " href="javascript:void(0)">-->
                    <!--<div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>-->
                    <!--<h3 class="item-h3">会员须知</h3>-->
                    <!--<p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="data-item display-inline-block ">-->
                <!--<a class="data-item-inner display-inline-block " href="javascript:void(0)">-->
                    <!--<div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>-->
                    <!--<h3 class="item-h3">隐私条款</h3>-->
                    <!--<p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="data-item display-inline-block ">-->
                <!--<a class="data-item-inner display-inline-block " href="javascript:void(0)">-->
                    <!--<div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>-->
                    <!--<h3 class="item-h3">常见问题</h3>-->
                    <!--<p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="grif-0 index-trade-resources">
    <div class="grid-row">
        <div class="list-data text-align-center">
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/4-333.jpg" alt="">
                            </div>
                            <h3 class="title">2017中国大数据交易高峰论坛</h3>
                        </div>
                        <div class="back">
                            <a href="/sysNews/details?id=81b1518a702a4d43801d7ccc429c4bb9" target="_blank">
                                <h3>2017中国大数据交易高峰论坛</h3>
                                <p>5月27日，由贵阳大数据交易所主办的2017第三届中国（贵阳）大数据交易高峰论坛，在贵阳成功落下帷幕。</p>
                                <button class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/index/2.png" alt="">
                            </div>
                            <h3 class="title">青岛玩转“大数据”激发双创活力</h3>
                        </div>
                        <div class="back">
                            <a target="_blank" href="/sysNews/details?id=40e9031d5b79496aacb2d151bf103f41">
                                <h3>青岛玩转“大数据”激发双创活力</h3>
                                <p>近日2017中国大数据创新创业大赛发布会在惠普大数据体验中心产业基地举办。为期三天的2017年“创响中国”青岛站巡回接力活动12日在中国石油大学青岛校区启动，中国科协相关负责人向青岛市...。</p>
                                <button  class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/index/3.png" alt="">
                            </div>
                            <h3 class="title">青岛数博会带动发展新机遇</h3>
                        </div>
                        <div class="back">
                            <a target="_blank" href="/sysNews/details?id=585e554dc03b423b96640114bca10f5a">
                                <h3>青岛数博会带动发展新机遇</h3>
                                <p>2017年青岛大数据世界博览会应用创新峰会在青岛召开，来自全国政界、学界和产业界的400多名大数据领袖齐聚青岛，共同谋划中国大数据应用创新发展。本次峰会主题是“以应用促发展、依创新而智变”。</p>
                                <button  class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/index/4.png" alt="">
                            </div>
                            <h3 class="title">大数据创业沙龙西海岸火热进行 </h3>
                        </div>
                        <div class="back">
                            <a href="/sysNews/details?id=963704af53b2476ea8d01e28bb18c39e" target="_blank">
                                <h3>大数据创业沙龙西海岸火热进行 </h3>
                                <p>近日大数据行业创业沙龙在青岛交易中心拉开帷幕。本次活动旨在于汇聚不同行业、不同领域的大数据行业经营、专家大牛，共同研讨大数据的魅力，探寻数据的未来，为数据人打造一场饕餮盛宴。</p>
                                <button  class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-0 index-information">
    <div class="grid-row">
        <div class="grid-left list-data central-box ">
            <div class="box-title border-bottom margin-bottom-10">
                <span class="grid-left "></span>
                <h3 class="grid-left">中心动态</h3>
                <a href="/information/index" target="_blank" class="grid-right">更多 <span class="fa fa-angle-double-right"></span></a>
            </div>
            <div class="box-center">
                <div class="center-left grid-left" id="J_dataL">
                    <a href="javascript:void(0)" target="_blank">
                        <img id="dataL_img" src="" alt="">
                        <div class="color-gray-6">
                            <!--<span class="grid-left">admin</span>-->
                            <span id="dataL_dataTime" class="grid-right">2017-03-28</span>
                        </div>
                        <h3 id="dataL_dataTitle"></h3>
                        <p id="dataL_contentValidity" class="infos"></p>
                    </a>
                </div>
                <div class="center-right grid-right">
                    <ul id="J_dataR">

                    </ul>
                </div>
            </div>
        </div>
        <div class="grid-right list-data notice-box">
            <div class="box-title border-bottom margin-bottom-10">
                <span class="grid-left "></span>
                <h3 class="grid-left">公告</h3>
                <!--<a href="javascript:void(0)" class="grid-right">更多 <span class="fa fa-angle-double-right"></span></a>-->
            </div>
            <div class="notice-center">
                <ul id="J_dataRR">
                    <!--<li><span class="serial"></span><a href="javascript:void(0)">暂无公告</a><span class="grid-right"></span></li>-->
                    <!--<li><span class="serial">1.</span><a target="_blank" href="/exposition/exchange_rule">交易规则</a><span class="grid-right">2017-05-12</span></li>-->
                    <!--<li><span class="serial">4.</span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>-->
                    <!--<li><span class="serial">5.</span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>-->
                    <!--<li><span class="serial">6.</span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>-->
                    <!--<li><span class="serial">7.</span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>-->
                    <!--<li><span class="serial">8.</span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>-->
                    <!--<li><span class="serial">9.</span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>-->
                    <!--<li><span class="serial">10.</span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!--合作伙伴-->
<div class="grid-0 co-organization">
    <div class="grid-row">
        <h3>合作机构</h3>
        <ul>
            <li class="grid-left "><a class="logo1" target="_blank" href="http://www.gbdex.com/"></a></li>
            <li class="grid-left "><a class="logo2" target="_blank" href="http://finance.qq.com/bigdata/index.htm"></a></li>
            <li class="grid-left "><a class="logo3" target="_blank" href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=%E8%B7%AF%E9%80%8F%E4%B8%AD%E6%96%87%E7%BD%91&rsv_pq=cfd904f4000097c2&rsv_t=e6c6R4mbDWPsPlvdAM4f5daczSFci3C5Jdd9x6PctlzE%2BwRxvk6i2dkJCPY&rsv_enter=1&rsv_sug3=15&rsv_sug1=8&qq-pf-to=pcqq.c2c"></a></li>
            <li class="grid-left "><a class="logo4" target="_blank" href="http://www.standardandpoors.com/en_US/web/guest/home"></a></li>
            <li class="grid-left "><a class="logo5" target="_blank" href="http://www.imjuxin.com/"></a></li>
            <li class="grid-left "><a class="logo6" target="_blank" href="http://www.citicbank.com/"></a></li>
        </ul>
    </div>
</div>
<script src="/static/js/index/index.js"></script>