<div class="grid-0 index-banner">
    <%include("/layout/index_top_banner.html"){} %>
</div>
<div class="grif-0 index-exchange-brief">
    <div class="grid-row">
        <div class="top-title">
            <span class=" display-inline-block title-left"></span>
            <h3 class=" display-inline-block">交易中心介绍</h3>
            <span class=" display-inline-block title-right"></span>
        </div>
        <div class="top-info text-align-center margin-top-10">
            <p class="display-inline-block">山东大数据交易中心整合了全球所有顶尖的大数据开发平台、技术工具、模型算法、应用组件等下游用户创业创新。打造中国大数据产业的"App
                Store"。借助大数据技术完成数据集成、融合。</p>
        </div>
        <div class="list-data text-align-center">
            <div class="data-item display-inline-block ">
                <a class="data-item-inner display-inline-block " href="javascript:void(0)">
                    <div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>
                    <h3 class="item-h3">资源种类</h3>
                    <p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>
                </a>
            </div>
            <div class="data-item display-inline-block ">
                <a class="data-item-inner display-inline-block " href="javascript:void(0)">
                    <div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>
                    <h3 class="item-h3">会员须知</h3>
                    <p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>
                </a>
            </div>
            <div class="data-item display-inline-block ">
                <a class="data-item-inner display-inline-block " href="javascript:void(0)">
                    <div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>
                    <h3 class="item-h3">隐私条款</h3>
                    <p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>
                </a>
            </div>
            <div class="data-item display-inline-block ">
                <a class="data-item-inner display-inline-block " href="javascript:void(0)">
                    <div class="item-icon"><img src="/static/images/test-icon.jpg" alt=""></div>
                    <h3 class="item-h3">常见问题</h3>
                    <p class="item-info">快速复制阿里巴巴互联网架构，一站式提供分布式</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="grif-0 index-trade-resources">
    <div class="grid-row">
        <div class="list-data text-align-center">
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/trade-img.jpg" alt="">
                            </div>
                            <h3 class="title">政府在线可实话工具</h3>
                        </div>
                        <div class="back">
                            <h3>2016年大数据博览会</h3>
                            <p>致力于为用户建立从数据使用到数据分析的一个完整的开发服务生态。依托于大数据的背景，帮助企业用户从非结构化数据中挖掘出用户基础信息数据为。</p>
                            <a href="javascript:void(0)" class="btn btn-white display-inline-block margin-top-20">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/trade-img.jpg" alt="">
                            </div>
                            <h3 class="title">政府在线可实话工具</h3>
                        </div>
                        <div class="back">
                            <h3>2016年大数据博览会</h3>
                            <p>致力于为用户建立从数据使用到数据分析的一个完整的开发服务生态。依托于大数据的背景，帮助企业用户从非结构化数据中挖掘出用户基础信息数据为。</p>
                            <a href="javascript:void(0)" class="btn btn-white display-inline-block margin-top-20">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/trade-img.jpg" alt="">
                            </div>
                            <h3 class="title">政府在线可实话工具</h3>
                        </div>
                        <div class="back">
                            <h3>2016年大数据博览会</h3>
                            <p>致力于为用户建立从数据使用到数据分析的一个完整的开发服务生态。依托于大数据的背景，帮助企业用户从非结构化数据中挖掘出用户基础信息数据为。</p>
                            <a href="javascript:void(0)" class="btn btn-white display-inline-block margin-top-20">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/trade-img.jpg" alt="">
                            </div>
                            <h3 class="title">政府在线可实话工具</h3>
                        </div>
                        <div class="back">
                            <h3>2016年大数据博览会</h3>
                            <p>致力于为用户建立从数据使用到数据分析的一个完整的开发服务生态。依托于大数据的背景，帮助企业用户从非结构化数据中挖掘出用户基础信息数据为。</p>
                            <a href="javascript:void(0)" class="btn btn-white display-inline-block margin-top-20">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-0 index-information">
    <div class="grid-row">
        <div class="grid-left list-data central-box ">
            <div class="box-title border-bottom margin-bottom-10">
                <span class="grid-left "></span>
                <h3 class="grid-left">中心动态</h3>
                <a href="${host.website}/information/index" target="_blank" class="grid-right">更多 <span class="fa fa-angle-double-right"></span></a>
            </div>
            <div class="box-center">
                <div class="center-left grid-left">
                    <a href="javascript:void(0)">
                        <img src="/static/images/4-3.jpg" alt="">
                        <div class="color-gray-6">
                            <span class="grid-left">admin</span>
                            <span class="grid-right">2017-03-28</span>
                        </div>
                        <h3>省政府与中国农业银行签署战略合作协议</h3>
                        <p class="infos">借贷机构可用于查询申请人互联网申请借款行为借贷机构.可用于查询申请人互联网申请借款行为借贷,机构可用于查询申请人互联网申请借款行为请人互联网申请借款行为</p>
                    </a>
                </div>
                <div class="center-right grid-right">
                    <ul>
                        <li class="margin-bottom-10">
                            <a href="javascript:void(0)">
                                <img src="/static/images/4-3.jpg" class="grid-left" alt="">
                                <div class="infos grid-right">
                                    <h3>省政府与中国农业银行签署战略合作协议</h3>
                                    <p>借贷机构可用于查询申请人互联网申请借款行为借贷机构.可用于查询申请人互联网申请借款行为借贷,机构可用于查询申请人互联网申请借款行为</p>
                                </div>
                            </a>
                        </li>
                        <li class="margin-bottom-10">
                            <a href="javascript:void(0)">
                                <img src="/static/images/4-3.jpg" class="grid-left" alt="">
                                <div class="infos grid-right">
                                    <h3>省政府与中国农业银行签署战略合作协议</h3>
                                    <p>借贷机构可用于查询申请人互联网申请借款行为借贷机构.可用于查询申请人互联网申请借款行为借贷,机构可用于查询申请人互联网申请借款行为</p>
                                </div>
                            </a>
                        </li>
                        <li class="margin-bottom-10">
                            <a href="javascript:void(0)">
                                <img src="/static/images/4-3.jpg" class="grid-left" alt="">
                                <div class="infos grid-right">
                                    <h3>省政府与中国农业银行签署战略合作协议</h3>
                                    <p>借贷机构可用于查询申请人互联网申请借款行为借贷机构.可用于查询申请人互联网申请借款行为借贷,机构可用于查询申请人互联网申请借款行为</p>
                                </div>
                            </a>
                        </li>
                        <li class="margin-bottom-10">
                            <a href="javascript:void(0)">
                                <img src="/static/images/4-3.jpg" class="grid-left" alt="">
                                <div class="infos grid-right">
                                    <h3>省政府与中国农业银行签署战略合作协议</h3>
                                    <p>借贷机构可用于查询申请人互联网申请借款行为借贷机构.可用于查询申请人互联网申请借款行为借贷,机构可用于查询申请人互联网申请借款行为请人互联网申请借款行为</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid-right list-data notice-box">
            <div class="box-title border-bottom margin-bottom-10">
                <span class="grid-left "></span>
                <h3 class="grid-left">公告</h3>
                <a href="javascript:void(0)" class="grid-right">更多 <span class="fa fa-angle-double-right"></span></a>
            </div>
            <div class="notice-center">
                <ul>
                    <li><span class="serial">1<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">2<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">3<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">4<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">5<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">6<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">7<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">8<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">9<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                    <li><span class="serial">10<sub>.</sub></span><a href="javascript:void(0)">山东设立500亿元新兴产业</a><span class="grid-right">2017-03-30</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="grid-0 co-organization">
    <div class="grid-row">
        <h3>合作机构</h3>
        <ul>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
            <li class="grid-left"><a href="javascript:void(0)"><img src="/static/images/trade-img.jpg" alt=""></a></li>
        </ul>
    </div>
</div>