<iframe src="http://192.168.200.116:8080/" id="iframepage" name="iframepage" frameBorder=0 scrolling=no width="100%"></iframe>
<script type="text/javascript">
/*  function iFrameHeight() {
    var ifm= document.getElementById("iframepage");
    var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
    if(ifm != null && subWeb != null) {
      ifm.height = subWeb.body.scrollHeight;
    }
  }*/
  var ifm= document.getElementById("iframepage");
  window.addEventListener('message', function(event) {
      ifm.height = event.data;
      window.document.body.scrollTop = 0;
  })
</script>

<!--
<div class="grid-0 index-banner">
    <    %include("/layout/index_top_banner.html"){} %>
</div>
<div class="grif-0 index-trade-resources">
    <div class="grid-row">
        <div class="list-data text-align-center">
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/4-333.jpg" alt="">
                            </div>
                            <h3 class="title">2017中国大数据交易高峰论坛</h3>
                        </div>
                        <div class="back">
                            <a href="/sysNews/details?id=81b1518a702a4d43801d7ccc429c4bb9" target="_blank">
                                <h3>2017中国大数据交易高峰论坛</h3>
                                <p>5月27日，由贵阳大数据交易所主办的2017第三届中国（贵阳）大数据交易高峰论坛，在贵阳成功落下帷幕。</p>
                                <button class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/index/2.png" alt="">
                            </div>
                            <h3 class="title">青岛玩转“大数据”激发双创活力</h3>
                        </div>
                        <div class="back">
                            <a target="_blank" href="/sysNews/details?id=40e9031d5b79496aacb2d151bf103f41">
                                <h3>青岛玩转“大数据”激发双创活力</h3>
                                <p>近日2017中国大数据创新创业大赛发布会在惠普大数据体验中心产业基地举办。为期三天的2017年“创响中国”青岛站巡回接力活动12日在中国石油大学青岛校区启动，中国科协相关负责人向青岛市...。</p>
                                <button  class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/index/3.png" alt="">
                            </div>
                            <h3 class="title">青岛数博会带动发展新机遇</h3>
                        </div>
                        <div class="back">
                            <a target="_blank" href="/sysNews/details?id=585e554dc03b423b96640114bca10f5a">
                                <h3>青岛数博会带动发展新机遇</h3>
                                <p>2017年青岛大数据世界博览会应用创新峰会在青岛召开，来自全国政界、学界和产业界的400多名大数据领袖齐聚青岛，共同谋划中国大数据应用创新发展。本次峰会主题是“以应用促发展、依创新而智变”。</p>
                                <button  class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-item display-inline-block ">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <div class="imgs">
                                <img src="/static/images/index/4.png" alt="">
                            </div>
                            <h3 class="title">大数据创业沙龙西海岸火热进行 </h3>
                        </div>
                        <div class="back">
                            <a href="/sysNews/details?id=963704af53b2476ea8d01e28bb18c39e" target="_blank">
                                <h3>大数据创业沙龙西海岸火热进行 </h3>
                                <p>近日大数据行业创业沙龙在青岛交易中心拉开帷幕。本次活动旨在于汇聚不同行业、不同领域的大数据行业经营、专家大牛，共同研讨大数据的魅力，探寻数据的未来，为数据人打造一场饕餮盛宴。</p>
                                <button  class="btn btn-white display-inline-block margin-top-20">查看详情</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-0 index-information">
    <div class="grid-row">
        <div class="grid-left list-data central-box ">
            <div class="box-title border-bottom margin-bottom-10">
                <span class="grid-left "></span>
                <h3 class="grid-left">中心动态</h3>
                <a href="/information/index" target="_blank" class="grid-right">更多 <span class="fa fa-angle-double-right"></span></a>
            </div>
            <div class="box-center">
                <div class="center-left grid-left" id="J_dataL">
                    <a href="javascript:void(0)" target="_blank">
                        <img id="dataL_img" src="" alt="">
                        <div class="color-gray-6">
                            &lt;!&ndash;<span class="grid-left">admin</span>&ndash;&gt;
                            <span id="dataL_dataTime" class="grid-right">2017-03-28</span>
                        </div>
                        <h3 id="dataL_dataTitle"></h3>
                        <p id="dataL_contentValidity" class="infos"></p>
                    </a>
                </div>
                <div class="center-right grid-right">
                    <ul id="J_dataR">

                    </ul>
                </div>
            </div>
        </div>
        <div class="grid-right list-data notice-box">
            <div class="box-title border-bottom margin-bottom-10">
                <span class="grid-left "></span>
                <h3 class="grid-left">公告</h3>
                &lt;!&ndash;<a href="javascript:void(0)" class="grid-right">更多 <span class="fa fa-angle-double-right"></span></a>&ndash;&gt;
            </div>
            <div class="notice-center">
                <ul id="J_dataRR">
                </ul>
            </div>
        </div>
    </div>
</div>
&lt;!&ndash;合作伙伴&ndash;&gt;
<div class="grid-0 co-organization">
    <div class="grid-row">
        <h3>合作机构</h3>
        <ul>
            <li class="grid-left ">
                <a target="_blank" href="http://www.qingdao.gov.cn" title="青岛市政府网站">
                    <img src="/static/images/index/logo_01.jpg" alt="">
                </a>
            </li>
            <li class="grid-left ">
                <a target="_blank" href="http://www.gbdex.com/website/" title="贵阳大数据交易所">
                    <img src="/static/images/index/logo_02.jpg" alt="">
                </a>
            </li>
            <li class="grid-left ">
                <a target="_blank" href="http://www.xhafz.com/" title="西发展官网">
                    <img src="/static/images/index/logo_03.jpg" alt="">
                </a>
            </li>
            <li class="grid-left ">
                <a target="_blank" href="http://www.jusfoun.com/#homePage" title="九次方官网">
                    <img src="/static/images/index/logo_04.jpg" alt="">
                </a>
            </li>
            <li class="grid-left ">
                <a target="_blank" href="http://bigdata.qq.com/" title="腾讯大数据">
                    <img src="/static/images/index/logo_05.jpg" alt="">
                </a>
            </li>
            <li class="grid-left ">
                <a target="_blank" href="http://www.citicbank.com/" title="中信银行">
                    <img src="/static/images/index/logo_06.jpg" alt="">
                </a>
            </li>
        </ul>

    </div>
</div>
<script src="/static/js/index/index.js"></script>-->
