<%
var head = {
%>
<link rel="stylesheet" href="/static/css/error/error.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 error">
    <div class="grid-row">
        <div class="error-prompt">
            <div class="display-inline-block error-prompt-content">
                <!--<img src="/static/images/error_06.png" alt="">-->
                <p>抱歉！您访问的商品不存在或者已下架</p>
                <ul>
                    <li>你可以逛逛：</li>
                    <li><a href="/">首页    </a></li>
                    <li><a href="/exchange/index">交易中心  </a></li>
                </ul>
            </div>
        </div>
        <div class="error-recommend">
            <div>为你推荐</div>
            <!--<div class="order-list">-->
                <!--<ul class="clearfix">-->
                    <!--<li>-->
                        <!--<a class="item-top" href="javascript:void(0)">-->
                            <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
                            <!--<p class="goods-name">信用查询</p>-->
                            <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
                        <!--</a>-->
                        <!--<div class="item-down">-->
                            <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
                            <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="item-top" href="javascript:void(0)">-->
                            <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
                            <!--<p class="goods-name">信用查询</p>-->
                            <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
                        <!--</a>-->
                        <!--<div class="item-down">-->
                            <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
                            <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="item-top" href="javascript:void(0)">-->
                            <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
                            <!--<p class="goods-name">信用查询</p>-->
                            <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
                        <!--</a>-->
                        <!--<div class="item-down">-->
                            <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
                            <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="item-top" href="javascript:void(0)">-->
                            <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
                            <!--<p class="goods-name">信用查询</p>-->
                            <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
                        <!--</a>-->
                        <!--<div class="item-down">-->
                            <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
                            <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="item-top" href="javascript:void(0)">-->
                            <!--<p class="goods-img"><img src="/static/images/4-3.jpg" alt=""/></p>-->
                            <!--<p class="goods-name">信用查询</p>-->
                            <!--<p class="goods-brief">查询关于人的乙烯类信息哈哈</p>-->
                        <!--</a>-->
                        <!--<div class="item-down">-->
                            <!--<span class="grid-left goods-price"><span>22222</span>元</span>-->
                            <!--<a class="grid-right" href="javascript:void(0)">加入购物车</a>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
