<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/buyer/buyer.css">
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray ">
	<div class="grid-row clearfix">
		<div class="user-center-box grid-right margin-top-10 margin-bottom-10">
			<div class="cart">
				<h3 class="center-title">购物车</h3>
			</div>
			<div class="order-manage">
				<div class="order-box cart-box">
					<form action="/order/orderInfo" name="cartList" id="J_cart" method="post">
						<input type="hidden" name="cartIds" id="J_cartIdStr">
						<% if(cartList.~size > 0){ %>
						<table class="cart-list-title order-items">
							<thead>
							<tr class="order-body">
								<td class="checkbox padding-left-10">
									<label><input type="checkbox" class="checkall" name="checkall">全选</label></td>
								<td class="img"></td>
								<td class="name">商品信息</td>
								<td class="price">单价(元)</td>
								<td class="number">数量</td>
								<td class="format">规格</td>
								<td class="money">金额(元)</td>
								<td class="operation">操作</td>
							</tr>
							</thead>
						</table>
						<table class="order-items second">
							<tbody>
							<% for(list in cartList){ %>
							<tr class="order-body ${decode(list.goods.isOnsale,0,'isOffLine','')}">
								<td class="checkbox padding-left-10">
									<%if(list.goods.isOnsale == 1){%>
									<input type="checkbox" name="items" value="${list.recId}" recId="${list.recId}" price="${list.goodsPrice}" number="${list.goodsNumber}"}>
									<%}else{%>
									<div class="color-orange">商品已下架</div>
									<%}%>
								</td>
								<td class="img">
									<div><a target="_blank" href="${host.website}/exchange/details?id=${list.goodsId}"><img src="${host.static}/${list.goodsImg}" alt=""></a></div>
								</td>
								<td class="name"><a target="_blank" href="${host.website}/exchange/details?id=${list.goodsId}">${list.goodsName}</a></td>
								<td class="price">${list.goodsPrice / 100}</td>
								<td class="number" recId="${list.recId}">
									<%if(list.goods.isOnsale == 1){%>
									<div>
										<span class="reduce-btn btn <% if(list.goodsNumber <= 1){ %>testcalss<% } %>" onclick="reduceFn(this)">-</span>
										<input type="text" class="numberInput" value="${list.goodsNumber}"
											   onkeydown="return kkdown(this,event)" onfocus="numFocusFn(this)">
										<span class="plus-btn btn" onclick="plusFn(this)">+</span>
									</div>
									<%}else{%>
									<div>
										<input type="text" class="numberInput" value="${list.goodsNumber}" readonly="readonly">
									</div>
									<%}%>
								</td>
								<td class="format">
									<% if(list.formatNumber > 1){%>${list.formatNumber}<%}%>${decode(list.goodsFormat,0,"次",1,"天",2,"年",3,"套","未知")}
								</td>
								<td class="money"> ${(list.goodsPrice * list.goodsNumber) / 100, numberFormat="0.00"}</td>
								<td class="operation">
									<a target="_blank" href="${host.website}/exchange/details?id=${list.goodsId}">商品详情</a>
									<br>
									<a href="javascript:void(0);" onclick="delThis('${list.recId}',this)">删除</a>
								</td>
							</tr>
							<% } %>
							</tbody>
						</table>
						<table class="cart-list-bottom order-items">
							<tr class="order-body">
								<td class="checkbox padding-left-10">
									<label>
										<input class="checkall" type="checkbox" name="checkall"> 全选
									</label>
								</td>
								<td class="img">
									<a href="javascript:void(0)" id="delBtn" class="del">删除</a>
								</td>
								<td class="name"></td>
								<td class="price"></td>
								<td class="number">已选商品 <span id="J_selectNum">0</span>件</td>
								<td class="money">总金额：￥<span id="J_totalAmount">0.00</span></td>
								<td class="operation">
									<button class="buy-btn btn-full-blue" id="J_buyBtn" type="button"  onclick="return check()">结算</button>
								</td>
							</tr>
						</table>
					<%}else{%>
					</form>
					<div class="noDataBox">购物车没有商品 >>><a href="/exchange/index" >去购物</a></div>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script src="/static/js/cart/cart.js"></script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
