<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>增票资质审核</h5></div>
            <div class="pull-right">
                <button class="btn btn-default" data-ng-click="search()"><span
                    class="glyphicon glyphicon-refresh"></span> 刷新
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="screen-list">
                    <div class="list-item header clearfix">
                        <div class="title pull-left">筛选查询</div>
                        <div class="tool pull-right">
                            <span class="controlScreenBtn" data-ng-click="controlScreenBtn()" data-ng-bind="screenTitle"></span>
                            <button class="btn btn-primary" data-ng-click="search()">查询结果</button>

                        </div>
                    </div>
                    <div class="list-item content clearfix" data-ng-show="controlScreenShow">
                        <div class="col-sm-3">
                        <label class="control-label">买家帐号：</label>
                        <input ng-model="userName" type="text"  placeholder="请输入买家帐号">
                        </div>

                        <div class="col-sm-3">
                        <label class="control-label">买家帐号类型：</label>
                        <select ng-model="userType" ng-options="x.id as x.name for x in buyerAccountType" style="width: 155px;height: 32px"></select>
                        </div>
                        <div class="col-sm-3">
                        <label class="control-label">资质状态：</label>
                        <select ng-model="invoiceStatus" ng-options="x.id as x.name for x in invoiceStates" style="width: 155px;height: 32px"></select>
                        </div>

                    </div>
                </div>
                <div class="gridSection">
                        <table class="table table-hover">
                            <thead>
                               <tr>
                                   <th>序号</th>
                                   <th>买家账号</th>
                                   <th>实名认证</th>
                                   <th>类型</th>
                                   <th>资质状态</th>
                                   <th>申请时间</th>
                                   <th>操作</th>
                               </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in invoiceList">
                                <td data-ng-bind="$index+1"></td>
                                <td data-ng-bind="item.userName"></td>
                                <td data-ng-bind="item.realName"></td>
                                <td>
                                    <span data-ng-show="item.userType==2" >个人</span>
                                    <span data-ng-show="item.userType==4" >企业</span>

                                </td>
                                <td>
                                    <span data-ng-show="item.invoiceStatus==1" >待审核</span>
                                    <span data-ng-show="item.invoiceStatus==2" >审核通过</span>
                                    <span data-ng-show="item.invoiceStatus==3" >审核未通过</span>
                                </td>
                                <td data-ng-bind="item.addTime"></td>
                                <td >
                                    <button class="btn btn-primary" data-ng-show="item.invoiceStatus==1"  data-ng-click="getDetails(item)">处理</button>
                                    <button class="btn btn-primary" data-ng-show="item.invoiceStatus!=1" data-ng-click="getDetails(item)">查看</button>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <table ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
                            <tr>
                                <td colspan="9">
                                    <div class="pull-right page-box">
                                        <div class="pagination-info">
                                            共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条
                                        </div>
                                        <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                                            ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                                            max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                                            force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                                            last-text="末页">
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                <div class="simple-grid-none-data-wrap">
                        <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
                            <div class="row-padding row-margin text-center">
                                <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
                                <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>