<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>增票资质
                <span>-</span>
                <span data-ng-show="invoiceStatus == 1">待审核</span>
                <span data-ng-show="invoiceStatus == 2">审核通过</span>
                <span data-ng-show="invoiceStatus == 3">审核未通过</span>
            </h5>
            </div>
        </div>
        <div class="invoice-box padding-10">
            <div>
                <h4>审核详情</h4>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div  class="border-bottom clearfix">
                        <div class="col-sm-3">
                            <label for="">买家账号:</label>
                            <span data-ng-bind="userName"></span>
                        </div>
                        <div class="col-sm-2">
                            <label for="">实名认证:</label>
                            <span data-ng-bind="realName"></span>
                        </div>
                        <div class="col-sm-2">
                            <label for="">账号类型:</label>
                            <span data-ng-show="userType==2" >个人</span>
                            <span data-ng-show="userType==4" >企业</span>
                        </div>
                        <div class="col-sm-3">
                            <label for="">申请时间:</label>
                            <span data-ng-bind="addTime"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div><h5 class="font-weight-bold">增票资质：</h5></div>
                    <div class="border-bottom clearfix">
                        <table class="info-tab">
                            <tbody>
                            <tr >
                                <th>发票抬头：</th>
                                <td>
                                    <span data-ng-bind="titleName"></span>
                                </td>
                            </tr>
                            <tr >
                                <th>纳税人识别号：</th>
                                <td>
                                    <span data-ng-bind="taxpayerIdentifyNo"></span>
                                </td>
                            </tr>
                            <tr >
                                <th>注册地址：</th>
                                <td>
                                    <span data-ng-bind="regAddress"></span>
                                </td>
                            </tr>
                            <tr >
                                <th>注册电话：</th>
                                <td>
                                    <span data-ng-bind="regTel"></span>
                                </td>
                            </tr>
                            <tr >
                                <th>开户银行：</th>
                                <td>
                                    <span data-ng-bind="openBank"></span>
                                </td>
                            </tr>
                            <tr >
                                <th>银行账户：</th>
                                <td>
                                    <span data-ng-bind="bankAccount"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 " >
                    <div class="clearfix ">
                        <table class="info-tab" data-ng-show="invoiceStatus == 1">
                            <tbody>
                            <tr>
                                <th>审核状态：</th>
                                <td>
                                    <label  style="margin-right: 10px">
                                        <input type="radio" name="invoiceStatus" ng-model="invoiceStatu" value="2" class="margin-right-10"/>通过
                                    </label>
                                    <label  style="margin-right: 10px">
                                        <input type="radio" name="invoiceStatus" ng-model="invoiceStatu" value="3" class="margin-right-10"/>不通过
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>审核意见：</th>
                                <td>
                                    <textarea name="" id="" cols="30" rows="10" ng-disabled="invoiceStatu == 2" data-ng-model="auditOpinion"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="info-tab" data-ng-show="invoiceStatus == 2">
                            <tbody>
                            <tr >
                                <th>审核状态：</th>
                                <td>
                                    通过
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="info-tab" data-ng-show="invoiceStatus == 3">
                            <tbody>
                            <tr >
                                <th>审核状态：</th>
                                <td>
                                   不通过
                                </td>
                            </tr>
                            <tr >
                                <th>审核意见：</th>
                                <td>
                                    <span data-ng-bind="auditOpinion"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" data-ng-if="invoiceStatus == 1" data-ng-click="auditing()" style="margin: auto;display: block;">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>









