<div class="viewFramework-sidebar">
  <div class="sidebar-content">
    <div class="sidebar-inner">
      <!--三条杠-->
      <div class="sidebar-fold" ng-class="{'icon-unfold': !config.isSidebarFold,'icon-fold':config.isSidebarFold}"
           ng-click="sideBar.toggleSidebarStatus()"></div>
      <!--产品与服务-->
      <div class="sidebar-nav main-nav" ng-class="{'sidebar-nav-fold':navConfig.product.folded}"
           ng-show="navConfig.product.show">
        <div class="sidebar-title" ng-click="sideBar.toggleFoldStatus($event,navConfig.product)">
          <div class="sidebar-title-inner" sidebar-tooltip="" tooltip-append-to-body="true"
               tooltip-placement="right" tooltip-animation="true">
            <!--三角箭头-->
            <span class="sidebar-title-icon icon-arrow-down"></span>
            <!--模块名字-->
            <span class="sidebar-title-text">产品与服务</span>
            <!--设置按钮&#45;&#45;设置各个模块显示那几个子模块-->
            <span class="sidebar-manage"
                  uib-tooltip="自定义产品与服务" tooltip-append-to-body="true" tooltip-placement="right"
                  tooltip-animation="true">
                  <a class="icon-setup " picked-items="productPreference" items="products" type="product"
                     requesturl="navConfig.requestUrl.setUserPreference" title="自定义产品与服务快捷入口" locale=""></a>
                </span>
          </div>
        </div>
        <!--每个模块的下的子模块-->
        <ul class="sidebar-trans" style="">
          <!--店铺管理-->
          <!--<li class="nav-item" ng-class="{'active':currentProductId == 'shop'}">-->
          <!--&lt;!&ndash;点击后跳到对应的路由&ndash;&gt;-->
          <!--<a href="/shop/" class="sidebar-trans"-->
          <!--sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">-->
          <!--<div class="nav-icon sidebar-trans"><span class="icon-wo-sitebuild"></span></div>-->
          <!--<span class="nav-title">店铺管理&nbsp;</span>-->
          <!--</a>-->
          <!--</li>-->
          <!--商品管理-->
          <li class="nav-item" ng-class="{'active':currentProductId == 'goods'}">
            <!--点击后跳到对应的路由-->
            <a href="/goods/#!/items/search" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-dts"></span></div>
              <span class="nav-title">商品管理&nbsp;</span>
            </a>
          </li>

          <!-- ES管理-->
          <li class="nav-item" ng-class="{'active':currentProductId == 'es'}">
            <!--点击后跳到对应的路由-->
            <a href="/es/#!/elastic/search" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-dts"></span></div>
              <span class="nav-title">ES管理&nbsp;</span>
            </a>
          </li>
          <!--&lt;!&ndash;商品分类管理&ndash;&gt;
          <li class="nav-item" ng-class="{'active':currentProductId == 'category'}">
            <a href="/category/" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-invite"></span></div>
              <span class="nav-title">分类管理&nbsp;</span>
            </a>
          </li>
          &lt;!&ndash;商品属性管理&ndash;&gt;
          <li class="nav-item" ng-class="{'active':currentProductId == 'attrtype'}">
            <a href="/attrtype/" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-invite"></span></div>
              <span class="nav-title">属性管理&nbsp;</span>
            </a>
          </li>-->
          <!--货架管理-->
          <!--<li class="nav-item" ng-class="{'active':currentProductId == 'shelf'}">-->
          <!--<a href="/shelf/" class="sidebar-trans"-->
          <!--sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">-->
          <!--<div class="nav-icon sidebar-trans"><span class="icon-menu"></span></div>-->
          <!--<span class="nav-title">货架管理&nbsp;</span>-->
          <!--</a>-->
          <!--</li>-->
          <!--订单管理-->
          <li class="nav-item" ng-class="{'active':currentProductId == 'order'}">
            <a href="/order/#!/order/search" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-wo-finance"></span></div>
              <span class="nav-title">订单管理&nbsp;</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'user'}">
            <a href="/user/#!/user/search" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-wo-account"></span></div>
              <span class="nav-title">用户中心&nbsp;</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'money'}">
            <a href="/money/#!/money/platformFundManage" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-wo-account"></span></div>
              <span class="nav-title">资金管理&nbsp;</span>
            </a>
          </li>
          <!--<li class="nav-item" ng-class="{'active':currentProductId == 'news'}">-->
          <!--<a href="/news/" class="sidebar-trans"-->
          <!--sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">-->
          <!--<div class="nav-icon sidebar-trans"><span class="icon-info-1"></span></div>-->
          <!--<span class="nav-title">资讯中心&nbsp;</span>-->
          <!--</a>-->
          <!--</li>-->
          <li class="nav-item" ng-class="{'active':currentProductId == 'advert'}">
            <a href="/advert/#!/advert/carousel" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-wo-beian"></span></div>
              <span class="nav-title">广告中心&nbsp;</span>
            </a>
          </li>
          <!--<li class="nav-item" ng-class="{'active':currentProductId == 'msc'}">-->
          <!--<a href="/msc/" class="sidebar-trans"-->
          <!--sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">-->
          <!--<div class="nav-icon sidebar-trans"><span class="icon-invite"></span></div>-->
          <!--<span class="nav-title">消息中心&nbsp;</span>-->
          <!--</a>-->
          <!--</li>-->
          <li class="nav-item" ng-class="{'active':currentProductId == 'help'}">
            <a href="/help/#!/help/search" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-help-1"></span></div>
              <span class="nav-title">帮助中心&nbsp;</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'comment'}">
            <a href="/comment/#!/comment/review" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-help-1"></span></div>
              <span class="nav-title">评论管理&nbsp;</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'supplier'}">
            <a href="/supplier/#!/supplier/search" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-help-1"></span></div>
              <span class="nav-title">供应商管理&nbsp;</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'settle'}">
            <a href="/settle/#!/settle/list" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-help-1"></span></div>
              <span class="nav-title">结算管理&nbsp;</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'operational'}">
            <a href="/operational/#!/operational/transaction" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-help-1"></span></div>
              <span class="nav-title">数据分析&nbsp;</span>
            </a>
          </li>
        </ul>
      </div>
      <!--系统管理-->
      <div class="sidebar-nav" ng-class="{'sidebar-nav-fold':navConfig.system.folded}" ng-show="navConfig.system.show">
        <div class="sidebar-title" ng-click="sideBar.toggleFoldStatus($event,navConfig.system)">
          <div class="sidebar-title-inner" sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right"
               tooltip-animation="true">
            <!--三角箭头-->
            <span class="sidebar-title-icon">
                  <span class="icon-arrow-down"></span>
                </span>
            <!--模块名字-->
            <span class="sidebar-title-text">系统管理</span>
            <!--设置按钮&#45;&#45;设置各个模块显示那几个子模块(这里不知道为什么有?)-->
            <span class="sidebar-manage " sidebar-tooltip="自定义用户中心" tooltip-append-to-body="true"
                  tooltip-placement="right" tooltip-animation="true">
                  <a class="" picked-items="servicePreference" items="services" type="service" title="自定义用户中心快捷入口"
                     locale=""></a>
                </span>
          </div>
        </div>
        <!--每个模块的下的子模块-->
        <ul class="entrance-nav sidebar-trans">
          <li class="nav-item" ng-class="{'active':currentProductId == 'account'}">
            <a href="/account/#!/account/search" sidebar-tooltip="" tooltip-append-to-body="true"
               tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon"><span class="icon-wo-account"></span></div>
              <span class="nav-title">系统用户管理</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'sys'}">
            <a href="/sys/#!/sys/region/search" sidebar-tooltip=""
               tooltip-append-to-body="true"
               tooltip-placement="right"
               tooltip-animation="true">
              <div class="nav-icon"><span class="icon-wo-account"></span></div>
              <span class="nav-title">系统设置</span>
            </a>
          </li>
          <li class="nav-item" ng-class="{'active':currentProductId == 'message'}">
            <a href="/message/#!/message/system/search" sidebar-tooltip=""
               tooltip-append-to-body="true"
               tooltip-placement="right"
               tooltip-animation="true">
              <div class="nav-icon"><span class="icon-wo-account"></span></div>
              <span class="nav-title">平台消息管理</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>