<%
var head = {
%>
<link rel="stylesheet" href="/static/css/index/index.css">
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/static/css/exchange/style.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 exchange-list backgorund-gray bgi">
    <div class="grid-row">
        <div class="search">
            <div class="bdg-row" style="position: relative">
                <!--头部类目展示模块-->
                <%include("/layout/menu.html"){} %>
                <div class="cartdiv">
                <div class="success-cont">
                    <div class="grid-left success-lcol padding-top-15 padding-bottom-15">
                        <div class="success-top clearfix">
                            <b class="fa fa-check-circle-o grid-left margin-right-10 margin-right-10-n"></b>
                            <h3 class="ftx-02 grid-left">商品已成功加入购物车！</h3></div>
                        <div class="p-item clearfix margin-top-30">
                            <div class="p-img grid-left margin-right-10" style="margin-left:15px;"><a
                                    href="/exchange/details?id=${goodsInfo.goodsId}" `

                                    class="goGoodsDetails"><img
                                    src="${host.static}/${goodsInfo.goodsImg}"></a></div>
                            <div class="p-info grid-left" style="margin-left:10px;">
                                <div class="p-name">
                                    <a href="/exchange/details?id=${goodsInfo.goodsId}" class="goGoodsDetails" style="font-size:18px;font-weight    :700;">${goodsInfo.goodsName}</a>
                                </div>
                                <div class="p-extra padding-top-10">
                                    <span class="txt margin-right-10" title="价格">价格：<span>￥</span><span class="goodsPrice"></span></span>
                                    <span class="standard margin-right-10">规格：<span class="formats"></span></span>
                                    <span class="txt margin-right-10" id="goodsNum">数量：<span></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-right success-btns success-btns-new">
                        <div class="success-ad success-ad-n">
                            <a class="btn-tobback btn-tobback-n  btn btn-default goGoodsDetails"
                               href="/exchange/details?id=${goodsInfo.goodsId}">查看商品详情</a>
                            <a class="gotocart btn btn-full-red goToCart" href="/cart" style="margin-left:-4px;"><b></b>去购物车结算</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/exchange/addToCart.js"></script>
