<link rel="stylesheet" href="/static/css/exchange/exchange-banner.css">
<div class="module-wrap">
    <div class="index-top-banner" data-hover-container="">
        <div data-group="" data-isimage="true" data-active="dark" data-groupindex="0" class="bottom">
            <div class="grid-row box">
                <div class="y-row" data-ignore-group="" >
                    <div class="layer left-header" data-ignore="">
                        <a href="javascript:void(0)">
                            <h1><img src="/static/images/banner/banner2/banner-one-title.png" alt=""></h1>
                            <!--<p>吹牛逼很厉害</p>-->
                            <!--<a href="/exchange/index" class="layer-btn">进入交易中心</a>-->
                        </a>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div data-base-layer="" style="transform: rotateX(0deg) rotateY(0deg);">
                        <div class="banner-row">
                            <div class="layer right-image" data-zindex="50">
                                <img src="/static/images/banner/banner2/banner2-one-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div data-group="" data-isimage="" data-group-open="" data-active="dark" data-groupindex="1"
             class="bottom">
            <div class="grid-row box">
                <div class="y-row" data-ignore-group="">
                    <div class="layer left-header display-inline-block" data-ignore="" >
                        <a href="javascript:void(0)" data-spm-anchor-id="5176.8142029.418686.3" class="display-inline-block">
                            <img src="/static/images/banner/banner2/banner2-tow-title.png" alt="">
                            <!--<p>吹牛逼很厉害</p>-->
                            <!--<a href="/exchange/index" class="layer-btn">进入交易中心</a>-->
                        </a>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div data-base-layer="" style="transform: rotateX(0deg) rotateY(0deg);">
                        <div class="banner-row">
                            <div class="layer right-image" data-zindex="50">
                                <img src="/static/images/banner/banner2/banner2-tow-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <ul class="banner-tab dark" style="visibility: visible;">
        <li class="banner-tab-li" data-index="0"></li>
        <li class="banner-tab-li " data-index="1"></li>
    </ul>
</div>
<script type="text/javascript">
    var dd = $("div[data-hover-container]");
    var ss = dd.children().length;
    var ll = setInterval('slider()', 5000);
    var active_index = 0;
    var data_index = 0;
    var o = $("div[data-groupindex='" + active_index + "']");
    var oo = $(".banner-tab-li[data-index='" + active_index + "']");
    oo.addClass("active");
    o.removeClass("bottom").addClass("center animating-enter-up");
    function slider() {
        if (active_index < ss - 1) {
            o.removeClass("center animating-enter-up").addClass("bottom");
            oo.removeClass("active");
            active_index += 1;
        } else {
            active_index = 0;
        }
        o.removeClass("center animating-enter-up").addClass("bottom");
        oo.removeClass("active");
//        console.log(active_index);
        o = $("div[data-groupindex='" + active_index + "']");
        o.removeClass("bottom").addClass("center animating-enter-up");
        oo = $(".banner-tab-li[data-index='" + active_index + "']");
        oo.addClass("active");
        var nn = $(".banner-tab-li[data-index='" + active_index + "']");
        nn.addClass("active");
    }
    $('.banner-tab > .banner-tab-li').click(function(){
        active_index = $(this).index() - 1;
        slider()
    })
</script>