<%
var head = {
%>
<link rel="stylesheet" href="/static/css/exchange/style.css">
<script type="text/javascript">
	$.getUrlParam = function (key) {
		var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
		var result = window.location.search.substr(1).match(reg);
		return result ? decodeURIComponent(result[2]) : null;
	};
	var names = $.getUrlParam('names');
	var pagePath = '/search/v1/goods';
	var pageType = 'post';
	var dataParm = {};
	dataParm.pageNumber = 1;
	dataParm.pageSize = 20;
	dataParm.esGoods ={};
	dataParm.esGoods.goodsName = names;
	dataParm.range = {};
	dataParm.esGoods.catIds = categoryCode;
</script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray clearfix bgi">
	<div class="grid-row  clearfix" style="position: relative">
		<div class="exchange-search search">
			<%include("/layout/menu.html"){} %>
			<div class="crumbs-nav margin-top-20 padding-bottom-10" id="J_crimbsNav" style="padding-top: 20px;margin-top:0 !important;color: #fff;">分类：<!--<span class="color-blue">全部</span>--></div>
			<div class="search-category" id="J_searchCategory"></div>
			<%include("/exchange/search-conditions.html"){} %>
			<div class="order-list">
				<ul>
				</ul>
			</div>
			<%include("/layout/pageaction.html"){} %>
		</div>
	</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/exchange/search.js"></script>