<%
var head = {
%>
<link rel="stylesheet" href="/static/css/index/index.css">
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/static/css/exchange/style.css">
<script type="text/javascript">
	$.getUrlParam = function (key) {
		var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
		var result = window.location.search.substr(1).match(reg);
		return result ? decodeURIComponent(result[2]) : null;
	};
	var id = $.getUrlParam('id');
	var pagePath = '/mgGoodssg/findById';
	var pageType = 'post';
	var dataParm = {};
	dataParm.pageNumber = 1;
	dataParm.pageSize = 20;
	dataParm.id = id;
    dataParm.range ={};
</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 exchange-list">
    <div class="grid-row">
        <div class="search">
            <div class="bdg-row exchange-search" style="position: relative">
                <!--头部类目展示模块-->
                <%include("/layout/menu.html"){} %>

                <div class="search-category" id="J_searchCategory">
                    <!--<div class="panel-title">-->
                    <!--<span>全部结果:</span>-->
                    <!--</div>-->

                </div>
                <!--中间主体列表展示模块-->
                <%include("/exchange/search-conditions.html"){} %>
                <div class="order-list">
                    <ul>
                    </ul>
                </div>
                <%include("/layout/pageaction.html"){} %>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/exchange/common.js"></script>
<script src="/static/js/exchange/shelves.js"></script>
