html {
	min-width: 1200px;
}
.header-top-bar {
	background: #f5f5f5;
	height: 30px;
	line-height: 30px;
}
.header-top-bar li {
	margin: 0 10px;
}
.header-top-bar li .fa {
	font-size: 14px;
}
.header-centerbar {
	width: 100%;
	min-width: 1200px;
	height: 60px;
	border-bottom: 3px solid #de0010;
	background: #eceaeb;
}
.header-tops {
	height: 60px;
}
.header-centerbar .logo {
	width: 207px;
	margin: 11px 0 0 ;
}
.header-centerbar .logo a {
	display: inline-block;
	width: 207px;
	height: 40px;
}
.header-centerbar .logo a img {
	width: 100%;
	height: 100%;
}
.header-centerbar .search {
	position: relative;
	margin: 18px 0 0 0px;
}
.header-centerbar .search .searchIconF {
	position: absolute;
	right: 3px;
	top: 0;
	width: 26px;
	height: 26px;
	line-height: 26px;
	font-size: 20px;
	color: #666161;
	cursor: pointer;
}
.header-centerbar .search input {
	width: 218px;
	height: 24px;
	padding-left: 10px;
	font-size: 13px;
	color: #d5d4d6;
	line-height: 26px;
	border:1px solid #bdb9bd;
	border-radius:26px;
	/*border-image: initial;*/
	/*background: url("/static/images/hover-border5.png")*/
}
.header-centerbar .search input[placeholder] {
	color: rgb(142, 164, 185);
}
.header-centerbar .search button {
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
	height: 38px;
	cursor: pointer;
	font-size: 16px;
}
.header-centerbar .search .search-text {
	line-height: 26px;
}
.header-centerbar .search .search-text a:hover {
	color: #ffa800;
}
.search-sug {
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 1000;
	width: calc(100% - 2px);
}
.search-sug.keyActive {
	display: block
}
.search-sug .active {

}
.search-sug li {
	line-height: 30px;
}
.search-sug li a {
	display: block;
	padding: 0 10px;
}
.search-sug li.current {
	background: #e4e4e4;
}
.search-sug li a:hover {
	background: #e4e4e4;
}
.header-centerbar .shopping-cart {
	width: 141px;
	position: relative;
	margin-top: 35px;
}
.header-centerbar .shopping-cart-top {
	position: relative;
	z-index: 98;
	line-height: 36px;
	margin-bottom: -1px;
	width: 141px;
	height: 36px;
	font-size: 14px;
	text-align: center;
	background-color: #F9F9F9;
	border: 1px solid #DFDFDF;
}
.header-centerbar .shopping-cart-top a {
	margin-right: 15px;
}
.header-centerbar .shopping-cart-top span {
	position: absolute;
	top: -6px;
	left: 104px;
	display: inline-block;
	padding: 1px 2px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #0667B3;
	border-radius: 7px 7px 7px 0;
	min-width: 12px;
	text-align: center;
}
.header-centerbar .shopping-cart-down {
	position: absolute;
	width: 370px;
	display: none;
	background-color: white;
	border: 1px solid #DFDFDF;
	right: 0;
	top: 37px;
	z-index: 102;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	/*max-height: 430px;*/
	/*overflow-y: scroll;*/
}
.header-centerbar .showLine {
	display: none;
	position: absolute;
	top: 32px;
	right: 1px;
	width: 141px;
	height: 10px;
	background: #fff;
	z-index: 104;
}
.header-centerbar .shopping-cart.hover .showLine {
	display: block
}
.header-centerbar .shopping-cart.hover .shopping-cart-top {
	border-bottom: 1px solid #fff;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.header-centerbar .shopping-cart.hover .shopping-cart-down {
	display: block;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-title {
	height: 24px;
	line-height: 24px;
	padding: 10px;
}
.header-centerbar .shopping-cart-down .goLogin {
	height: 24px;
	line-height: 24px;
	padding: 0 10px 10px;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content {
	padding: 0;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content ul li {
	border-bottom: 1px dotted #ccc;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-top {
	padding: 5px;
	background-color: #bffab1;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-top div:first-child span {
	color: white;
	padding: 2px;
	display: inline-block;
	margin-right: 3px;
	background-color: #3b0;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-top div:last-child {
	line-height: 22px;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down {
	height: 60px;
	padding: 8px 10px;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down .img {
	height: 60px;
	width: 60px;
	display: inline-block;
	margin-right: 5px;

}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down .img img {
	width: 100%;
	height: 100%;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down .content-down-money {
	/*width: 80px;*/
}
.header-centerbar .shopping-cart-down .shopping-cart-down-content .content-down .content-down-name {
	height: 58px;
	width: 110px;
	overflow: hidden;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-pay {
	padding: 5px;
	height: 35px;
	line-height: 35px;
	background-color: #F9F9F9;
}
.header-centerbar .shopping-cart-down .shopping-cart-down-pay a {
	padding: 3px 5px;
	font-size: 12px;
	border-radius: 3px;
	line-height: 22px;
	margin-top: 3px;
}
.header-bottom-bar {
	height: 46px;
	line-height: 46px;
	background: -webkit-linear-gradient(top, #0b7cc3, #0063b3);
	background: -ms-linear-gradient(top, #0b7cc3 0%, #0063b3 100%); /*IE*/
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#0b7cc3', endcolorstr='#0063b3', gradientType=1);
}
.header-bottom-bar .grid-row {
	position: relative;
}
.header-bottom-bar li:hover {
	background: #00569e;
}
/*.header-bottom-bar ul li a:hover {*/
/*color: #333;*/
/*}*/
.header-bottom-bar ul li {
	width: 16.61%;
}
.header-bottom-bar li.active {
	background: #00569e;
}
.header-bottom-bar li#exchange_menu.active {
	background: #FFA800;
}
.header-bottom-bar li a {
	font-size: 16px;
	color: #fff;
	display: block;
	text-align: center;
}
/************/
.footer-bar {
	padding: 10px 0;
	background: #081739;
	box-shadow: 0px -3px 10px -5px #081735;
	overflow: hidden;
	color: #fff;
	background: url("/static/images/footer_bg.png") center center no-repeat;
}
.footer-bar a {
	color: #959595;
}
.footer-bar a:hover {
	color: red;
}
.footer-bar h3, .footer-bar p {
	color: #fff;
}
.footer-bar dl {
	width: 200px;
}
.footer-bar dl dt {
	padding-left: 30px;
	font-size: 16px;
	position: relative;
}
.footer-bar dl dt span {
	position: absolute;
	left: 7px;
	top: 2px;
	font-size: 20px;
}
.footer-bar dl dt a {
	color: #fff;
}
.footer-bar dl dd {
	padding-left: 30px;
	font-size: 14px;
	line-height: 28px;
}
.footer-bar .footer_bottom {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	color: rgb(107, 107, 107);
	border-top: 1px solid rgb(81, 80, 97);
	overflow: hidden;
}
.footer-bar .QRcode-box {
	margin-top: 40px;
	width: 130px;
	text-align: center;
}
.footer-bar .QRcode-box h3 {
	font-size: 16px;
	line-height: 40px;
}
.userInfos {
	position: relative;
}
.topbar-user li a {
	font-size: 14px;
	display: block;
	height: 24px;
	width: 82px;
	border: 1px solid #b9b4b9;
	border-radius: 50px;
	text-align: center;
	line-height: 24px;
	color: #666;
}
/*.topbar-user li a.reg {*/
/*background: #fff;*/
/*border: 1px solid #fff;*/
/*color: #d20003;*/
/*}*/
.topbar-user li a:hover {
	background: #d20003;
	border: 1px solid #d20003;
	color: #fff;
}
.topbar-user li .login_btn_s,.topbar-user li .logout_btn_s{
	background:#dddcdd; /* 一些不支持背景渐变的浏览器 */
	background:-moz-linear-gradient(top, #fefefe, #dddcdd);
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#dddcdd));
	background:-o-linear-gradient(top, #fefefe, #dddcdd);
}
.topbar-user li .reg_btn_s{
	color:#fff;
	border:1px solid #bb0714;
	background:#cf0e1c; /* 一些不支持背景渐变的浏览器 */
	background:-moz-linear-gradient(top, #f15863, #cf0e1c);
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f15863), to(#cf0e1c));
	background:-o-linear-gradient(top, #f15863, #cf0e1c);
}
.header-bottoms {
	/*height: 40px;*/
	/*margin-top: 23px;*/
}
.userInfos .userInfos-box {
	position: absolute;
	width: 260px;
	top: 39px;
	left: 0px;
	display: none;
	z-index: 1;
	background: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	border-image: initial;
	padding: 10px;
}
.userInfos .login {
	display: block;
	padding: 0 10px;
	position: relative;
	height: 29px;
	z-index: 5;
}
/*.userInfos:hover .login {*/
/*border-bottom: 2px solid #fff;*/
/*}*/
.userInfos .userInfos-box {
	position: absolute;
	width: 260px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	top: 30px;
	left: 0px;
	display: none;
	z-index: 19999;
}
.userInfos .userInfos-box .spacer {
	position: absolute;
	top: -2px;
	left: 0px;
	height: 5px;
	width: 128px;
	background: #fff;
}
.userInfos .userInfos-box a {
	color: #333;
	float: right;
}
.userInfos .userInfos-box .userInfos-con {
	width: 120px;
	float: left;
}
.userInfos .userInfos-box .userInfos-con img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
}
.userInfos .userInfos-box .userInfos-con p {
	float: left;
	margin-left: 20px;
}
.float-tool {
	position: fixed;
	right: 30px;
	bottom: 50px;
	z-index: 9999;
}
.float-tool a {
	display: block;
}
.float-tool .tool-item {
	margin-bottom: 3px;
	overflow: hidden;
	position: relative;
	right: 0;
}
.float-tool .tool-item .btn-title {
	width: 60px;
	height: 60px;
	display: block;
	float: right;
	background: #666;
	text-align: center;
}
.float-tool .tool-item .btn-title img {
	width: 30px;
	margin: 10px auto 0;
	display: block;
}
.float-tool .tool-item .btn-title p{
	font-size: 12px;
	color: #fff;
}
.float-tool .tool-item .btn-content {
	float: left;
	line-height: 60px;
	font-size: 12px;
	color: #fff;
	padding: 0 3px 0 10px;
	display: none;
}
.float-tool .tool-item:nth-child(3) .btn-content {
	padding: 3px;
	width: 54px;
	height: 54px;
}
.float-tool .tool-item:nth-child(3) .btn-content img {
	width: 100%;
}

.float-tool .tool-item:nth-child(1) .btn-title,.float-tool .tool-item:nth-child(1):hover .btn-title,.float-tool .tool-item:nth-child(1):hover .btn-content {
	background: #d04848;
}
.float-tool .tool-item:nth-child(2) .btn-title,.float-tool .tool-item:nth-child(2):hover .btn-title,.float-tool .tool-item:nth-child(2):hover .btn-content {
	background: #78c440;
}
.float-tool .tool-item:nth-child(3) .btn-title,.float-tool .tool-item:nth-child(3):hover .btn-title,.float-tool .tool-item:nth-child(3):hover .btn-content {
	background: #6da9df;
}
.float-tool .tool-item:nth-child(4) .btn-title,.float-tool .tool-item:nth-child(4):hover .btn-title,.float-tool .tool-item:nth-child(4):hover .btn-content {
	background: #096fc1;
}
.float-tool .tool-item:nth-child(5) .btn-title,.float-tool .tool-item:nth-child(5):hover .btn-title,.float-tool .tool-item:nth-child(5):hover .btn-content {
	background: #666666;
}
.float-tool .tool-item:hover .btn-title p{display: none}
.float-tool .tool-item:hover .btn-title img{margin-top: 16px;}
.float-tool .tool-item:nth-child(5) .btn-title img{margin-top: 16px;}


.float-tool .tool-item .btn-content.hover {
	display: block;
}
.no-cursor {
	cursor: default;
}
input:focus, select:focus, textarea:focus {
	outline: none;
	border: 1px solid #69c5dd;
}
#navList {
	font-size: 18px;
	list-style: none;
	padding: 0;
	margin-left: 82px;
}
#navList li.active {

}
#navList li {
	float: left;
	line-height: 60px;
	text-align: center;
	color: #666;
}
#navList li a {
	display: block;
	text-decoration: none;
}
#navList li.active .text {
	color: #de0010;
	font-weight:bold;
	position: relative;
}
#navList li.active .text:before{
	position: absolute;
	bottom:0;
	left:50%;
	margin-left:-2px;
	content: '';
	width: 0;
	height: 0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom: 4px solid #de0010;
}
#navList li a .text, #exchange_menu a .text {
	display: block;
	line-height: 60px;
	text-align: center;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
}
#exchange_menu {
	width: 180px;
	height: 40px;
	line-height: 40px;
	background: #404040;
	text-align: center;
}
#exchange_menu a {
	color: #fff;
	font-size: 16px;
}
#exchange_menu a span {
	margin-right: 10px;
}
/*新添加最顶部bar*/
.pageTopBar {
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 26px;
	height:26px;
	border-bottom: 1px solid #dedede;
	color: #949494;
	overflow: hidden;
}
.pageTopBar a {
	padding:0 10px;
	color: #949494;
}
.pageTopBar a:hover {
	color: #d20003;
}
/*.pageTopBar a:first-child{color:#000000}*/
/****ad***/
.ad-box {
	position: fixed;
	width: 109px;
	height: 145px;
	bottom: 50px;
	left: 25px;
	z-index: 1000;
}
.ad-box .link-btn {
	display: block;
	width: 100%;
	height: 100%;

}
.ad-box .close-btn {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 4px;
	top: 7px;
}
.show-ad{
	position: absolute;
	right: 0;
	top: -2px;
	width: 115px;
	height: 21px;
	line-height: 21px;
	padding-left: 12px;
	color: #fff;
	background: #d20003;
	text-align: left;
	border-radius: 20px;
	transition: all 2s;
	-moz-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
}
.show-ad.show{
	top: 48px;
}
.show-ad i{
	width:12px;
	height:12px;
	border-radius:50%;
	background: #eb8c8d;
	color:#d20003;
	text-align: center;
	cursor: pointer;
}
.show-ad::after{
	width: 0;
	height: 0;
	content: '';
	border-left: 5px solid #d20003;
	border-top: 10px solid transparent;
	border-bottom: 0px solid transparent;
	position: absolute;
	top: -10px;
	right: 15px;
}