<div class="viewFramework-sidebar">
  <div class="sidebar-content">
    <div class="sidebar-inner">
      <div class="sidebar-fold" ng-class="{'icon-unfold': !isSidebarFold,'icon-fold':isSidebarFold}"
           ng-click="toggleSidebarStatus()"></div>
      <div class="sidebar-nav main-nav" ng-class="{'sidebar-nav-fold':navConfig.product.folded}" ng-show="navConfig.product.show">
        <div class="sidebar-title" ng-click="toggleFoldStatus($event,navConfig.product)">
          <div class="sidebar-title-inner" sidebar-tooltip="" tooltip-append-to-body="true"
               tooltip-placement="right" tooltip-animation="true">
            <span class="sidebar-title-icon icon-arrow-down"></span>
            <span class="sidebar-title-text">产品与服务</span>
            <span class="sidebar-manage "
                  uib-tooltip="自定义产品与服务" tooltip-append-to-body="true" tooltip-placement="right"
                  tooltip-animation="true">
                  <a class="icon-setup " picked-items="productPreference" items="products" type="product"
                     requesturl="navConfig.requestUrl.setUserPreference" title="自定义产品与服务快捷入口" locale=""></a>
                </span>
          </div>
        </div>
        <ul class="sidebar-trans" style="height:200px;">
          <li class="nav-item">
            <a href="/dts" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-dts"></span></div>
              <span class="nav-title">数据接入&nbsp;</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dms" class="sidebar-trans"
               sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right" tooltip-animation="true">
              <div class="nav-icon sidebar-trans"><span class="icon-dms"></span></div>
              <span class="nav-title">数据管理&nbsp;</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-nav" ng-class="{'sidebar-nav-fold':navConfig.service.folded}" ng-show="navConfig.service.show">
        <div class="sidebar-title" ng-click="toggleFoldStatus($event,navConfig.service)">
          <div class="sidebar-title-inner" sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right"
               tooltip-animation="true">
                <span class="sidebar-title-icon">
                  <span class="icon-arrow-down"></span>
                </span>
            <span class="sidebar-title-text">用户中心</span>
            <span class="sidebar-manage " sidebar-tooltip="自定义用户中心" tooltip-append-to-body="true"
                  tooltip-placement="right" tooltip-animation="true">
                  <a class="" picked-items="servicePreference" items="services" type="service" title="自定义用户中心快捷入口"
                     locale=""></a>
                </span>
          </div>
        </div>
        <ul class="entrance-nav sidebar-trans">
          <li class="nav-item active"><a href="/console/msc" sidebar-tooltip="" tooltip-append-to-body="true"
                                         tooltip-placement="right" tooltip-animation="true">
            <div class="nav-icon"><span class="icon-invite"></span></div>
            <span class="nav-title">消息中心</span></a></li>
        </ul>
      </div>
      <div class="sidebar-nav" ng-class="{'sidebar-nav-fold':navConfig.system.folded}" ng-show="navConfig.system.show">
        <div class="sidebar-title" ng-click="toggleFoldStatus($event,navConfig.system)">
          <div class="sidebar-title-inner" sidebar-tooltip="" tooltip-append-to-body="true" tooltip-placement="right"
               tooltip-animation="true">
                <span class="sidebar-title-icon">
                  <span class="icon-arrow-down"></span>
                </span>
            <span class="sidebar-title-text">系统管理</span>
            <span class="sidebar-manage " sidebar-tooltip="自定义用户中心" tooltip-append-to-body="true"
                  tooltip-placement="right" tooltip-animation="true">
                  <a class="" picked-items="servicePreference" items="services" type="service" title="自定义用户中心快捷入口"
                     locale=""></a>
                </span>
          </div>
        </div>
        <ul class="entrance-nav sidebar-trans">
          <li class="nav-item"><a href="/admin/account/" sidebar-tooltip="" tooltip-append-to-body="true"
                                         tooltip-placement="right" tooltip-animation="true">
            <div class="nav-icon"><span class="icon-invite"></span></div>
            <span class="nav-title">账号管理</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>