<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/1/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/1/css/usercenter.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/1/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">充值</h3>
            <div class="fundmanage-box">
                <div class="fundmanage-bd">
                    <div class="user-balance">
                        <div class="price-input"><label>请输入您要充值的金额：</label><input type="text"></div>
                        <div class="operation withdrawals-btn"><a href="/1/pay/cash">下一步</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%};
include("/1/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
