<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/1/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/1/css/usercenter.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/1/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">安全设置</h3>
            <div class="user-info safeset-box">
                <div class="title-item title_security_wap">
                    <h4 class="title-big dis-inb">安全等级</h4>
                    <em class="space6"></em>
                    <p class="font-normal dis-inb wap_colb2"><em class="light-num" style="padding:0">
                        <span class="score_2">75</span>
                    </em>分</p>
                    <div class="slider-area dis-inb vert-m" style="width:360px;">
                        <div class="slider-bar-bg"></div>
                        <div class="slider-bar-line score_bg_2" style="width:75%;"></div>
                        <em class="drag-ico" style="left:75%"></em>
                    </div>
                    <p class="font-normal dis-inb security_level_txt">
                        <span class="score_outer_2">存在<em class="light-num">1</em>项风险</span>
                    </p>
                </div>
                <form action="">
                    <ul>
                        <li><label>邮箱：</label><span>11*****34@gmail.com</span><a class="" href="javascript:void(0)">修改邮箱</a></li>
                        <li><label>手机号：</label><span>153****3261</span><a class="" href="javascript:void(0)">修改手机号</a></li>
                        <li><label>登录密码：</label><span>******</span><a class="" href="javascript:void(0)">修改登录密码</a></li>
                        <li><label>支付密码：</label><span>******</span><a class="" href="javascript:void(0)">修改支付密码</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<%};
include("/1/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
