<style>
    .form-inline .form-control {
        width: 110px;
    }

    .form-inline label {
        margin-top: 5px;
    }

    .input-group a { font-size: 14px; padding-right: 14px; }

</style>
<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>修改</h5></div>
            <div class="pull-right">
                <button class="btn btn-default" data-ng-click="back()"><span
                  class="glyphicon glyphicon-arrow-left"></span> 返回
                </button>
                <!--<a ui-sref="help.add" class="btn btn-primary">新增</a>-->
            </div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12">

                <div style="padding:15px 0 0;">
                    <div class="gridSection">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>积分变化类型</th>
                                <th>变化来源</th>
                                <th>当前规则</th>
                                <th>变动后规则</th>
                                <th>变动积分值</th>
                                <th>规则规定上线</th>
                                <th>规则规定下线</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <!--积分变化类型-->
                                    <span data-ng-show="currentPointData.action == 1">获取</span>
                                    <span data-ng-show="currentPointData.action == 2">兑换</span>
                                    <span data-ng-show="currentPointData.action == 3">admin</span>

                                </td>
                                <td data-ng-bind="currentPointData.actionDesc"></td>
                                <td>
                                    <span data-ng-show="currentPointData.action == 1">+</span>
                                    <span data-ng-show="currentPointData.action == 3">
                                            <span data-ng-show="currentPointData.sourceId == 11">+</span>
                                        </span>
                                    <span  data-ng-bind="currentPointData.score"></span>
                                </td>
                                <td style="color:red">
                                    <span data-ng-show="currentPointData.type==1">
                                        <span data-ng-bind="currentPointData.score+changeValue"></span>
                                    </span>
                                    <span data-ng-show="currentPointData.type==2">
                                        <span data-ng-bind="currentPointData.score-changeValue"></span>

                                    </span>
                                </td>
                                <td style="color:red">
                                    <span data-ng-show="currentPointData.type==1">+</span>
                                    <span data-ng-show="currentPointData.type==2">-</span>
                                    <span data-ng-bind="changeValue"></span>
                                </td>
                                <td style="color:red">
                                    <span data-ng-bind="currentPointData.upperLimit"></span>/
                                    <span data-ng-bind="currentPointData.upperTimeLimit==null?'':'永久'+currentPointData.upperTimeLimit"></span>

                                </td>
                                <td style="color:red">
                                    <span data-ng-bind="currentPointData.lowerLimit"></span>/
                                    <span data-ng-bind="currentPointData.lowerTimeLimit==null?'':'永久'+currentPointData.lowerTimeLimit"></span>

                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <table style="width: 100%;">
                            <tr>
                                <th valign="top" style="width: 100px;padding-top: 10px; "><span style="color:red">*</span>积分值变动：</th>
                                <td style="padding-top: 10px;">
                                    <div class="btn-group">
                                        <button class="btn btn-default" data-ng-model="currentPointData.type" uib-btn-radio="1" data-ng-click="search()">增加</button>
                                        <button class="btn btn-default" data-ng-model="currentPointData.type" uib-btn-radio="2" data-ng-click="search()">减少</button>
                                    </div>
                                    <input type="number" data-ng-model="changeValue" style="width: 200px;" placeholder="请输入积分"></td>
                            </tr>

                            <tr>
                                <th valign="top" style="width: 100px;padding-top: 10px; "><span style="color:red">*</span>上限循环时效：</th>
                                <td style="padding-top: 10px;">
                                    <div class="btn-group">
                                      <button class="btn btn-default" data-ng-model="currentPointData.upperLimitTime" uib-btn-radio="null">永久</button>
                                      <button class="btn btn-default" data-ng-model="currentPointData.upperLimitTime" uib-btn-radio="12">12h</button>
                                      <button class="btn btn-default" data-ng-model="currentPointData.upperLimitTime" uib-btn-radio="24">24h</button>
                                    </div>
                                    <input type="number" data-ng-model="currentPointData.upperLimitScore" style="width: 200px;" placeholder="请输入规则规定上限"></td>
                            </tr>
                            <tr>
                                <th valign="top" style="width: 100px;padding-top: 10px; "><span style="color:red">*</span>上限循环时效：</th>
                                <td style="padding-top: 10px;">
                                  <div class="btn-group">
                                    <button class="btn btn-default" data-ng-model="lowerLimitTime" uib-btn-radio="null">永久</button>
                                    <button class="btn btn-default" data-ng-model="lowerLimitTime" uib-btn-radio="12">12h</button>
                                    <button class="btn btn-default" data-ng-model="lowerLimitTime" uib-btn-radio="24">24h</button>
                                  </div>
                                    <input type="number" data-ng-model="currentPointData.lowerLimitScore" style="width: 200px;" placeholder="请输入规则规定上限"></td>
                            </tr>

                            <tr>
                                <th valign="top"  style="padding-top: 10px;">操作备注信息：</th><td style="padding-top: 10px;"><textarea data-ng-model="note" maxlength="200" cols="30" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <td rowspan="2"> <button class="btn"  data-ng-click="savaRules()">确定</button> <button class="btn">取消</button></td>
                            </tr>
                        </table>



                    </div>
                    <div class="simple-grid-none-data-wrap" data-ng-show="tradeList.length==0">
                        <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
                            <div class="row-padding row-margin text-center">
                                <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
                                <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>