<style>
    .form-inline .form-control {
        width: 110px;
    }

    .form-inline label {
        margin-top: 5px;
    }

    .input-group a { font-size: 14px; padding-right: 14px; }
    .editTable th{    line-height: 28px;    padding-right: 10px;}

</style>
<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>积分设置</h5></div>
            <div class="pull-right">
                <button class="btn btn-default" data-ng-click="refresh()"><span
                    class="glyphicon glyphicon-refresh"></span> 刷新
                </button>
                <!--<a ui-sref="help.add" class="btn btn-primary">新增</a>-->
            </div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12">

                <div style="padding:15px 0 0;">
                    <div class="gridSection">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>积分变化类型</th>
                                <th>变化来源</th>
                                <th>变动积分值</th>
                                <th>上限</th>
                                <th>下限</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in pointsList">
                                <td data-ng-bind="$index+1"></td>
                                <td>
                                    <span data-ng-show="item.action == 1">获取</span>
                                    <span data-ng-show="item.action == 2">兑换</span>
                                    <span data-ng-show="item.action == 3">admin</span>

                                </td>
                                <td data-ng-bind="item.actionDesc"></td>
                                <td>
                                    <span data-ng-show="item.action == 1">+</span>
                                    <span data-ng-show="item.action == 3">
                                            <span data-ng-show="item.sourceId == 11">+</span>
                                        </span>
                                    <span  data-ng-bind="item.score"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.upperLimit"></span>
                                    <span data-ng-bind="item.upperTimeLimit==null?'/永久':'/'+item.upperTimeLimit"></span>

                                </td>
                                <td>
                                    <span data-ng-bind="item.lowerLimit"></span>
                                    <span data-ng-bind="item.lowerTimeLimit==null?'/永久':'/'+item.lowerTimeLimit"></span>

                                </td>
                                <td>
                                    <a href="javascript:void(0)" ng-click="editRule(item)">修改</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="simple-grid-none-data-wrap" data-ng-show="tradeList.length==0">
                        <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
                            <div class="row-padding row-margin text-center">
                                <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
                                <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>