<style>
    .form-inline .form-control {
        width: 110px;
    }
    .pointsTable th, .pointsTable td{ text-align: center;}
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>积分管理</h5></div>
            <div class="pull-right">
                <button class="btn btn-default" data-ng-click="refresh()"><span
                  class="glyphicon glyphicon-refresh"></span> 刷新
                </button>
                <!--<a ui-sref="help.add" class="btn btn-primary">新增</a>-->
            </div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12">
                用户类型：
                <div class="searchSection  btn-group">
                    <button class="btn btn-default" data-ng-model="userType" uib-btn-radio=""
                            data-ng-click="search()"> 全部
                    </button>
                    <button class="btn btn-default" data-ng-model="userType" uib-btn-radio="4"
                            data-ng-click="search()"> 企业
                    </button>
                    <button class="btn btn-default" data-ng-model="userType" uib-btn-radio="2"
                            data-ng-click="search()"> 个人
                    </button>

                </div>

                <div style="padding:15px 0 0;">
                    <label class="control-label">用户名：</label>
                    <input ng-model="userName" type="text" class="form-control" placeholder="请输入用户名">
                    <label class="control-label">电话：</label>
                    <input ng-model="mobile" type="text" class="form-control" placeholder="请输入电话">
                    <button style="margin-top: 5px" type="submit" class="btn btn-primary" data-ng-click="search()">搜索</button>

                </div>
                <div >
                    <label class="checkbox-inline"><input type="checkbox" ng-model="master" ng-click="all(master)">全选</label>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default" ng-click="MultipleCheck(1)">批量修改</button>
                </div>
                <!--<pre>{{choseArr}}</pre>-->
                <div class="gridSection">
                    <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
                    <table class="table table-hover pointsTable">
                        <thead>
                            <tr>
                                <th>
                                    &nbsp;
                                </th>
                                <th>用户编码</th>
                                <th>用户名</th>
                                <th>电话</th>
                                <th>用户类型</th>
                                <th>会员等级</th>
                                <th>可用积分</th>
                                <th>已兑换积分</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in commentList">
                            <td>
                                <label>
                                    <input  type="checkbox" id={{item.userId}} ng-model="x" ng-checked="master" ng-click="chk(item.userId,x)" >
                                </label>
                            </td>
                            <td data-ng-bind="item.userSn"></td>
                            <td data-ng-bind="item.userName"></td>
                            <td data-ng-bind="item.mobile">电话字段没传</td>
                            <td >
                                <div data-ng-show="item.userType==2" style="text-align:center;">
                                    个人
                                </div>
                                <div data-ng-show="item.userType==4" style="text-align:center;">
                                    企业
                                </div>

                            </td>
                            <td data-ng-bind="item.userLevel"></td>
                            <td data-ng-bind="item.useJf"></td>
                            <td data-ng-bind="item.exchangeJf"></td>
                            <td>
                                <a href="javascript:void(0)"  ng-click="pointsDetail(item)">积分明细</a>
                                <a href="javascript:void(0)"  ng-click="detail(item.userId)">用户信息明细</a>
                                <a href="javascript:void(0)"  ng-click="commentCheck(item.userId,2,item.useJf)">修改数值</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table data-ng-show="commentList.length!==0">
                        <tr>
                            <td colspan="9">
                                <div class="pull-right page-box">
                                    <div class="pagination-info">
                                        共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条
                                    </div>
                                    <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                                        ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                                        max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                                        force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                                        last-text="末页">
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!--<table class="table table-hover" style="margin-bottom: 57px;">
                        <thead>
                        <tr>

                            <th>订单编号：<a href="#">2017071115321624510087</a></th>
                            <th>评分等级：三个星星</th>
                            <th>评价时间：2017-07-04</th>
                            <th >评价人：XXXXX</th>
                            <th >商品名称：国家重点监控企业污染源监督性监测结果</th>
                            <th width="155">操作</th>                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="5"><div class="col-sm-1" >评价内容：</div><div class="col-sm-11" style="word-break:break-all;">sasdfasdfasdfasdfkljasdfljasldfjsasdfasdfasdfasdfkljasdfljasldfjsasdfasdfasdfasdfkljasdfljasldfjsasdfasdfasdfasdfkljasdfljasldfj</div></td>
                            <td><button class="btn btn-default">通过</button> <button class="btn btn-default">不通过</button></td>
                        </tr>
                        </tbody>
                    </table>
-->

                </div>
                <div class="simple-grid-none-data-wrap" data-ng-show="commentList.length==0">
                    <div class="simple-grid-none-data text-center">
                        <div class="row-padding row-margin text-center">
                            <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
                            <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>