<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/innovation.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center">
    <div class="innovation-bd y-row">
        <%include("/layout/innovation_template.html"){}%>
        <div class="innovation-content y-right">
            <h3 class="center-title">数据众包</h3>
            <div class="innovation-imgs clearfix">
                <div class="leftline">
                    <span class="line"></span>
                    <span class="self_server">自助服务流程</span>
                </div>
                <div class="rightimg">
                    <img src="../../static/img/innovation/u4860.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>