<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/innovation.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center">
    <div class="innovation-bd y-row">
        <ul class="innovation-menu y-left">
            <li><a href="javascript:void(0)">需求众包</a></li>
            <li><a href="javascript:void(0)">孵化器</a></li>
            <li><a href="javascript:void(0)">基础开发平台</a></li>
            <li><a href="javascript:void(0)">优秀团队</a></li>
            <li><a href="javascript:void(0)">大数据产业基金</a></li>
            <li><a href="javascript:void(0)">活动</a></li>
            <li><a href="javascript:void(0)">创客大赛</a></li>
        </ul>
        <div class="innovation-content y-right">
            <h3 class="center-title">股权众筹</h3>
            <div>asasdaf</div>
        </div>
    </div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>