/*menu-start*/
.exchange-index-menu {
    position: absolute;
    top: -46px;
    left: 0px;
    z-index: 1000;
    width: 171px;
}
.exchange-index-menu .menu-title {
    background-color: transparent;
    width: 171px;
    height: 46px;
}
.exchange-index-menu .menu-list {
    display: none;
    background-color: #3E557B;
}
.exchange-index-menu .menu-list li {
    padding: 0 10px;
    color: white;
    border-bottom: 1px solid white;
    line-height: 42px;
    height: 41.95px;
    position: relative;
}
.exchange-index-menu .menu-list li > a.Bh {
    color: #0c182d;
}
.exchange-index-menu .menu-list li > a.Bh:hover {
    color: #7791bd;
}
.exchange-index-menu .menu-list > li:last-child {
    border-bottom: 2px solid #3E557B;
}
.menu-son-list a:hover {
    color: #FFA800;
}
.exchange-index-menu .menu-son-list {
    display: none;
    width: 338px;
    top: -1px;
    padding: 10px;
    left: 170px;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-left: 0;
}
.exchange-index-menu .menu-son-list ul li {
    float: left;
    margin: 5px;
}
/*menu-end*/