/*menu-start*/

#newBridge{ display: none}


.exchange-index-menu {
    width: 146px;
    float: left;
    position: relative;
    z-index: 3;
    background: #fcfbfb;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    height: 946px;
}
.exchange-index-menu .station-box{
    height: 40px;
}
.exchange-index-menu .menu-list {
    font-size: 0;
    padding: 15px 0;
    width: 146px;
    background: #fcfbfb;
    border-bottom: 1px dashed #c6c6c6;
}
.exchange-index-menu .menu-list>li {
    display: inline-block;
    color: #666;
    line-height: 48px;
    height: 48px;
    width:146px;
    font-size: 18px;
    margin: 11.48px 0;
    position: relative;
}
.exchange-index-menu .menu-list li .oneA{
    color:#666;
    display: block;
    height:100%;
    width:100%;
    position: relative;
}
.exchange-index-menu .menu-list li .oneA .qian{
    display: block;
    float: left;
    width: 16px;
    margin:15px 6px 0 13px;
}
.exchange-index-menu .menu-list li .oneA .qian_2{
    display: none;
}
.exchange-index-menu .menu-list li:hover .oneA .qian.qian_2{
    display: block;
}
.exchange-index-menu .menu-list li:hover  .oneA .qian.qian_1{
    display: none;
}
.exchange-index-menu .menu-list li .oneA .hou{
    display: block;
    float: right;
    width: 16px;
    margin: 13px 20px 0 0px;
}

.exchange-index-menu .menu-list li .oneA img{
    display: block;
    width:100%;
}
.exchange-index-menu .menu-list li:hover{
    color:#fff;
    /*width:144px;*/
}
.exchange-index-menu .menu-list li:hover .oneA{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    background: #e95d67;
    line-height: 46px;
    width:144px;
    height:46px;
    border:1px solid #de0010;
}
.exchange-index-menu .menu-list li .oneA:hover img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray;
}

.exchange-index-menu .menu-list li > a.Bh {
    color: #0c182d;
}
.exchange-index-menu .menu-list li > a.Bh:hover {
    color: #7791bd;
}
.exchange-index-menu>.menu-list>li.menu-item.active>a:before {
    /*position: absolute;*/
    /*top: 16px;*/
    /*right: 10px;*/
    /*content: "\f105";*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 5px solid transparent;*/
    /*border-bottom: 5px solid transparent;*/
    /*border-left: 5px solid #000;*/
    /*z-index: 999;*/
}

.menu-son-list a:hover {
    color: #e10000;
    text-decoration: underline;
}
.exchange-index-menu .menu-son-list,.exchange-index-menu-item {
    display: none;
    top: 0;
    left: 143px;
    position: absolute;
    width: 1060px;
    padding: 0 5px 5px 0;
}
.exchange-index-menu .menu-son-list .twoUl,.exchange-index-menu .menu-son-list .threeOl{
    background-color: white;
    /*height: 548px;*/
    width: 1040px;
    border:1px solid #c6c6c6;
    border-left:1px solid #de0010;
    border-radius:4px;
    opacity: 0.97;
    margin-left:14px;
    padding: 15px 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    overflow: hidden;
    box-shadow: 0px 2px 3px 1px #ccc;
}

.exchange-index-menu .menu-son-list .twoUl .twoLi,.exchange-index-menu-item .twoLi ,.exchange-index-menu .menu-son-list .twoUl .threeOli{
    float: left;
    font-size: 14px;
    line-height: 44px;
}
.exchange-index-menu .menu-son-list:after{
    position: absolute;
    left: 10px;
    top:50%;
    margin-top:-4px;
    content: '';
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
    border-right:4px solid #de0010;

}
.exchange-index-menu .menu-son-list .threeOl dl{}
.exchange-index-menu .menu-son-list .threeOl dt{
    float: left;
    width:87px;
    text-align: center;
    line-height: 44px;
}
.exchange-index-menu .menu-son-list .threeOl dt a{
    color:#870a13;
    font-weight:bold;
}
.exchange-index-menu .menu-son-list .threeOl dd{
    float: left;
    width:953px;
}
.exchange-index-menu .menu-son-list .threeOl dd li{
    float: left;
    font-size: 14px;
    line-height: 44px;
}
.exchange-index-menu .menu-son-list ul li span{
    color:#666;
    float: left;
    margin: 0 20px;
}
.exchange-index-menu .menu-son-list ul li a{
    float: left;
    font-size: 16px;
    color: #333;
}
.exchange-index-menu-item{
    display: block;
    width: 100%;
    top: 0;
    padding: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-left: 0;
}
/*menu-end*/