*{padding:0;margin:0 auto;}  /* 针对IE8的标准 */
/*ie8点击有虚线区域*/
body{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.color-gray-blue{
	color: #6194B9;
}
.color-dark-orange {
	color: #DC7754;
}
/*线 --#DCDDDD*/
/*交易中心-start*/
.exchange-index {
	font-size: 14px;
	background-color: #F6F6F6;
}
.exchange-index .index-banner {
    height: 430px;
}
.exchange-index .index-banner .exchange-index-banner {
	width: 100%;
}
.exchange-index .index-banner .exchange-index-adv {
	width: 190px;
	height: 430px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: beige;
}
.exchange-index .exchange-category-top {
	background-color: white;
	height: 145px;
}
.exchange-index .exchange-category-top ul li {
	background-color: #E2E2E2;
	position: relative;
	float: left;
	display: inline-block;
	width: 300px;
	height: 145px;
}
.exchange-index .exchange-category-top ul li:hover i {
	font-size: 120px;
}
.exchange-index .exchange-category-top ul li i {
	display: inline-block;
	color: #DADADA;
	font-size: 106px;
	position: absolute;
	top: 21px;
	right: 21px;
}
.exchange-index .exchange-category-top ul li div {
	padding: 21px 10px 14px 20px;
}
.exchange-index .exchange-category-top ul li div h3 {
	font-size: 18px;
	font-weight: bold;
}
.exchange-index .exchange-category-top ul li div p {
	font-size: 14px;
	position: absolute;
	z-index: 1;
}
.exchange-index .exchange-category-top ul li a {
	height: 30px;
	width: 90px;
	border: 1px solid black;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: 85px;
	left: 20px;
	color: black;
}
.exchange-index .exchange-category-top ul li:nth-child(2n) {
	background-color: #ECECEC;
}
/*----------------------------推荐模块-----------------------------*/
/*推荐的标签*/
.exchange-index .exchange-recommend-resource {
	background-color: #F0F0F0;
}
.exchange-recommend-resource .recommend-resource-top {
	height: 66px;
}
.exchange-recommend-resource .recommend-resource-top .recommend-resource-top-left {
	height: 66px;
	width: 250px;
	font-size: 20px;
	box-shadow: inset 0px -5px 0 #6194B9;
}
.exchange-recommend-resource .recommend-resource-top .recommend-resource-top-left .d {
	display: inline-block;
	padding-top: 27px;
	padding-left: 10px;
}
.exchange-recommend-resource .recommend-resource-top .recommend-resource-top-left i:nth-child(1) {
	font-size: 25px;
}
.exchange-recommend-resource .recommend-resource-top .recommend-resource-top-left span:last-child {
	font-size: 16px;
	color: #333333;
	padding-left: 5px;
	border-left: 2px solid #333333;
}
.exchange-recommend-resource .recommend-resource-top .recommend-resource-top-right a {
	display: inline-block;
	padding-top: 34px;
	font-size: 14px;
}
/*推荐的内容*/
.exchange-recommend-resource .recommend-resource-down {
	border-top: 1px solid #DCDDDD;
	padding-top: 10px;
}
.exchange-recommend-resource .recommend-resource-down ul li {
	width: 288px;
	background-color: #FAFAFA;
	float: left;
	margin-top: 10px;
	margin-right: 16px;
}

.exchange-recommend-resource .recommend-resource-down ul li .li-item-top {
	width: 248px;
	padding: 20px 20px;
	background-color: white;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-top .top-box{
	display: inline-block;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-top .top-box-img {
	width: 68px;
	height: 68px;
	display: inline-block;
	vertical-align: middle;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-top .top-box-info {
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	color: #333333;
	font-size: 12px;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-top .top-box-info p.title {
	font-size: 16px;
	font-weight: bold;
	color: black;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-top div p.subtitle{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: 38px;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down {
	padding: 20px 23px;
	background-color: #FAFAFA;
	font-size: 14px;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down .down-box-one > .grade {
	display: inline-block;
	font-size: 12px;
	color: #333;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down .down-box-one .grade .grade-star .star-i-item {
	color: #FFA800;
	font-size: 14px;
}
/*收藏*/
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down .down-box-one .collect {
	float: right;
	color: #e34f4f;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down .down-box-tow {
	padding-top: 10px;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down .down-box-tow .money {
	font-size: 23px;
	color: #e34f4f;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down .down-box-tow .money .money-i-item {
	font-size: 14px;
	font-style: normal;
	color: #e34f4f;
}
.exchange-recommend-resource .recommend-resource-down ul li .li-item-down .down-box-tow .detail {
	float: right;
	width: 107px;
	height: 32px;
	border: 1px solid #e34f4f;
	text-align: center;
	line-height: 32px;
	color: #e34f4f;
}
/*.exchange-recommend-resource .recommend-resource-down ul li:nth-child(4n) {*/
	/*margin-right: 0px;*/
/*}*/
.exchange-recommend-resource .recommend-resource-down ul li:first-child+li+li+li {
	margin-right: 0px;
}
.exchange-recommend-resource .recommend-resource-down ul li:first-child+li+li+li+li+li+li+li {
	margin-right: 0px;
}
/*----------------------------------中间的全屏图------------------------*/
.exchange-index .exchange-center-bar {
	height: 86px;
	background-color: #00081F;
}
/*------------------------------------hot-modular--------------------------*/
.exchange-index .exchange-hot-resource {
}
/*hot-modular-top-----start*/
.exchange-hot-resource .hot-resource-top {
	height: 66px;
}
.exchange-hot-resource .hot-resource-top .hot-resource-top-left {
	height: 66px;
	width: 250px;
	font-size: 20px;
	box-shadow: inset 0px -5px 0 #DC7754;
}
.exchange-hot-resource .hot-resource-top .hot-resource-top-left .d {
	display: inline-block;
	padding-top: 27px;
	padding-left: 10px;
}
.exchange-hot-resource .hot-resource-top .hot-resource-top-left i:nth-child(1) {
	font-size: 25px;
}
.exchange-hot-resource .hot-resource-top .hot-resource-top-left span:last-child {
	font-size: 16px;
	color: #333333;
	padding-left: 5px;
	border-left: 2px solid #333333;
}
.exchange-hot-resource .hot-resource-top .hot-resource-top-right a {
	display: inline-block;
	padding-top: 34px;
	font-size: 14px;
}
/*hot-modular-top-----end*/
/*hot-modular-down-----start*/
.exchange-hot-resource .hot-resource-down {
    border-top: 1px solid #DCDDDD;
    padding-top: 10px;
}
/*hot-modular-down-left*/
.exchange-hot-resource .hot-resource-down .hot-down-left {
	float: left;
	width: 192px;
	height: 374px;
	overflow: hidden;
	background-color: #FDE9EB;
	display: inline-block;
}
.exchange-hot-resource .hot-resource-down .hot-down-left .headline-box {
	margin: 40px 20px 0px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #A61615;
}
.exchange-hot-resource .hot-resource-down .hot-down-left .headline-box .main-headline {
	font-size: 32px;
	font-weight: bold;
	color: #A61615;
}
.exchange-hot-resource .hot-resource-down .hot-down-left .headline-box .sub-headline {
	font-size: 18px;
	color: #A61615;
}
.exchange-hot-resource .hot-resource-down .hot-down-left .label-box {
	margin: 20px 20px 0px 20px;
}
.exchange-hot-resource .hot-resource-down .hot-down-left .label-box span {
    width: 70px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    display: inline-block;
    color: white;
    background-color: #D27877;
}
.exchange-hot-resource .hot-resource-down .hot-down-left .label-box a {
	display: inline-block;
	margin-top: 20px;
	color: #A61615;
}
.exchange-hot-resource .hot-resource-down .hot-down-left .bg-img{
	font-size: 250px;
	line-height: 0;
	display: inline-block;
	margin-top: 225px;
	margin-left: 20px;
	color: #FCDADE;
}
/*表格*/
.exchange-hot-resource .hot-resource-down .hot-down-table {
	float: left;
	width: 784px;
	height: 374px;
	background-color: #F9F9FD;
	display: inline-block;
	text-align: center;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table {
	width: 784px;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr:first-child+tr {
	background-color: white;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr:first-child+tr+tr+tr {
	background-color: white;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr:first-child+tr+tr+tr+tr+tr {
	background-color: white;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr th {
	height: 45px;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr td {
	height: 66px;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-one {
	width: 20%;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-one img {
	width: 57px;
	height: 54px;
	margin-top: 5px;
	background-color: #00A1CB;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-two {
	width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-three {
	width: 20%;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-three span {
	color: #F20A0A;
	font-size: 14px;
	vertical-align: middle;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-three .td-three-money {
	font-size: 24px;
	margin-right: 5px;
	vertical-align: middle;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-four {
	width: 20%;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-four > span {
	display: inline-block;
	height: 24px;
	width: 24px;
	color: white;
	margin-right: 10px;
	background-color: #53996F;
}
.exchange-hot-resource .hot-resource-down .hot-down-table table tr .td-four > span:nth-child(2) {
	background-color: #6193B9;
	margin: 0;
}
/*热门榜 */
.exchange-hot-resource .hot-resource-down .hot-down-rank {
	float: right;
	width: 198px;
	height: 374px;
	background-color: white;
	border: 1px solid #ECECEC;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank .h-title{
	margin: 12px 10px 12px 10px;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank .h-title i{
	display: inline-block;
	height: 16px;
	width: 2px;
	margin-right: 5px;
	background-color: #D95353;
	vertical-align: middle;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank .h-title span {
	display: inline-block;
	font-size: 16px;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li {
	height: 40px;
    transition: all 0.5s;
	border-top: 1px solid #ececec;
	overflow: hidden;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li img{
	display: none;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .infoBox{
	width: 178px;
	padding: 0 10px 0 10px;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .infoBox .title{
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .infoBox .p-none {
	display: none;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li.active{
	height: 80px;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li.active img{
	display: block;
	width: 60px;
	margin-left: 10px;
	margin-top: 10px;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li.active .infoBox{
	width: 108px;
	padding: 0 10px;
	font-size: 12px;
}
.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li.active .infoBox .p-none{
	display: block;
}
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .li-rank {*/
	/*margin: 0 20px;*/
	/*display: inline-block;*/
	/*height: 40px;*/
	/*width: 166px;*/
	/*border-bottom: 1px solid #ECECEC;*/
	/*line-height: 40px;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .li-rank img{*/

	/*display: none;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .li-rank > span:nth-child(1) {*/
	/*display: inline-block;*/
	/*width: 12px;*/
	/*height: 14px;*/
	/*color: white;*/
	/*text-align: center;*/
	/*line-height: 14px;*/
	/*margin-right: 6px;*/
	/*margin-left: 3px;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .li-rank > div {*/
	/*display: inline-block;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .li-rank .p-none {*/
	/*display: none;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li .li-rank > span:nth-child(1) {*/
	/*background-color: #EF8D4D;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul .active {*/
	/*height: 102px;*/
	/*overflow: hidden;*/
	/*background-color: #E6E6E6;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul .active div {*/
	/*width: 167px;*/
	/*padding: 20px 17px;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul .active img {*/
	/*width: 66px;*/
	/*height: 66px;*/
	/*background-color: #00A1CB;*/
	/*vertical-align: middle;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul .active > div > div {*/
	/*display: inline-block;*/
	/*width: 90px;*/
	/*vertical-align: middle;*/
	/*padding: 0 0 0 4px;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul .active span {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*display: inline-block;*/
	/*width: 12px;*/
	/*height: 14px;*/
	/*text-align: center;*/
	/*line-height: 14px;*/
	/*background-color: #FA3D18;*/
/*}*/
/*.exchange-hot-resource .hot-resource-down .hot-down-rank > ul li:last-child div {*/
	/*border: none;*/
/*}*/
/*hot-modular-down-----start*/
/*行业模块*/
.exchange-index .exchange-industry-resource {
    margin-bottom: 30px;
}
.exchange-industry-resource .industry-resource-top {
	height: 66px;
}
.exchange-industry-resource .industry-resource-top .industry-resource-top-left {
	height: 66px;
	width: 250px;
	font-size: 20px;
	box-shadow: inset 0px -5px 0 #6194B9;
}
.exchange-industry-resource .industry-resource-top .industry-resource-top-left .d {
	display: inline-block;
	padding-top: 27px;
	padding-left: 10px;
}
.exchange-industry-resource .industry-resource-top .industry-resource-top-left i:nth-child(1) {
	font-size: 25px;
	font-weight: bold;
}
.exchange-industry-resource .industry-resource-top .industry-resource-top-left span:last-child {
	font-size: 16px;
	color: #333333;
	padding-left: 5px;
	border-left: 2px solid #333333;
}
.exchange-industry-resource .industry-resource-top .industry-resource-top-right a {
	display: inline-block;
	padding-top: 34px;
	font-size: 14px;
}
/*行业推荐下面*/
.exchange-industry-resource .industry-resource-down {

}
.exchange-industry-resource .industry-resource-down .carousel-box{
    position: relative;
    overflow: hidden;
    min-width: 1180px;
    max-width: 1440px;
    height: 393.458px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}
.exchange-industry-resource .industry-resource-down .screen{
    height: 393.458px;
    overflow: hidden;
}

.exchange-industry-resource .industry-resource-down #arr{
    display: none;
}
.exchange-industry-resource .industry-resource-down #arrow-left{
    position: absolute;
    display: inline-block;
    top: 0;
    width: 55px;
    left: 0;
    line-height: 393.458px;
    text-align: center;
    z-index: 1000;
    color: white;
    font-size: 60px;
    background: #161A1D;
    height: 393.458px;
    cursor: pointer;
	/* older safari/Chrome browsers */
	-webkit-opacity: 0.4;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0.4;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0.4;
	/* IE9 + etc...modern browsers */
	opacity: .4;
	/* IE 4-9 */
	filter:alpha(opacity=40);
	/*This works in IE 8 & 9 too*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	/*IE4-IE9*/
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.exchange-industry-resource .industry-resource-down #arrow-right{
    position: absolute;
    display: inline-block;
    top: 0;
    width: 55px;
    color: white;
    right: 0;
    line-height: 393.458px;
    text-align: center;
    z-index: 1000;
    font-size: 60px;
    background: #161A1D;
    height: 393.458px;
    cursor: pointer;
	/* older safari/Chrome browsers */
	-webkit-opacity: 0.4;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0.4;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0.4;
	/* IE9 + etc...modern browsers */
	opacity: .5;
	/* IE 4-9 */
	filter:alpha(opacity=40);
	/*This works in IE 8 & 9 too*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	/*IE4-IE9*/
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.exchange-industry-resource .industry-resource-down ul{
    position: absolute;
    top:0;
	left: 0;
    height: 393.458px;
    transform: translate(0px);
}
.exchange-industry-resource .industry-resource-down ul .slide-item{
    float: left;
    position: relative;
    width: 269.8px;
    height: 393.458px;
    background-color: white;
}
.exchange-industry-resource .industry-resource-down ul .slide-item a{
    display: inline-block;
    width: 100%;
    height: 450px;
}
.exchange-industry-resource .industry-resource-down ul .slide-item img{
    float: left;
    width: 100%;
    height: 393.458px;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0 ;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-bg{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0 ;
    background: #161A1D;
	/* older safari/Chrome browsers */
	-webkit-opacity: 0.6;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0.6;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0.6;
	/* IE9 + etc...modern browsers */
	opacity: .6;
	/* IE 4-9 */
	filter:alpha(opacity=60);
	/*This works in IE 8 & 9 too*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	/*IE4-IE9*/
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content .bg-content-img{
    width: 100%;
    height: 67px;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content .bg-content-img img{
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -34px;
    width: 68px;
    height: 68px;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content .bg-boundary {
	height: 50px;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content .bg-boundary i {
	width: 20px;
	height: 2px;
	display: inline-block;
	background-color: white;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content .bg-title {
	font-size: 22px;
	line-height: 24px;
	height: 48px;
	color: white;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content .bg-info {
	/* older safari/Chrome browsers */
	-webkit-opacity: 0;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0;
	/* IE9 + etc...modern browsers */
	opacity: 0;
	/* IE 4-9 */
	filter:alpha(opacity=0);
	margin-top: 40px;
	font-size: 14px;
	line-height: 25px;
	color: white;
	padding: 0 10px;
	overflow: hidden;
	height: 73px;
	text-align: center;
}
.exchange-industry-resource .industry-resource-down ul .slide-item .bg .bg-content .bg-btn {
	/* older safari/Chrome browsers */
	-webkit-opacity: 0;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0;
	/* IE9 + etc...modern browsers */
	opacity: 0;
	/* IE 4-9 */
	filter:alpha(opacity=0);
    display: inline-block;
    border: 1px solid #fff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
}

.exchange-industry-resource .industry-resource-down ul .slide-item:hover .bg-bg{
    background-color: #00c2de;
}

.exchange-industry-resource .industry-resource-down ul .slide-item:hover .bg-content{
    transition: transform 0.3s linear 0s;
    transform: translateY(-50px);
	/*margin-top: -50px;*/
}

.exchange-industry-resource .industry-resource-down ul .slide-item:hover .bg-title{
    margin-top: 15px;
}

.exchange-industry-resource .industry-resource-down ul .slide-item:hover .bg-boundary{
    display: none;
}
/*最有一个大模块*/
.exchange-industry-resource .industry-resource-down ul .slide-item:hover .bg-content .bg-info {
	transition: transform 0.3s linear 0s;
	transform: translateY(-20px);
	animation: show 0.5s ease-in-out 0s 1 alternate forwards;
	-moz-animation: show 0.5s ease-in-out 0s 1 alternate forwards; /* Firefox */
	-webkit-animation: show 0.5s ease-in-out 0s 1 alternate forwards; /* Safari and Chrome */
	-o-animation: show 0.5s ease-in-out 0s 1 alternate forwards; /* Opera */
}
.exchange-industry-resource .industry-resource-down ul .slide-item:hover .bg-content .bg-btn {
	transition: transform 0.3s linear 0s;
	transform: translateY(-30px);
	animation: show 0.5s ease-in-out 0s 1 alternate forwards;
	-moz-animation: show 0.5s ease-in-out 0s 1 alternate forwards; /* Firefox */
	-webkit-animation: show 0.5s ease-in-out 0s 1 alternate forwards; /* Safari and Chrome */
	-o-animation: show 0.5s ease-in-out 0s 1 alternate forwards; /* Opera */
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/*最后一个大模块*/
.exchange-index .exchange-category-down {
	height: 460px;
}
.exchange-index .exchange-category-down .category-left {
	width: 970px;
	height: 388px;
	background-color: white;
	border: 1px solid #efefef;
}
.exchange-index .exchange-category-down .category-left .category-box ul li {
	width: 194px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	color: black;
	background-color: #F1F1F1;
}
.exchange-index .exchange-category-down .category-left .category-box ul li:hover {
	cursor: pointer;
}
/*-------------------------*/
.exchange-index .exchange-category-down .category-left .resource-two {
	float: left;
	width: 185px;
	height: 316px;
	overflow: hidden;
	margin: 16px 0px 16px 16px;
	display: inline-block;
	background-color: #C7E5FD;
}
.exchange-index .exchange-category-down .category-left .resource-two .headline-box {
	margin: 40px 20px 0px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #3B7AB0;
}
.exchange-index .exchange-category-down .category-left .resource-two .headline-box .main-headline {
	font-size: 32px;
	font-weight: bold;
	color: #3B7AB0;
}
.exchange-index .exchange-category-down .category-left .resource-two .headline-box .sub-headline {
	font-size: 18px;
	color: #3B7AB0;
}
.exchange-index .exchange-category-down .category-left .resource-two .label-box {
	margin: 20px 20px 0px 20px;
}
.exchange-index .exchange-category-down .category-left .resource-two .label-box span {
	width: 68px;
	height: 29px;
	text-align: center;
	line-height: 29px;
	display: inline-block;
	color: white;
	background-color: #5F96C2;
}
.exchange-index .exchange-category-down .category-left .resource-two .label-box .more {
	display: inline-block;
	margin-top: 20px;
	color: #3B7AB0;
}
.exchange-index .exchange-category-down .category-left .resource-two .bg-img {
	font-size: 200px;
	line-height: 0;
	display: inline-block;
	margin-top: 107px;
	margin-left: 36px;
	color: #B1D5F1;
}
/*---------------------*/
.exchange-index .exchange-category-down .category-left .category-item .list-box {
	width: 769px;
	margin-top: 16px;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li {
	float: left;
	text-align: center;
	width: 189px;
	height: 160px;
	border-bottom: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li a{
	display: block;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li a .title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0 5px;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li:nth-child(n+5) {
	border-bottom: none;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li:first-child+li+li+li {
	border-right: none;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li:first-child+li+li+li+li+li+li+li {
	border-right: none;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li img {
	margin-top: 10px;
	width: 68px;
	height: 68px;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li .money-symbol {
	font-style: normal;
	font-weight: bold;
}
.exchange-index .exchange-category-down .category-left .category-item .list-box ul li .star-box .star-item {
	font-size: 14px;

}
.exchange-index .exchange-category-down .category-left .category-box .active {
	display: inline-block;
	width: 194px;
	height: 37px;
	background-color: white;
}
.exchange-index .exchange-category-down .category-item {
	display: none;
}
.exchange-index .exchange-category-down .category-left .item-active {
	display: block;
}
/*常见问题*/
.exchange-index .exchange-category-down .category-right {
	width: 199px;
	height: 388px;
	background-color: white;
	margin-left: 23px;
	border: 1px solid #efefef;
}
.exchange-index .exchange-category-down .category-right .common-problems {
	padding: 10px;
	background-color: #F2F2F2;
}
.exchange-index .exchange-category-down .category-right .common-problems i {
	display: inline-block;
	width: 4px;
	margin-bottom: 1px;
	height: 14px;
	margin-right: 5px;
	vertical-align: middle;
	background-color: blue;
}
.exchange-index .exchange-category-down .category-right .common-problems span:last-child {
	margin-left: 65px;
}
.exchange-index .exchange-category-down .category-right .common-problems-list {
	margin: 0 10px;
}
.exchange-index .exchange-category-down .category-right .common-problems-list li {
	height: 38px;
	line-height: 40px;
	border-bottom: 1px solid #efefef;
}
.exchange-index .exchange-category-down .category-right .common-problems-list li:last-child {
	border-bottom: none;
}
.exchange-index .exchange-category-down .category-right .common-problems-list .square {
	display: inline-block;
	height: 13px;
	width: 13px;
	text-align: center;
	line-height: 13px;
}
/*交易中心-end*/
/*list页面-start*/
dl {
	display: inline-block;
}
.search .search-category .panel-title span, .search .search-category .panel-title a {
	float: left;
}
.search .search-category .panel-title a span, .search .search-category .panel-title a b, .search .search-category .panel-title a em {
	font-style: normal;
	font-weight: normal;
}
.search {
	font-family: 'Microsoft YaHei';
}
.search ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.search a {
	text-decoration: none;
}
.search a:hover {
	text-decoration: none;
}
.search a:visited {
	text-decoration: none;
}
.search a:active {
	text-decoration: none;
}
.search .search-category {

}
.search .search-category>ul{
	border: 1px solid #E9E9E9;
}
.search .search-category .panel-title {
	border-bottom: 1px solid #E9E9E9;
	font-size: 14px;
	background-color: #F4F4F4;
	padding-left: 18px;
	overflow: hidden;
}
.search .search-category .panel-title span {
	color: #999999;
	margin: 10px 5px 11px 0;
	background-color: #F4F4F4;
}
.search .search-category .panel-title a {
	display: inline-block;
	height: 20px;
	line-height: 18px;
	text-decoration: none;
	background: #f3f3f3;
	position: relative;
	padding: 0px 20px 0 4px;
	font-size: 12px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #eee;
	color: #999999;
	margin: 10px 10px 10px 0;
}
.search .search-category .panel-title a span {
	float: none;
}
.search .search-category .panel-title a i {
	display: inline-block;
	width: 20px;
	height: 18px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(/images/search/search.png) no-repeat 4px -141px;
}
.search .search-category .conditionCon li {
	background-color: #F5F5F5;
	border-bottom: 1px dashed #B0B0B0;
}
.search .search-category .conditionCon li:last-child {
	border-bottom: none;
}
.search .search-category .conditionCon li span {
	float: left;
	color: #666666;
	display: inline-block;
	background-color: #F5F5F5;
	height: 34px;
	line-height: 35px;
	padding: 0 10px;
}
.search .search-category .conditionCon li ul {
	overflow: hidden;
	background-color: white;
	padding: 5px 0;
}
.search .search-category .conditionCon li ul li {
	float: left;
	border-bottom: none;
	background-color: white;
}
.search .search-category .conditionCon li ul li.op_i.active a{
	color: #ccc;
	cursor: no-drop;
}
.search .search-category .conditionCon li ul li.parLi {
	float: none;
}
.search .search-category .conditionCon li ul li.parLi span {
	background: #fff;
}
.search .search-category .conditionCon li ul li a {
	display: inline-block;
	margin: 3px 10px;
}
.search .search-order {
	margin-top: 10px;
}
.search .search-order .order {
	border: 1px solid #E9E9E9;
	background-color: #fff;
	height: 40px;
	font-size: 12px;
}
.search .search-order .order li {
	float: left;
}
.search .search-order .order li .active {
	background-color: #E51D1D;
	color: white;
}
.search .search-order .order li a {
	display: inline-block;
	text-align: center;
	line-height: 25px;
	margin-top: 7px;
	height: 25px;
	width: 70px;
	border: 1px solid #CCCCCC;
	border-left: none;
	background-color: white;
}
.search .search-order .order li:first-child a {
	border-left: 1px solid #CCCCCC;
	margin-left: 23px;
}
.search .search-order .order li:first-child+li+li a {
	width: 60px;
}
.search .search-order .order li:first-child+li+li+li a {
	width: 45px;
}
.search .search-order .order li:first-child+li+li+li+li a {
	border: none;
	text-align: right;
	padding-right: 5px;
	background-color: transparent;
}
.search .search-order .order li:first-child+li+li+li+li .priceBox {
	display: inline-block;
}
.search .search-order .order li:first-child+li+li+li+li .priceBox input {
	height: 25px;
	border: 1px solid #CCCCCC;
	color: black;
	width: 70px;
	padding:0 5px;
}
.search .search-order .order li:first-child+li+li+li+li .priceBox span {
	text-align: center;
	color: white;
	display: inline-block;
	width: 50px;
	cursor: pointer;
	line-height: 25px;
	margin-left: 5px;
}
.search .search-order .order li:first-child+li+li+li+li .priceBox span:last-child {
	background-color: #2282e7;
}
.search .search-order .order li:first-child+li+li+li+li .priceBox .d {
	background-color: #D5D5D5;
}
.search .search-order .order li:first-child+li+li+li+li .priceBox em {
	margin-bottom: 4px;
	display: inline-block;
	width: 10px;
	height: 1px;
	background-color: #CCCCCC;
}
.search .search-order .order-list ul {
	list-style: none;
	padding: 0;
	margin-right: -15px;
}
.search .search-order .order-list ul:before, .search .search-order .order-list ul:after {
	content: " ";
	display: table;
}
.search .search-order .order-list ul:after {
	clear: both;
}
.search .search-order .order-list ul li {
	height: 238px;
	width: 230px;
	float: left;
	color: black;
	background-color: white;
	border: 1px solid #E5E5E5;
	margin: 10px 10px 0 0;
}

.search .search-order .order-list ul li .item-top {
	display: block;
}
.search .search-order .order-list ul li .item-top p {
	text-align: center;
	padding: 4px 0;
}
.search .search-order .order-list ul li .item-top p.goods-img{
	height:100px;
}
.search .search-order .order-list ul li .item-top .goods-img img {
	width: 70px;
	margin-top: 18px;
}
.search .search-order .order-list ul li .item-top .goods-name {
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 30px 0 20px;
}
.search .search-order .order-list ul li .item-top .goods-brief {
	padding: 0 10px 3px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	width: calc(100% - 20px);
	height: 52px;
	word-wrap: break-word;
}
.search .search-order .order-list ul li .item-down {
	border-top: 1px solid #E5E5E5;
	padding: 0 10px;
}
.search .search-order .order-list ul li .item-down span {
	color: #B2B2B2;
	line-height: 50px;
}
.search .search-order .order-list ul li .item-down a{

}
.search .search-order .order-list ul li .item-down span label {
	color: black;
	padding-right: 10px;
}
.search .search-order .order-list ul li .item-down .goods-price span {
	color: #fdb868;
	font-size: 22px;
}
.search .search-order .order-list .info {
	font-size: 20px;
	text-align: center;
	padding-top: 60px;
}
.search .search-order .order-page {
	display: none;
	float: right;
}
.search .search-order .order-page p {
	line-height: 30px;
	color: black;
	display: inline-block;
	float: right;
}
.search .search-order .order-page p input {
	padding: 0 4px;
	width: 37px;
	height: 30px;
}
.search .search-order .order-page p span {
	line-height: 30px;
	display: inline-block;
}
.search .search-order .order-page p span:last-child {
	color: white;
	background-color: #2181E7;
	cursor: pointer;
	margin-left: 5px;
	width: 53px;
}
.search .search-recommend {
	margin-top: 60px;
	margin-bottom: 20px;
}
.search .search-recommend .recommend-title {
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	color: black;
}
.search .search-recommend .recommend-title i {
	margin-right: 14px;
	display: inline-block;
	height: 16px;
	width: 2px;
	background-color: #259DE9;
}
.search .search-recommend .recommend-content ul {
	list-style: none;
	padding: 0;
}
.search .search-recommend .recommend-content ul:before, .search .search-recommend .recommend-content ul:after {
	content: " ";
	display: table;
}
.search .search-recommend .recommend-content ul:after {
	clear: both;
}
.search .search-recommend .recommend-content ul li {
	width: 300px;
	height: 180px;
	background-color: white;
	float: left;
	border: 1px solid #E5E5E5;
}
.search .search-recommend .recommend-content ul li:hover .li-hover {
	display: block;
}
.search .search-recommend .recommend-content ul li:hover .li-show {
	display: none;
}
.search .search-recommend .recommend-content ul li .li-show p {
	text-align: center;
	color: black;
	padding-bottom: 10px;
}
.search .search-recommend .recommend-content ul li .li-show p:nth-child(1) {
	margin-top: 20px;
}
.search .search-recommend .recommend-content ul li .li-show p:nth-child(1) img {
	width: 70px;
}
.search .search-recommend .recommend-content ul li .li-show p:nth-child(2) {
	font-size: 16px;
}
.search .search-recommend .recommend-content ul li .li-show p:nth-child(3) {
	color: #fdaf9d;
	font-size: 18px;
}
.search .search-recommend .recommend-content ul li .li-hover {
	display: none;
	width: 300px;
	height: 180px;
	color: white;
	background-color: #2282e7;
	padding: 30px;
}
.search .search-recommend .recommend-content ul li .li-hover p {
	text-align: center;
}
.search .search-recommend .recommend-content ul li .li-hover p:nth-child(1) {
	margin-bottom: 10px;
}
.search .search-recommend .recommend-content ul li .li-hover p:nth-child(2) {
	text-align: left;
	height: 75px;
	overflow: hidden;
}
.search .search-recommend .recommend-content ul li .li-hover p:nth-child(3) {
	margin-top: 10px;
}
.search .search-recommend .recommend-content ul li .li-hover p:nth-child(3) a {
	color: white;
	display: inline-block;
	border: 1px solid white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 5px;
}
/*list页面-end*/
/*商品详情-start*/
.bdg-row:before, .bdg-row:after {
	content: " ";
	display: table;
}
.bdg-row:after {
	clear: both;
}
.goodsDetails {
	background-color: #F6F6F6;
}
.goodsDetails .goods-left {
	width: 964px;
}
.goodsDetails .goods-left .goods-details {
	background-color: white;
	padding: 20px;
	height: 300px;
}
.goodsDetails .goods-left .goods-details .goods-details-img {
	width: 220px;
	height: 300px;
}
.goods-left .goods-details .goods-details-img .img-box {
	width: 200px;
	height: 200px;
	border: 1px solid #EFEFEF;
}
.goods-left .goods-details .goods-details-img .img-box img {
	width: 200px;
	height: 200px;
}
.goods-left .goods-details .goods-details-img .collect-box {
}
.goods-left .goods-details .goods-details-img .collect-box .attention:hover {
	cursor: pointer;
}
.goods-left .goods-details .goods-details-right {
	width: 700px;
	height: 300px;
}
.goods-left .goods-details .goods-details-right .detail-title {
	height: 30px;
	font-size: 22px;
	color: black;
}
.goods-left .goods-details .goods-details-right .detail-title .icon {
	color: white;
	display: inline-block;
	width: 22px;
	height: 22px;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
}
.goods-left .goods-details .goods-details-right .detail-info {
}
.goods-left .goods-details .goods-details-right .detail-money {
	/*height: 110px;*/
	background-color: #F3F3F3;
}
.goods-left .goods-details .goods-details-right .detail-money div {
	font-size: 14px;
	padding-left: 10px;
	height: 55px;
	line-height: 55px;
}
.goods-left .goods-details .goods-details-right .detail-money .convert {
	display: inline-block;
	padding: 0 10px;
	margin-left: 5px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: text-bottom;
	border: 1px solid #ffa800;
}
.goods-left .goods-details .goods-details-right .detail-money .money-standard a {
	display: inline-block;
	line-height: 22px;
	padding: 0 5px;
	border: 1px solid #333;
}
.goods-left .goods-details .goods-details-right .detail-money .money-standard a.active {
	color: #ffa800;
	border-color: #ffa800;
}
.goods-details .goods-details-right .detail-count .purchase-quantity {
	position: relative;
	display: inline-block;
	width: 85px;
	height: 25px;
	border: 1px solid #4490F6;
}
.goods-details .goods-details-right .detail-count .purchase-quantity .btn-a {
	position: absolute;
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 23px;
	background-color: #4490F6;
	color: white;
}
.goods-details .goods-details-right .detail-count .purchase-quantity .btn-sub {
	top: 0;
	left: 0;
}
.goods-details .goods-details-right .detail-count .purchase-quantity .btn-plus {
	top: 0;
	right: 0;
}
.goods-details .goods-details-right .detail-count .purchase-quantity input {
	position: absolute;
	top: 0;
	left: 25px;
	width: 32px;
	height: 21px;
	text-align: center;
}
.goods-left .goods-details .goods-details-right .detail-count a {
	text-align: center;
	line-height: 32px;
	display: inline-block;
	width: 110px;
	height: 32px;
	font-size: 14px;
}
/*接口详情*/
.goodsDetails .goods-left .goods-table {
	background-color: white;
	border: 1px solid #E9E9E9;
}
.goods-table .fiexd {
	position: fixed;
	top: 0;
	width: 1200px;
}
.goods-table .table-title {
	font-size: 16px;
	margin-bottom: 20px;
	height: 40px;
}
.goods-table .table-title ul {
	height: 40px;
	background-color: #F4F4F4;
}
.goods-table .table-title li {
	cursor: pointer;
	width: 10%;
	position: relative;
	text-align: center;
	line-height: 30px;
	padding: 0 10px;
	margin: 5px 0;
	border-right: 1px solid #E9E9E9;
}
.goods-table .table-title li:last-child {
	border-right: none;
}
.goods-table .table-title li.active {
	height: 35px;
	color: #078cfc;
	border-bottom: 2px solid #078cfc;
}
.goods-table .table-title li.active:after {
	content: '';
	position: absolute;
	border-left: 5px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid #078cfc;
	border-right: 5px solid transparent;
	right: 50%;
	margin-right: -10px;
	bottom: 0px;
}
.goods-table .table-content {
	padding: 0 20px;
}
.goods-table .table-content .table-item {
}
.goods-table .table-content .table-item table {
	width: 100%;
}
.goods-table .table-content .table-item table caption {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	text-align: left;
	border: 1px solid #e9e9e9;
	border-bottom: none;
}
.goods-table .table-content .table-item table tr {
	height: 40px;
	border: 1px solid #E9E9E9;
}
.goods-table .table-content .table-item .tab-one td:first-child {
	padding-left: 20px;
	width: 60px;
	text-align: right;
}
.goods-table .table-content .table-item table {
	text-align: left;
}
.goods-table .table-content .table-item table td, th {
}
.goods-table .table-content .table-item:last-child ol .comment-title {
	background-color: #F1F1F1;
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.goods-table .table-content .detail {
}
.goods-table .table-content .detail li {
	height: 40px;
	line-height: 40px;
}
.goods-table .table-content .detail li label {
	width: 100px;
	display: inline-block;
}
/*推荐信息 */
.goodsDetails .goods-right {
}
.goodsDetails .goods-right .recommend-one {
	border: 1px solid #EFEFEF;
	padding: 10px;
	width: 200px;
	height: 302px;
	background-color: white;
}
.goodsDetails .goods-right .recommend-one .recommend-title {
	font-size: 16px;
	border-bottom: 1px solid #EFEFEF;
}
.goodsDetails .goods-right .recommend-one ul li {
	padding: 10px;
}
.goodsDetails .goods-right .recommend-one ul li img {
	width: 47px;
	height: 47px;
}
.goodsDetails .goods-right .recommend-one ul li .img-info {
	margin-top: 4px;
	float: right;
	width: 120px;
}
.goodsDetails .goods-right .recommend-two {
	border: 1px solid #EFEFEF;
	padding: 10px;
	width: 200px;
	height: 302px;
	background-color: white;
}
.goodsDetails .goods-right .recommend-two .recommend-title {
	font-size: 16px;
	border-bottom: 1px solid #EFEFEF;
}
.goodsDetails .goods-right .recommend-two ul li {
	padding: 10px;
}
.goodsDetails .goods-right .recommend-two ul li img {
	width: 100%;
	height: 47px;
}
/*商品详情-end*/
/*搜索结果页-start*/
.exchange-list {
}
.exchange-search .order-list ul {
	list-style: none;
	padding: 0;
	margin-right: -15px;
}
.exchange-search .order-list ul:before, .search .search-order .order-list ul:after {
	content: " ";
	display: table;
}
.exchange-search .order-list ul:after {
	clear: both;
}
.exchange-search .order-list ul li {
	width: 230px;
	float: left;
	color: black;
	background-color: white;
	border: 1px solid #E5E5E5;
	margin: 10px 10px 0 0;
}
.exchange-search .order-list ul li:nth-child(5n) {
	margin-right: 0;
}
.exchange-search .order-list ul li .item-top {
	display: block;
}
.exchange-search .order-list ul li .item-top p {
	text-align: center;
	padding: 4px 0;
}
.exchange-search .order-list ul li .item-top .goods-img img {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-top: 18px;
}
.exchange-search .order-list ul li .item-top .goods-name {
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 30px 0 20px;
}
.exchange-search .order-list ul li .item-top .goods-brief {
	padding: 0 10px 3px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	width: calc(100% - 20px);
	height: 52px;
}
.exchange-search .order-list ul li .item-down {
	border-top: 1px solid #E5E5E5;
	padding: 0 10px;
}
.exchange-search .order-list ul li .item-down span {
	color: #B2B2B2;
	padding: 10px 0;
}
.exchange-search .order-list ul li .item-down span label {
	color: black;
	padding-right: 10px;
}
.exchange-search .order-list ul li .item-down .goods-price span {
	color: #fdb868;
	font-size: 22px;
}
.exchange-search .order-list .info {
	font-size: 20px;
	text-align: center;
	padding-top: 60px;
}
/******** addToCart *******/
.success-top {
	color: #71b247;
}
.p-img img {
	width: 100px;
}
.success-top b {
	font-size: 30px;
}
.success-top h3 {
	color: #71b247;
	font-size: 22px;
}
.success-ad {
	margin-top: 108px;
	height: 50px;
}
.success-ad .btn {
	padding: 10px;
}
.success-ad .btn-tobback {
	background: #fff;
	padding: 9px;
	border: 1px solid #fff;
}
.success-ad .btn-tobback:hover {
	border: 1px solid #e34f4f;
	color: #e34f4f;
}
/*搜索结果页-end*/
.crumbs-nav {
	font-size: 14px;
}
.crumbs-nav .tags{
	padding: 0px 3px;
	border: 1px dashed #6b6b6b;
	margin-left: 5px;
	-webkit-transition:all .3s linear;
	transition:all .3s linear
}
.crumbs-nav .tags:hover{
	border: 1px dashed #078cfc;
	color:#078cfc;
}
.crumbs-nav .tags a{
	margin-left:2px;
}
