<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/user-center-menu.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">商品管理</h3>
            <div class="myseller-wrapper">
                <div class="wrapper-tab">
                    <ul class="wrapper-tab-box">
                        <li class="first active"><a href="javascript:void(0)">发布商品</a></li>
                        <li><a href="javascript:void(0)">出售中的商品</a></li>
                    </ul>
                </div>
                <div class="category-search category-label">
                    <label>类目搜索：</label>
                    <input type="text">
                    <span>搜索</span>
                </div>
                <div class="lastused-category category-label">
                    <label>最近使用的类目：</label>
                    <select>
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>