<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/css/myseller.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">商品管理</h3>
            <div class="myseller-wrapper">
                <div class="wrapper-tab">
                    <ul class="wrapper-tab-box">
                        <li class="first active"><a href="/myseller">发布商品</a></li>
                        <li><a href="/myseller/tradeing">出售中的商品</a></li>
                    </ul>
                </div>
                <div class="category-search category-label">
                    <label>类目搜索：</label>
                    <input type="text">
                    <span>搜索</span>
                </div>
                <div class="lastused-category category-label">
                    <label>最近使用的类目：</label>
                    <select>
                        <option value="">请选择</option>
                        <option value="">分类1</option>
                        <option value="">分类2</option>
                    </select>
                </div>
                <div class="select-category-box">
                    <!--<div class="select-category-item y-left">-->
                        <!--<div class="search-item">-->
                            <!--<span>🔍</span>-->
                            <!--<input type="text">-->
                        <!--</div>-->
                        <!--<div class="item-box">-->
                            <!--<dl>-->
                                <!--<dt>查询</dt>-->

                            <!--</dl>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="select-category-item y-left">-->
                        <!--<div class="item-box">-->
                            <!--<dl>-->
                                <!--<dt>查询</dt>-->
                                <!--<dd>身份证信息查询</dd>-->
                                <!--<dd>失信被执行人查询</dd>-->
                                <!--<dd>身份证信息查询</dd>-->
                            <!--</dl>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="cate-path">
                    <div class="clearfix">
                        <label>您当前的选择是：</label>

                    </div>
                    <span class="arrow"></span>
                </div>
                <div class="pulish-btn">
                    <a href="JavaScript:void (0)" id="pusblishBtn">发布商品</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript">
    var url = "/category/findByPId/1";
    var pid = 0;
    var datas = null ;

    //
    loadData(url,pid);
    //点击加载。。。
    function clickLoadData(url,pid,that){
        $(that).parents(".select-category-item").nextAll(".select-category-item").remove();
        $(that).addClass('active').siblings().removeClass('active');
        loadData(url,pid);
        currentCategory(that);
        $('#pusblishBtn').click(function(){
            window.location.href = "/myseller/publish?catId="+pid;
        })
    }
    function currentCategory(that){
        var nextAll = $(that).parents(".select-category-item").nextAll(".select-category-item");
        if(nextAll){
            $('.clearfix').append("<span>"+$(that).text()+"---------</span>");
        }else{
            $('.clearfix').append("<span>"+$(that).text()+"</span>");
        }
//        $('.clearfix').append($(that).text());
    }
    //加载。。。
    function loadData(url,pid){
        $.ajax({
            type: "get",
            url: url,
            data: {
                pid:pid
            },
            success: function(msg){
                if(msg.code == 1){
                    datas = msg.data;
                    if(datas.length > 0){
                        var html = "";
                        for(var i = 0; i < datas.length; i++){
                            html += '<dd onclick="clickLoadData(url,'+datas[i].catId+',this)">'+datas[i].catName+'</dd>';
                        }
                        var htmlS = '';
                        htmlS += '<div class="select-category-item y-left">';
                        htmlS += '<div class="item-box">';
                        htmlS += '<dl>';
//                            htmlS += '<dt>查询</dt>';
                        htmlS += html;
                        htmlS += '</dl>';
                        htmlS += '</div>';
                        htmlS += '</div>';
                        $('.select-category-box').append(htmlS);
                    }
                }else{
                    $.alert(msg.message)
                }
            }
        });
    }

</script>