<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/css/myseller.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">商品管理</h3>
            <div class="trade-wrapper">
                <div class="wrapper-tab">
                    <ul class="wrapper-tab-box">
                        <li class="first "><a href="/myseller">发布商品</a></li>
                        <li class="active"><a href="/myseller/tradeing">出售中的商品</a></li>
                    </ul>
                </div>
                <div class="trade-box">
                    <table>
                        <tr>
                            <th class="text-center">宝贝</th>
                            <th>分类</th>
                            <th class="text-right">单价（元）</th>
                            <th class="text-center">审核状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="javascript:void(0)">
                                    <img src="../../static/img/zheng.jpg" alt="">
                                    <p>这个是商品的title</p>
                                </a>
                            </td>
                            <td>分类一</td>
                            <td class="text-right">8000</td>
                            <td class="text-center">成功</td>
                            <td>
                                <a href="javascript:void(0)">下架</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="javascript:void(0)">
                                    <img src="../../static/img/zheng.jpg" alt="">
                                    <p>这个是商品的title</p>
                                </a>
                            </td>
                            <td>分类二</td>
                            <td class="text-right">8000</td>
                            <td class="text-center">失败</td>
                            <td>
                                <a href="javascript:void(0)">重新审核</a>
                                <a href="javascript:void(0)">修改</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <%include("/layout/pageaction.html"){} %>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>