<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/1/css/goods.css">
<%};%>

<%
var htmlPart = {
%>
<div class="goods-container">
    <div class="goods-bd y-row">
        <h3 class="menu-title">
            <ul>
                <li class="y-left title-first">所选分类：</li>
                <li class="y-left"><span>></span></li>
                <li class="y-left"><a href="javascript:void(0)">交易中心</a></li>
                <li class="y-left"><span>></span></li>
                <li class="y-left"><a href="javascript:void(0)">数据源</a></li>
                <li class="y-left"><span>></span></li>
                <li class="y-left"><a href="javascript:void(0)">征信大数据接口</a></li>
            </ul>
        </h3>
        <div class="goods-center">
            <div class="detail-center">
                <div class="details-container y-left">
                    <div class="details-top">
                        <div class="imgs-box y-left">
                            <div class="imgs"><img src="../../static/1/img/zheng.jpg" alt=""></div>
                            <ul>
                                <li class="y-left"><span>👁</span>浏览：8293</li>
                                <li class="y-right"><span>❤️</span>关注：584</li>
                            </ul>
                        </div>
                        <div class="infos y-right">
                            <h3 class="title">小区附近周边楼盘价格</h3>
                            <p class="subtitle">小区附近周边楼盘价格精准定位，看房找房一步到手，好房不用等待</p>
                            <div class="info-box">
                                <ul>
                                    <li><label>价格：</label><span class="price">￥5000</span></li>
                                    <li><label>规格：</label>
                                        <div class="spec">
                                            <button>1000次</button>
                                            <button>3000次</button>
                                            <button>5000次</button>
                                        </div>
                                    </li>
                                    <li><label>评分：</label>⭐️⭐️⭐️⭐️⭐️</li>
                                </ul>
                            </div>
                            <div class="btn-box">
                                <div class="number y-left">
                                    <label>数量：</label><span>-</span><input type="text" value="1"><span>+</span>
                                </div>
                                <a href="/1/pay/cash" class="btn custom-btn y-right">个性定制</a>
                                <a href="/1/pay/cash" class="btn buy-btn y-right">立即购买</a>
                            </div>
                        </div>
                    </div>
                    <div class="details-bottom">
                        <div class="table-title">
                            <ul>
                                <li class="y-left active">API详情</li>
                                <li class="y-left">详情介绍</li>
                                <li class="y-left">返回参数</li>
                                <li class="y-left">评价</li>
                            </ul>
                        </div>
                        <div class="table-content">
                            <div class="table-item active">
                                <h1>小区周楼盘房价</h1>
                                <h3>标示信息</h3>
                                <ul>
                                    <li><label>接口地址：</label>http://open.galaxybigdata.com/api/gbd/200/6/communityAroundRealEstatePrices
                                    </li>
                                    <li><label>请求示例：</label>http://open.galaxybigdata.com/api/gbd/200/6/communityAroundRealEstatePrices?/apptoken=edb772385&
                                    </li>
                                    <li><label>接口描述：</label>可在全国选定任一小区（楼盘）名称或百度坐标点，然后根据房产用途（住宅、商铺、办公）、距离范围（1000米），查询周边小区（楼
                                        盘）特征信息和当前房价情况。 查询结果包括：周边小区（楼盘）名称、经度、纬度、行政区名称、道路、方位、距离、用途、建筑类型、价格。
                                        查询范围覆盖全国366个城市，基本上有商品房交易的地区都可以查询。
                                    </li>
                                </ul>
                                <h3>请求参数</h3>
                                <div class="table-box">
                                    <table>
                                        <tr>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>必填</th>
                                            <th>示例值</th>
                                            <th>描述</th>
                                        </tr>
                                        <tr>
                                            <td>appkey</td>
                                            <td>String</td>
                                            <td>是</td>
                                            <td></td>
                                            <td>你申请的appkey</td>
                                        </tr>
                                        <tr>
                                            <td>keyword</td>
                                            <td>String</td>
                                            <td>否</td>
                                            <td></td>
                                            <td>关键字（模糊匹配标题）</td>
                                        </tr>
                                        <tr>
                                            <td>place</td>
                                            <td>String</td>
                                            <td>是</td>
                                            <td>山东</td>
                                            <td>省/市</td>
                                        </tr>
                                        <tr>
                                            <td>doc_type</td>
                                            <td>String</td>
                                            <td>否</td>
                                            <td>中标广告</td>
                                            <td>类型</td>
                                        </tr>
                                        <tr>
                                            <td>appkey</td>
                                            <td>String</td>
                                            <td>是</td>
                                            <td></td>
                                            <td>你申请的appkey</td>
                                        </tr>
                                        <tr>
                                            <td>keyword</td>
                                            <td>String</td>
                                            <td>否</td>
                                            <td></td>
                                            <td>关键字（模糊匹配标题）</td>
                                        </tr>
                                        <tr>
                                            <td>place</td>
                                            <td>String</td>
                                            <td>是</td>
                                            <td>山东</td>
                                            <td>省/市</td>
                                        </tr>
                                        <tr>
                                            <td>doc_type</td>
                                            <td>String</td>
                                            <td>否</td>
                                            <td>中标广告</td>
                                            <td>类型</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="table-item">
                                <h3>借口详解</h3>
                                <p>中国各省市招投标信息查询，数据来源于中国招标网，助您了解最新、最全、最可靠的招标信息！</p>
                                <p>
                                    本商品里的“招标投标活动“”遵循公开、公平、公正和诚实信用的原则，在货物、工程和服务的采购行为中，招标人可以通过本接口了解事先公布的采购和要求，按照同等条件进行平等竞争，按照规定程序并组织技术、经济和法律等方面专家对众多的投标人进行综合评审，从中择优选定项目的中标人的行为过程。其实质是以较低的价格获得最优的货物、工程和服务。</p>
                                <ul>
                                    <li><label>覆盖范围：</label>全国</li>
                                    <li><label>数据量：</label>数百万条</li>
                                    <li><label>更新频率：</label>每天</li>
                                    <li><label>应用场景：</label>可应用于企业进行招投标参考工具、帮助用户了解市场相关讯息、政府部门的决策风向、快速定位所需查找的招投标信息</li>
                                </ul>
                            </div>
                            <div class="table-item">
                                <h3>返回参数</h3>
                                <div class="table-box">
                                    <table>
                                        <tr>
                                            <th>错误码</th>
                                            <th>说明</th>
                                        </tr>
                                        <tr>
                                            <td>10000</td>
                                            <td>查询成功</td>
                                        </tr>
                                        <tr>
                                            <td>10001</td>
                                            <td>错误的请求appkey</td>
                                        </tr>
                                        <tr>
                                            <td>10002</td>
                                            <td>调用的服务商借口异常，请联系管理员</td>
                                        </tr>
                                        <tr>
                                            <td>10003</td>
                                            <td>不存在想用的数据信息</td>
                                        </tr>
                                        <tr>
                                            <td>10004</td>
                                            <td>URL上appkey参数不能为空</td>
                                        </tr>
                                        <tr>
                                            <td>10010</td>
                                            <td>接口需要付费，请充值</td>
                                        </tr>
                                        <tr>
                                            <td>10020</td>
                                            <td>系统繁忙，请稍后再试</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="table-item">
                                <h1>最新评论</h1>
                                <ol>
                                    <li>
                                        <div class="comment-title">
                                            <span class="name">wu******dy</span><span
                                                class="date">2017年03月13日 17:12:28</span><a
                                                href="javascript:void(0)">回复</a>
                                        </div>
                                        <div class="comment-content">借口不错，速度很快</div>
                                    </li>
                                    <li>
                                        <div class="comment-title">
                                            <span class="name">wu******dy</span><span
                                                class="date">2017年03月13日 17:12:28</span><a
                                                href="javascript:void(0)">回复</a>
                                        </div>
                                        <div class="comment-content">借口不错，速度很快</div>
                                    </li>
                                    <li>
                                        <div class="comment-title">
                                            <span class="name">wu******dy</span><span
                                                class="date">2017年03月13日 17:12:28</span><a
                                                href="javascript:void(0)">回复</a>
                                        </div>
                                        <div class="comment-content">借口不错，速度很快</div>
                                    </li>
                                    <li>
                                        <div class="comment-title">
                                            <span class="name">wu******dy</span><span
                                                class="date">2017年03月13日 17:12:28</span><a
                                                href="javascript:void(0)">回复</a>
                                        </div>
                                        <div class="comment-content">借口不错，速度很快</div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recommend-container y-right">
                    <div class="recommend-data">
                        <h3>推荐数据</h3>
                        <ul>
                            <li>
                                <div class="imgs y-left"><img src="../../static/1/img/zheng.jpg" alt=""></div>
                                <div class="infos y-right">
                                    <a href="javascript:void(0)">身份实名认证信息</a>
                                    <p>￥100/次</p>
                                </div>
                            </li>
                            <li>
                                <div class="imgs y-left"><img src="../../static/1/img/zheng.jpg" alt=""></div>
                                <div class="infos y-right">
                                    <a href="javascript:void(0)">身份实名认证信息</a>
                                    <p>￥100/次</p>
                                </div>
                            </li>
                            <li>
                                <div class="imgs y-left"><img src="../../static/1/img/zheng.jpg" alt=""></div>
                                <div class="infos y-right">
                                    <a href="javascript:void(0)">身份实名认证信息</a>
                                    <p>￥100/次</p>
                                </div>
                            </li>
                            <li>
                                <div class="imgs y-left"><img src="../../static/1/img/zheng.jpg" alt=""></div>
                                <div class="infos y-right">
                                    <a href="javascript:void(0)">身份实名认证信息</a>
                                    <p>￥100/次</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3 class="activity-recommend-title">活动推荐<span>/Activity</span></h3>
                    <div class="activity-recommend-box">
                        <div class="item">
                            <a href="javascript:void(0)"><img src="../../static/1/img/44c33.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)"><img src="../../static/1/img/44c33.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".table-title li").click(function () {
        $(this).addClass("active").siblings().removeClass('active');
        $(".table-content .table-item").eq($(".table-title li").index(this)).addClass("active").siblings().removeClass('active');
    });
</script>
<%};
include("/1/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>