a{
    transition:none;
}
.pay-success{
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    min-height: 500px;
}
.pay-success .pay-success-box{
    margin: 20px;
    background-color: #F5F5F5;
    padding: 20px;
}
.pay-success-box .success-money{
    height: 32px;
    padding-left: 125px;
    line-height: 28px;
    font-weight: 700;
    font-size: 18px;
    background: url(//gtd.alicdn.com/tps/i4/T1CRqLXdhfXXXXXXXX-32-140.png) no-repeat 87px 0;
}
.pay-success-box .success-money .money{
    font-style: normal;
    font-weight: 400;
    margin: 0 5px;
    font-family: tahoma;
}
.pay-success-box .bought-baby-list{
    height: 32px;
    color: #3366CC;
    padding-left: 140px;

}
.pay-success-box .bought-baby-list:hover{
    text-decoration: underline;
    color:#e34f4f ;

}

.pay-success-box .error{
    border-radius: 50%;
    color: #ffffff;
    background-color: #D74548;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
}
.pay-success-box .pay-btn{
    display: inline-block;
    width: 86px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    margin-top: 31px;
    margin-left: 34px;
}
