<style>
  .control-label {
    width: 80px;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>公告查询</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 刷新
        </button>
        <a ui-sref="sysnotice.add" class="btn btn-primary">新增</a>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-12">
        <div class="searchSection">
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label">公告标题</label>
              <input ng-model="noticeTitle" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" data-ng-click="search()">搜索</button>
          </form>
        </div>
        <div class="gridSection">
          <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <thead>
            <tr>
              <th>公告标题</th>
              <th>公告内容</th>
              <th>公告时间</th>
              <th width="130" class="text-center">操作</th>
            </tr>

            </thead>
            <tbody>
            <tr data-ng-if="!loadingState" data-ng-repeat="item in pagination.store" class="">
              <td>
                <span text-length="50" ng-bind="item.noticeTitle"></span>
              </td>
              <td>
                <span text-length="50" ng-bind="item.noticeContent"></span>
              </td>
              <td>
                <span text-length="50" ng-bind="item.addTime"></span>
              </td>
              <td class="text-right">
                <a ui-sref="sysnotice.edit" ng-click="load($event,item)">修改</a>
                <span class="text-explode">|</span>
                <i class="link-space"></i>
                <a href="javascript:;" ng-click="delete($event,item)">删除</a>
              </td>
            </tr>
            </tbody>
            <tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
            <tr>
              <td colspan="9">
                <div class="pull-right page-box">
                  <div class="pagination-info">共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条</div>
                  <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                      ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                      max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                      force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                      last-text="末页">
                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="simple-grid-none-data-wrap">
          <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
            <div class="row-padding row-margin text-center">
              <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
              <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>