.trade-box{

}
.trade-box table {
    width: 100%;
}
.trade-box table tr {
    border: 1px solid #e5e5e5;
}
.trade-box table th {
    background: #f5f6fa;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.trade-box table td {
    padding:0 10px;
}
.trade-box table td a{
    display: block;
    padding:10px;
    text-align:center;
    max-width: 200px;
    margin: 0 auto;
}
.trade-box .text-right {
    text-align: right;
}
.trade-box .text-center {
    text-align: center;
}
.trade-box table td a img{
    width:70px;
}
.trade-box table td a p{

}
