.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
    font-size: 0;
    zoom: 1;
}
.category-label{
    height:50px;
    padding-left:130px;
    position: relative;
    margin-left: 200px;
}
.category-label label{
    position: absolute;
    left:0;
    top:0;
    font-size: 14px;
    width:130px;
    text-align: right;
    line-height: 32px;
}
.category-label input{
    width: 300px;
    height: 30px;
    border: 1px solid #666;
    padding: 0 5px;
}
.category-label button{
    width: 50px;
    margin-left: -50px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}
.category-label select{
    width: 312px;
    height: 32px;
}
.select-category-box{
    padding:10px;
    background: #f5f6fa;
    border: 1px solid #ccc;
    overflow: hidden;
}
.select-category-box .select-category-item{
    padding:10px;
    background: #fff;
    border: 1px solid #e5e5e5;
    width: 200px;

    position: relative;
}
.select-category-box .select-category-item .item-box{
    height:300px;
    overflow: auto;
}
.select-category-item .item-box dl{
    border-bottom:1px dotted #ccc;
    padding:10px 0;
}
.select-category-item .item-box dl:last-child{
    border:none;
}
.select-category-item .item-box dt{
    color: #00c1de;
    font-weight: 800;
}
.select-category-item .item-box dd{
    cursor: pointer;
    padding: 5px 0 5px 5px;
}
.select-category-item .item-box dd.active{
    color:#00a2ca;
}
.select-category-item .item-box dd:hover{
    background: #f1f1f1;
}
.select-category-box .select-category-item .search-item{
    width:100%;
    position: relative;
}
.select-category-box .select-category-item .search-item span{
    position: absolute;
    font-size: 15px;
    left: 4px;
    top: 3px
}
.select-category-box .select-category-item .search-item input{
    width: 100%;
    height: 24px;
    padding-left: 20px;
    box-sizing: border-box;
}
.cate-path{
    color: #444;
    padding-top: 9px;
    position: relative;
    line-height: 22px;
    height: 54px;
}
.cate-path .clearfix{
    background-color: #FFFAF2;
    border: 1px solid #FEDBAB;
    padding: 4px 27px;
}
.cate-path .clearfix label{
    font-size: 14px;
    font-weight: 800;
}
.cate-path .arrow{
    left: 43px;
    top: 3px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fedbab;
}
.pulish-btn {
    text-align: center;
}
.pulish-btn button{
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    border: none;
}