.info-center-box{
    background-color: transparent !important;
    width: 1010px !important;
    padding: 0 !important;
}

.settlementRecord-top{
   margin-bottom: 10px;
   padding: 0px 14px 30px;
   background-color: #ffffff;
}
.settlementRecord-top .query-condition{
   margin-top: 27px;
}
.settlementRecord-top .query-condition li{
    height: 30px;
    margin-bottom: 20px;
}
.settlementRecord-top .query-condition li label{
    display: inline-block;
    width: 65px;
    font-size: 14px;
    color: #666666;
    text-align: right;
    height: 100%;
    margin-right: 10px;
}
.settlementRecord-top .query-condition li div{
    display: inline-block;
    height: 100%;
}
.settlementRecord-top .query-condition li input{
    width: 136px;
    height: calc(100% - 4px);
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.settlementRecord-top .query-condition li .text{
    margin: 0 12px;
    color:#666666 ;
}
.settlementRecord-top .query-condition li .btn-box {
    font-size: 0;
}
.settlementRecord-top .query-condition li .btn-box a:first-child{
    border-left: 1px solid #CCCCCC;
    border-radius: 3px 0px 0px 3px;
}
.settlementRecord-top .query-condition li .btn-box a:last-child{
    border-radius: 0px 3px 3px 0px;
}
.settlementRecord-top .query-condition li .btn-box a{
    display: inline-block;
    width: 104px;
    height: 28px;
    color: #333333;
    font-size: 14px;
    text-align: center;
    line-height:30px;
    border: 1px solid #CCCCCC;
    border-left:none;
}
.settlementRecord-top .query-condition li .btn-box a.active{
    color: #ffffff;
    background:#4490F6;
}
.settlementRecord-top .query-condition li .select-month{
    margin-left: 22px;
}
.settlementRecord-top .query-condition li .select-month a{
   display: inline-block;
    text-align: center;
   width: 50px;
}
.settlementRecord-top .query-condition li .select-month a:first-child{
   border-right: 1px solid #CCCCCC;
}
.settlementRecord-top .query-condition li .select-month a.active{
    color: #4490f6;
}
.settlementRecord-top .query-condition li .search-btn{
   margin-left: 36px;
   width: 73px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   color: #ffffff;
   display: inline-block;
    border-radius: 3px;
   background-color: #F17D17;
    
}


.settlementRecord-down{
    padding: 14px;
    background-color: #ffffff;
}
.settlementRecord-down table{
    width: 100%;
}
.settlementRecord-down table tr{
    height: 39px;
    border: 1px solid #E5E5E5;
}
.settlementRecord-down tr:hover{
    background: #D7E8FA;
}
.settlementRecord-down table tr th{
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 39px;
    background-color: #F4F4F4;
}
.settlementRecord-down table tr td{
    text-align: center;
}
