<%
var head = {
%>
<link rel="stylesheet" href="/static/css/crowdsourcing/crowdsourcing-list.css">

<%};%>
<%
var htmlPart = {
%>
<script type="text/javascript">
  $.getUrlParam = function (key) {
    var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
    var result = window.location.search.substr(1).match(reg);
    return result ? decodeURIComponent(result[2]) : null;
  };
  var catId = $.getUrlParam('catId');
  var prId = $.getUrlParam('prId');
  var prNm = $.getUrlParam('prNm');
  var msId = $.getUrlParam('msId');
  var msNm = $.getUrlParam('msNm');
  var names = $.getUrlParam('names');
  var pagePath = '/require/getRequirementList';
  var pageType = 'get';
  var dataParm = {};
  dataParm.pageNumber = 1;
  dataParm.pageSize = 6;
  dataParm.type =  GetUrlValue('typeId');
  dataParm.status = '';
  dataParm.timeType = '';
  dataParm.order = 'apply_deadline';
  dataParm.sort = 'desc';
</script>
<script src="/static/js/crowdsourcing/crowdsourcing-list.js"></script>

<div class="grid-0 exchange-list padding-bottom-20 ">
  <div class="bannerBox">
    <div class="grid-row bdg-row" style="position: relative">
      <!--菜单-->
      <%include("/layout/menu.html"){} %>
    </div>
    <div class="grid-row banner">
      <a href="/usercenter/crowdsourcingRelease" class="bannerDemandApply"></a>
      <a href="/usercenter/authentication" class="bannerServerApply">我有能力承接任务，点击此处，成为服务商</a>
    </div>
  </div>
  <div class="grid-row ">
    <div class="crumbs">我的位置：<a href="/crowdsourcing">需求发现平台</a> - <a href="javascript:void(0)">需求大厅</a></div>
    <div class="listFilter">
      <ul class="crowdsourcing-menu bgc-fff">
        <li>
          <span>
          需求类型：
          </span>
          <ul class="j_searchLi" id="type" value="">
            <li value="" class="active">全部</li>
            <li value="1">数据采集</li>
            <li value="2">数据清洗</li>
            <li value="3">数据分析</li>
            <li value="4">数据模型</li>
            <li value="5">数据应用</li>
            <li value="6">其他类型</li>
          </ul>
        </li>
        <li>
           <span>
          发布时间：
          </span>
          <ul class="j_searchLi" id="timeType" value="">
            <li value="" class="active">全部</li>
            <li value="day">一天</li>
            <li value="week">一周以内</li>
            <li value="month">一月以内</li>
            <li value="gtmonth">一月以上</li>
          </ul>
        </li>
        <li>
          <span>
          状态：
          </span>
          <ul class="j_searchLi" id="status" value="">
            <li value="" class="active">全部</li>
            <li value="5">报名中</li>
            <li value="6">报名结束</li>
          </ul>

        </li>

      </ul>
    </div>
      <ul class="demandList">
        <li>
          <div class="demandDetailTitle">测试数据002</div>
          <img class="demandTimeIco" src="/static/images/crowdsourcing/index/demandDetail-ico.png" alt="">
          <div class="demandDeadData">交付截止日期：2017-09-27 11:31:14</div>
          <div class="demandLastTime">报名剩余时间：2天2小时28分</div>
          <div class="demandMoney">￥999元  </div>
          <div class="demandHasApply">已报名：0人</div>
          <a class="applyBtn demandApply timeOver" href="6">报名结束</a>
        </li>
      </ul>

    <%include("/layout/pageaction.html"){} %>

  </div>
</div>

<script>
  var reqTypeId = GetUrlValue('typeId');
  $('#type li').removeClass('active').eq(reqTypeId).addClass('active');

</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>

