<%
var head = {
%>
<link rel="stylesheet" href="/static/css/crowdsourcing/index.css">

<%};%>
<%
var htmlPart = {
%>
<script type="text/javascript">
  $.getUrlParam = function (key) {
    var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
    var result = window.location.search.substr(1).match(reg);
    return result ? decodeURIComponent(result[2]) : null;
  };
  var catId = $.getUrlParam('catId');
  var prId = $.getUrlParam('prId');
  var prNm = $.getUrlParam('prNm');
  var msId = $.getUrlParam('msId');
  var msNm = $.getUrlParam('msNm');
  var names = $.getUrlParam('names');
  var pagePath = '/require/getRequirementList';
  var pageType = 'get';
  var dataParm = {};
  dataParm.pageNumber = 1;
  dataParm.pageSize = 10;
  dataParm.type = '';
  dataParm.status = '';
  dataParm.timeType = '';
  dataParm.order = 'apply_deadline';
  dataParm.sort = 'desc';
</script>

<div class="bannerBox">
  <div class="grid-row bdg-row" style="position: relative">
    <!--菜单-->
    <%include("/layout/menu.html"){} %>
  </div>
  <div class="grid-row banner">
    <a href="/usercenter/crowdsourcingRelease" class="banner-btn active">发布需求</a>
    <a href="/crowdsourcing-list" class="banner-btn">接任务</a>
  </div>
</div>

<div class="grid-0 exchange-list advantagesBox">
  <div class="grid-row ">
    <ul class="advantagesUl">
      <li>
        <div class="advantagesBgBox">
          <div class="advantageTitle">发布需求</div>
          <div class="advantageContent">您只需要注册登录平台，认证成为实名用户，发布您的需求。</div>
        </div>
        <span class="advantageImg"><img src="/static/images/crowdsourcing/index/advantages01.png" alt=""></span>
      </li>
      <li>
        <div class="advantagesBgBox">
          <div class="advantageTitle">定制化众包方案</div>
          <div class="advantageContent">我们将根据您的需求，定制化数据众包解决方案，并从众多的服务商中层层筛选。</div>
        </div>
        <span class="advantageImg"><img src="/static/images/crowdsourcing/index/advantages02.png" alt=""></span>
      </li>
      <li>
        <div class="advantagesBgBox">
          <div class="advantageTitle">全程的审核监控</div>
          <div class="advantageContent">平台为您提供专业的数据服务和全程的审核监控。</div>
        </div>
        <span class="advantageImg"><img src="/static/images/crowdsourcing/index/advantages03.png" alt=""></span>
      </li>
      <li>
        <div class="advantagesBgBox">
          <div class="advantageTitle">验收交付</div>
          <div class="advantageContent">按照您的需求，交付高质量的任务成果，您可验收通过或退回修改。</div>
        </div>
        <span class="advantageImg"><img src="/static/images/crowdsourcing/index/advantages04.png" alt=""></span>
      </li>
    </ul>
  </div>
</div>

<div class="grid-0 exchange-list bgc-f5f6f8 toBeServiceBox">
  <div class="grid-row ">
    <div class="toBeService">
      <div class="toBeServiceTopBox">
        <div class="toBeServiceTopBoxLeft">
          <dl class="toBeServiceUl">
            <dt><img src="/static/images/crowdsourcing/index/tobeservice01.png" alt=""></dt>
            <dd>


              <div class="toBeServiceTitle">成为服务商
              <%if(user==null){%>
                 <a href="/usercenter/index">点击这里</a>
              <%}else{%>
                <%if(user.userType == 2){%>
                  <a href="/usercenter/pspAuthentication ">点击这里</a>
                  <%}else if(user.userType == 4){%>
                  <a href="/usercenter/epAuthentication">点击这里</a>
                  <%}%>
                <%}%>
              </div>

              <div class="toBeServiceContent">如您具备相关技能与专业知识，可成为服务商为需求方提供数据采集、数据加工、数据分析、数据模型、数据应用等服务获得报酬。</div>
            </dd>
          </dl>
        </div>
        <div class="toBeServiceTopBoxRight">
          <dl class="toBeServiceUl">
            <dt><img src="/static/images/crowdsourcing/index/tobeservice02.png" alt=""></dt>
            <dd>
              <div class="toBeServiceTitle">数据众包交易须知 </div>
              <ul class="toBeServiceNotice">
                <li><span>1</span><a href="http://cms.bdgstore.cn/fblcygf/index.jhtml" target="_blank">发包流程与规范</a></li>
                <li><span>2</span><a href="http://cms.bdgstore.cn/jblcyxz/index.jhtml" target="_blank">接包流程与须知</a></li>
                <li><span>3</span><a href="http://cms.bdgstore.cn/wgxwcl/index.jhtml" target="_blank">违规行为处理</a></li>
                <li><span>4</span><a href="http://cms.bdgstore.cn/jyjfcllc/index.jhtml" target="_blank">交易纠纷处理流程</a></li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
      <div class="toBeServiceBottomBox">
        <div class="toBeServiceBottomBoxLeft">
          <img src="/static/images/crowdsourcing/index/tobeservice03.png" alt="">
          <span>推荐任务</span>
        </div>
        <ul class="toBeServiceBottomBoxRight">
         <!--
          <li>
            <div class="toBeServiceDemandName">资源目录管理平台</div>
            <div class="toBeServiceDeadData">交付截止日期：2017-07-15</div>
            <div class="toBeServiceLastTime">报名剩余时间：2天12小时37分钟</div>
            <div class="toBeServiceMoney">￥2000.00元  </div>
            <div class="toBeServiceHasApply">已报名：10人</div>
            <a class="applyBtn toBeServiceApply" href="#">我要报名</a>
          </li>-->
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="grid-0 exchange-list  demandList">
  <div class="grid-row ">
    <div class="missionTitle">
      <div>众包任务</div>
      <span>从任务的地址管理到参与众包任务威客的选择，到数据采集的过程， <br>到数据质量的检查，反馈，项目整体的进展的跟踪，到结果的展示等，平台都能够全流程的管理。</span>
    </div>
    <div class="demandListBox">
      <img class="demandListImg" src="/static/images/crowdsourcing/index/demandList-img01.png" alt="">
      <div class="demandTypeTitle"><span>更快更准确</span><a href="/crowdsourcing-list?typeId=1">查看更多</a></div>

      <ul class="demandDetail j_dataCollection">
<!--        <li>
          <div class="demandDetailShow">
            <div class="demandDetailTitle">九次方大数据溯源平台</div>
            <img class="demandTimeIco" src="/static/images/crowdsourcing/index/demandDetail-ico.png" alt="">
            <div class="demandDeadData">交付截止日期：2017-07-15</div>
            <div class="demandLastTime">报名剩余时间：22天12小时37分钟</div>
            <div class="demandMoney">￥2000.00元  </div>
            <div class="demandHasApply">已报名：10人</div>
          </div>
          <div class="demandDetailHide ">
            <div class="demandDetailCon">
              测绘与地理信息技术普遍应用于工程勘测、设计、施工、环境监测等各个行业，市场上有许...
            </div>
            <a class="applyBtn demandApply" href="#">我要报名</a>
          </div>
        </li>
-->

      </ul>
    </div>
    <div class="demandListBox">
      <img class="demandListImg" src="/static/images/crowdsourcing/index/demandList-img02.png" alt="">
      <div class="demandTypeTitle"><span>高效高品质</span><a href="/crowdsourcing-list?typeId=2">查看更多</a></div>
      <ul class="demandDetail j_dataProcess"> </ul>
    </div>

    <ul class="develop-ul clearfix">
      <!--数据分析-->
      <li>
        <div class="ch-info-wrap">
          <div class="ch-info">
            <div class="develop-div develop-div1">
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=3">查看更多</a>
            </div>
            <div class="develop-div develop-div2 develop-3d">
              <div class="demandTitle">热门任务 <br> 火热进行中</div>
              <div class="demandAnimateDetail j_dataCleansing">
                <div class="toBeServiceDemandName">公共信用信息平台</div>
                <div class="toBeServiceDeadData">交付截止日期：2017-07-15</div>
                <div class="toBeServiceLastTime">报名剩余时间：2天12小时37分钟</div>
                <div class="toBeServiceMoney">￥2000.00元  </div>
                <div class="toBeServiceHasApply">已报名：10人</div>
                <a class="applyBtn toBeServiceApply" href="#">我要报名</a>
              </div>
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=3">查看更多</a>
            </div>
          </div>
        </div>
      </li>
      <!--数据模型-->
      <li>
        <div class="ch-info-wrap">
          <div class="ch-info">
            <div class="develop-div develop-div3">
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=4">查看更多</a>
            </div>
            <div class="develop-div develop-div4 develop-3d">
              <div class="demandTitle">热门任务 <br> 火热进行中</div>
              <div class="demandAnimateDetail j_dataModel">
                <div class="toBeServiceDemandName">公共信用信息平台</div>
                <div class="toBeServiceDeadData">交付截止日期：2017-07-15</div>
                <div class="toBeServiceLastTime">报名剩余时间：2天12小时37分钟</div>
                <div class="toBeServiceMoney">￥2000.00元  </div>
                <div class="toBeServiceHasApply">已报名：10人</div>
                <a class="applyBtn toBeServiceApply" href="#">我要报名</a>
              </div>
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=4">查看更多</a>
            </div>
          </div>
        </div>
      </li>
      <!--数据应用-->
      <li>
        <div class="ch-info-wrap">
          <div class="ch-info">
            <div class="develop-div develop-div5">
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=4">查看更多</a>
            </div>
            <div class="develop-div develop-div6 develop-3d">
              <div class="demandTitle">热门任务 <br> 火热进行中</div>
              <div class="demandAnimateDetail j_datApplication">
                <div class="toBeServiceDemandName">公共信用信息平台</div>
                <div class="toBeServiceDeadData">交付截止日期：2017-07-15</div>
                <div class="toBeServiceLastTime">报名剩余时间：2天12小时37分钟</div>
                <div class="toBeServiceMoney">￥2000.00元  </div>
                <div class="toBeServiceHasApply">已报名：10人</div>
                <a class="applyBtn toBeServiceApply" href="#">我要报名</a>
              </div>
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=4">查看更多</a>
            </div>
          </div>
        </div>
      </li>
      <!--其他类型-->
      <li class="li2">
        <div class="ch-info-wrap">
          <div class="ch-info">
            <div class="develop-div develop-div7">
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=6">查看更多</a>
            </div>
            <div class="develop-div develop-div8 develop-3d">
              <div class="demandTitle">热门任务 <br> 火热进行中</div>
              <div class="demandAnimateDetail j_otherData">
                <div class="toBeServiceDemandName">公共信用信息平台</div>
                <div class="toBeServiceDeadData">交付截止日期：2017-07-15</div>
                <div class="toBeServiceLastTime">报名剩余时间：2天12小时37分钟</div>
                <div class="toBeServiceMoney">￥2000.00元  </div>
                <div class="toBeServiceHasApply">已报名：10人</div>
                <a class="applyBtn toBeServiceApply" href="#">我要报名</a>
              </div>
              <a class="firstPageATag" href="/crowdsourcing-list?typeId=6">查看更多</a>
            </div>
          </div>
        </div>
      </li>

    </ul>
   </div>
</div>


<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script src="/static/js/crowdsourcing/index.js"></script>

