<ul class="innovation-menu y-left">
    <li><a href="/1/innovation/data_crowdsourcing">数据众包</a></li>
    <li><a href="/1/innovation/incubator">孵化器</a></li>
    <li><a href="/1/innovation/base_development_platform">基础开发平台</a></li>
    <li><a href="/1/innovation/equity">股权众筹</a></li>
    <li><a href="/1/innovation/good_team">优秀团队</a></li>
    <li><a href="/1/innovation/bigdata_industry">大数据产业基金</a></li>
    <li><a href="/1/innovation/activity">活动</a></li>
    <li><a href="/1/innovation/guest_competition">创客大赛</a></li>
</ul>
<script type="text/javascript">
    var urlPathss = window.location.pathname;
    $('.innovation-menu li').each(function(){
        if($(this).children('a').attr('href') == urlPathss){
            $(this).children('a').addClass('active')
        }
    })
</script>