<h3>北京大数据产业投资基金在京成立</h3>
<p>12月22日，京津冀大数据综合试验区建设启动大会在亦创国际会展中心举行。北京大数据产业投资基金发布及签约仪式因其助推“京津冀地区大数据产业链整合发展”而备受瞩目。</p>
<p>北京大数据产业投资基金是由市发展改革委发起，由北京国富大数据资本管理中心联合海淀区政府引导基金、相关行业上市公司及金融机构等共同设立的市场化产业投资基金，首期计划募集100亿元人民币。目前基金也得到天津市、河北省相关部门和企业的积极响应，将进一步扩展为京津冀大数据产业协同发展投资基金。</p>
<p>基金将通过支持大数据及相关领域的上市公司并购、股权投资等方式，重点支持大数据交易平台，传感器及存储芯片，数据资源、技术及行业应用等领域，助推京津冀地区大数据产业链整合发展。同时基金还将与产业资本、金融机构等进行项目协同投资，预计可带动社会投资总规模达300-400亿元。</p>
<p>京津冀大数据产业协同发展投资基金的愿景是将基金作为资源整合平台，充分发挥政府和市场两种手段，积极探索大数据应用新模式。在社会治理层面，加快推动政府数据开放共享，企业数据市场应用，通过对各属性大数据的深入整合与运用，逐步建立理性监管，人性政府，弹性城市，推进政府的治理能力现代化。在产业发展层面，积极引进国内外高端要素，整合中央和地方资源，在人才、技术、项目和资本层面对大数据产业形成有力支撑，同时积极响应国家京津冀一体化战略，在三地进行梯次布局，形成协同效应，强化京津冀在全国大数据产业领域的领跑作用和战略地位。</p>
<p>基金将依托京津冀数据产业基础和创新集聚优势，积极响应京津冀协同发展战略和国家大数据战略，通过市场化、专业化的运作机制，推动以政府数据开发交易为引领，以大数据技术研发和创新创业的区域性集聚为特色，以大数据重点企业做大做强和技术型、行业应用型中小企业梯次发展齐头并进为亮点的大数据产业发展格局，助力京津冀地区成为全球大数据产业创新高地。</p>
<p>基金将遵循资源整合、开放规范和市场化运作的原则运营，在规模上既充分考虑对创新企业支持、又确保重点企业支持力度；在管理上既突出政府对产业的引导作用、又尊重市场化团队的独立决策；在风险控制上突出政府参股和社会资本推动的产业投资基金对风险控制的更高更严格的要求。</p>
