<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/findPwd.css">

<%};%>
<%
var htmlPart = {
%>
<div class="findPwd">
    <div class="find">找回密码</div>
    <ol class="ui-step ui-step-3">
        <li class="ui-step-start ui-step-done ui-step-active">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="ui-step-number">1</i>
                <span class="ui-step-text"> 填写账户名 </span>
            </div>
        </li>
        <li class="">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="ui-step-number">2</i>
                <span class="ui-step-text">验证身份</span>
            </div>
        </li>
        <li class="">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="ui-step-number">3</i>
                <span class="ui-step-text">设置新密码</span>
            </div>
        </li>
        <li class="ui-step-end">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="iconfont ui-step-number"></i>
                <span class="ui-step-text"> 完成 </span>
            </div>
        </li>
    </ol>
    <div class="info">
        <label >用户名:
            <input type="text" id="username" placeholder="请输入用户名/手机号" autocomplete="off">
        </label>
        <p class="err2" style="display: none">用户名不存在,请重新输入</p>
    </div>
    <div class="item">
        <label>验证码:
            <input type="text" class="text">
            <img class="img" src="${host.auth}/captcha" alt="" > <span class="change">看不清? &nbsp<label href="" class="img">换一张</label></span>
        </label>
        <p class="error" style="display: none">图片验证码验证未通过,请重新输入</p>
    </div>

    <div class="sub" >提交</div>
</div>
<%};
include("layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script>
    $(function(){
        $(".img").on("click",function(){
            $(".img").attr("src","${host.auth}/captcha?"+Math.random())
        });
        $('#username').on('focus',function () {
			$(".err2").hide();
		});
		$('#username').on('blur',function () {
//			if($(this).val().length < 6){
//				$(".err2").show().html('用户名不符合要求');
//            }
		});
		$(".text").on('focus',function () {
			$(".error").hide();
		});
//        $(".text").on("blur",check);
        function check(){
            $.ajax({
                url:"${host.auth}/captcha_check",
                type:"post",
                cache:false,
                data:{
                    text:$(".text").val()
                },
                success:function(data){
                    if(data.code==1){
                        if(data.data == 0){
							$(".error").show().html('图片验证码验证未通过,请重新输入');
                        }else if(data.data == 1){
							getUsername();
                        }else{
                            $.alert({
                                content:data.message
                            });
                        }
                    }else{
                        $.alert({
                            content:data.message
                        });
                    }
                }
            })
        }

        $(".sub").on("click",function(){
            if($("#username").val()==""){
				$(".err2").show().html('请输入用户名！');
                return;
            }else if($("#username").val().length < 6){
				$(".err2").show().html('用户名不符合要求');
				return;
            }else{
				if($(".text").val() == ''){
					$(".error").show().html('请输入验证码！');
					return;
				}else if($(".text").val().length != 4){
					$(".error").show().html('验证码为4位');
					return;
				}else{
                    console.log(1);
                    check();
                }
            }
        })
    })
    function getUsername(){
		$.ajax({
			url:"${host.auth}/findPwd",
			type:"post",
			data:{
				step:1,
				userName:$("#username").val(),
				captcha:$(".text").val()
			},
			success:function(data){
				if(data.code==1){
					window.location.href="/findPwd?step=2&userId="+data.data;
				}else if(data.code == 9){
					$(".err2").show().html('用户名不存在,请重新输入');
				}else{
                    $.alert({
                        content:data.message
                    });
				}
			}
		})
    }
</script>