<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/findPwd.css">

<%};%>
<%
var htmlPart = {
%>
<div class="findPwd">
    <div class="find">找回密码</div>
    <ol class="ui-step ui-step-3">
        <li class="ui-step-start ui-step-done ui-step-active">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="ui-step-number">1</i>
                <span class="ui-step-text"> 填写账户名 </span>
            </div>
        </li>
        <li class="">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="ui-step-number">2</i>
                <span class="ui-step-text">验证身份</span>
            </div>
        </li>
        <li class="">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="ui-step-number">3</i>
                <span class="ui-step-text">设置新密码</span>
            </div>
        </li>
        <li class="ui-step-end">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont">y</i>
                <i class="iconfont ui-step-number"></i>
                <span class="ui-step-text"> 完成 </span>
            </div>
        </li>
    </ol>
    <div class="info">
        <label >用户名:
            <input type="text" id="username" placeholder="请输入用户名/手机号/邮箱">
        </label>
        <p class="err1" style="display: none">请输入用户名/手机号/邮箱</p>
    </div>
    <div class="item">
        <label>验证码:
            <input type="text" class="text">
            <img class="img" src="http://auth.hookah.app/captcha" alt="" > <span class="change">看不清? &nbsp<label href="" class="img">换一张</label></span>
        </label>
    </div>
    <!--<p class="error" style="display: none">图片验证码验证未通过,验证码错误</p>-->
    <p class="err" style="display: none">请输入图片验证码</p>
    <div class="sub" >提交</div>
</div>
<%};
include("layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script>
    $(function(){
        $(".img").on("click",function(){
            $(".img").attr("src","http://auth.hookah.app/captcha?'+Math.random()+'")
        })
        $(".text").on("blur",check);
        function check(){
            $.ajax({
                url:"http://auth.hookah.app/captcha_check",
                type:"post",
                data:{
                    text:$(".text").val()
                },
                success:function(data){
                    if(data.code==1){

                    }else{
                        $(".error").show();
                    }
                }
            })
        }

        $(".sub").on("click",function(){
            if($("#username").val()==""){
                $.alert("请输入用户名!");
                return;
            };
            if($(".text").val()==""){
                $(".err").show();
                return;
            }
            $.ajax({
                url:"http://auth.hookah.app/findPwd",
                type:"post",
                data:{
                    step:1,
                    userName:$("#username").val(),
                    captcha:$(".text").val()
                },
                success:function(data){
                    if(data.code==1){
                        window.location.href="/findPwd?step=2&userId="+data.data;
                    }else{
                        console.log(data.message);
                        $(".error").show();
                    }
                }
            })
        })
    })
</script>