<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/register.css">
<%};%>

<%
var htmlPart = {
%>
<span class="login-tip"> 如已注册， <a href="/login"> 立即登录 </a></span>
<div class="page lang-zh-S">
  <div class="content">
    <div class="form-list form-main-list">
      <form id="J_InfoForm" name="user" method="post" action="">
        <div class="form-group account-set">
          <div class="form-item">
            <span class="form-label form-label-b">账户设置</span>
            <span class="sub-title">请设置你的会员名和密码用于登录</span>
          </div>
          <div class="form-item">
            <span class="form-label"><span class="star">*</span>会员名</span>
            <input autocomplete="off" class="form-text err-input" id="J_userName" name="userName" type="text" value=""
                   placeholder="设置会员名">
            <div class="nick-suggest-container">
              <div class="nick-suggest" id="J_NickSuggest"></div>
            </div>
            <div class="nick-size" id="J_NickSize" style="visibility: hidden;">
              {size}
              <span class="tsl" data-phase-id="r_ui_nickCountTip">字符</span>
            </div>
          </div>
          <div class="form-item">
            <span class="form-label tsl" data-phase-id="r_p_password">
              <span class="star">*</span>登录密码
            </span>
            <input class="form-text err-input" id="J_Password" type="password" placeholder="设置你的登录密码" name="password"
                   value="" data-inner_placeholder="r_p_input_enterPassword">
          </div>
          <div class="form-item">
            <span class="form-label tsl" data-phase-id="r_p_confirmPassword"><span class="star">*</span>密码确认</span>
            <input class="form-text" id="J_RePassword" type="password" placeholder="请再次输入你的密码" value=""
                   data-inner_placeholder="r_p_input_reEnterPassword" data-outer_placeholder="r_p_input_reEnterPwd">
          </div>
        </div>
        <div class="form-group basic-info">
          <div class="form-item">
            <span class="form-label form-label-b">基本信息</span>
            <span class="sub-title">请输入真实的信息</span>
          </div>
          <div class="form-item">
            <span class="form-label"><span class="star">*</span>手机号</span>
            <div class="mobile-text">
              <span class="mobile-text-code" id="J_AreaCode">+86</span>
              <input type="hidden" name="mobile_area" value="1">
              <input class="form-text mobile-text-input" maxlength="20" name="mobile" id="J_Mobile"
                     data-pattern="^(86){0,1}1\d{10}$" type="text" value=""
                     data-inner_placeholder="r_p_input_inner_entermobile" placeholder="请输入手机号码">

            </div>
          </div>

          <div class="form-item">
	            <span class="form-label tsl" data-phase-id="r_p_noCaptcha">
		            <span class="star">*</span>验证
              </span>
            <div id="register_no_captcha" class="nc-container" data-nc-idx="1">
              <input class="form-text mobile-text-input" maxlength="20" name="mobile" id="J_Mobile"
                     data-pattern="^(86){0,1}1\d{10}$" type="text" value=""
                     data-inner_placeholder="r_p_input_inner_entermobile" placeholder="请输入手机号码">
            </div>
            <input id="J_NcoSig" name="ncoSig" type="hidden">
            <input id="J_NcoSessionid" name="ncoSessionid" type="hidden">
            <input id="J_NcoToken" type="hidden" name="ncoToken" value="0a50007946a4c829e976dd88288a42f7">
            <input id="J_NcoUa" type="hidden" name="ua">
          </div>
          <div class="form-item">
            <input class="form-checkbox" type="checkbox" checked="" name="" id="J_Agreement" style="float: left">
            <div class="agreement-content">
              <div id="J_CnAgreement">
                <p class="tsl" data-phase-id="r_ui_aliyun_iagree">创建网站账号的同时，我同意：</p>
                <p class="tsl" data-phase-id="r_ui_aliyun_agreement"><a
                  href="" target="_blank">《本网站服务条款》</a>，并且我同意本网站按照网站服务条款第6.8条使用个人信息，并随时有权撤回该等同意。
                </p>
                <p class="tsl" data-phase-id="r_ui_aliyun_agree_receive_mail">同意本网站可通过电话 (包括语音通 话、短信、或传真)
                  有针对性地向我提供新的产品/服务的信息。</p>
              </div>
            </div>
          </div>
          <div class="form-item form-item-short">
            <button type="submit" class="btn btn-large tsl" data-phase-id="r_p_next" id="J_BtnInfoForm">确认</button>
            <div class="msg msg-hide" data-show="0" id="J_MsgInfoForm" data-display="block"><i class="iconfont">undefined</i>
              <div class="msg-tit"></div>
              <div class="msg-cnt" aria-live="assertive"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#J_BtnInfoForm').on("click",function(e){
      e.preventDefault();
      $.post("/reg",$("#J_InfoForm").serialize(),function(data){
        console.log(data);
      });
    })
  });
</script>
<%};
include("layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>