{{extend ("./layout/layout")}}
{{set (x='login')}}
{{#block ("head")}}

<style>
</style>
{{/block}}

{{#block ("body")}}

{{/block}}

<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="${host.static}/auth/css/register.css">
<%};%>

<%
var htmlPart = {
%>
<span class="login-tip"> 如已注册， <a href="${host.auth}/login"> 立即登录 </a></span>
<div class="page lang-zh-S">
  <div class="content">
    <div class="form-list form-main-list">
      <form class="J_InfoForm">
        <form id="J_InfoForm" method="post" action="">
          <div class="form-group account-set">
            <div class="form-item">
              <span class="form-label form-label-b">账户设置</span>
              <span class="sub-title">请设置你的会员名和密码用于登录</span>
            </div>
            <div class="form-item">
              <span class="form-label"><span class="star">*</span>会员名</span>
              <input autocomplete="off" class="form-text err-input" id="J_Nick" name="nick" type="text" value=""
                     placeholder="设置会员名">
              <div class="nick-suggest-container">
                <div class="nick-suggest" id="J_NickSuggest"></div>
              </div>

              <div class="nick-size" id="J_NickSize" style="visibility: hidden;">{size} <span class="tsl"
                                                                                              data-phase-id="r_ui_nickCountTip">字符</span>
              </div>
            </div>
            <div class="form-item">
              <span class="form-label tsl" data-phase-id="r_p_password"><span class="star">*</span>登录密码</span>
              <input class="form-text err-input" id="J_Password" type="password" placeholder="设置你的登录密码" name="password"
                     value="" data-inner_placeholder="r_p_input_enterPassword">


            </div>
            <div class="form-item">
              <span class="form-label tsl" data-phase-id="r_p_confirmPassword"><span class="star">*</span>密码确认</span>
              <input class="form-text" id="J_RePassword" type="password" placeholder="请再次输入你的密码" value=""
                     data-inner_placeholder="r_p_input_reEnterPassword" data-outer_placeholder="r_p_input_reEnterPwd">

            </div>
          </div>
          <div class="form-group basic-info">
            <div class="form-item">
              <span class="form-label form-label-b">基本信息</span>
              <span class="sub-title">请输入真实的信息</span>
            </div>
            <div class="form-item">
              <span class="form-label"><span class="star">*</span>手机号</span>
              <div class="mobile-text">
                <span class="mobile-text-code" id="J_AreaCode">+86</span>
                <input type="hidden" name="mobile_area" value="1">
                <input class="form-text mobile-text-input" maxlength="20" name="mobile" id="J_Mobile"
                       data-pattern="^(86){0,1}1\d{10}$" type="text" value=""
                       data-inner_placeholder="r_p_input_inner_entermobile" placeholder="请输入手机号码">

              </div>
            </div>

            <div class="form-item">
	<span class="form-label tsl" data-phase-id="r_p_noCaptcha">
		<span class="star">*</span>验证</span>
              <div id="_umfp" style="width:1px;height:1px;overflow:hidden">
                <object type="application/x-shockwave-flash"
                        data="https://g.alicdn.com/security/umflash/fp.swf?v1=1&amp;f=umx" width="1" height="1"
                        id="umFlash" class="umidWrapper" tabindex="-1">
                  <param name="movie" value="https://g.alicdn.com/security/umflash/fp.swf?v1=1&amp;f=umx">
                  <param name="allowScriptAccess" value="always">
                </object>
                <img
                  src="//ynuf.aliapp.org/service/clear.png?xt=0a50007946a4c829e976dd88288a42f7&amp;xa=CF_APP_REGISTER">
              </div>
              <div id="register_no_captcha" class="nc-container" data-nc-idx="1">
                <div id="nc_1_wrapper" class="nc_wrapper">
                  <div id="nc_1_n1t" class="nc_scale">
                    <div id="nc_1__bg" class="nc_bg"></div>
                    <span id="nc_1_n1z" class="nc_iconfont btn_slide"></span>
                    <div id="nc_1__scale_text" class="scale_text slidetounlock"><span class="nc-lang-cnt"
                                                                                      data-nc-lang="_startTEXT">请按住滑块，拖动到最右边</span>
                    </div>
                    <div id="nc_1_clickCaptcha" class="clickCaptcha">
                      <div class="clickCaptcha_text">
                        <b id="nc_1__captcha_text" class="nc_captch_text"></b>
                        <i id="nc_1__btn_2" class="nc_iconfont nc_btn_2 btn_refresh"></i>
                      </div>
                      <div class="clickCaptcha_img"></div>
                      <div class="clickCaptcha_btn"></div>
                    </div>
                    <div id="nc_1_imgCaptcha" class="imgCaptcha">
                      <div class="imgCaptcha_text"><input id="nc_1_captcha_input" maxlength="6" type="text"
                                                          style="ime-mode:disabled"></div>
                      <div class="imgCaptcha_img" id="nc_1__imgCaptcha_img"></div>
                      <i id="nc_1__btn_1" class="nc_iconfont nc_btn_1 btn_refresh"
                         onclick="document.getElementById('nc_1__imgCaptcha_img').children[0].click()"></i>
                      <div class="imgCaptcha_btn">
                        <div id="nc_1__captcha_img_text" class="nc_captcha_img_text"></div>
                        <div id="nc_1_scale_submit" class="nc_scale_submit"></div>
                      </div>
                    </div>
                    <div id="nc_1_cc" class="nc-cc"></div>
                    <i id="nc_1__voicebtn" tabindex="0" role="button" class="nc_voicebtn nc_iconfont"
                       style="display:none"></i>
                    <b id="nc_1__helpbtn" class="nc_helpbtn"><span class="nc-lang-cnt"
                                                                   data-nc-lang="_learning">了解新功能</span></b>
                  </div>
                  <div id="nc_1__voice" class="nc_voice"></div>
                </div>
              </div>
              <input id="J_NcoSig" name="ncoSig" type="hidden">
              <input id="J_NcoSessionid" name="ncoSessionid" type="hidden">
              <input id="J_NcoToken" type="hidden" name="ncoToken" value="0a50007946a4c829e976dd88288a42f7">
              <input id="J_NcoUa" type="hidden" name="ua">
            </div>
            <div class="form-item">
              <input class="form-checkbox" type="checkbox" checked="" name="" id="J_Agreement" style="float: left">
              <div class="agreement-content">
                <div id="J_CnAgreement">
                  <p class="tsl" data-phase-id="r_ui_aliyun_iagree">创建网站账号的同时，我同意：</p>
                  <p class="tsl" data-phase-id="r_ui_aliyun_agreement"><a
                    href="https://account.aliyun.com/common/agreement.htm?fromSite=6" target="_blank">《阿里云网站服务条款》</a>，并且我同意阿里云按照网站服务条款第6.8条使用个人信息，并随时有权撤回该等同意。
                  </p>
                  <p class="tsl" data-phase-id="r_ui_aliyun_agree_receive_mail">同意阿里云可通过电话 (包括语音通 话、短信、或传真)
                    有针对性地向我提供新的产品/服务的信息。</p>
                </div>
              </div>
            </div>
            <div class="form-item form-item-short">
              <button type="submit" class="btn btn-large tsl" data-phase-id="r_p_next" id="J_BtnInfoForm">确认</button>
              <div class="msg msg-hide" data-show="0" id="J_MsgInfoForm" data-display="block"><i class="iconfont">undefined</i>
                <div class="msg-tit"></div>
                <div class="msg-cnt" aria-live="assertive"></div>
              </div>
            </div>
          </div>
        </form>
      </form>
    </div>
  </div>
</div>
<%};
include("layout/layout.html",{headSection:head,htmlSection:htmlPart}){}
%>