/**
 * Created by ki on 2017/4/7.
 */

/*orderManagement*/
.orderManagement {
    background: #fff;
    width: 978px;
    border: 1px solid #EDEDED;
    padding: 0px 15px;
}

.orderManagement .title {
    border-bottom: 1px solid #E5E5E5;
}

.orderManagement .title ul li {
    float: left;
    line-height: 50px;
    font-size: 15px;
    width: 130px;
}

.orderManagement .title ul li:hover {
    cursor: pointer;
}

.orderManagement .title ul li.active {
    border-bottom: 2px solid #F17D17;
    color: #F17D17;
}

.orderManagement .title .search {
    position: relative;
}

.orderManagement .title .search input {
    width: 190px;
    height: 30px;
    line-height: 50px;
    border: 1px solid #E5E5E5;
    margin-top: 10px;
    padding-left: 5px;
}

.orderManagement .title .search span {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 8px;
    color: #E5E5E5;
}

/*订单信息*/
.orderManagement .order table {
    width: 100%;
}

.orderManagement .order table thead {
    line-height: 40px;
    background: #F1F1F1;
    text-align: center;
    border: 1px solid #d5d5d5;
}

.orderManagement .order table th {
    padding: 5px;
    text-align: center;
}
.orderManagement .order table th.money {
    padding: 5px;
    text-align: right;
}
.orderManagement .order table tr {
}

.orderManagement .order table td {
    padding: 5px;
    text-align: center;
}
.orderManagement .order table td.moneyTotal {
    padding: 5px;
    text-align: right;
}
.orderManagement .order table tbody {
    border: 1px solid #d5d5d5;
}

.orderManagement .order table tbody .goPay {
    width: 70px;
    line-height: 30px;
}

/*cart*/
.user-center-box {
    width: 970px;
    background: #fff;
    padding: 0px 20px;
}

.user-center-box .cart {
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #EDEDED;
}

.user-center-box .cart .center-title {
    font: 14px/20px "microsoft yahei";
    padding-left: 10px;
    border-left: 2px solid #237DE7;
}

.order-manage .order-box .order-items thead .order-body {
    line-height: 30px;
}

.order-manage .order-box .order-items {
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

.order-manage .order-box table tr {
    border-bottom: 1px solid #ccc;
}

.order-manage .order-box table.second tr {
    height: 110px;
}

.order-manage .order-box .order-items .order-body .img img {
    width: 120px;
}

.order-manage .order-box .order-items .order-body .order {
    position: relative;
}

.order-manage .order-box .order-items .order-body .order a {
    position: absolute;
    right: 105px;
}

.order-manage .order-box .order-items .order-body .order a:nth-child(1) {
    top: 6px;
}

.order-manage .order-box .order-items .order-body .order a:nth-child(2) {
    top: 23px;
    right: 116px;
}

.order-manage .order-box .order-items .order-body .order a:nth-child(3) {
    top: 38px;
}

.order-manage .order-box .order-items .order-body .order a:nth-child(4) {
    top: 55px;
    right: 116px;
}

.order-manage .order-box .order-items .order-body .order a:nth-child(5) {
    top: 73px;
}

.order-manage .order-box .order-items.cart-list-title, .cart-list-bottom {
    margin-top: 10px;
}

.order-manage .order-box .order-items.cart-list-title, .order-manage .order-box .order-items.cart-list-title tr {
    border: none;
}

.order-manage .cart-box .order-items .checkbox {
    width: 7%
}

.order-manage .cart-box .order-items .img {
    width: 15%
}

.order-manage .cart-box .order-items .name {
    width: 15%;
    word-break: break-word;
}

.order-manage .cart-box .order-items .price {
    width: 8%;
    text-align: right;
}

.order-manage .cart-box .order-items .number {
    width: 18%;
    text-align: center
}

.order-manage .cart-box .order-items .format {
    width: 10%;
    text-align: center
}

.order-manage .cart-box .order-items .number div {
    display: inline-block
}

.order-manage .cart-box .order-items .number .btn {
    width: 20px;
    height: 26px;
    background: #f0f0f0;
    display: inline-block;
    float: left;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.order-manage .cart-box .order-items .number input {
    width: 46px;
    text-align: center;
    float: left;
    height: 26px;
    border: 1px solid #aaa;
}

.order-manage .cart-box .order-items .number .btn:hover {
    color: #f68300;
    border-color: #f68300;
}

.order-manage .cart-box .order-items .number .testcalss {
    cursor: default;
    color: #ccc;
}

.order-manage .cart-box .order-items .number .testcalss:hover {
    color: #ccc;
    border-color: #e5e5e5;
}

.order-manage .cart-box .order-items .money {
    width: 8%;
    text-align: right;
    position: relative;
}

.order-manage .cart-box .order-items .money span {
    position: absolute;
}

.order-manage .cart-box .order-items .operation {
    width: 26%;
    text-align: center
}

.order-manage .cart-box .order-items .operation a {
    display: block;
}

.order-manage .order-box .order-items.cart-list-bottom, .order-manage .order-box .order-items.cart-list-bottom tr {
    border: none;
}

.order-manage .order-box .order-items.cart-list-bottom {
    background: #e5e5e5;
    height: 40px;
}

.order-manage .order-box .order-items.cart-list-bottom .operation {
    padding: 0;
}

.order-manage .order-box .order-items.cart-list-bottom .buy-btn {
    width: 80px;
    height: 41px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    border: none;
    float: right;
}

.noDataBox {
    line-height: 50px;
    text-align: center;
}

.noDataBox a {
    color: #247DE8;
}

/*evaluation*/
.evaluation {
    width: 970px;
    background: #fff;
    padding: 0px 20px;
}

.evaluation .my {
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #EDEDED;
}

.evaluation .my .myeval {
    font: 15px/20px "microsoft yahei";
    padding-left: 10px;
    border-left: 2px solid #237DE7;
}

.evaluation .level table thead tr {
    width: 970px;
    height: 40px;
    background: #F1F1F1;
    font-size: 13px;
}

.evaluation .level table thead, .evaluation .level table tbody tr {
    border-bottom: 1px solid #EDEDED;
}

.evaluation .level table thead .one {
    width: 150px;
}

.evaluation .level table thead .two {
    width: 160px;
}

.evaluation .level table thead .three {
    width: 160px;
}

.evaluation .level table thead .four {
    width: 350px;
}

.evaluation .level table thead .five {
    width: 150px;
}

.evaluation .level table tbody tr td {
    text-align: center;
    padding: 15px 0px;
}

.evaluation .level table tbody tr td a:hover,.evaluation .level table tbody tr td a p:hover {
    color:#237DE7;
}

/*viewDetails*/
.viewDetails , .sunAlone {
    margin-top: 10px;
    width: 978px;
    background-color: #fff;
    padding: 0px 15px 0px 15px;
    border: 1px solid #E9E9E9;
    margin-left: 10px;
}

.viewDetails .view ,.sunAlone .sun{
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #EDEDED;
}
.viewDetails .view .details , .sunAlone .sun .details{
    font:15px/20px "microsoft yahei";
    padding-left:10px;
    border-left:2px solid #237DE7;
}
.viewDetails .viewContent .leftContent {
    width: 285px;
}
.sunAlone .sunContent .lcontent{
    width: 265px;
    border-right:1px solid #f1f1f1;
}
.viewDetails .viewContent .leftContent .state-top {
    color:#999;
}
.viewDetails .viewContent .leftContent .state-txt {
    font: 400  16px/34px  "Microsoft YaHei";
    color:#71b247;
}
.viewDetails .viewContent .leftContent .state-btn {
    display: none;
}
.viewDetails .viewContent .leftContent .state-btn .pay {
    padding:4px 13px;
    border: 1px solid #E4393C;
    /*background: #fff;*/
    /*color:#E4393C;*/
}

/*.viewDetails .viewContent .leftContent .state-bottom img{*/
    /*width: 17px;*/
    /*height: 17px;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/
.viewDetails .viewContent .rightContent {
    border-left: 1px solid #f1f1f1;
}
.viewDetails .viewContent .rightContent, .sunAlone .sunContent .rcontent {
    width: 672px;
}
.viewDetails .viewContent .rightContent .state-rtop {
    height: 50px;
}
.viewDetails .viewContent .rightContent .process .line span{
    width: 124px;
    height: 12px;
    display: inline-block;
    background: url(/static/images/proces-icons.png) no-repeat 0 -34px;
}
.viewDetails .viewContent .rightContent .process div ,.viewDetails .viewContent .rightContent .process-text div{
    display: inline-block;
}
.viewDetails .viewContent .rightContent .proce {
    width: 40px;
    line-height: 45px;
    font-size: 25px;
    color:#ccc;
}
.viewDetails .viewContent .rightContent .proce .iconfont {
    color:#71b247;
}
.viewDetails .viewContent .rightContent .proce span {
    padding:10px 10px 0 10px;
}
.viewDetails .viewContent .rightContent .process-text {
    height: 68px;
    line-height: 68px;
}
.order ul li {
    height: 18px;
    line-height: 18px;
}
.viewDetails .viewContent .rightContent .process-text .order {
    margin-left:-25px;
}
.viewDetails .viewContent .rightContent .process-text .pay{
    width: 295px;
}

.viewDetails  .goods-list {
    margin: 0  -15px;
}
.viewDetails  .goods-list thead  tr{
    height: 35px;
    background: #eee;
}
.viewDetails  .goods-list tbody .p-img {
    width: 350px;
    height: 60px;
    padding:10px;
    padding-left:72px;
}
.viewDetails  .goods-list tbody .p-img a{
    display: inline-block;
    width: 60px;
    height: 60px;
}
.number, .price, .num, .operate {
    width: 127px;
    text-align: center;
}
.goods-list .p-img img{
    width: 60px;
    height: 60px;
}
.goods-list .p-img a:nth-child(2){
    line-height: 60px;
    display: inline-block;
}
.goods-list .goods{
    width: 500px;
}
.operate .buy{
    width: 60px;
    height: 20px;
    padding:5px 10px;
    /*border: 1px solid #ccc;*/
}
.goods-list .goods-info{
    border-top:1px solid #eee;
}
.goods-list .goods-info ul li{
    height: 35px;
    line-height: 35px;
    text-align: left;
}
.viewDetails .goods-list .goods-table tbody tr .public{
    width: 170px;
}
/*sunAlone*/
.sunAlone .sunContent .pic img {
    width: 60px;
    height: 60px;
}
.sunAlone .sunContent .rcontent .satisfaction span {
    display: inline-block;
    position: relative;
    width: 70px;
}
.sunAlone .sunContent .rcontent .evaluation .iconfont {
    font-size: 14px;
}
.sunAlone .sunContent .rcontent .satisfaction .comment {
    position: absolute;
    top:-18px;
    font-size: 17px;
    color:#ffa800;
    cursor: pointer;
}
.sunAlone .sunContent .rcontent .satisfaction .comment li {
    float: left;
}
.rcontent .suneval textarea {
    resize: none;
}
.sunAlone .sure span{
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    display: inline-block;
}
.sunAlone .sure span:hover {
    cursor: pointer;
}
.sunAlone .sunContent .evaluation {
    color:#eb9c03;
}
.sunAlone .sunContent .evaluation img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}
