/**
 * Created by ki on 2017/4/7.
 */

.evaluation {
    width:970px;
    background: #fff;
    padding:0px 20px;
}
.evaluation .my {
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #EDEDED;
}
.evaluation .my .myeval{
    font:15px/20px "microsoft yahei";
    padding-left:10px;
    border-left:2px solid #237DE7;
}
.evaluation  .level table thead tr {
    width: 970px;
    height: 40px;
    background: #F1F1F1;
    font-size: 13px;
}
.evaluation  .level table thead,.evaluation  .level table tbody tr {
    border-bottom: 1px solid #EDEDED;
}
.evaluation  .level table thead .one {
    width: 150px;
}
.evaluation  .level table thead .two{
    width: 160px;
}
.evaluation  .level table thead .three{
    width: 160px;
}
.evaluation  .level table thead .four{
    width: 350px;
}
.evaluation  .level table thead .five{
    width: 150px;
}
.evaluation  .level table tbody tr td {
    text-align: center;
    padding:15px 0px;
}
.evaluation  .level table tbody tr td a:hover,.evaluation  .level table tbody tr td a p:hover {
    color:#237DE7;
}