.myAttention {
    margin-top: 10px;
    width: 978px;
    background-color: #fff;
    padding: 31px 15px 26px 15px;
    border: 1px solid #E9E9E9;
    margin-left: 10px;
}
.myAttention table {
    margin-bottom: 0px;
    text-align: center;
    border:1px solid #E9E9E9;
}
.myAttention table td {
    min-width: 131px;
}

.myAttention table thead tr {
    height: 40px;
    background: #F4F4F4;
    color: #5C5C5C;
}

.myAttention table thead tr td input[type='checkbox'] {
    height: 14px;
    width: 14px;
    vertical-align: middle;
    margin-right: 17px;
    margin-left: 35px;
}

.myAttention table tbody tr {
    height: 45px;
    border: 1px solid #F1F1F1;
}

.myAttention table tbody tr td input[type='checkbox'] {
    height: 14px;
    width: 14px;
    margin-left: 18px;
    vertical-align: middle;
    margin-right: 17px;
}

.myAttention table tbody tr td a.title {
    color: #7F7F7F;
}

.myAttention table tbody tr td a.title:hover, .myAttention table tbody tr td a.title:focus {
    text-decoration: none;
}

.myAttention table tbody tr td a.title:hover {
    color: #2d7cf9;
}

.myAttention table tbody tr td span.Spinner {
    display: block;
}

.myAttention table tbody tr td span.Spinner a {
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #2d7cf9;
    color: #fff;
    font-size: 16px;
}

.myAttention table tbody tr td span.Spinner a:hover {
    text-decoration: none;
}

.myAttention table tbody tr td span.Spinner a:focus {
    text-decoration: none;
}

.myAttention table tbody tr td span.Spinner input {
    height: 32px;
    width: 36px;
    outline: none;
    border: none;
    background: #eee;
    text-align: center;
    vertical-align: top;
}

.myAttention table tbody tr td p a {
    color: #2d7cf9;
}

.myAttention table tbody tr td p a:focus {
    outline: none !important;
}

.myAttention table tbody tr td.cost {
    color: #fb5300;
    font-size: 20px;
}

.myAttention ul.bottom {
    width: 978px;
    height: 75px;
    line-height: 75px;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}

.myAttention ul.bottom li.first {
    float: left;
}

.myAttention ul.bottom li.first input[type='checkbox'] {
    height: 14px;
    width: 14px;
    margin-left: 55px;
    vertical-align: middle;
}

.myAttention ul.bottom li.first a {
    text-decoration: underline;
}

.myAttention ul.bottom li.first a:focus {
    outline: none;
}

.myAttention ul.bottom li.first a.selAll {
    margin-left: 5px;
    margin-right: 35px;
    color: #00a8ff;
    text-decoration: none;
}

.myAttention ul.bottom li.first a.delAll {
    color: #eb1d1e;
}

.myAttention ul.bottom li.second {
    float: right;
}

.myAttention ul.bottom li.second p {
    display: inline-block;
}

.myAttention ul.bottom li.second p span {
    color: #5C5C5C;
}

.myAttention ul.bottom li.second p em {
    font-style: normal;
    color: #fd6100;
}

.myAttention ul.bottom li.second p a.pay {
    margin-right: 13px;
    padding: 8px 25px;
    background: #dd662b;
    color: #fff;
}

.myAttention ul.bottom li.second p {
    margin-left: 20px;
    margin-right: 20px;
}

.myAttention ul.bottom:before, .myAttention ul.bottom:after {
    content: " ";
    display: table;
}

.myAttention ul.bottom:after {
    clear: both;
}

.myAttention ul.positionFix {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    background-color: #2A3D4A;
    width: 1200px;
}

.sweet-alert button {
    padding: 8px 25px;
}

.sweet-alert h2 {
    margin-top: 40px;
    margin-bottom: 0px;
}