.myAttention {
    margin-top: 10px;
    width: 978px;
    background-color: #fff;
    padding: 0px 15px 26px 15px;
    border: 1px solid #E9E9E9;
    margin-left: 10px;
}

/*order-list*/
.myAttention .atten {
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #EDEDED;
}
.myAttention .atten .myeval{
    font:15px/20px "microsoft yahei";
    padding-left:10px;
    border-left:2px solid #237DE7;
}
.order-list {
    padding-left: 10px;
    padding-top: 10px;
}

.order-list ul {
    list-style: none;
    padding: 0;
}
.order-list ul:before,  .order-list ul:after {
    content: " ";
    display: table;
}
.order-list ul:after {
    clear: both;
}
.order-list ul li {
    height:auto;
    width: 230px;
    float: left;
    color: black;
    background-color: white;
    border: 1px solid #E5E5E5;
    margin: 10px 10px 0 0;
}
.order-list ul li:nth-child(5n) {
    margin-right: 0;
}
.order-list ul li .item-top {
    display: block;
}
.order-list ul li .item-top p {
    text-align: center;
    padding: 4px 0;
}
.order-list ul li .item-top .goods-img img {
    width: 70px;
    margin-top: 18px;
}
.order-list ul li .item-top .goods-name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 30px 0 20px;
}
.order-list ul li .item-top .goods-brief {
    padding: 0 10px 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    width: calc(100% - 20px);
    text-align: justify;
}
.order-list ul li .item-down {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    height: 38px;
    line-height: 36px;
    padding: 0 10px;
}
.order-list ul li .item-down span {
    color: #B2B2B2;
}
.order-list ul li .item-down span label {
    color: black;
    padding-right: 10px;
}
.order-list ul li .item-down .goods-price span {
    color: #fdb868;
    font-size: 22px;
}
.order-list ul li .cancel{
    line-height: 30px;
    background: #f9f9f9;
}
.order-list ul li .cancel:hover{
    cursor: pointer;
}
.order-list ul li .cancel a {
    display: block;
    text-align: center;
}
.order-list .info {
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
}


