.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
    font-size: 0;
    zoom: 1;
}
.info-center-box .user-center-box {
    background-color: white;
    width: 965px;
    margin:10px 10px 30px 10px;
    padding:0 15px;
    border: 1px solid #e9e9e9;
}
.user-center-box .wrapper{
    padding-top:20px;
    padding-bottom:20px;
}
.user-center-box .wrapper-tab{
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}
.user-center-box .wrapper-tab li{
    float: left;
    height:30px;
    width: 15%;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
.user-center-box  .wrapper-tab .active{
    height:30px;
    width: 133px;
    display: inline-block;
    border-bottom: 2px solid #F17D17;
}
.user-center-box  .wrapper-tab .active a{
    color: #F17D17;
}
.user-center-box  .wrapper-tab .trade-box{

}
.invoice-content{
    overflow: hidden;
    background: #f5f6fa;
    border: 1px solid #e5e5e5;
    padding:20px;
}
.invoice-content .left{
    width:400px;
}
.invoice-content .left .selected-total-money,.invoice-content .right .wait-Print-money{
    font-size: 14px;
    color:#000;
    margin-bottom:10px;
}
.invoice-content .left .selected-total-money span{
    color:#f68300;
}
.invoice-content .right{
    width:400px;
    text-align: right;
}
.invoice-content .right .wait-Print-money span{
    color:#390;
}
.invoice-content .take-btn{
    min-width: 100px;
    height: 30px;
    border: 0;
    background: #00c1de;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.invoice-list{
    padding-bottom:20px;
}
.invoice-list table{
    width:100%;
    border-left:1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    text-align: left;
}
.invoice-list table tr{
    border-bottom:1px solid #e5e5e5;
    line-height: 40px;
}
.invoice-list table tr:hover{
    background: #f5f6fa;
}
.invoice-list table tr td,.invoice-list table thead tr th{
    padding:0 10px;
}
.invoice-list table tr .text-right{
    text-align: right;
}
.invoice-list table thead tr{
    background: #f5f6fa;
    height:39px;
    line-height: 39px;
}

.invoice-info-box .info-items{
    width:100%;
    margin-bottom:30px;
    border:1px solid #e5e5e5;
}
.invoice-info-box .info-items .title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 800;
    padding-left: 10px;
    color: #333;
    background: #f5f6fa;
}
.invoice-info-box .info-items .title span{
    font-size: 14px;
    cursor: pointer;
    color:#0a9e00;
    margin-left:50px;
}
.invoice-info-box .info-items ul{
    padding:10px;
}
#edit-invoice-info{
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    z-index:999;
    display: none;
}
.edit-invoice-info{
    position: relative;
    width:700px;
    background: #fff;
    margin: 100px auto;
    padding: 20px;
}
.edit-invoice-info .title{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    margin-bottom: 20px;
}
.edit-invoice-info .title span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
