/**
 * Created by ki on 2017/4/8.
 */
ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*全部订单*/
.orderManagement {
    background: #fff;
    width: 978px;
    border: 1px solid #EDEDED;
    padding:0px 15px;
}
.orderManagement .title {
    border-bottom: 1px solid #E5E5E5;
}
.orderManagement .title ul li {
    float: left;
    line-height: 50px;
    font-size: 15px;
    width: 120px;
}
.orderManagement .title ul li:hover{
    cursor: pointer;
}
.orderManagement .title ul li.active{
    border-bottom: 2px solid #F17D17;
    color:#F17D17;
}
.orderManagement .title ul li span{
    border-right:1px solid #E5E5E5;
}
.orderManagement .title .search {
    position: relative;
}
.orderManagement .title .search input{
    width: 190px;
    height: 30px;
    line-height: 50px;
    border: 1px solid #E5E5E5;
    margin-top:10px;
    padding-left:5px;
}
.orderManagement .title .search span{
    font-size: 20px;
    position: absolute;
    top:15px;
    right:8px;
    color:#E5E5E5;
}
/*订单信息*/
.orderManagement .order table{
    width:100%;
}
.orderManagement .order table thead {
    line-height: 40px;
    background: #F1F1F1;
    text-align: center;
    border-top:1px solid #E1E1E1;
    border-bottom:1px solid #E1E1E1;
}
.orderManagement .order table th{
    padding:5px;
}
.orderManagement .order table tr{
}
.orderManagement .order table td{
    padding:5px;
}
.orderManagement .order table tbody .goPay{
    width: 70px;
    line-height: 30px;
}
