<link rel="stylesheet" href="/static/css/font/introduction/iconfont.css">
<div class="trading-sidebar">
    <div class="topList">
        <ul>
            <li  data-cont="trading">
                <i class="iconfont icon-jianjie"></i>
                <a href="/introduction/index" >BDGStore简介</a></li>
            <!--<li data-cont="strategy" >-->
                <!--<i class="iconfont icon-cengcibuju"></i>-->
                <!--<a href="/introduction/strategy"  >战略布局</a>-->
            <!--</li>-->
            <!--<li  data-cont="leader">-->
                <!--<i class="iconfont icon-lingdaoli"></i>-->
                <!--<a href="/introduction/leader" >领导关怀</a>-->
            <!--</li>-->
            <!--<li  data-cont="media">-->
                <!--<i class="iconfont icon-meiti"></i>-->
                <!--<a href="/introduction/media" >媒体关注</a>-->
            <!--</li>-->
            <!--<li data-cont="glory">-->
                <!--<i class="iconfont icon-qiyerongyu"></i>-->
                <!--<a href="/introduction/glory" >企业荣耀</a>-->
            <!--</li>-->
        </ul>
    </div>
    <!--联系我们-->
    <div class="contact">
        <ul>
            <li class="one">
                <span class="one-space"></span>
                <span style="font-size: 18px;">联系我们</span>
            </li>
            <li>
                <i class="iconfont icon-dianhua "></i>
                <span class="margin-left-5" x-ms-format-detection="none">400-819-0919</span>
            </li>
            <!--<li>-->
                <!--<i class="iconfont icon-icon"></i>-->
                <!--<span>186xxxxxxxx</span>-->
            <!--</li>-->
            <li class="three ">
                <i class="iconfont icon-dingwei"></i>
                <p class="three-address">
                    <span>北京市海淀区王庄路清华同方科技广场D座西楼16层</span>
                </p>
            </li>
            <li class="five">
                <i class="iconfont icon-youxiang"></i>
                <span>center@galaxybigdata.com</span>
            </li>
        </ul>
    </div>
</div>

<script src="/static/js/introduction/index.js"></script>