<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/information.css">
<%};%>

<%
var htmlPart = {
%>
<div class="information-center">
    <div class="information-bd y-row">
        <ul class="information-menu y-left">
            <li><a href="/information/center_dynamic">中心动态</a></li>
            <li><a href="/information/industry_consulting">行业咨询</a></li>
            <li><a href="/information/center_announcement">中心公告</a></li>
            <div class="information-hot-doc">
                <h3 class="hot-doc-title">中心动态</h3>
                <ul class="hot-doc-content">
                    <li>
                        <div class="imgs">iamge</div>
                        <div class="info">深入贯彻落实中央经济工作会议精神，总结我省2016年经济工作，研究部署2017年经济工作。</div>
                    </li>
                    <li>
                        <div class="imgs">iamge</div>
                        <div class="info">深入贯彻落实中央经济工作会议精神，总结我省2016年经济工作，研究部署2017年经济工作。</div>
                    </li>
                </ul>
            </div>
        </ul>
        <div class="information-content y-right">
            <h3 class="center-title">中心动态<span>最新热门资讯汇总</span></h3>
            <ul class="information-list">
                <li>
                    <div class="imgs y-left">image</div>
                    <div class="info y-right">
                        <h3 class="title">全国百名博士团莅临大数据交易中心考察调研</h3>
                        <p class="desc">“拥抱大数据时代——2017全国百名博士山东行”活动由省人民政府驻北京办事处主办，省委统战部、省大数据发展管理局等单位支持，汇集北京、上海、广东等全国各地的大数据专家、学者、博士及硕士，旨在以专家博士视角关注大数据产业的新政和比较优势，调动高端人才资源，助力大数据产业发展。</p>
                        <div class="user">
                            <span class="admin-img y-left"></span>
                            <span class="admin-name y-left">admin</span>
                            <span class="add-time y-left">2017-03-03 15:16:27</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="imgs y-left">image</div>
                    <div class="info y-right">
                        <h3 class="title">全国百名博士团莅临大数据交易中心考察调研</h3>
                        <p class="desc">“拥抱大数据时代——2017全国百名博士山东行”活动由省人民政府驻北京办事处主办，省委统战部、省大数据发展管理局等单位支持，汇集北京、上海、广东等全国各地的大数据专家、学者、博士及硕士，旨在以专家博士视角关注大数据产业的新政和比较优势，调动高端人才资源，助力大数据产业发展。</p>
                        <div class="user">
                            <span class="admin-img y-left"></span>
                            <span class="admin-name y-left">admin</span>
                            <span class="add-time y-left">2017-03-03 15:16:27</span>
                        </div>
                    </div>
                </li>
            </ul>
            <%include("/layout/pageaction.html"){} %>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>