<%
var head = {
%>
<link rel="stylesheet" href="/static/css/information/index.css">
<link rel="stylesheet" href="/static/css/font/information/iconfont.css">
<script type="text/javascript">
    var pagePath = '/sysNews/listByGroup';
    var pageType = 'get';
    var dataParm = {};
    dataParm.pageNumber = 1;
    dataParm.pageSize = 20;
    dataParm.newsGroup = 'information';
    dataParm.newsSonGroup = $.getUrlParam("newsSonGroup") || 1;

</script>
<%};%>

<%
var htmlPart = {
%>

<iframe src="http://192.168.200.116:8080/xyzx/index.jhtml" id="iframepage" name="iframepage" frameBorder=0 scrolling=no width="100%" ></iframe>
<script type="text/javascript">
    /*  function iFrameHeight() {
     var ifm= document.getElementById("iframepage");
     var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
     if(ifm != null && subWeb != null) {
     ifm.height = subWeb.body.scrollHeight;
     }
     }*/
    var ifm= document.getElementById("iframepage");
    window.addEventListener('message', function(event) {
        ifm.height = event.data;
        window.document.body.scrollTop = 0;
    })
</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/information/index.js"></script>
