.auth-box .auth-title .blue{
    color: #00b1ff;
}
.auth-box .auth-content{
}
.auth-box .auth-content .auth-info .steps{
    padding:40px 0 25px;
}
.auth-info .steps .img-show{
    width: 700px;
    height: 22px;
    margin:0 auto;
    background: url(/static/images/auth/steps-bg.png) no-repeat;
}
.auth-info .steps .img-show.step2{
    background-position: 0 -38px;
}
.auth-box .auth-content .auth-info {
    height: auto;
    padding:30px 50px 30px;
    border-top: 1px solid #e2e2e2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.auth-info .title {
    border-left: 4px solid #237DE7;
    height: 24px;
    line-height: 24px;
    color: #666666;
    font-size: 20px;
    text-indent: 5px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.auth-info .titleIdent {
    margin-bottom: 20px;
}

 .auth-info .infor {
    padding-bottom: 20px;
}
.auth-info .padding-left-210{
    padding-left:210px;
}
.auth-info label {
    height:32px;
    line-height:32px;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    color: #5e5e5e;
}
.auth-info .typeBox li{
    overflow: hidden;
    padding-left:130px;
}
.auth-info .typeBox li>label{
    padding-right:10px;
    float: left;
    width:120px;
    text-align: right;
}
.auth-info .typeBox li>label span{
    line-height: 32px;
}
.auth-info .typeBox li>label span.gs{
    color: #E4393C;
    vertical-align: sub;
}
.auth-info li .inputBoxs{
    float: left;
    width: 530px;
}
.auth-info li .inputBoxs.tips_box{
    line-height: 20px;
    padding-top:5px;
    color: #E4393C;
}
.auth-info .J_downLoadBtn{
    display: block;
    width: 120px;
    height:30px;
    border:1px solid #ccc;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background: #f3f3f3;
}
.auth-info .J_downLoadBtn:hover{
    background: #e2e1e1;
    border:1px solid #9e9e9e
}
.auth-info input[type=text] {

    height: 34px;
    line-height: 34px;
    margin-bottom: 5px;
    width: 370px;
    border: 1px solid #e5e5e5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 10px;
}

.auth-info label #clickCheck {
    float: left;
    margin-top: 14px;
}
.auth-info .button{
    padding-left:250px;
    margin:50px 0 0;
}
.auth-info .button>button {
    width: 366px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #237DE7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: none;

}
.auth-info .linkage {
    width: 370px;
    height: 40px;
    display: inline-block;
}

.auth-info .linkage select {
    width: 140px;
    height: 34px;
    margin-right: 20px;
    text-indent: 5px;
    border:1px solid #eee;
    /*margin-left:10px;*/
}
.auth-info .upLoad {
    width: 130px;
    height: 184px;
    margin-left: 130px;
    position: relative;
    margin-bottom: 20px;
}
.auth-info .upLoad.upLoad_dk{
    width:270px
}
.auth-info .upLoad.upLoad_dk label{
    width:270px
}
.auth-info .upLoad .help-block{
    position: absolute;
    left:0;
    top:188px;
}
.auth-info .upLoad img {
    width:100%;
    display: inline-block;
    position: absolute;
    z-index:8;
    left:0;
    top:0;
}
.auth-info .upLoad label{
    width: 130px;
    height: 184px;
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    cursor: pointer;
}
.auth-info .upLoad .unloadBtn{
    position: absolute;
    right:0;
    top:0;
    opacity: 0;
    font-size: 146px;
    cursor: pointer;
}
.auth-info .p_title{
    line-height: 34px;
}
.auth-info .upLoad .upLoad_warp{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    color:#fff;
    font-size: 14px;
    text-align: center;
    line-height: 184px;
    display: none;
    z-index: 9;
}
.auth-info .upLoad .input_hide{

}
.auth-info .upLoad .input_op{
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    z-index: 3;
}
.help-block{
    display: block;
    color: #E4393C;
    overflow: hidden;
}



