.auth-box .auth-title .blue{
    color: #00b1ff;
}
.auth-box .auth-content{
    padding-bottom:150px;
}
.auth-box .auth-content .auth-info .steps{
    padding:40px 0 25px;
}
.auth-info .steps .img-show{
    width: 700px;
    height: 22px;
    margin:0 auto;
    background: url(/static/images/auth/steps-bg.png) no-repeat;
}
.auth-info .steps .img-show.step2{
    background-position: 0 -38px;
}
.auth-box .auth-content .auth-info {
    height: 1400px;
    padding:30px 50px 30px;
    border-top: 1px solid #e2e2e2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.auth-info .title {
    border-left: 4px solid #237DE7;
    height: 24px;
    line-height: 24px;
    color: #666666;
    font-size: 20px;
    text-indent: 5px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.auth-info .titleIdent {
    margin-bottom: 20px;
}

 .auth-info .infor {
    padding-bottom: 20px;
}
.auth-info .padding-left-210{
    padding-left:210px;
}
.auth-info label {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    color: #5e5e5e;
}
.auth-info .typeBox li>label{
    padding-left:210px;

}
.auth-info label span {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 78px;
    padding-left:210px;
    float: left;
}

.auth-info label input[type=text] {
    /*float: left;*/
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    width: 370px;
    border: 1px solid #e5e5e5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 10px;
}

.auth-info label #clickCheck {
    float: left;
    margin-top: 14px;
}
.auth-info .button{
    padding-left:250px;
}
.auth-info .button>button {
    width: 366px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #237DE7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: none;

}
.auth-info .linkage {
    width: 370px;
    height: 40px;
    display: inline-block;
}

.auth-info .linkage select {
    width: 140px;
    height: 34px;
    margin-right: 20px;
    text-indent: 5px;
    border:1px solid #eee;
    margin-left:10px;
}

.auth-info .update {
    width: 370px;
    height: 200px;
    margin-left: 90px;
    position: relative;
    padding-top: 10px;
}

.auth-info .update label {
    display: inline-block;
    position: absolute;
    z-index: 1;
}
.auth-info .update label:hover {
    cursor: pointer;
}
.auth-info .update img {
    width: 212px;
    height: 133px;
    display: inline-block;
    position: absolute;
    z-index: 0;
    left:190px;
}

.auth-info .update p {
    position: absolute;
    top: 200px;
    color: #f00;
    font-size: 12px;
    top: 156px;
    left: 0px;
    padding-left: 183px;
}



