
.auth-box .auth-content .auth-info .steps{
    padding:40px 0 25px;
}
.auth-info .steps .img-show{
    width: 700px;
    height: 22px;
    margin:0 auto;
    background: url(/static/images/auth/step2.png) no-repeat;
}
.auth-box .auth-content .auth-info {
    height: 1000px;
    padding:30px 50px 30px;
    border-top: 1px solid #e2e2e2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.auth-info .title {
    border-left: 4px solid #237DE7;
    height: 24px;
    line-height: 24px;
    color: #666666;
    font-size: 20px;
    text-indent: 5px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.auth-info .titleIdent {
    margin-bottom: 20px;
}

 .auth-info .infor {
    padding-bottom: 20px;
}

.auth-info label {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    color: #5e5e5e;
}

.auth-info label span {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 78px;
}

.auth-info label input[type=text] {
    /*float: left;*/
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    width: 370px;
    border: 1px solid #e5e5e5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 10px;
}

.auth-info label #clickCheck {
    float: left;
    margin-top: 14px;
}

.auth-info .button {
    width: 366px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #237DE7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.auth-info .type ul {
    width: 720px;
    height: 30px;
    line-height: 30px;
    float: right;
}

.auth-info .type li {
    display: block;
    float: left;
    width: 50px;
    height: 25px;
    line-height: 25px;
    margin: -10px 10px 0px 0px;
    text-align: center;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.auth-info .type .active {
    background: #237DE7;
    color: #fff;
}

.auth-info .linkage {
    width: 370px;
    height: 40px;
    display: inline-block;
}

.auth-info .linkage select {
    width: 140px;
    height: 34px;
    margin-right: 20px;
    text-indent: 5px;
    border:1px solid #eee;
    margin-left:10px;
}

.auth-info .update {
    width: 370px;
    height: 200px;
    margin-left: 90px;
    position: relative;
    padding-top: 10px;
}

.auth-info .update label {
    width: 212px;
    height: 133px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.auth-info .update input {
    display: none;
}

.auth-info .update img {
    width: 212px;
    height: 133px;
    display: inline-block;
    position: absolute;
    z-index: 0;
}

.auth-info .update p {
    position: absolute;
    top: 200px;
    color: #f00;
    font-size: 12px;
    top: 156px;
    left: 0px;
}

.auth-info .industry {
    overflow: hidden;
    padding-left: 90px;
    position: relative;
}

.auth-info .industry span {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 14px;
    color: #5e5e5e;
}

.auth-info .industry .selectBtn {
    cursor: pointer;
}

.auth-info .industry .selectBtn b {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../images/dengluzhuce/add.png) no-repeat;
    margin-right: 3px;
}

.auth-info .industry ul li {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0px 8px;
    background: #e73e4a;
    color: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    margin: 0px 12px 10px 0px;
}

.auth-info .typeBox > li {
    display: none;
}

.auth-info .typeBox .activeLi {
    display: block;
}
