
.personModule {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #e2e2e2;
    padding: 0px 370px 0px 370px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom:30px;
}

.personModule .title {
    border-left: 4px solid #237DE7;
    height: 24px;
    line-height: 24px;
    color: #666666;
    font-size: 20px;
    text-indent: 5px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.personModule .titleIdent {
    margin-bottom: 20px;
}

.personModule form {
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.personModule label {
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
    color: #5e5e5e;
}

.personModule label span {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 78px;
}

.personModule label input[type=text] {
    float: right;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    width: 370px;
    border: 1px solid #e5e5e5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 10px;
}

.personModule label #clickCheck {
    float: left;
    margin-top: 14px;
}

.personModule .button {
    width: 366px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #247DE8;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
}

.personModule ul {
    overflow: hidden;
    margin-bottom: 15px;
}

.personModule ul li {
    width: 215px;
    height: 135px;
    float: left;
    padding: 0px 7px;
    position: relative;
}

.personModule ul li input {
    display: none;
}

.personModule ul li label {
    width: 215px;
    height: 135px;
    background: transparent;
    position: absolute;
    left: 7px;
    top: 0px;
    z-index: 1;
}

.personModule ul li img {
    width: 215px;
    height: 135px;
    position: absolute;
    left: 7px;
    top: 0px;
    z-index: 0;
}
/*遮层*/
.shadeBottom {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
}

.shadeContent {
    width: 950px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -499px;
    background: #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 4px solid rgba(0, 0, 0, 0.25);
}

.shadeTop {
    height: 30px;
    width: 100%;
    background: #f3f3f3;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    padding-left: 13px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.shadeTop i {
    display: inline-block;
    float: right;
    width: 27px;
    height: 27px;
    background: url(../images/dengluzhuce/close.png) no-repeat;
    cursor: pointer;
}

.shadeSection {
    width: 100%;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 27px;
}

.shadeSection ul {
    list-style: none;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    height: 265px;
    overflow-y: auto;
}

.shadeSection ul h3 {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}

.shadeSection a {
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: #247DE8;
    margin: 4px auto;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
