.auth-box{
    border: 1px solid #e2e2e2;
    background-color: #fff;

}
.auth-title{
    height: 50px;
    line-height:50px;
    padding:0 10px;
    border-bottom:1px solid #e2e2e2;
}
.auth-title h3{
    font-weight:normal;
    font-size:18px;
}
.auth-box .auth-title .blue{
    color: #00b1ff;
}
.auth-box .steps li.blue{
    color: #00b1ff;
}
/*协议信息开始*/
.auth-box .auth-content .auth-agreement .steps{
    padding:40px 0 25px;
}
.auth-agreement .steps .img-show{
    width: 700px;
    height: 22px;
    margin:0 auto;
    background: url(/static/images/auth/steps-bg.png) no-repeat;
}
.auth-agreement .steps .img-show.step1{
    background-position: 0 -18px;
}
.agreement-book:hover{
    color: #00b1ff;
}
.steps .txt{
    width: 760px;
    margin:0 auto;
}
.steps .txt li{
    width: 226px;
    line-height:30px;
    font-size:14px;
    color: #ccc;
}
.steps .txt .last{
    width: 40px;
    margin-left:23px;
}
.agreement-tips{
    background: #fffbee;
    line-height:30px;
    text-align: center;
    color: #ff8000;
}
.agreement-text{
    padding:35px 100px 50px;
}
.agreement-text .agreement-title{
    padding-bottom:20px;
    font-size:24px;
    text-align: center;
    color: #666;
}
.agreement-text h3{
    font-size:18px;
    color: #333;
    font-weight:normal;
    margin:10px 0;
}
.agreement-text p{
    padding:10px 0;
    font-size:14px;
    line-height:24px;

}
.auth-content .agreement-btn{
    margin:50px;
    padding-top:30px;
    border-top:1px solid #e5e5e5;
    text-align: center;
}
.agreement-btn .gray-btn2{
    display: inline-block;
    width: 100px;
    height: 34px;
    color: #fff;
    text-align: center;
    font:14px/34px "microsoft yahei";
    background-color: gray;
    border-radius: 5px;
    cursor: not-allowed;
}
/*协议信息结束*/
/*认证信息开始*/
.auth-content .auth-info{
    height: 800px;
    padding:30px 50px 30px;
    border-top:1px solid #e5e5e5;

}
.auth-box .auth-content .auth-info .steps{
    padding:40px 0 25px;
}
.auth-info .steps .img-show{
    width: 700px;
    height: 22px;
    margin:0 auto;
    background: url(/static/images/auth/steps-bg.png) no-repeat;
}
.auth-info .steps .img-show.step2{
    background-position: 0 -38px;
}
#authForm{
    padding:0 100px 30px;
}
.auth-info h3{
    height: 30px;
    padding-left:10px;
    font:16px/30px "microsoft yahei";
    font-weight:normal;
    border-left:2px solid #00a8ff;
    margin-bottom:30px;
}
.auth-info li{
    padding:5px 0;
    min-height:32px;
}
.auth-info li .tit{
    width: 230px;
    text-align: right;
    line-height:32px;
    font-size:14px;
    color: #999;
    float: left;
}
.auth-info input.txt{
    width: 400px;
    height: 30px;
    padding:0 5px;
    line-height:30px;
    border:1px solid #ddd;
    color: rgb(169, 169, 169);
}
.auth-info .submit-file{
    padding:0;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.submit-file{
    text-align: center;
}
.submit-file .file_item{
    display: inline-block;
    width:215px;
    height: 135px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    margin:0 20px;

}
.submit-file .file_item label{
    width:215px;
    height: 135px;
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    cursor: pointer;
}
.submit-file .file_item .warp{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    line-height: 135px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    z-index: 6;
}
.submit-file .file_item #submit1,.submit-file .file_item #submit2{
    position: absolute;
    top:0;
    right:0;
    z-index:7;
    font-size: 1000px;
    border:0;
    opacity: 0;
    cursor: pointer;
}
.error_tip{
    color:#E4393C;
    display: none;
    line-height: 32px;
    padding-left:230px;
    text-align: left;
}
.error_tip.z_error_tip{
    padding-left:162px;
}
.error_tip.f_error_tip{
    padding-left:422px;
}
.submit-file .file_item .hidVal{
    width:0;
    height:0.5px;
    opacity: 0;
    z-index: 1;
    top:0;
    left:0;
}
.submit-file #fm,.submit-file #zm{
    width:100%;
    border-radius: 5px;
    position: absolute;
    z-index: 4;
    top:0;
    left:0;
}
.submit-file  label.left-pic{
    position: absolute;
    width: 215px;
    height: 135px;
    left:180px;
    top:0;
    z-index:1;
    background-color: transparent;

}
/*#submit1{*/
    /*display: none;*/
/*}*/
/*#submit2 {*/
    /*display: none;*/
/*}*/
.submit-file form img{
    position: absolute;
    width: 215px;
    height: 135px;
    left:7px;
    top:0;
    z-index:0;
}
.auth-info .auth-submit{
    text-align: center;
}
.auth-info .auth-submit label{
    display: block;
    margin:40px 0;
}
.auth-info .auth-submit .button {
    width: 366px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
}
/*认证信息结束*/
.auth-content .auth-verify .steps{
    padding:40px 0 25px;
}
.auth-verify .steps .img-show{
    width: 700px;
    height: 22px;
    margin:0 auto;
    background: url(/static/images/auth/steps-bg.png) no-repeat;
}
.auth-verify .steps .img-show.step3{
    background-position: 0 -58px;
}
.auth-verify .auth-verify-info{
    height: 100px;
    border:1px solid #eee;
    text-align: center;
    padding:100px 0;
    font-size:20px;
    color: #666;
}
/*认证审核结束*/
/*认证完成开始*/
.auth-content .auth-finished .steps{
    padding:40px 0 25px;
}
.auth-finished .steps .img-show{
    width: 700px;
    height: 22px;
    margin:0 auto;
    /*该处图片需要更换*/
    background: url(/static/images/auth/steps-bg.png) no-repeat;
}
.auth-finished .steps .img-show.step4 {
    background-position: 0 -98px;
}
.auth-finished .auth-finished-info{
    height: 100px;
    border:1px solid #eee;
    text-align: center;
    padding:100px 0;
    font-size:20px;
    color: #666;
}
.auth-finished-info strong{
    font-weight:normal;
}
.fa-check-circle{
    font-size:20px;
    margin-right:10px;
    color: deepskyblue;
}
.enter-company-auth {
    margin-top:20px;
    font-size:14px;
    color: #666;
}
.choose-auth-type{
    color: dodgerblue;
}
/*认证完成结束*/