<%
var head = {
%>
<link rel="stylesheet" href="/static/css/introduction/trading-sidebar.css">
<link rel="stylesheet" href="/static/css/introduction/leader.css">
<link rel="stylesheet" href="/static/css/common.css">
<%};%>

<%
var htmlPart = {
%>
<div class="box">
    <div class="leader clearfix grid-row">
        <!--左侧栏-->
        <% include("/introduction/trading-sidebar.html"){} %>

        <!--右侧内容-->
        <div class="leader-content">
            领导关怀
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>