<%
var head = {
%>
<link rel="stylesheet" href="/static/css/introduction/trading-sidebar.css">
<link rel="stylesheet" href="/static/css/introduction/strategy.css">
<link rel="stylesheet" href="/static/css/common.css">
<%};%>

<%
var htmlPart = {
%>
<div class="box">
    <div class="strategy clearfix grid-row padding-top-10">
        <!--左侧栏-->
        <% include("/introduction/trading-sidebar.html"){} %>

        <!--右侧内容-->
        <div class="strategy-content">
            战略布局
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>