<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>新建系统用户</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" ui-sref="account.search" data-ng-click="refresh()"><span
          class="glyphicon glyphicon-refresh"></span> 返回
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" role="form" id="userForm" name="userForm" novalidate>
      <fieldset>
        <h5 style="padding: 0px 20px;">基本信息</h5>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="userName">系统用户名<span class="must">*</span></label>
          <div class="col-sm-4">
            <input type="text" id="userName" name="userName" class="form-control" ng-model="userName" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="password">密码<span class="must">*</span></label>
          <div class="col-sm-4">
            <input type="password" id="password" name="password" class="form-control" ng-model="password" required/>
          </div>
          <!--<div class="col-sm-4">-->
          <!--默认密码为:huanglei-->
          <!--</div>-->
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="email">邮箱</label>
          <div class="col-sm-4">
            <input type="text" id="email" name="email" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="mobile">手机</label>
          <div class="col-sm-4">
            <input type="text" id="mobile" name="mobile" class="form-control"/>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <h5 style="padding: 0px 20px;">角色</h5>
        <div class="form-group" ng-repeat="(x, y) in roles">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-2"><input name="roles" value="{{y.roleId}}" type="checkbox">{{y.roleName}}</div>
          <div>说明:{{y.roleExplain}}</div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <button class="btn btn-primary" data-ng-click="save()" ng-disabled="userForm.$pristine || userForm.$invalid">
            <span class="glyphicon glyphicon-refresh"></span> 保存
          </button>
        </div>
      </div>
    </form>
  </div>
</div>