
.trading-sidebar {
    width: 235px;
    margin-right: 10px;
    float: left;
}

.trading-sidebar .topList {
    height: 230px;
    background: #fff;
    margin-bottom: 10px;
}

.trading-sidebar .topList ul {
    font-size: 15px;
}

.trading-sidebar .topList ul .active {
    background: #E1EFFF;
    color: #247DE8;
    border-left: 2px solid #247DE8;
}

.trading-sidebar .topList ul .active a {
    color: #247DE8;
}

.trading-sidebar .topList ul li {
    line-height: 45px;
    padding-left: 30px;
    border-bottom: 1px solid #E9E9E9;
    position: relative;
    color: #999;
}

.trading-sidebar .topList ul li:hover {
    cursor: pointer;
}

.trading-sidebar .topList ul li:nth-child(5) {
    border-bottom: none;
}

.trading-sidebar .topList ul li a {
    text-decoration: none;
    color: #333;
    padding:13px 0px;
}

.trading-sidebar .topList ul li span {
    margin-right: 15px;
}