
/*数据交易*/
.innovation-center .expositionContent img {
    width: 980px;
}
.innovation-center .expositionContent img:nth-child(2){
    margin-top: -12px;
    margin-left: -2px;
}
.solve img:nth-child(1) {
    width: 518px;
    height: 538px;
}
.solve img:nth-child(2){
    width: 945px;
    height: 494px;
}
.innovation-center .financial img,.crowdsourc img,.solve img {
    display: block;
    margin: 30px auto;
}