/*.index-nav-bar{display: none}*/
/***** goods-list start *******/
.goods-container .menu-title{
    overflow: hidden;
    margin: 10px 0;
}
.goods-container .menu-title li span {
    margin:0 5px;
}
.goods-sort{
    padding:10px 0 15px;
}
.goods-sort .sort-inner{
    height: 39px;
    background-color: #f5f5f5;
    border: solid 1px #e8e8e8;
}
.goods-sort .sort-inner .sorts{
    line-height: 39px;
}
.goods-sort .sort-inner .sorts .sort{}
.goods-sort .sorts .link{
    display: block;
    height: 39px;
    margin-left: -1px;
    padding: 0 19px;
    border-left: solid 1px #f5f5f5;
    border-right: solid 1px #f5f5f5;
    text-decoration: none;
    color: #6d6d6d;
}
.goods-sort .sorts .active, .goods-sort .sorts .link:hover{
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-color: #e5e5e5;
    color: #00a2ca;
}
.goods-sort .sort-inner .sorts .first {
    margin-left: 0;
    border-left: none;
}
.goods-sort .sort-inner .sorts .has-droplist {
    position: relative;
}
.goods-sort .sort-inner .sorts .droplist {
    display: none;
    position: absolute;
    z-index: 2;
    top: -1px;
    left: -1px;
    border: solid 1px #ccc;
    background: #fff;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.1);
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
.goods-sort .sort-inner .sorts .droplist .sort {
    float: none;
    white-space: nowrap;
}
.goods-sort .sort-inner .sorts .droplist .link {
    border: none;
    margin-left: 0;
    padding-right: 30px;
}
.goods-list{

}
.goods-list .goods-list-inner{
    margin-right:-20px;
}
.goods-list .goods-items{
    width:222px;
    height: 270px;
    margin: 0 20px 20px 0;
    border: 1px solid #ededed;
    -webkit-transition: border-color .2s;
    -moz-transition: border-color .2s;
    -o-transition: border-color .2s;
    transition: border-color .2s;
}
.goods-list .goods-items:hover{
    border: 1px solid #fd8023;
}
.goods-list .goods-items .imgs{
    width:100%;
}
.goods-list .goods-items .imgs img{
    width:100%;
}
.goods-list .goods-items .row{
    padding:2px 10px;
}
.goods-list .goods-items .row span{
    color:#888;
    font-size: 12px;
}
.goods-list .goods-items .price{
    font-size: 18px;
    color: #fd8023;
    line-height: 28px;
}
.goods-list .goods-items .seller a{
    color: #888;
    text-decoration: underline;
}
/***** goods-list end *******/
/***** goods-details start *******/
.detail-center{}
.details-container{width:900px;}
.details-top{
    border: 1px solid #ccc;
    padding: 30px;
    overflow: hidden;
}
.details-top .imgs-box{
    width: 200px;
}
.details-top .imgs-box ul{
    color:#888;
    line-height: 40px;
    padding: 0 20px;
}
.details-top .imgs-box .imgs{
    width: 200px;
    height:200px;
    border-radius: 40px;
    overflow: hidden;
}
.details-top .imgs img{width:100%;}
.details-top .infos{
    width:608px;
}
.details-top .infos .title{
    font-size: 26px;
}
.details-top .infos .subtitle{
    font-size: 14px;
    line-height: 40px;
}
.details-top .infos .info-box{
    padding: 10px;
    background: #f2f2f2;
}
.details-top .infos .info-box li{
    position: relative;
    padding-left:40px;
    line-height: 30px;
    font-size: 14px;
}
.details-top .infos .info-box li label{
    position: absolute;
    left:0;
    top:0;
}
.details-top .infos .info-box li button{
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
.details-top .infos .btn-box{
    padding:20px 0 0;
    height: 40px;
    line-height: 40px;
}
.details-top .infos .btn-box .number{
    padding-left: 40px;
    position: relative;
    font-size: 14px;
}
.details-top .infos .btn-box .number label{
    position: absolute;
    left:0;
    top:0;
}
.details-top .infos .btn-box .number button{
    font-size: 18px;
}
.details-top .infos .btn-box .number input{
    width: 40px;
    height: 22px;
    padding: 0 5px;
    font-size: 14px;
    vertical-align: middle;
    margin: 0 15px;
    text-align: center;
}
.details-top .infos .btn-box .btn{
    padding:0 20px;
    font-size:16px;
    height:40px;
    background: #fd8023;
    border:none;
    color:#fff;
    margin-left:20px;
}
.details-top .infos .btn-box .custom-btn{
    background: #ea5152;
}
.details-bottom{padding:30px 0;}
.details-bottom .table-title{
    font-size: 16px;
    margin-bottom: 20px;
}
.details-bottom .table-title ul{
    height:30px;
    border-bottom:1px solid #f2f2f2;
}
.details-bottom .table-title li{
    cursor: pointer;
    margin-right: 30px;
}
.details-bottom .table-title li.active{
    height:29px;
    border-bottom:2px solid #555;
}
.details-bottom .table-content{
    border: 1px solid #ccc;
    padding:20px;
}
.details-bottom .table-content .table-item{display: none;}
.details-bottom .table-content .table-item.active{display: block;}
.details-bottom .table-content .table-item h1{
    font-size: 18px;
    font-weight: 800;
}
.details-bottom .table-content .table-item h3{
    line-height: 30px;
    padding-left:15px;
    background: #f1f1f1;
    margin:5px 0;
    font-weight: 800;
}
.details-bottom .table-content .table-item ul{
    padding-left:15px;
}
.details-bottom .table-content .table-item ul li{
    margin: 10px 0;
    position: relative;
    padding-left: 80px;
    line-height: 24px;
}
.details-bottom .table-content .table-item ul li label{
    width:80px;
    text-align: right;
    font-weight: 800;
    position: absolute;
    left: 0;
    top: 0;
}
.details-bottom .table-content .table-item .table-box{
    padding:15px 0 0 15px;
}
.details-bottom .table-content .table-item .table-box table{
    width:100%;
    font-size: 14px;
}
.details-bottom .table-content .table-item .table-box table tr{
    border-bottom:1px dotted #ccc;
    height:40px;
}
.details-bottom .table-content .table-item .table-box table th{
    background: #f1f1f1;
    padding: 0 5px;
}
.details-bottom .table-content .table-item .table-box table td{
    padding: 0 5px;
}
.details-bottom .table-content .table-item .table-box table tr:hover{
    background: #f8f8f8;
}
.details-bottom .table-content .table-item p{
    padding-left:20px;
    margin:5px;
    line-height: 24px;
}
.details-bottom .table-content .table-item ol{
    padding:0 40px;
}
.details-bottom .table-content .table-item ol .comment-title{
    line-height: 30px;
    padding-left:15px;
    background: #f1f1f1;
    margin:5px 0;
}
.details-bottom .table-content .table-item ol .comment-title .date{
    margin: 0 50px;
}
.details-bottom .table-content .table-item ol .comment-content{
    font-size: 14px;
    padding:0px 10px 20px 30px;
}

.recommend-container{width:270px;}
.recommend-data{
    border:1px solid #ccc;
    padding:20px;
}
.recommend-data h3{
    font-size: 18px;
    text-align: center;
    height: 30px;
    border-bottom: 1px dotted #ccc;
}
.recommend-data li{
    height:60px;
    margin-top:15px;
}
.recommend-data .imgs{
    width: 60px;
    height:60px;
    margin-left: 20px;
}
.recommend-data .imgs img{
    width:100%;
}
.recommend-data .infos{
    width:128px;
    font-size: 13px;
    font-weight: 800;
}
.recommend-data .infos p{
    color:#fd8023;
    margin-top: 15px;
}
.activity-recommend-title{
    margin: 30px 0 20px;
    font-size: 18px;
    height: 30px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
}
.activity-recommend-title span{
    font-size: 14px;
    margin-left: 20px;
    line-height: 20px;
}
.activity-recommend-box .item{
    margin-bottom: 20px;
    height:70px;
    overflow: hidden;
    border-radius:5px;
}
.activity-recommend-box .item a{
    display: block;

}
.activity-recommend-box .item a img{
    width:100%;
}
.goods-group{
    border:1px solid #ccc;
    padding:0 10px;
}
.goods-group .row{
    border-top: 1px dashed #dedede;
    padding: 0 100px 0 112px;
    position: relative;
}
.goods-group .row:first-child{
    border:none;
}
.goods-group .row .head{
    position: absolute;
    left:11px;
    top:9px;
    color:#999;
}
.goods-group .row .body{}
.goods-group .row .body .items {
    height: 36px;
    overflow: hidden;
}
.goods-group .row .body .items a{
    float: left;
    margin: 9px 40px 9px 0;
    height: 18px;
    color: #333;
    text-decoration: none;
}
.goods-group .row .body .items a .icon-btn-check-small {
    display: none;
    float: left;
    margin: 4px 5px 0 0;
}
.goods-group .row .body .items a .text {
    float: left;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}
.goods-group .row .body .items a .fa-exclamation-circle{
    float: left;
    display: inline;
    margin: 4px 0 0 5px;
    color:#cac8c8;
}
.goods-group .row .body .items-show2line {
    height: 72px;
}
.goods-group .row .body .items-show3line{
    height: 108px;
    overflow-y: scroll;

}
.goods-group .row .foot{
    position: absolute;
    right: 0;
    top: 9px;
}
.goods-group .foot .switch-multi {
    position: absolute;
    right: 60px;
    height: 16px;
    padding: 0 3px;
    line-height: 16px;
    border: solid 1px #dad9d9;
    cursor: pointer;
    white-space: nowrap;
}
.goods-group .foot .show-more,.goods-group .foot .show-less {
    position: absolute;
    right: 10px;
    height: 18px;
    padding-right: 10px;
    line-height: 18px;
    cursor: pointer;
    white-space: nowrap;
}
.goods-group .foot .show-less{
    display: none;
}
.goods-group .foot .show-more .fa-angle-down, .foot .show-less .fa-angle-up{
    position: absolute;
    top: 3px;
    right: 2px;
    cursor: pointer;
}
.goods-group .body .btns {
    display: none;
    text-align: center;
}
.goods-group .body .submit {
    color: #fff;
    background: #F94700;
    border: 1px solid #F94700;
}
.goods-group .body .cancel {
    border: 1px solid #e8e8e8;
}
.goods-group .body .cancel, .goods-group .body .submit {
    display: inline-block;
    margin: 5px;
    border-radius: 2px;
    height: 20px;
    width: 42px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
/***** goods-details end *******/