.user-center .user-center-bd .user-center-menu{width:200px;}
.user-center .user-center-bd .user-center-menu .menu-list{}
.user-center .user-center-bd .user-center-menu .menu-list .menu-items{
    font-size: 14px;
}
.user-center .user-center-bd .user-center-menu .menu-header{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #42485b;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid #3b4050;
}
.user-center .user-center-bd .user-center-menu .menu-category li a{
    line-height: 36px;
    padding-left: 20px;
    background: #51586f;
    display: block;
    color: #9cddf5;
    text-decoration: none;
}
.user-center .user-center-bd .user-center-menu .menu-category li a.active{
    color:#0c9abe;
}
.user-center .center-title{
    font-size: 18px;
    height: 30px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
}
/*.user-center .user-center-bd .user-center-menu .menu-category{display: none}*/
/*.user-center .user-center-bd .user-center-menu .menu-category.active{display: block}*/
.user-center .user-center-bd .user-center-menu .menu-category li a:hover{
    color:#0c9abe;
}


.user-center {
    padding: 30px 0;
}
.user-center-box{
    width:970px;
}
.wrapper-tab .wrapper-tab-box{
    padding: 18px 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 1.25;
    overflow: hidden;
}
.wrapper-tab .wrapper-tab-box li{
    float: left;
    padding: 0 20px;
    border-left: 1px solid #e0e0e0;
    color: #757575;
}
.wrapper-tab .wrapper-tab-box li a {
    color: #757575;
    text-decoration: none;
}
.wrapper-tab .wrapper-tab-box li.first {
    padding-left: 0;
    border-left: 0;
}
.wrapper-tab .wrapper-tab-box li.active a{
    color: #ff6700;
}