<object classid=clsid:62B938C4-4190-4F37-8CF0-A92B0A91CC77
        codebase="/layout/NetSign.cab"
        data=data:application/x-oleobject;base64,xDi5YpBBN0+M8KkrCpHMdwADAACJEwAAPAcAAA==
        id=InfoSecNetSign1 style="HEIGHT: 0px; WIDTH: 0px" VIEWASTEXT
        width="0" height="0">
    <embed width="0" height="0"
           src="data:application/x-oleobject;base64,xDi5YpBBN0+M8KkrCpHMdwADAACJEwAAPAcAAA==">
    </embed>
</object>
<script type="text/javascript">
    function call(){
        var now = new Date();
        var reqID = "${requestID}";
        var sign_merchantid = "${sign_merchantid}";
        var sign_merchantid_desc = "${sign_merchantid_desc}";
        var sign_merchanttrxno = "${sign_merchanttrxno}";
        var sign_merchanttrxno_desc = "${sign_merchanttrxno_desc}";
        var sign_functionid = "${sign_functionid}";
        var sign_functionid_desc = "${sign_functionid_desc}";
        var sign_MerchantName = "${sign_MerchantName}";
        var sign_MerchantName_desc = "${sign_MerchantName_desc}";
        var sign_CustName = "${sign_CustName}";
        var sign_CustName_desc = "${sign_CustName_desc}";
        var sign_time = "${sign_time}";
        var sign_time_desc = "${sign_time_desc}";
        var MerchantID="${merchantID}";
        var MerchantName="${merchantName}";
        var sign_up="${sign_up}";
        var xm="网银注册客户名";
        var signstring = sign_merchantid + MerchantID
            + sign_merchanttrxno + reqID
            + sign_functionid + sign_up
            + sign_MerchantName + MerchantName
            + sign_CustName + xm
            + sign_time + now;

        var TempString;
        TempString = "<客户签约确认>\n\n";
        TempString = TempString + sign_functionid_desc + "交易市场签约" + "\n";
        TempString = TempString + sign_merchanttrxno_desc + reqID + "\n";
        TempString = TempString + sign_MerchantName_desc + MerchantName + "\n";
        TempString = TempString + sign_merchantid_desc + MerchantID + "\n";
        TempString = TempString + sign_CustName_desc + xm + "\n";
        TempString = TempString + sign_time_desc + now;
        if (typeof(InfoSecNetSign1.defaultDN) == "undefined") {
            alert( "您还没有插入您的K宝证书或证书有误!" );
            return false;
        }

        InfoSecNetSign1.addFormItem(signstring);
        InfoSecNetSign1.addFormItem(TempString);
        InfoSecNetSign1.makeAttachedSign();
        //alert("--"+InfoSecNetSign1.attachedSign);
        document.getElementById("CustSignInfo").value = InfoSecNetSign1.attachedSign ;
    }
</script>