<!doctype html>
<html>
<head>
    <meta name="charset" content="utf-8"/>
    <title>${title!}</title>
    <meta name="description" content="">
    <meta name="keyword" content="大数据,云计算,">

    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/dialog.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/css/dialog.css">
    <link type="text/css" rel="stylesheet" href="/static/css/index-min.css">
    <!--<link type="text/css" rel="stylesheet" href="/static/css/all.css">-->
    <link type="text/css" rel="stylesheet" href="/static/css/layout-hangye-pc.css">
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
    <link type="text/css" rel="stylesheet" href="/static/css/knight.css">
    <link type="text/css" rel="stylesheet" href="/static/css/banner.css">
    ${headSection}
</head>
<body>
<script type="text/javascript">
    (function(){
        var browser = navigator.appName
        var b_version = navigator.appVersion
        var version = b_version.split(";");
        var trim_Version = version[1].replace(/[ ]/g, "");
        if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0") {
            window.stop();
            $.alert('不支持当前浏览器，请更换更高版本的浏览器。', true, function () {
                ie6close();
            })
        }else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0") {
            window.stop();
            $.alert('不支持当前浏览器，请更换更高版本的浏览器。', true, function () {
                ie7close();
            })
        }
        function ie7close(){
            window.open('', '_self', '');
            window.close();
        }
        function ie6close(){
            window.opener = null;
            window.close();
        }

    }())
</script>
<%include("/layout/header.html"){} %>
<div class="page-layout page-main-content">
    ${htmlSection}
</div>
<%include("/layout/footer.html"){} %>
<%include("/layout/float_tool.html"){} %>
</body>
</html>