<!doctype html>
<html>
<head>
	<meta name="charset" content="utf-8"/>
	<title>${title!}青岛大数据交易中心</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no,email=no,adress=no"/>
	<meta name="description" content="">
	<meta name="keyword" content="大数据,云计算,">
	<link rel="shortcut icon" href="/static/images/favicon.ico"/>
	<link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/static/css/reset.css">
	<link type="text/css" rel="stylesheet" href="/static/css/common.css">
	<link type="text/css" rel="stylesheet" href="/static/css/base.css">
	<link type="text/css" rel="stylesheet" href="/static/css/plugins/dialog/dialog.css">
	<link type="text/css" rel="stylesheet" href="/static/css/font/base/iconfont.css">
	<script type="text/javascript" src="/static/js/plugins/jquery/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/plugins/jquery/jquery-3.1.1.min.js"></script>-->
	<script type="text/javascript" src="/static/js/base.js"></script>
	<script type="text/javascript" src="/static/js/plugins/dialog/dialog.js"></script>
	<script type="text/javascript">
		var host = {
			"console": "${host.console}",
			"website": "${host.website}",
			"static": "${host.static}",
			"auth": "${host.auth}",
			"admin": "${host.admin}",
			"loginUrl": "${oauth2.loginUrl}"
		}
	</script>
	${headSection}
</head>
<body>
<%include("/layout/header.html"){} %>
${htmlSection}
<%include("/layout/page-tool.html"){} %>
<script>
	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?4240918c66f3a2a8a5c25c10981aa2ed";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
	var tradeHost = window.location.host;
	var html= '<div class="grid-0 footer-bar">' ;
	html+= '<div class="grid-row">' ;
	html+= '<div class="grid-left">' ;
	html+= '<dl class="grid-left">' ;
	html+= '<dt><span class="fa fa-home"></span><a target="_blank" href="/introduction/index.html" >关于交易中心</a></dt>' ;
	html+= '</dl>' ;
	html+= '<dl class="grid-left">' ;
	html+= '<dt><span class="fa fa-headphones"></span>服务&支持</dt>' ;
	html+= '<dd><a target="_blank" href="/help/buyers_guide">买家指南</a></dd>' ;
	html+= '<dd><a target="_blank" href="/help/arrival_guide">入驻指南</a></dd>' ;
	html+= '<dd><a target="_blank" href="/help/question">常见问题</a></dd>' ;
	html+= '<dd><a target="_blank" href="/help/privacy">隐私政策</a></dd>' ;
	html+= '</dl>' ;
	html+= '<dl class="grid-left">' ;
	html+= '<dt><span class="fa fa-phone" ></span>商务合作</dt>' ;
	html+= '<dd><a target="_blank" href="/help/resource_cooperation">资源合作</a></dd>' ;
	html+= '</dl>' ;
	html+= '<dl class="grid-left">' ;
	html+= '<dt><span class="fa fa-tty"></span>联系我们</dt>' ;
	html+= '<dd style="width: 200px"><a href="javascript:void(0)" style="cursor: default">服务热线：0532-86617555</a></dd>' ;
	html+= '<dd style="width: 240px"><a href="javascript:void(0)" style="cursor: default">服务邮箱：service@qddata.com.cn</a></dd>' ;
	html+= '</dl>' ;
	html+= '</div>' ;
	html+= '<div class="grid-right QRcode-box">' ;
	html+= '<img src="/static/images/qrcode.jpg" alt="">' ;
	html+= '<h3>关注官方微信</h3>' ;
	html+= '<p>及时了解交易动态</p>' ;
	html+= '</div>' ;
	html+= '</div>' ;
	html+= '</div>' ;

var htmlC = '<iframe frameborder=0 width=100% marginheight=0 marginwidth=0 id="tradeFooter" scrolling=no src=http://www.qddata.com.cn/yj/index.jhtml></iframe>';
	if (tradeHost == 'trade.qddata.com.cn') {
        $('body').append(htmlC)
	}
	var iframe = $('#tradeFooter');
	if (iframe.attachEvent) {
		iframe.attachEvent("onload", function() {
			iframe.height(this.contentWindow.document.body.offsetHeight)
		});
	} else {
		iframe.load(function(){
			iframe.height(this.contentWindow.document.body.offsetHeight)
		});
	}




</script>
</body>
</html>