<iframe frameborder=0 width=100% height=0 marginheight=0 marginwidth=0 id="ggyj" scrolling=no
        src="http://cms.gbdex.bdgstore.cn/ggyj/index.jhtml"></iframe>
<script>
    //消息处理函数
    var onmessage = function(e){
        var data = e.data;
        //提取参数
        var rstArr = /%([0-9]+?)%.*%(\w+?)%/.exec(data);
        var height = rstArr[1];
        var domID = rstArr[2];
        if(height == 0){
            //parent.parent.document.getElementById("J_ContentWrap").style.display = "none";
            document.getElementById(domID).style.display = "none";
        } else{
            document.getElementById(domID).height = height;
        }
    }
    //监听postMessage消息事件
    if (typeof window.addEventListener != 'undefined') {
        window.addEventListener('message', onmessage, false);
    } else if (typeof window.attachEvent != 'undefined') {
        window.attachEvent('onmessage', onmessage);
    }
</script>