<footer>
	<div class="footerBox">
		<ul class="first-level">
			<li>
				<h3><img src="/static/images/footer/footerIco01.png" alt="">星河导航</h3>
				<ul class="second-level">
					<li><a href="http://gbdex.bdgstore.cn" target="_blank"> 交易服务 </a></li>
					<li><a href="http://crowd.gbdex.bdgstore.cn/crowdsourcing" target="_blank"> 需求发现平台 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/scpt/index.jhtml" target="_blank"> 双创平台 </a></li>
					<li><a href="http://gbdex.bdgstore.cn/usercenter/buyer/orderManagement" target="_blank"> 我的订单 </a></li>
					<li><a href="http://gbdex.bdgstore.cn/usercenter/index" target="_blank"> 我的BDG </a></li>
				</ul>
			</li>
			<li>
				<h3><img src="/static/images/footer/footerIco02.png" alt="">用户服务</h3>
				<ul class="second-level">
					<li><a href="http://cms.gbdex.bdgstore.cn:80/mjzn/index.jhtml" target="_blank"> 买家指南 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/rzz/index.jhtml" target="_blank"> 入驻指南 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/cjw/index.jhtml" target="_blank"> 常见问题 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/zbfw/index.jhtml" target="_blank"> 需求发现平台 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/ptsm/index.jhtml" target="_blank"> 平台声明 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/jygz/index.jhtml" target="_blank"> 交易规则 </a></li>
				</ul>
			</li>
			<li>
				<h3><img src="/static/images/footer/footerIco03.png" alt="">商务合作</h3>
				<ul class="second-level">
					<li><a href="http://cms.gbdex.bdgstore.cn:80/cphz/index.jhtml" target="_blank"> 产品合作 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/pphz/index.jhtml" target="_blank"> 品牌合作 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/xmhz/index.jhtml" target="_blank"> 项目合作 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/schz/index.jhtml" target="_blank"> 双创合作 </a></li>
				</ul>
			</li>
			<li>
				<h3><img src="/static/images/footer/footerIco04.png" alt="">关于我们</h3>
				<ul class="second-level">
					<li><a href="http://cms.gbdex.bdgstore.cn:80/gysjxh/index.jhtml" target="_blank"> 关于数据星河 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/ptdw/index.jhtml" target="_blank"> 平台定位 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn/ptdt/index.jhtml" target="_blank"> 平台动态 </a></li>
					<li><a href="http://cms.gbdex.bdgstore.cn:80/fzgh/index.jhtml" target="_blank"> 发展规划 </a></li>
				</ul>
			</li>
			<li>
				<h3><img src="/static/images/footer/footerIco05.png" alt="">服务热线电话</h3>
				<ul class="second-level">
					<li>服务热线：400-819-0919</li>
					<li style="width: 300px;">服务邮箱：<a href="mailto:service@gbdex.bdgstore.cn">service@gbdex.bdgstore.cn</a></li>
					<li style="width: 250px;">公司地址：北京市海淀区永泰庄北路1号院天地邻枫创新产业园6号楼</li>
				</ul>
			</li>
		</ul>
		<div class="erweima">
			<div class="erweimaBox">
				<img src="/static/images/dingyue.jpg" width="113" height="113" alt="标题图"> <br>
				扫码关注订阅号
			</div>
			<div class="erweimaBox">
				<img src="/static/images/fuwu.jpg" width="113" height="113" alt="标题图"> <br>
				扫码关注服务号
			</div>
		</div>
	</div>
	<div class="beian">
		京ICP备 <a href="javascript:;">12012279</a>号-16 版权所有 九次方大数据信息集团有限公司
	</div>
</footer>
<style>
	footer{
		background: url('/static/images/footer/footer_bg.jpg') center top no-repeat #ddd;
		margin-top:30px;
	}
	footer .footerBox {
		position: relative;
		color: #7b7b7e;
		width: 1200px;
		min-width: 1200px;
		height: 350px;
		margin: 0 auto;
		padding-top: 40px;
	}

	footer .footerBox .first-level {
		list-style: none;
		margin: 0;
		padding: 0 0 0 0;
	}

	footer .footerBox .first-level li {
		margin-right:24px;
		float: left;
		width: 200px;
		color: #666;
	}

	footer .footerBox .first-level li h3 {
		font-size: 18px;
		margin: 0 0 5px 0;
		color: #333;
	}

	footer .footerBox .first-level li h3 img {
		position: relative;
		top: 11px;
		margin-right: 10px;
	}

	footer .footerBox .first-level .second-level {
		font-size: 16px;
		line-height: 30px;
		color: #166ca8;
		list-style: none;
		margin: 0;
		padding: 0 0 0 0;
		margin: 0 0 0 44px;
	}

	footer .footerBox .first-level .second-level a {
		color: #666;
		text-decoration: none;
	}

	footer .footerBox .first-level .second-level a:hover,
	footer .footerBox .first-level .second-level a.active {
		color: #e10000;
		text-decoration: none;
	}

	footer .footerBox .first-level .second-level:before,
	footer .footerBox .first-level .second-level:after {
		content: " ";
		display: table;
	}

	footer .footerBox .first-level .second-level:after {
		clear: both;
	}

	footer .footerBox .first-level:before,
	footer .footerBox .first-level:after {
		content: " ";
		display: table;
	}

	footer .footerBox .first-level:after {
		clear: both;
	}

	footer .footerBox .erweima {
		width: 254px;
		text-align: center;
		color: #fff;
		font-size: 18px;
		position: absolute;
		right: 3px;
		top: 212px;
		overflow: hidden;
	}

	footer .footerBox .erweima .erweimaBox {
		float: left;
		width: 113px;
		color: #666;
		font-size: 14px;
		text-align: center;
	}

	footer .footerBox .erweima .erweimaBox:first-child {
		margin-right: 21px;
	}

	footer .beian {
		width；1200px;
		min-width: 1200px;
		text-align: center;
		border-top: 1px solid #4d4d4d;
		line-height: 51px;
		color: #999;
		font-size:12px;
	}

	footer .beian a {
		color: #999;
		text-decoration: none;
	}
</style>