<div class="grid-0 footer-bar">
    <div class="grid-row">
        <div class="grid-left">
            <dl class="grid-left">
                <dt><span class="fa fa-home"></span><a target="_blank" href="/introduction/index.html" >关于交易中心</a></dt>
                <dd><a target="_blank" href="/introduction/strategy.html" >战略布局</a></dd>
                <dd><a target="_blank" href="/introduction/leader.html" >领导关怀</a></dd>
                <!--<dd><a target="_blank" href="/introduction/media.html" >媒体关注</a></dd>-->
                <!--<dd><a target="_blank" href="/introduction/glory.html" >企业荣耀</a></dd>-->
            </dl>
            <!--<dl class="grid-left">-->
                <!--<dt><span class="fa fa-briefcase"></span>数据工具</dt>-->
                <!--<dd><a href="javascript:window.location.href=''">数据源</a></dd>-->
                <!--<dd><a href="javascript:window.location.href=''">模型</a></dd>-->
                <!--<dd><a href="javascript:window.location.href=''">开放平台</a></dd>-->
            <!--</dl>-->
            <dl class="grid-left">
                <dt><span class="fa fa-headphones"></span>服务&支持</dt>
                <dd><a target="_blank" href="/help/buyers_guide">买家指南</a></dd>
                <dd><a target="_blank" href="/help/arrival_guide">入驻指南</a></dd>
                <dd><a target="_blank" href="/help/question">常见问题</a></dd>
                <dd><a target="_blank" href="/help/privacy">隐私政策</a></dd>
            </dl>
            <dl class="grid-left">
                <dt><span class="fa fa-phone" ></span>商务合作</dt>
                <dd><a target="_blank" href="/help/resource_cooperation">资源合作</a></dd>
                <dd><a target="_blank" href="/help/brand_cooperation">品牌合作</a></dd>
            </dl>
            <dl class="grid-left">
                <dt><span class="fa fa-tty"></span>联系我们</dt>
                <dd style="width: 200px"><a href="">服务热线：0532-86617555</a></dd>
                <dd style="width: 230px"><a href="">服务邮箱：service@qddata.com.cn</a></dd>
            </dl>

        </div>
        <div class="grid-right QRcode-box">
            <img src="/static/images/qrcode.jpg" alt="">
            <h3>关注官方微信</h3>
            <p>及时了解交易动态</p>
        </div>
    </div>
</div>