<div class="grid-0 footer-bar">
    <div class="grid-row">
        <div class="grid-left QRcode-box">
            <img src="/static/images/brand_logo.png" alt="">
        </div>
        <div class="grid-right">
            <dl class="grid-left">
                <dt><span class="fa fa-paper-plane-o"></span>首页</dt>
                <dd><a target="_blank" href="${host.website}/exchange/index" >数据星河</a></dd>
                <dd><a target="_blank" href="${host.website}/exchange/list?catId=000&prId=101&prNm=%e5%85%a8%e9%83%a8" >星河分类</a></dd>
                <dd><a target="_blank" href="${host.website}/usercenter/buyer/allOrderList" >我的购买</a></dd>
                <dd><a target="_blank" href="${host.website}/usercenter/userinfo" >我的BDG</a></dd>
            </dl>
            <dl class="grid-left">
                <dt><span class="fa fa-question-circle-o"></span>帮助中心</dt>
                <dd><a target="_blank" href="/help/buyers_guide">买家指南</a></dd>
                <dd><a target="_blank" href="/help/arrival_guide">入驻指南</a></dd>
                <dd><a target="_blank" href="/help/question">常见问题</a></dd>
                <dd><a target="_blank" href="/help/privacy">隐私政策</a></dd>
            </dl>
            <dl class="grid-left">
                <dt><span class="fa fa-briefcase"></span>关于数据星河</dt>
                <dd><a target="_blank" href="/help/about">关于我们</a></dd>
                <dd><a target="_blank" href="/help/resource_cooperation">资源合作</a></dd>
            </dl>
            <dl class="grid-left" style="width:260px;">
                <dt><span class="fa fa-headphones"></span>联系我们</dt>
                <dd style="width: 200px"><a href="javascript:void(0)" style="cursor: default">服务热线：400-819-0919</a></dd>
                <dd style="width: 260px"><a href="javascript:void(0)" style="cursor: default">服务邮箱：center@galaxybigdata.com</a></dd>
            </dl>
        </div>
    </div>
    <div class="footer_bottom">
        京ICP备12012279号 版权所有 九次方大数据信息集团有限公司
    </div>
</div>