<link type="text/css" rel="stylesheet" href="${staticPath}/css/banner.css">
<link type="text/css" rel="stylesheet" href="${staticPath}/css/banner-tab.css">
<div class="layout layout-grid-0">
  <div class="grid-0">
    <div class="col col-main">
      <div class="main-wrap J_Region">
        <div class="hookah-index-top-banner-2016 J_Module">
          <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap" style="position: relative; z-index: 100;">
            <div class="topbar-body black-cell no-change" style="background: #373D41;">
              <%include("/layout/index_menu.html"){} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%include("/layout/index_logo_search.html"){} %>
<%include("/layout/index_menu_second.html"){} %>

