<div class="grid-0 header-bottom-bar">
    <div class="grid-row">
        <ul>
            <li class="grid-left active" id="exchange_menu" style="display: none;"><a href="javascript:void(0)" class=""><span class="fa fa-navicon"></span>全部分类</a></li>
            <li class="grid-left" id="menu_index"><a href="/" class="">首页</a></li>
            <li class="grid-left"><a href="/exchange">交易中心</a></li>
            <li class="grid-left"><a href="/innovation">双创中心</a></li>
            <li class="grid-left"><a href="javascript:void(0)">博览会</a></li>
            <li class="grid-left"><a href="/information">资讯中心</a></li>
            <li class="grid-left"><a href="/introduction">关于我们</a></li>
        </ul>
    </div>
</div>