<div class="grid-0 header-centerbar">
	<div class="grid-row" style="position: relative">
		<div class="logo grid-left"><a href="/"><img src="/static/images/logo1.png" alt=""></a></div>
		<div class="search grid-left">
			<div class="search-input">
				<span class="fa fa-search text-align-center"></span>
				<input type="text" id="J_searchInput" placeholder="请输入...">
				<button class="btn btn-full-bright-blue" id="J_searchBtn">搜索</button>
			</div>
			<div class="search-text">
				<a target="_blank" href="/exchange/search?names=金融" class="margin-right-10">金融</a>
				<a target="_blank" href="/exchange/search?names=银行" class="margin-right-10">银行</a>
				<a target="_blank" href="/exchange/search?names=信用" class="margin-right-10">信用</a>
				<a target="_blank" href="/exchange/search?names=企业信息" class="margin-right-10">企业信息</a>
			</div>
			<div class="search-sug">
				<ul>

				</ul>
			</div>
		</div>
		<div class="shopping-cart grid-right">
			<div class="shopping-cart-top  grid-right">
				<i class="fa fa-shopping-cart color-bright-blue" aria-hidden="true"></i>
				<a href="/cart" class="display-inline-block">我的购物车</a>
				<span>${cartSize!"0"}</span>
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</div>
			<div class="showLine"></div>
			<div class="shopping-cart-down grid-right">
				<%if(isEmpty(user)){%>
				<div class="shopping-cart-down-title"><h1>你还没有登录</h1></div>
				<div class="goLogin text-align-center"><a href="${oauth2.loginUrl}" class="color-blue">去登陆</a></div>
				<%}else{%>
				<%if(has(cartSize) && cartSize > 0){%>
				<div class="shopping-cart-down-title"><h1>最新加入的商品</h1></div>
				<div class="shopping-cart-down-content">
					<ul>
						<%for(list in cartList){%>
						<li>
							<!--<div class="content-top clearfix">-->
							<!--<div class="font-weight-normal grid-left"><span>满减</span>购满599元，即可享受满减优惠</div>-->
							<!--<div class="grid-right">小计：<span>￥299.00</span></div>-->
							<!--</div>-->
							<div class="content-down">
								<a class="img" href="/exchange/details?id=${list.goodsId}"><img src="${list.goodsImg}" alt=""></a>
								<div class="content-down-name display-inline-block">
									<a href="/exchange/details?id=${list.goodsId}">${list.goodsName}</a>
								</div>
								<div class="grid-right font-weight-bold content-down-money">
									<div class=""><span class="color-red">￥${trunc(list.goodsPrice / 100,2)}</span>×${list.goodsNumber}</div>
									<!--<a href="" class="grid-right font-weight-normal">删除</a>-->
								</div>
							</div>
						</li>
						<%}%>
					</ul>
				</div>
				<%}else{%>
				<div class="shopping-cart-down-title"><h1>购物车还没有商品</h1></div>
				<div class="goLogin text-align-center"><a href="${host.websita}/exchange/index" class="color-blue">去购物</a></div>
				<%}%>
				<div class="shopping-cart-down-pay">
					<div class="display-inline-block">共<span>${cartSize!"0"}</span>件商品</div>
					<a href="/cart" class="go-cart display-inline-block grid-right btn btn-full-red">去购物车</a>
				</div>
				<%}%>
			</div>
		</div>
	</div>
</div>