<div class="grid-0 header-top-bar border-bottom backgorund-gray">
  <div class="grid-row">
    <ul class="text-align-right">
      <!--<li class="display-inline-block" style="float:left"><a href="/" class="a-hover-blue">首页</a></li>-->
      <%if(isEmpty(user)){%>
      <li class="display-inline-block">
        <a href="${oauth2.loginUrl}"><span class="fa fa-user-o margin-right-5"></span>登录</a>
      </li>
      <li class="display-inline-block"><a href="${oauth2.regUrl}" class="color-orange">免费注册</a></li>
      <%}else{%>
      <li class="display-inline-block userInfos">

        <a href="javascript:void(0)" class="login">
          欢迎，
          <!--<span class="fa fa-user-o margin-right-5"></span>-->
          ${user.userName}
        </a>
        <div class="userInfos-box">
          <div class="spacer"></div>
          <div class="userInfos-con">
            <img src="${user.headImg}" alt="">
            <% if(shiro.hasRole("Admin")){%>
            <a href="/admin/articleManage" class="a-hover-blue">个人中心</a>
            <a href="${host.admin}/home" >后台管理</a>
            <%}else{%>
            <a href="/usercenter/index" class="a-hover-blue">个人中心</a>
            <%}%>
          </div>
          <a href="${host.auth}/logout">退出</a>
        </div>
      </li>
      <%}%>
      <li class="display-inline-block">
        <% if(shiro.hasRole("Admin")){%>
        <a href="/admin/articleManage">个人中心</a>
      </li>
      <li class="display-inline-block">
        <a href="${host.admin}/home" target="_blank">后台管理</a>
        <%}else{%>
        <a href="/usercenter/index">个人中心</a>
        <%}%>
      </li>
      <li class="display-inline-block">|</li>
      <li class="display-inline-block">
        <a href="/help/question" class="a-hover-blue">
          <!--<span class="fa fa-question-circle-o margin-right-5"></span>-->
          常见问题
        </a>
      </li>
      <li class="display-inline-block"><a href="/introduction/index" class="a-hover-blue">联系我们</a></li>
      <!--<li class="display-inline-block color-orange">-->
      <!--<span class="fa fa-phone margin-right-5"></span>-->
      <!--400-819-0919-->
      <!--</li>-->
    </ul>
  </div>
</div>
<script type="text/javascript">
  $('.userInfos').mouseover(function () {
    $(this).css("background", "#fff").children('.userInfos-box').show();
    $(this).children('a');
  }).mouseout(function () {
    $(this).css("background", "none").children('a');
    $(this).children('.userInfos-box').hide();
  })
</script>