<div class="grid-0 header-centerbar">
    <div class="grid-row">
        <div class="logo grid-left"><a href="/"><img src="/static/images/logo.png" alt=""></a></div>
        <div class="search grid-left">
            <div class="search-input">
                <span class="fa fa-search text-align-center"></span>
                <input type="text" placeholder="请输入...">
                <button class="btn btn-full-red">搜索</button>
            </div>
            <div class="search-text">
                <a href="javascript:void(0)" class="margin-right-10">认证接口</a>
                <a href="javascript:void(0)" class="margin-right-10">交通违规</a>
                <a href="javascript:void(0)" class="margin-right-10">数据清洗工具</a>
                <a href="javascript:void(0)" class="margin-right-10">身份认证</a>
            </div>
        </div>
    </div>
</div>