<div class="grid-0 header-bottom-bar">
    <div class="grid-row">
        <ul>
            <li class="grid-left margin-right-40 active"><a href="/" class="">首页</a></li>
            <li class="grid-left margin-right-40"><a href="javascript:void(0)">交易中心</a></li>
            <li class="grid-left margin-right-40"><a href="javascript:void(0)">双创中心</a></li>
            <li class="grid-left margin-right-40"><a href="javascript:void(0)">博览会</a></li>
            <li class="grid-left margin-right-40"><a href="/information">资讯中心</a></li>
            <li class="grid-left margin-right-40"><a href="/introduction">关于我们</a></li>
        </ul>
    </div>
</div>