<div class="grid-0 header-bottom-bar">
    <div class="grid-row">
        <ul>
            <li class="grid-left active" id="exchange_menu" style="display: none;"><a href="javascript:void(0)" class=""><span class="fa fa-navicon"></span>全部分类</a></li>
            <li class="grid-left" id="menu_index"><a href="http://www.galaxy.com.cn" class="">首页</a></li>
            <li class="grid-left"><a href="/exchange/index">交易中心</a></li>
            <!--<li class="grid-left"><a href="/innovation/index">双创中心</a></li>-->
            <li class="grid-left"><a href="http://www.galaxy.com.cn/yyfa/index.jhtml">应用方案</a></li>
            <li class="grid-left"><a href="http://www.galaxy.com.cn/xyzx/index.jhtml">行业资讯</a></li>
            <li class="grid-left"><a href="http://www.galaxy.com.cn/gywm/index.jhtml">关于我们</a></li>
        </ul>
    </div>
</div>