<div class="layout layout-grid-0">
    <div class="grid-0">
        <div class="col col-main">
            <div class="main-wrap J_Region">
                <div class="hookah-index-product-sale J_Module">
                    <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                        <div class="index-focus-bar y-row">
                            <div class="y-left">
                                <%include("/layout/index_top_banner.html"){} %>
                            </div>
                            <div class="y-right">
                                <div class="trade-info">
                                    <h3 class="info-title">交易中心介绍</h3>
                                    <div class="info-content">
                                        <div class="info-text">
                                            <p>山东大数据交易中心整合了全球所有顶尖的大数据开发平台、技术工具、模型算法、应用组件等下游用户创业创新。打造中国大数据产业的“App
                                                Store”。</p>
                                            <p>
                                                借助大数据技术完成数据集成、融合，打破中央与地方政府之间、政府各下属机构之间、政府部门和垂直行业之间的数据堡垒，实现信息共享、业务协同、智能决策</p>
                                            <p>实现数据资产更深领域、更广范围变现流通。包括数据交易、结算交付、安全保障、数据资产管理和融资等综合配套服务。</p>
                                        </div>
                                        <ul class="info-other-btn">
                                            <li>
                                                <a href="javascript:void(0)">资源种类</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">会员须知</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">隐私条款</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">常见问题</a>
                                            </li>
                                        </ul>
                                        <button class="go-trade-btn main-btn">进入交易中心</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="index-news-bar1 y-row">
                            <div class="tool-body">
                                <div class="y-clear news-bar1-box">
                                    <div class="news-bar1-items y-left">
                                        <div class="items-img"></div>
                                        <div class="items-info">
                                            <h3>市长率团调研大数据交易中心</h3>
                                            <p>大数据产业发展，离不开产业链上游数据交易的驱动。为此，市长徐衣显今日率团调研贵阳大数据交易中心...</p>
                                            <a href="javascript:void(0)">MORE >></a>
                                        </div>
                                    </div>
                                    <div class="news-bar1-items y-left">
                                        <div class="items-img"></div>
                                        <div class="items-info">
                                            <h3>市长率团调研大数据交易中心</h3>
                                            <p>大数据产业发展，离不开产业链上游数据交易的驱动。为此，市长徐衣显今日率团调研贵阳大数据交易中心...</p>
                                            <a href="javascript:void(0)">MORE >></a>
                                        </div>
                                    </div>
                                    <div class="news-bar1-items y-left">
                                        <div class="items-img"></div>
                                        <div class="items-info">
                                            <h3>市长率团调研大数据交易中心</h3>
                                            <p>大数据产业发展，离不开产业链上游数据交易的驱动。为此，市长徐衣显今日率团调研贵阳大数据交易中心...</p>
                                            <a href="javascript:void(0)">MORE >></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="index-news-bar2 y-row">
                            <div class="tool-body">
                                <h3 class="news-bar2-title">中心动态</h3>
                                <div class="y-clear news-bar2-box">
                                    <div class="news-bar2-left y-left">
                                        <div class="trends-center-left y-left">
                                            <div class="imgs"></div>
                                            <h3 class="title">省政府与中国农业银行签署战略合作协议</h3>
                                            <span class="time">2017.02-18</span>
                                            <p class="info">2月9日下午，山东省人民政府与中国农业银行在济南签署金融服务山东“十三五”发展战略合作协议。省委书记姜异康会见中国农业银行党委书记、董事长周慕冰，省委副书记、省长郭树清出席签约仪式...</p>
                                        </div>
                                        <div class="trends-center-right y-right">
                                            <div class="items">
                                                <div class="imgs y-left"></div>
                                                <div class="info y-right">
                                                    <h3>山东高速加快推进高速高铁建设</h3>
                                                    <p>“十三五”期间，山东高速集团承担了省委、省政府下达的总投资2200多亿元的高速。2月16日，山东高速集团召开高速公路.....</p>
                                                </div>
                                            </div>
                                            <div class="items">
                                                <div class="imgs y-left"></div>
                                                <div class="info y-right">
                                                    <h3>山东高速加快推进高速高铁建设</h3>
                                                    <p>“十三五”期间，山东高速集团承担了省委、省政府下达的总投资2200多亿元的高速。2月16日，山东高速集团召开高速公路.....</p>
                                                </div>
                                            </div>
                                            <div class="items">
                                                <div class="imgs y-left"></div>
                                                <div class="info y-right">
                                                    <h3>山东高速加快推进高速高铁建设</h3>
                                                    <p>“十三五”期间，山东高速集团承担了省委、省政府下达的总投资2200多亿元的高速。2月16日，山东高速集团召开高速公路.....</p>
                                                </div>
                                            </div>
                                            <div class="items">
                                                <div class="imgs y-left"></div>
                                                <div class="info y-right">
                                                    <h3>山东高速加快推进高速高铁建设</h3>
                                                    <p>“十三五”期间，山东高速集团承担了省委、省政府下达的总投资2200多亿元的高速。2月16日，山东高速集团召开高速公路.....</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-bar2-right y-right">
                                        <h3 class="notice-title">公告</h3>
                                        <ul class="notice-box">
                                            <li>
                                                <span>2017-02-17</span>
                                                <a href="javascript:void(0)">山东设立500亿元新兴产业发展基金</a>
                                            </li>
                                            <li>
                                                <span>2017-02-17</span>
                                                <a href="javascript:void(0)">省委离休退休干部工作领导小组会议召开</a>
                                            </li>
                                            <li>
                                                <span>2017-02-17</span>
                                                <a href="javascript:void(0)">山东设立500亿元新兴产业发展基金</a>
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" class="notice-bot-img"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //  $("li[data-index='0']").addClass("active");
    $("li[class='card-item']").hover(
        function () {
            $(this).addClass("active");
        },
        function () {
            $(this).removeClass("active");
        }
    );
</script>