<div class="layout layout-grid-0">
    <div class="grid-0">
        <div class="col col-main">
            <div class="main-wrap J_Region">
                <div class="hookah-index-product-sale J_Module">
                    <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                        <div class="index-search y-row">
                            <div class="logo-box y-left"><a href="javascript:void(0)">LOGO</a></div>
                            <div class="search-box y-right">
                                <div class="search-input y-left">
                                    <input type="text" placeholder="搜索" class="search-ask y-left">
                                    <a href="javascript:void(0)" class="search-btn y-right">
                                        <span class="fa fa-search"></span></a>
                                </div>
                                <div class="shopping-cart y-right">购物车</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>