<div class="layout layout-grid-0">
  <div class="grid-0">
    <div class="col col-main">
      <div class="main-wrap J_Region">
        <div class="hookah-index-product-sale J_Module">
          <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  //  $("li[data-index='0']").addClass("active");
  $("li[class='card-item']").hover(
    function(){
      $(this).addClass("active");
    },
    function(){
      $(this).removeClass("active");
    }
  );
</script>