<div class="layout layout-grid-0">
  <div class="grid-0">
    <div class="col col-main">
      <div class="main-wrap J_Region">
        <div class="hookah-index-product-sale J_Module">
          <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
            <div class="index-nav-bar y-row" style="background: #00C1DE;">
              <div class="tool-body y-left">
                <div class="y-clear">
                  <ul class="y-left tips-box">
                    <li class="tips-item">
                      <a href="/exchange" class="login">交易中心</a>
                    </li>
                    <li class="tips-item">
                      <a href="/innovation" class="login">双创中心</a>
                    </li>
                    <li class="tips-item">
                      <a href="/exposition" class="login">博览会</a>
                    </li>
                    <li class="tips-item">
                      <a href="/information" class="login">资讯中心</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>