<link rel="stylesheet" href="/static/css/font/exchange-menu/iconfont.css">
<link rel="stylesheet" href="/static/css/exchange/exchange-menu.css">
<div class="exchange-index-menu ">
    <ul class="menu-list">
        <% for(menuList in categoryInfo){%>
        <li class="menu-item">
            <a class="oneA" href="/exchange/list?catId=${menuList.catId}&prId=${menuList.catId}&prNm=${menuList.catName}">
                <i><img src="/static/images/exchange/category-six-0${menuListLP.index}.png" alt="" ></i>
                <span>${menuList.catName}</span>
            </a>
            <% if(menuList.children.~size > 0){ %>
            <div class="menu-son-list">
                <ul>
                    <% for(list in menuList.children){%>
                    <li><a href="/exchange/list?catId=${list.catId}&prId=${menuList.catId}&prNm=${menuList.catName}&msId=${list.catId}&msNm=${list.catName}">${list.catName} </a> </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </li>
        <% } %>
        <script>
            $('.exchange-index-menu .menu-item').eq(9).hide();
        </script>
        <!--<li>
            <i class="fa fa-list margin-right-5" aria-hidden="true"></i>
            <a href="#" class="Bh">数据源</a>
            <i class="fa fa-angle-right" style="margin-left: 90px;" aria-hidden="true"></i>
            <div class="menu-son-list">
                <ul>
                    <li><a href="javascript:void(0)">分析类 </a> </li>
                    <li><a href="javascript:void(0)">数据工具</a></li>
                    <li><a href="javascript:void(0)">数据洗涤</a></li>
                    <li><a href="javascript:void(0)">数据洗涤</a></li>
                    <li><a href="javascript:void(0)">数据洗涤</a></li>
                </ul>
            </div>
        </li>-->
    </ul>

</div>