<!doctype html>
<html>
<head>
  <meta name="charset" content="utf-8"/>
  <title>${title!}</title>
  <meta name="description" content="">
  <meta name="keyword" content="大数据,云计算,">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
  <link type="text/css" rel="stylesheet" href="/static/css/common.css">
  <link type="text/css" rel="stylesheet" href="/static/css/base.css">
  <link type="text/css" rel="stylesheet" href="/static/css/plugins/dialog/dialog.css">
  <script type="text/javascript" src="/static/js/plugins/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  <script type="text/javascript" src="/static/js/plugins/dialog/dialog.js"></script>
  ${headSection}
  <script type="text/javascript">
    var host = {
      "console": "${host.console}",
      "website":"${host.website}",
      "static":"${host.static}",
      "auth":"${host.auth}",
      "admin":"${host.admin}",
    }

  </script>
</head>
<body>
<%include("/layout/header-topbar.html"){} %>
${htmlSection}
<%include("/layout/footer.html"){} %>
</body>
</html>