
<div class="float-tool">
	<div class="tool-item">
		<a href="javascript:void(0)" class="no-cursor">
			<span class="btn-content">400-819-0919</span>
			<span class="btn-title"><img src="/static/images/tool/tool_img_1.png" alt=""><p>服务热线</p></span>
		</a>
	</div>
	<div class="tool-item">
		<a href="javascript:doyoo.util.openChat(1)" id="looyu_dom_1">
			<span class="btn-content">在线咨询</span>
			<span class="btn-title"><img src="/static/images/tool/tool_img_2.png" alt=""><p>在线咨询</p></span>
		</a>
	</div>
	<div class="tool-item">
		<a href="javascript:void(0)" class="no-cursor">
			<span class="btn-content"><img src="/static/images/tool/tool_img_wx.jpg" alt=""></span>
			<span class="btn-title"><img src="/static/images/tool/tool_img_3.png" alt=""><p>官方微信</p></span>
		</a>
	</div>
	<div class="tool-item">
		<a href="http://looyuoms7714.looyu.com/chat/chat/p.do?command=leaveMessage&t=0&n=jcfadmin&md=1&c=20003161&v=f8c2a32daf51657f6723e3372e1bb2db4c&u=cf6e4389dee24c9088dfe16614a0501451&f=10089519&site=0&p0=http%3A%2F%2Fgbdex.bdgstore.cn%2F&ct=72&lang=sc&refer=&loc=http%3A%2F%2Fgbdex.bdgstore.cn%2F&_d=1512958381403" target="_blank">
			<span class="btn-content">用户反馈</span>
			<span class="btn-title"><img src="/static/images/tool/tool_img_4.png" alt=""><p>用户反馈</p></span>
		</a>
	</div>
	<div class="tool-item go_to_top">
		<a href="javascript:void(0)" class="goToTop">
			<span class="btn-content">顶部</span>
			<span class="btn-title"><img src="/static/images/tool/tool_img_5.png" alt=""></span>
		</a>
	</div>
</div>
<div class="ad-box">
	<a href="http://gbdex.bdgstore.cn/activity/coupon" target="_blank" class="link-btn">
		<img src="/static/images/ad/ad-img.png" alt="">
	</a>
	<a href="javascript:void(0)" class="close-btn"></a>
</div>
<script class="text/javascript">
	$('.go_to_top').hide()
	$(window).scroll(function () {
		var windowHeight = parseFloat($(window).height());
		var totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
		if (totalheight - windowHeight >= 500) {
			$('.go_to_top').show();
		} else {
			$('.go_to_top').hide()
		}
//		if(totalheight - windowHeight > 109){
//			$('.exchange-index-menu .menu-son-list .twoUl, .exchange-index-menu .menu-son-list .threeOl').css('margin-top',(totalheight - windowHeight - 109)+'px')
//		}else{
//			$('.exchange-index-menu .menu-son-list .twoUl, .exchange-index-menu .menu-son-list .threeOl').css('margin-top','0px')
//		}
	});
	$(document).ready(function(){
//		$('#doyoo_panel').css({
//		    "opacity":"0"
//		});
		$('.show-ad').addClass('show');
	})
	$('.float-tool .tool-item a').hover(function () {
		$(this).children('.btn-content').addClass('hover');
	}, function () {
		$(this).children('.btn-content').removeClass('hover');
	})
	$('.goToTop').click(function () {
		$("html,body").animate({scrollTop: 0}, 600);
	});
	$('.close-btn').click(function(){
		$('.ad-box').hide();
	})
	$('.show-ad i').click(function(){
		$('.show-ad').hide();
	})
</script>