<ul class="menu-list">
    <li class="menu-items active">
        <h3 class="menu-header">用户中心</h3>
        <ol class="menu-category active">
            <li><a href="/usercenter">个人资料</a></li>
            <li><a href="/usercenter/fundmanage">资金管理</a></li>
            <li><a href="/usercenter/safeset">安全设置</a></li>
        </ol>
    </li>
    <li class="menu-items">
        <h3 class="menu-header">买家中心</h3>
        <ol class="menu-category">
            <li><a href="/mybuyer">订单管理</a></li>
            <li><a href="javascript:void(0)">我的发票</a></li>
            <li><a href="javascript:void(0)">购物车</a></li>
            <li><a href="javascript:void(0)">评价管理</a></li>
            <li><a href="javascript:void(0)">我的关注</a></li>
        </ol>
    </li>
    <li class="menu-items">
        <h3 class="menu-header">卖家中心</h3>
        <ol class="menu-category">
            <li><a href="javascript:void(0)">宝贝管理</a></li>
            <li><a href="javascript:void(0)">交易管理</a></li>
            <li><a href="javascript:void(0)">店铺管理</a></li>
            <li><a href="javascript:void(0)">客服管理</a></li>
        </ol>
    </li>
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menu-list .menu-items").hover(function() {
            $(this).addClass("active").siblings().removeClass('active');
            $(this).children('.menu-category').slideDown();
            $(this).siblings().children('.menu-category').slideUp();
        });
    })
</script>