<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-left center-content">
            管理员中心
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
