.question {
    margin:0px 50px;
}
.question h2{
    font-size: 22px;
    padding-bottom: 10px;
}
.question h3{
    font-size: 18px;
    padding-bottom: 10px;
}
.question h4{
    font-size: 16px;
    padding-bottom: 10px;
}
.question p {
    font-size: 14px;
    padding-bottom: 10px;
    text-indent: 26px;
}
.question img{
    margin-left: 50px;
}