<%
var head = {
%>
<link rel="stylesheet" href="/static/css/pay/pay.css">
<script type="text/javascript" src="/static/js/plugins/validate/jquery-validate.js"></script>
<script type="text/javascript" src="/static/js/plugins/md/md5.js"></script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray box">
	<div class="grid-row ">
		<div class="pay-wrapper">
			<div class="order-wrapper">
				<!--<div class="order-title">充值</div>-->
				<div class="header">
					<h4 class="order-title">请支付</h4>
				</div>
				<!--<div class="order-seller">&nbsp;&nbsp; 收款方&nbsp;:<span> 山东省大数据交易中心</span></div>-->
				<div class="order-amount"><span>${orderInfo.goodsAmount/100}</span>元</div>
				<a class="order-ext-trigger" href="javascript:void(0)">
					订单详情
				</a>
				<div class="order-details">
					<table class="od-tb">
						<tbody>
						<tr>
							<td class="sub-th" align="right">交易号：</td>
							<td id="orderSn">${orderInfo.orderSn}</td>
						</tr>
						<tr>
							<td class="sub-th" align="right">交易金额：</td>
							<td>${orderInfo.goodsAmount/100}元</td>
						</tr>
						<tr>
							<td class="sub-th" align="right">购买时间：</td>
							<td>${orderInfo.addTime,'yyyy-MM-dd HH:mm:ss'}</td>
						</tr>
						<tr>
							<td class="sub-th" align="right">交易类型：</td>
							<td class="type">
								<a title="即时到账交易"></a>&nbsp;<span>即时到账交易</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="main-container">
				<form name="payPassword" id="form_paypsw" action="${host.website}/pay/balancePay" method="post">
					<div id="J-rcChannels">
						<div>
							<input type="hidden" value="${orderInfo.goodsAmount}" id="goodsAmount">
							<input type="hidden" value="${moneyBalance}" id="moneyBalance">
							<input type="hidden" name="orderSn" value="${orderInfo.orderSn}" id="J_orderSn">
							<ul id="J_MarketinglList"></ul>
							<ul class="saved-card-list">
								<li class="channel-balance row-container fn-clear" id="offlinePay">
									<div class="row-basic fn-clear" style="overflow: hidden;">
										<label class="channel-label">
											<span class="channel-tit channel-icon icon banklogo-BALANCE_s"></span>
											<span class="channel-name">线下支付</span>
											<input class="channel-input"  name="apiCode" type="radio">
											<p class="offline-payInfo" style="display:none;color: #969696;clear: both;line-height: 25px;border: 1px solid #CCCCCC;margin: 0 15px 10px;padding: 5px 35px;font-weight: bold;">
												汇款账户 <br>
												开户银行：交通银行 <br>
												开户行：交通银行徐州解放北路支行 <br>
												户名：徐州国投大数据产业发展有限公司 <br>
												收款账户：323899991010003156155 <br>
												<span style="color:red;">*汇款成后请联系客服进行确认，客服电话：0516-83600251</span>
											</p>
										</label>
									</div>
									<div class="row-extra fn-hide"></div>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/pay/cash.js"></script>


