<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>新增货架</h5></div>
      <div class="pull-right">
        <!--<button class="btn btn-default" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 返回-->
        <!--</button>-->
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" role="form" id="shelfForm" name="shelfForm" novalidate>
      <fieldset>
        <h5 style="padding: 0px 20px;">基本信息</h5>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="shelvesName">货架名称</label>
          <div class="col-sm-4">
            <input type="text" id="shelvesName" name="shelvesName"
                   class="form-control" data-ng-model="shelvesName" ng-maxlength="10" placeholder="必填项 / 最长为10" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="shelvesType">副标题</label>
          <div class="col-sm-4">
            <input type="text" id="shelvesType" name="shelvesType"
                   class="form-control" data-ng-model="shelvesType" ng-maxlength="10" ng-pattern="/[a-zA-Z]/" placeholder="必填项 / 字母 / 唯一标识 / 最长为10" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="shelvesTag">货架标签</label>
          <div class="col-sm-4">
            <input type="text" id="shelvesTag" name="shelvesTag"
                   class="form-control" data-ng-model="shelvesTag" placeholder="多个标签使用逗号间隔" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">货架描述</label>
          <div class="col-sm-4">
            <textarea name="shelvesDesc" style="margin: 0px; width: 360px; height: 80px;" placeholder="使用一段文字描述您的货架"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">是否为系统货架</label>
          <div class="col-sm-4">
            <label class="radio-inline">
              <input type="radio" id="isSysShelves_1" name="isSysShelves" value="1" checked/>是
            </label>
            <label class="radio-inline">
              <input type="radio" id="isSysShelves_0" name="isSysShelves" value="0" />否
            </label>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <input class="btn btn-primary btn-lg" ng-disabled="shelfForm.$invalid"
                 type="button" value="新增" data-ng-click="add()" />
        </div>
      </div>
    </form>
  </div>
</div>