<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>管理货架商品</h5></div>
      <div class="pull-right">
        <!--<button class="btn btn-default" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 返回-->
        <!--</button>-->
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <!--<form class="form-horizontal" role="form" id="shelfForm" name="shelf">-->
      <form class="form-inline">
        <div class="form-group text-center col-sm-5">
          <label>货架中商品</label>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <input type="hidden" name="shelvesId" value="{{shelvesId}}" />
            <thead>
            <tr>
              <th width="120" class="text-center">商品名称</th>
              <th width="180" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!loadingState" data-ng-repeat="gid in shelfGids" class="">

              <td>
                <span class="column-text" ng-bind="gid.goodsName"></span>
              </td>

              <!--<tr data-ng-repeat="item in pagination.store">-->
                <!--<td data-ng-if="gid == item.goodsId">-->
                  <!--<span class="column-text" ng-bind="item.goodsName"></span>-->
                <!--</td>-->
              <!--</tr>-->
              <td class="text-center">
                <!--<input type="hidden" name="goodsId" value="{{item.goodsId}}" />-->
                <a href="javascript:;" ng-click="delGoods(shelvesId, gid)">移除商品</a>
              </td>
            </tr>
            </tbody>
            <!--<tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">-->
            <!--<tr>-->
              <!--<td colspan="9">-->
                <!--<div class="pull-right page-box">-->
                  <!--<div class="pagination-info">共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条</div>-->
                  <!--<ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"-->
                      <!--ng-model="pagination.currentPage" items-per-page="pagination.pageSize"-->
                      <!--max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"-->
                      <!--force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"-->
                      <!--last-text="末页">-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
          </table>
        </div>

        <div class="form-group text-center col-sm-5">
          <label>待添加商品</label>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <thead>
            <tr>
              <th width="120" class="text-center">商品名称</th>
              <th width="180" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!loadingState" data-ng-repeat="item in pagination.store" class="">
              <td>
                <!--<input type="text" value="{{item.goodsId}}" />-->
                <span class="column-text" ng-bind="item.goodsName"></span>
              </td>
              <td class="text-center">
                <a href="javascript:;" ng-click="addGoods($event,item)">添加商品</a>
              </td>
            </tr>
            </tbody>
            <tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
            <tr>
              <td colspan="9">
                <div class="pull-right page-box">
                  <div class="pagination-info">共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条</div>
                  <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                      ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                      max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                      force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                      last-text="末页">
                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>

        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button class="btn btn-primary" data-ng-click="add()">
              <span class="glyphicon glyphicon-refresh"></span> 新增
            </button>
          </div>
        </div>

      </form>
  </div>
</div>