<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>修改货架</h5></div>
      <div class="pull-right">
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" role="form" id="shelfForm" name="shelfForm" novalidate>
      <fieldset>
        <h5 style="padding: 0px 20px;">基本信息</h5>
        <div class="form-group">
          <input type="hidden" name="shelvesId" value="{{editData.shelvesId}}" />
          <label class="col-sm-2 control-label" for="shelvesName">货架名称<span class="must">*</span></label>
          <div class="col-sm-4">
            <input type="text" id="shelvesName" name="shelvesName" class="form-control" ng-maxlength="10"
                   value="{{editData.shelvesName}}" data-ng-model="editData.shelvesName" placeholder="长度为10" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="shelvesType">副标题<span class="must">*</span></label>
          <div class="col-sm-4">
            <input type="text" id="shelvesType" name="shelvesType" class="form-control" ng-maxlength="10"
                   value="{{editData.shelvesType}}" data-ng-model="editData.shelvesType" placeholder="长度为10" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="shelvesTag">货架标签</label>
          <div class="col-sm-4">
            <input type="text" id="shelvesTag" name="shelvesTag" class="form-control"
                   value="{{editData.shelvesTag}}" data-ng-model="editData.shelvesTag" placeholder="多个标签使用逗号间隔" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">货架描述</label>
          <div class="col-sm-4">
            <textarea name="shelvesDesc" style="margin: 0px; width: 352px; height: 80px;" data-ng-model="editData.shelvesDesc" placeholder="使用一段文字描述您的货架">
              {{editData.shelvesDesc}}
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">是否为系统货架</label>
          <div class="col-sm-4">
            <label class="radio-inline">
              <input type="radio" name="isSysShelves" data-ng-model="editData.isSysShelves" ng-checked="editData.isSysShelves == 1" value="1" />是
            </label>
            <label class="radio-inline">
              <input type="radio" name="isSysShelves" data-ng-model="editData.isSysShelves" ng-checked="editData.isSysShelves == 0" value="0" />否
            </label>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <input class="btn btn-primary btn-lg" ng-disabled="shelfForm.$pristine || shelfForm.$invalid"
                 type="button" value="修改" data-ng-click="update()" />
        </div>
      </div>
    </form>
  </div>
</div>