<%
var head = {
%>
<link rel="stylesheet" href="/static/css/plugins/jedate/jedate.css">
<script src="/static/js/plugins/jedate/jquery.jedate.min.js"></script>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/capitalRecord.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script type="text/javascript">
    var pagePath = host.website+'/fund/pageData';
    var pageType = 'get';
    var dataParm = {};
    dataParm.pageNumber = 1;
    dataParm.pageSize = 10;
</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="header">
                <h4 class="center-title">资金管理/资金记录</h4>
            </div>
            <div class="capitalRecord">
                <ul class="search-criteria margin-top-10 ">
                    <li class="transaction-status">
                        <span>交易类型</span>
                        <ul class="clearfix">
                            <li data-status="" class="active">全部</li>
                            <li data-status="1">充值</li>
                            <li data-status="2">提现</li>
                            <li data-status="4001">支付</li>
                            <li data-status="3001">收入</li>
                            <!--<li data-status="">退款</li>-->
                            <li data-status="8">冲账</li>
                            <li data-status="5">其他</li>
                        </ul>
                    </li>
                    <li class="status">
                        <span>状态</span>
                        <ul class="clearfix">
                            <li data-status="" class="active">全部</li>
                            <li data-status="1">已成功</li>
                            <li data-status="2">未成功</li>
                            <li data-status="0">处理中</li>
                        </ul>
                    </li>
                    <li>
                        <span>时间</span>
                        <div class="time-box">
                            <input id="startDate" type="text" placeholder="请选择开始时间" readonly="">
                            <div class="line"></div>
                            <input id="endDate" type="text" placeholder="请选择结束时间" readonly="">
                        </div>
                        <div class="select-month">
                            <a href="javascript:void (0);" class="active">本月</a>
                            <div class="font-weight-bold">最近：</div>
                            <a href="javascript:void (0);">1周</a>
                            <a href="javascript:void (0);">1个月</a>
                            <a href="javascript:void (0);">3个月</a>
                        </div>
                    </li>
                </ul>

                <table class="search-list">
                    <thead>
                    <tr>
                        <th>流水号</th>
                        <th>交易时间</th>
                        <th>交易类型</th>
                        <th>交易金额(元)</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody class="search-list-content">

                    </tbody>
                </table>

            </div>
            <%include("/layout/pageaction.html"){} %>
        </div>
    </div>
</div>
</div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/capitalRecord.js"></script>
