<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/contactInformationEdit.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script src="/static/js/plugins/validate/jquery-validate.js"></script>
<script src="/static/js/plugins/validate/messages_zh.js"></script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray bgi">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box info-center-box-cov">
            <div class="contactInformationEdit">
                <div class="header clearfix  header-cov">
                    <h4 class="grid-left center-title center-left-title">联系信息</h4>
                    <img src="../../static/images/shz/titleP.png" style="position:relative;left:10px;">
                </div>
                <div class="contactInformationEditBox">
                    <form id="ff" >
                        <div class="item">
                            <label for="contactName">联系人 :</label>
                            <input type="text" id="contactName" name="sname" placeholder="设置联系人" autocomplete="off" tip="请输入联系人">
                        </div>
                        <div class="item">
                            <label for="contactPhone">联系电话 :</label>
                            <input type="text" id="contactPhone" name="sphone" class="item-text" placeholder="输入手机号码" tip="请输入手机号码">
                        </div>
                        <div class="item ">
                            <label for="contactAddress" class="vertical-align-top">邮寄地址 :</label>
                            <textarea type="text" id="contactAddress" name="saddress" placeholder="输入地址" tip="请输入地址" required="required"></textarea>
                        </div>
                        <div class="item">
                            <label for="postCode">邮编 :</label>
                            <input type="text" id="postCode" name="szip" placeholder="设置邮编" autocomplete="off" tip="请输入邮编">
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)" class="save">保存</a>
                            <a href="/usercenter/contactInformation" class="cancel">取消</a>
                        </div>
                    </form>
                </div>


        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/contactInformationEdit.js"></script>

