<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/infoStation.css">

<script type="text/javascript">
	var pagePath = '/message/findByUserId';
	var pageType = 'get';
	var dataParm = {};
	dataParm.pageNumber = 1;
	dataParm.pageSize = 20;
</script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0  bgi">
	<div class="grid-row clearfix">
		<%include("/usercenter/user-center-menu.html"){} %>
		<div class="grid-left info-center-box ">
			<div class="header clearfix">
				<h4 class="grid-left info-center-title center-left-title">我的消息</h4>
				<ul class="grid-left all">
					<li class="active">
						<a href="javascript:void(0);" class="active">全部消息
						<span id="infoOne"></span>
					</a>
					</li>
					<li class="active margin-left-20">
						<a href="/usercenter/unreadInfo">未读消息
						<span id="infoTwo"></span>
					</a>
					</li>
					<li style="width:648px;overflow:hidden;">
						<img src="../../static/images/shz/titleP.png" style="position:relative;left:10px;">
					</li>
				</ul>

			</div>
			<div class="list">
				<div class="order">
					<table>
						<thead>
						<tr>
							<th class="check">
								<lable><input type="checkbox" class="checkall" name="checkall">&nbsp;全选</lable>
							</th>
							<th class="title text-align-left">标题</th>
							<th class="timer">时间</th>
							<th class="sender">发送人</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
							<tr>
								<td>
									<lable><input type="checkbox" class="checkall" name="checkall">&nbsp;全选</lable>
								</td>
								<td class="text-align-left">
									<span id="delete" style="color:red;cursor: pointer">删除所选</span>
									<span id="flag" style="color:#247DE8; cursor: pointer;display:none;" class="margin-left-20">标记为已读</span>
								</td>
								<td></td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				</div>
				<!--<div class="tableBot">-->
					<!--<lable><input type="checkbox" class="check-all">&nbsp;全选</lable>-->
					<!--<span id="delete">删除所有</span>-->
					<!--<span id="flag">标记为已读</span>-->
				<!--</div>-->
			</div>
			<%include("/layout/pageaction.html"){} %>
		</div>
	</div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/infoStation.js"></script>


