<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/nameAuthentication.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray bgi">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box info-center-box-cov">
            <div class="nameAuthentication">
                <div class="header clearfix header-cov">
                    <h4 class="grid-left center-title center-left-title">实名认证</h4>
                    <img src="../../static/images/shz/titleP.png" style="position:relative;left:10px;">
                </div>
                <div class="center-ul-box">
                    <ul class="ul1">

                    </ul>
                    <ul class="ul2">
                    <li>
                        <label for="orgName">单位名称</label>
                        <p id="orgName"></p>
                    </li>
                    <li>
                        <label for="creditCode">统一社会信用代码</label>
                        <p id="creditCode"></p>
                    </li>
                    <li>
                        <label for="industry">经营范围</label>
                        <p id="industry"></p>
                    </li>
                    <li>
                        <label for="licenseCode">营业执照注册号</label>
                        <p id="licenseCode"></p>
                    </li>
                    <li class="img-box">
                        <label for="licensePath">营业执照扫描件</label>
                        <img src="" alt="" id="licensePath">
                    </li>
                    <li>
                        <label for="taxCode">税务登记证号</label>
                        <p id="taxCode"></p>
                    </li>
                    <li class="img-box">
                        <label for="taxPath">税务登记证扫描件</label>
                        <img src="" alt="" id="taxPath">
                    </li>
                    <li>
                        <label for="certificateCode">组织机构代码</label>
                        <p id="certificateCode"></p>
                    </li>
                    <li class="img-box">
                        <label for="certifictePath">组织机构代码证扫描件</label>
                        <img src="" alt="" id="certifictePath">
                    </li>
                    <li>
                        <label for="lawPersonName">法定代表人</label>
                        <p id="lawPersonName"></p>
                    </li>
                    <li>
                        <label for="lawPersonCategory">法定代表人证件类别</label>
                        <p id="lawPersonCategory"></p>
                    </li>
                    <li>
                        <label for="lawPersonNum">法定代表人证件编号</label>
                        <p id="lawPersonNum"></p>
                    </li>
                    <li class="img-box">
                        <label for="certifictePath">法定代表人证件照</label>
                        <img src="" class="margin-left-50"  id="lawPersonPositivePath">
                        <img src="" class="margin-left-50"  id="lawPersonNegativePath">
                    </li>
                    <li>
                        <label for="contactAddress">注册地址</label>
                        <p id="contactAddress"></p>
                    </li>
                    <li>
                        <label for="officeAddress">办公地址</label>
                        <p id="officeAddress">无</p>
                    </li>
                    <li>
                        <label for="orgPhone">联系电话</label>
                        <p id="orgPhone">无</p>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/nameAuthentication.js"></script>

