<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/recharge.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray bgi">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box info-center-box-n">
            <div class="header header-n">
                <h4 class="center-title center-title-n">充值</h4>
                <img src="../../static/images/shz/titleP.png" style="position:relative;top:-24px;left:60px;"/>
            </div>
            <div class="failure-div">
            <div class="rechargeFailure rechargeFailure-n">
                <div class="error vertical-align-middle">×</div>
                <span class="vertical-align-middle font-size-18 margin-left-20">充值失败！</span>
                <div></div>
                <a href="/usercenter/recharge" class="pay-btn btn-full-orange pay-btn-n btn-full-orange-n">重新支付</a>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/recharge.js"></script>
