<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/recharge.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray bgi">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box info-center-box-n">
            <div class="header">
                <h4 class="center-title center-title-n">充值</h4>
                <img src="../../static/images/shz/titleP.png" style="position:relative;top:-24px;left:60px;"/>
            </div>
            <div class="failure-div">
            <div class="rechargeSuccess rechargeFailure-n">
                <div class="tick">√</div>
                <ul class="margin-left-10 font-size-16">
                    <li>充值成功</li>
                    <li>充值金额: <span class="color-red">￥${money}</span></li>
                </ul>
                <a href="/usercenter/fundmanage" class="pay-btn btn-full-blue pay-btn-n">查看余额</a>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/recharge.js"></script>
