<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/withdrawalStep2.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script type="text/javascript">

</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 bgi">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right  " style="width:1006px;margin-top:10px;" >
            <div class="header"  style="padding-left:15px;border-bottom:none;background:white;">
                <h4 class="center-title center-left-title" style="width:32px;display:inline-block;">提现</h4>
                <img src="../../static/images/shz/titleP.png" style="position:relative;top: 12px;margin-top: 10p;">
            </div>

                <div class="withdrawalStep2" >
                    <div class="withdrawalStep2-top">

                        <h4 style="background:#f4f4f4;"><img src="../../static/images/shz/clock.png" style="position:relative;left:-8px;top:5px;"></h4>
                    </div>
                    <div class="withdrawalStep2-middle">
                        <ul class="clearfix">
                            <li>
                                <p class="active">提现申请</p>
                                <p  id="present-application"></p>
                            </li>
                            <li>
                                <p class="active">银行处理</p>
                                <p  id="background-audit"></p>
                            </li>
                            <li>
                                <p>提现成功</p>
                                <p id="audit-completed"></p>
                            </li>
                        </ul>
                        <img src="../../static/images/shz/tixian.png" style="position:relative;bottom:90px;">
                    </div>
                    <div class="withdrawalStep2-down">
                        <a href="/withdrawRecord/getUserInfo#one" class=" margin-right-40">查看提现记录</a>
                        <a href="/usercenter/fundmanage" style="color:#fdc58f;" class=" margin-left-40">返回查看余额</a>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/withdrawalStep2.js"></script>
