<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/userInfo/withdrawalStep2.css">
<link rel="stylesheet" href="/static/css/usercenter/userInfo/common-title.css">
<script type="text/javascript">

</script>
<%};%>

<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray">
    <div class="grid-row clearfix">
        <%include("/usercenter/user-center-menu.html"){} %>
        <div class="grid-right info-center-box ">
            <div class="header">
                <h4 class="center-title">提现</h4>
            </div>
            <div class="withdrawalStep2">
                <div class="withdrawalStep2-top">

                    <h4><img src="../../static/images/shz/clock.png" style="position:relative;left:-8px;top:5px;"></h4>
                </div>
                <div class="withdrawalStep2-middle">
                    <ul class="clearfix">
                        <li>
                            <p class="active">提现申请</p>
                            <p  id="present-application"></p>
                        </li>
                        <li>
                            <p class="active">银行处理</p>
                            <p  id="background-audit"></p>
                        </li>
                        <li>
                            <p>提现成功</p>
                            <p id="audit-completed"></p>
                        </li>
                    </ul>
                    <img src="../../static/images/shz/tixian.png" style="position:relative;bottom:90px;">
                </div>
                <div class="withdrawalStep2-down">
                    <a href="/withdrawRecord/getUserInfo#one" class=" margin-right-40">查看提现记录</a>
                    <a href="/usercenter/fundmanage" style="color:#fdc58f;" class=" margin-left-40">返回查看余额</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/usercenter/userInfo/withdrawalStep2.js"></script>
