<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/exposition/expos.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center ">
    <div class="innovation-bd grid-row clearfix innovation-padding">
        <%include("/exposition/exposition_template.html"){}%>
        <div class="innovation-content grid-right ">
            <div class="public">
                <span></span>
                <h3>数据交易</h3>
            </div>
            <div class="expositionContent">
                <img src="/static/images/exposition/u5771.png" alt="" >
                <img src="/static/images/exposition/u5773.png" alt="" >
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>