<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/innovation.css">
<link type="text/css" rel="stylesheet" href="/static/css/exposition.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center">
    <div class="innovation-bd y-row">
        <%include("/layout/exposition_template.html"){}%>
        <div class="innovation-content y-right">
            <h3 class="center-title">数据交易</h3>
            <div class="expositionContent">
                <img src="../../static/img/exposition/u5771.png" alt="">
                <img src="../../static/img/exposition/u5773.png" alt="">
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>