<div class="trading-sidebar">
    <div class="topList">
        <ul>
            <li  data-cont="trading" >
                <span class="fa fa-file-text-o"></span>
                <a href="/exposition/index" >博览会</a></li>
            <li data-cont="strategy"  >
                <span class="fa fa-sitemap"></span>
                <a href="/exposition/data_trading">数据交易</a>
            </li>
            <li  data-cont="leader" >
                 <span class="fa fa-user-o" aria-hidden="true"></span>
                <a href="/exposition/data_crowdsourcing">数据众包</a>
            </li>
            <li  data-cont="media" >
                <span class="fa fa-video-camera" aria-hidden="true"></span>
                <a href="/exposition/financial_innovation">金融创新</a>
            </li>
            <li data-cont="glory" >
                 <span class="fa fa-chrome" aria-hidden="true"></span>
                <a href="/exposition/solve_plan" >解决方案</a>
            </li>
        </ul>
    </div>
</div>
<script src="/static/js/exposition/index.js"></script>
