<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/innovation.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center">
    <div class="innovation-bd y-row">
        <%include("/layout/exposition_template.html"){}%>
        <div class="innovation-content y-right">
            <h3 class="center-title">博览会</h3>
            <div class="innovation-info">
                <h3 class="info-title">人才</h3>
                <p class="info-text">全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
                <h3 class="info-title">市场</h3>
                <p class="info-text">全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
                <h3 class="info-title">服务</h3>
                <p class="info-text">全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
                <h3 class="info-title">政策</h3>
                <p class="info-text">全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
                <h3 class="info-title">资金</h3>
                <p class="info-text">全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
                <h3 class="info-title">场地</h3>
                <p class="info-text">全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
                <h3 class="info-title">技术</h3>
                <p class="info-text">全国瞩目的贵州省大数据信息产业近年发展迅速，贵阳大数据交易中心立足国家大数据（贵州）综合试验区，先试先行，始终紧跟大数据产业发展趋势。据介绍，自2015年4月正式运营以来，贵阳大数据交易中心动态链入全国政府公开数据，已接入200多家数据源公司的优质数据源，发展中信银行、海尔、天弘基金等500多家企业成为会员，交易驱动全国数据要素流通融合，支撑大数据政用、商用、民用，较好服务了贵州大数据产业发展。</p>
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>