<%
var head = {
%>
<link type="text/css" rel="stylesheet" href="/static/css/innovation.css">
<link type="text/css" rel="stylesheet" href="/static/css/exposition.css">
<%};%>

<%
var htmlPart = {
%>
<div class="innovation-center">
    <div class="innovation-bd y-row">
        <%include("/layout/exposition_template.html"){}%>
        <div class="innovation-content y-right">
            <h3 class="center-title">解决方案</h3>
            <div class="solve">
                <img src="../../static/img/exposition/u1055.png" alt="">
                <img src="../../static/img/exposition/u6166.png" alt="">
            </div>
        </div>
    </div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>