<style>
    .form-inline .form-control {
        width: 110px;
    }

    .form-inline label {
        margin-top: 5px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="console-title console-title-border clearfix">
            <div class="pull-left"><h5>提现审核</h5></div>
            <div class="pull-right">
                <button class="btn btn-default" data-ng-click="refresh()"><span
                    class="glyphicon glyphicon-refresh"></span> 刷新
                </button>
                <!--<a ui-sref="help.add" class="btn btn-primary">新增</a>-->
            </div>
        </div>
        <div class="row margin-top form-inline">
            <div class="col-sm-12">
                审核状态：
                <div class="searchSection  btn-group">
                    <button class="btn btn-default" data-ng-model="checkStatus" uib-btn-radio="" data-ng-click="search()">
                        全部
                    </button>
                    <button class="btn btn-default" data-ng-model="checkStatus" uib-btn-radio="0" data-ng-click="search()">
                        待审核
                    </button>
                    <button class="btn btn-default" data-ng-model="checkStatus" uib-btn-radio="1" data-ng-click="search()">
                        已通过
                    </button>
                    <button class="btn btn-default" data-ng-model="checkStatus" uib-btn-radio="2" data-ng-click="search()">
                        未通过
                    </button>
                </div>

                <div><label class="control-label">订单时间：</label>
                <p class="input-group" style="margin-top: 15px">
                    <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                           ng-paste="$event.preventDefault()" type="text" class="form-control"
                           uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="startDate"
                           is-open="popup1.opened" datepicker-options="dateOptions" close-text="关闭" clear-text="清除"
                           current-text="今天" readonly="true"/>
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open1()"><i
                             class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <label class="control-label">至</label>
                <p class="input-group" style="margin-top: 15px">
                    <input style="background-color: transparent;" ng-keypress="$event.preventDefault()"
                           ng-paste="$event.preventDefault()" type="text" class="form-control" uib-datepicker-popup
                           ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions"
                           close-text="Close" close-text="关闭" clear-text="清除" current-text="今天" readonly="true"/>
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open2()"><i
                             class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p> &nbsp;&nbsp;
                <input ng-model="orgName" type="text" class="form-control" placeholder="用户名/单位名称">
                    &nbsp;&nbsp;
                    <button style="margin-top: 5px" type="submit" class="btn btn-primary" data-ng-click="search()">查询 </button>
                </div>
            </div>

        </div>
        <!--TODO：把批量给注释了  2017-07-19 -->
     <!--   <div data-ng-show="status== null||status==0">
            <label class="btn btn-default"><input type="checkbox" ng-model="master"
                                                  ng-click="all(master)">全选</label>
            <button class="btn btn-default" ng-click="MultipleCheck(1)">批量通过</button>
            <button class="btn btn-default" ng-click="MultipleCheck(2)">批量不通过</button>

        </div>
        <pre>{{choseArr}}</pre>-->
        <div class="gridSection">
            <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>

            <table class="table table-hover" >
                <thead>
                <tr>
                    <th>
                        <!--TODO:此处注释的input是批量选择按钮-->
                        <!--<label><input data-ng-show="item.status==0" type="checkbox" id={{item.commId}} ng-model="x" ng-checked="master" ng-click="chk(item.commId,x)"> 订单编号：</label>
                        <a href="#" ng-bind="item.orderSn"></a>-->
                        流水号
                    </th>
                    <th style="text-align: center">用户名</th>
                    <th style="text-align: center">单位名称</th>
                    <th>可用金额</th>
                    <th>申请提现金额</th>
                    <th>申请提现时间</th>
                    <th>审核时间</th>
                    <th>状态</th>
                    <th width="155" style="text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in getMoneyList">
                    <td data-ng-bind="item.serialNo"></td>
                    <td data-ng-bind="item.userName"></td>
                    <td data-ng-bind="item.orgName"></td>
                    <td style="text-align: center" data-ng-bind="item.useBalance/100"></td>
                    <td style="text-align: center" data-ng-bind="item.money/100"></td>
                    <td data-ng-bind="item.addTime"></td>
                    <td data-ng-bind="item.checckTime"></td>
                    <td data-ng-bind="item.checkStatus == 0 ? '待审核' : (item.checkStatus == 1 ? '审核通过' : '审核未通过')"></td>
                    <td style="text-align: center"><a href="javascript:void (0)" data-ng-click="getMoneyDetail(item.id)" data-ng-bind="item.checkStatus==0  ? '去审核':'查看'"></a></td>
                </tr>
                </tbody>
            </table>
            <table ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
                <tr>
                    <td colspan="9">
                        <div class="pull-right page-box">
                            <div class="pagination-info">
                                共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条
                            </div>
                            <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                                ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                                max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                                force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                                last-text="末页">
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>


        </div>
        <div class="simple-grid-none-data-wrap">
            <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
                <div class="row-padding row-margin text-center">
                    <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
                    <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>