<style>
  .control-label {
    width: 80px;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>地域管理</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 刷新
        </button>
        <!--<a ui-sref="sys.dict.add" target="_blank" href="#" class="btn btn-primary">新增</a>-->
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-12">
        <div class="searchSection">
          <button class="btn btn-default" ng-click="dict_tree.expand_all()"><span class="glyphicon glyphicon-refresh"></span> 展开全部
          </button>
          <button class="btn btn-default" data-ng-click="dict_tree.collapse_all()"><span class="glyphicon glyphicon-refresh"></span> 折叠全部
          </button>
          <button class="btn btn-primary" ui-sref="sys.dict.add"  data-ng-click="add()"><span class="glyphicon glyphicon-refresh"></span> 新建一级字典
          </button>
        </div>
        <div class="gridSection">
          <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
          <tree-grid tree-data="tree_data_region" tree-control="region_tree" col-defs="col_defs" expand-on="expanding_property" icon-leaf="glyphicon" on-select="treehandler(branch)"></tree-grid>
        </div>
        <div class="simple-grid-none-data-wrap">
          <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
            <div class="row-padding row-margin text-center">
              <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
              <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>