<%
var head = {
%>
<link rel="stylesheet" href="/static/css/pay/pay.css">
<script type="text/javascript" src="/static/js/plugins/validate/jquery-validate.js"></script>
<script type="text/javascript" src="/static/js/plugins/md/md5.js"></script>
<%};%>
<%
var htmlPart = {
%>
<div class="grid-0 backgorund-gray box">
	<div class="grid-row ">
		<div class="pay-wrapper">
			<div class="order-wrapper">
				<!--<div class="order-title">充值</div>-->
				<div class="header">
					<h4 class="order-title">请支付</h4>
				</div>
				<!--<div class="order-seller">&nbsp;&nbsp; 收款方&nbsp;:<span> 山东省大数据BDGStore</span></div>-->
				<div class="order-amount"><span>${orderInfo.orderAmount/100}</span>元</div>
				<a class="order-ext-trigger" href="javascript:void(0)">
					订单详情
				</a>
				<div class="order-details">
					<table class="od-tb">
						<tbody>
						<tr>
							<td class="sub-th" align="right">交易号：</td>
							<td id="orderSn">${orderInfo.orderSn}</td>
						</tr>
						<tr>
							<td class="sub-th" align="right">交易金额：</td>
							<td>${orderInfo.orderAmount/100}元</td>
						</tr>
						<tr>
							<td class="sub-th" align="right">购买时间：</td>
							<td>${orderInfo.addTime,'yyyy-MM-dd HH:mm:ss'}</td>
						</tr>
						<tr>
							<td class="sub-th" align="right">交易类型：</td>
							<td class="type">
								<a title="即时到账交易"></a>&nbsp;<span>即时到账交易</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="main-container">
				<form name="payPassword" id="form_paypsw" action="${host.website}/pay/balancePay" method="post">
					<div id="J-rcChannels" class="margin-bottom-10">
						<div>
							<input type="hidden" value="${orderInfo.orderAmount}" id="goodsAmount">
							<input type="hidden" value="${moneyBalance}" id="moneyBalance">
							<input type="hidden" name="orderSn" value="${orderInfo.orderSn}" id="J_orderSn">
							<ul id="J_MarketinglList"></ul>
							<ul class="saved-card-list">

								<li class="channel-balance row-container fn-clear" id="offlinePay">
									<div class="row-basic fn-clear" style="overflow: hidden;">
										<label class="channel-label">
											<span class="channel-tit channel-icon icon banklogo-BALANCE_s"></span>
											<span class="channel-name">线下支付</span>
											<input class="channel-input"  name="apiCode" type="radio">
											<p class="offline-payInfo" style="display:none;color: #969696;clear: both;line-height: 25px;border: 1px solid #CCCCCC;margin: 0 15px 10px;padding: 5px 35px;font-weight: bold;">
												汇款账户 <br>
												开户银行：贵阳银行 <br>
												开户行：贵阳银行高新科技支行<br>
												户名：山东聊数大数据交易中心有限责任公司 <br>
												收款账户：1116 0120 0300 0392 3<br>
												<span style="color:red;">*汇款成后请联系客服进行确认，客服电话：0851-88118959</span>
											</p>
										</label>
									</div>
									<div class="row-extra fn-hide"></div>
								</li>

							</ul>

						</div>
					</div>
					<!--<div id="J-balanceNt" class="color-red">-->
						<!--您的余额不足以支付次订单，请<a href="javascript:void(0)" class="color-blue">充值</a>，或者选用<a href="javascript:void(0)" class="color-blue">其他方式</a>支付。-->
					<!--</div>-->
					<!--<div id="J-security" class="">-->
						<!--<div id="payPassword_container" class="alieditContainer clearfix" data-busy="0">-->
							<!--<label class="i-block">支付密码：</label>-->
							<!--<div class="i-block" data-error="i_error">-->
								<!--<div class="i-block six-password">-->
									<!--<input class="i-text sixDigitPassword" id="paymentPassword" type="password" autocomplete="off" required="required" value="" name="paymentPassword" data-role="sixDigitPassword" tabindex="" maxlength="6" minlength="6" aria-required="true">-->
									<!--<input type="hidden" name="password">-->
									<!--<div tabindex="0" class="sixDigitPassword-box" style="width: 182px;">-->
										<!--<i style="width: 29px; border-color: transparent;" class=""><b style="visibility: hidden;"></b></i>-->
										<!--<i style="width: 29px;"><b style="visibility: hidden;"></b></i>-->
										<!--<i style="width: 29px;"><b style="visibility: hidden;"></b></i>-->
										<!--<i style="width: 29px;"><b style="visibility: hidden;"></b></i>-->
										<!--<i style="width: 29px;"><b style="visibility: hidden;"></b></i>-->
										<!--<i style="width: 29px;"><b style="visibility: hidden;"></b></i>-->
										<!--<span style="width: 29px; left: 0px; visibility: hidden;" id="cardwrap" data-role="cardwrap"></span>-->
									<!--</div>-->
								<!--</div>-->
								<!--<span>请输入6位支付密码( 数字！)</span>-->
							<!--</div>-->
							<!--<div class="ui-form-explain ui-form-error" style="display:none">-->
								<!--<p class="color-red">-->
									<!--支付密码不符合要求-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div id="J-rcSubmit">-->
						<!--<div class="ui-fm-item ui-fm-action j-submit" data-reactid=".1">-->
							<!--<input class="pay-btn btn-full-blue ui-button-lblue" id="J_authSubmit" type="button" onclick="return check()" value="确认付款">-->
							<!--<span class="ui-fm-status fn-hide" data-reactid=".1.1"> 正在提交中... </span>-->
						<!--</div>-->
					<!--</div>-->
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
<script type="text/javascript" src="/static/js/pay/cash.js"></script>


