.bannerBox{ width: 100%; height:425px; background-color: #48c8e3;}
.banner{ height:100%; background:url("../../images/crowdsourcing/index/banner.png") 0 0 no-repeat;}
.banner-btn{ display: inline-block;height:31px; width: 128px; margin-top:302px;border:3px solid #b6e9f4; border-radius:18px; text-align: center; text-decoration: none; color:#fff; font-size: 24px; line-height: 29px;;}
.banner-btn:first-child{  margin:302px 100px 0 59px;}
.banner-btn:hover{ color:#f9d657; background-color: #fff; border:3px solid #fff; }

.advantagesBox{ height:284px; overflow: hidden;}
.advantagesUl { overflow: hidden; padding-left: 83px;}
.advantagesUl li{ float: left; width: 282px; height:284px; position: relative;}
.advantagesUl li:after{ content: ''; position: absolute; right:0; top: 153px; display: block; height:6px; width:95px; background-color: #f9d657; border-radius:6px;  }
.advantagesUl li:last-child{ float: left; width: 200px;}
.advantagesUl li:last-child:after{ display: none}

.advantagesBgBox{ width: 193px; height:247px;color:#48c8e3; background:url("../../images/crowdsourcing/index/advantages-bg.png") -193px 0 no-repeat ; overflow: hidden;}
.advantagesBgBox:hover{color:#fff; background-position: 0 0; }

.advantageTitle{ text-align: center; font-size: 18px; margin:85px 0 5px 0; font-weight:bold;}
.advantageContent{width: 140px; padding:0 0 0 32px;font-size: 14px; line-height:25px;}
.advantageImg{ position: absolute; left:57px;top:215px;}

.bgc-f5f6f8{ background-color: #f5f6f8;}



.toBeService{}
.toBeServiceBox{ height:386px;overflow: hidden;}
.toBeServiceTopBox{ margin: 20px 0 14px; overflow: hidden;}
.toBeServiceTopBoxLeft{ float: left; width: 595px; margin-right:10px; background-color: #48c8e3; color:#fff;}
.toBeServiceUl{ overflow: hidden; height:163px; }
.toBeServiceUl dt{ float: left; width:110px;}
.toBeServiceUl dt img{ margin:58px 0 0 27px; }
.toBeServiceUl dd{ float: left; width:456px;}
.toBeServiceTitle{margin:42px 0 12px 0; font-size:18px; font-weight: bold; }
.toBeServiceContent{ line-height: 24px;font-size: 14px;}
.toBeServiceTitle a{ font-size:14px; font-style: italic;  color:#fff; font-weight:normal;margin-left: 20px;}
.toBeServiceTitle a:active{ text-decoration: underline}
.toBeServiceTopBoxRight{ float: left; width: 595px; background-color: #fff;}
.toBeServiceNotice{ overflow: hidden;}
.toBeServiceNotice li{ float: left; width: 168px; line-height: 23px;}
.toBeServiceNotice li span{ display: inline-block; height: 18px; width: 18px; border-radius:9px; color:#fff;font-size: 14px; background-color: #48c8e3;text-align: center; line-height: 19px;}
.toBeServiceNotice li a{ color:#48c8e3; margin-left:9px;}
.toBeServiceNotice li a:hover{ text-decoration: underline}


.toBeServiceBottomBox{ height: 163px; background-color: #fff; overflow: hidden;}
.toBeServiceBottomBoxLeft{ margin-top:13px; height:135px; width:156px; border-right:1px solid #48c8e3;text-align: center; float: left;}
.toBeServiceBottomBoxLeft img{ margin-top:14px;}
.toBeServiceBottomBoxLeft span{ font-size:24px;color:#48c8e3; display: block; }
.toBeServiceBottomBoxRight{ float: left; width: 1043px; overflow: hidden;}
.toBeServiceBottomBoxRight li{ position: relative; float: left; width:215px; margin:0 17px 0 23px;}
.toBeServiceBottomBoxRight li:last-child{ margin-right:0;}

.toBeServiceDemandName{ margin:16px 0 5px 0 ; font-size: 18px; color: #535353;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.toBeServiceDeadData{ color: #959494;font-size: 14px;}
.toBeServiceLastTime{ margin-top:4px;color: #959494;font-size: 14px;}
.toBeServiceMoney{ font-size: 18px; color: #ffc600;}
.toBeServiceHasApply{ font-size: 14px;color:#cccbcb}
.applyBtn{ padding:2px 8px 3px;  background-color: #48c8e3;color:#fff; border-radius: 4px;}
.applyBtn:hover{ background-color: #019cbd;}
.toBeServiceApply{  position: absolute; right:0; bottom:0;}


.demandList { padding-bottom: 30px; }
.missionTitle{ text-align: center; font-size: 30px; color:#48c8e3}
.missionTitle div{margin:30px 0 10px;background:url("../../images/crowdsourcing/index/missionTitleBg.png") no-repeat  center center; font-weight:bold;}
.missionTitle span{ display: block; font-size: 14px; color:#9d9c9c; line-height:25px;}
.demandTypeTitle { float: left; width: 899px; position: relative; line-height:45px; font-size: 18px; color:#acacac; }
.demandTypeTitle a{ position: absolute; right: 15px; color: #959494; font-size: 14px;}
.demandTypeTitle span{ padding-left:25px; font-style: italic; }
.demandListBox{ overflow: hidden; margin-top:25px;}
.demandListImg{ float: left; width: 299px;}
.demandDetail{ float: left; width:899px;height: 322px; overflow: hidden; border: 1px solid #d2d2d2;}
.demandDetail li{ position: relative; float: left; width:299px; height: 161px; overflow: hidden; border-right:1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2;}
.demandDetail li:nth-child(3n+0){ border-right:none;}
.demandDetail li:nth-child(n+4){ border-bottom:none;}

.demandDetailShow{ padding: 16px 0 0 23px; }
.demandDetailTitle{ margin-bottom: 5px;font-size: 18px; color:#535353; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.demandTimeIco{ float: left;margin: 9px 10px 0 0;}
.demandDeadData{ float: left; font-size: 14px; color:#959494}
.demandLastTime{ float: left; font-size: 14px; color:#959494}
.demandMoney{    padding-top: 7px; clear: both; font-size: 18px; color: #ffc600; }
.demandHasApply{font-size: 14px;color:#cccbcb}

.demandDetailHide{ display: block; opacity:0; position: absolute; left:0;top:0; height:100%;width:100%; background-color: #f2f8fc; text-align: center; transition: all .3s ease-in-out;}
.demandDetail li:hover .demandDetailHide{ display: block; top:0; opacity:1;}

.demandDetail li .demandDetailHide:before{ content: ''; display: block; height:3px; width:26px; background-color: #48c8e3; position: absolute; left:20px; top:2px; transition: all .3s ease-in-out;}
.demandDetail li .demandDetailHide:after{ content: ''; display: block; height:26px; width:3px; background-color: #48c8e3; position: absolute; left:2px; top:20px; transition: all .3s ease-in-out;}

.demandDetail li:hover .demandDetailHide:before{left:2px; top:2px;}
.demandDetail li:hover .demandDetailHide:after{ left:2px; top:2px;}

.demandDetail li .demandDetailCon:before{ content: ''; display: block; height:3px; width:26px; background-color: #48c8e3; position: absolute; right:20px; bottom:2px; transition: all .3s ease-in-out;}
.demandDetail li .demandDetailCon:after{ content: ''; display: block; height:26px; width:3px; background-color: #48c8e3; position: absolute; right:2px; bottom:20px; transition: all .3s ease-in-out;}

.demandDetail li:hover .demandDetailCon:before{ right:2px; bottom:2px;}
.demandDetail li:hover .demandDetailCon:after{  right:2px; bottom:2px;}

.demandDetailHide.active{ display: block}
.demandDetailCon{ padding: 27px 22px 0;margin-bottom: 24px; height: 70px;line-height:22px; text-align: left; font-size: 14px; color:#959494;word-break:break-all;  word-wrap:break-word; overflow: hidden;}
.demandApply{}
.img-animate{ transform: scale(1.1); transition: transform .5s ease-in-out;}


.demandTitle{ margin-top:15px;font-size: 24px; color: #fff; line-height:35px; }
.mt90{ margin-top:90px;}
.develop-ul li .develop-div .noDataButton{display: inline-block; height: 32px; width: 138px; margin-top: 30px; border: 2px solid #fff; border-radius: 18px; text-align: center; text-decoration: none; color: #fff;
  font-size: 18px; line-height: 32px;}
.noDataButton:hover{ background-color: #fff; color:#000000}

.demandAnimateDetail{position: relative; width: 248px; height:169px;margin: 20px auto 0; border:1px dotted #fff; background-color: rgba(255, 255, 255, 0.1); text-align: left;}
.demandAnimateDetail>div{ color:#fff; margin-left:15px;}
.demandAnimateDetail .toBeServiceApply{ right:12px;bottom:22px;}
.demandAnimateDetail .toBeServiceMoney{ color:#ffc600}
.demandAnimateDetail .applyBtn{ padding: 0 6px; }
.demandAnimateDetail .toBeServiceDemandName{ margin: 12px 0 9px 15px}
  /*翻页动画*/

.develop-ul { width: 100%; margin-top:30px;}
.develop-ul li {  float: left; position: relative; height: 345px; width: 285px; margin-right:20px; text-align: center; font-size: 14px}
.develop-ul li:last-child{ margin-right:0;}
.develop-ul li .ch-info-wrap { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-perspective: 800px; perspective: 800px;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out
}

.develop-ul li .ch-info { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.develop-ul li:hover .ch-info {   box-shadow: 0 0 6px 0 #8a8a8a;
}

.develop-ul li .develop-div { position: absolute; left: 0; top: 0; height: 345px; width: 285px;  backface-visibility: hidden;  color: #fff;
  transform: translateX(0);
}

.develop-ul li .develop-div a { display: inline-block;   border: 1px solid #fff;  color: #fff}

.develop-ul li .develop-div p { padding:  0; height: 200px; line-height: 26px; font-weight: 400; text-align: left}

.develop-ul li .develop-3d {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  left:-20px;
  opacity:0;

}
.develop-ul li:hover .develop-3d {
  opacity:1;
  left:0;
}
.firstPageATag{position: absolute;bottom: 15px;left:93px; width: 94px; height:24px;border-radius:24px; line-height:24px;}
.develop-ul li .develop-div1 {height: 343px; width: 283px; background: url("../../images/crowdsourcing/index/demandTypeBg.png") 0 0 no-repeat; color: #01e3ab; border:1px solid #d2d2d2;}
.develop-ul li .develop-div1 a.firstPageATag { background-color: #00a850;}
.develop-ul li .develop-div2 { background: url("../../images/crowdsourcing/index/demandTypeBg.png") 0 -345px no-repeat }
.develop-ul li .develop-div2 a.firstPageATag {background-color: #fff;border-color: #fff;color: #00a850}
.develop-ul li .develop-div2 a.firstPageATag:hover { box-shadow:0 0 5px 0 #5d5d5d;}
.develop-ul li .develop-div2 .applyBtn { background-color: #027e3d;border:none;}
.develop-ul li .develop-div2 .applyBtn:hover { background-color: #027e3d; color:#00ff12}
.develop-ul li .develop-div2 .noDataButton:hover { background-color: #027e3d; border-color: #027e3d; color:#00ff12}

.develop-ul li .develop-div3 {height: 343px; width: 283px; background: url("../../images/crowdsourcing/index/demandTypeBg.png") -285px 0 no-repeat; color: #00aeff ; border:1px solid #d2d2d2;}
.develop-ul li .develop-div3 a.firstPageATag { background-color: #e77e00;}
.develop-ul li .develop-div4 { background: url("../../images/crowdsourcing/index/demandTypeBg.png") -285px -345px no-repeat }
.develop-ul li .develop-div4 a.firstPageATag { background-color: #fff;color: #e77e00;}
.develop-ul li .develop-div4 a.firstPageATag:hover { box-shadow:0 0 5px 0 #5d5d5d;}
.develop-ul li .develop-div4 .applyBtn { background-color: #b46301;border:none;}
.develop-ul li .develop-div4 .applyBtn:hover { background-color: #b46301; color:#fbd60a}
.develop-ul li .develop-div4 .noDataButton:hover { background-color: #b46301; border-color: #b46301; color:#fbd60a}

.develop-ul li .develop-div5 {height: 343px; width: 283px; background: url("../../images/crowdsourcing/index/demandTypeBg.png") -570px 0 no-repeat; color: #fed046 ; border:1px solid #d2d2d2;}
.develop-ul li .develop-div5 a.firstPageATag { background-color: #8a46b3;}
.develop-ul li .develop-div6 { background: url("../../images/crowdsourcing/index/demandTypeBg.png") -570px -345px no-repeat }
.develop-ul li .develop-div6 a.firstPageATag { background-color: #fff;color: #8a46b3;}
.develop-ul li .develop-div6 a.firstPageATag:hover { box-shadow:0 0 5px 0 #5d5d5d;}
.develop-ul li .develop-div6 .applyBtn { background-color: #5f0a92;border:none;}
.develop-ul li .develop-div6 .applyBtn:hover { background-color: #5f0a92; color:#ea97ff}
.develop-ul li .develop-div6 .noDataButton:hover { background-color: #5f0a92; border-color: #5f0a92; color:#ea97ff}

                                                                                         .develop-ul li .develop-div7 {height: 343px; width: 283px; background: url("../../images/crowdsourcing/index/demandTypeBg.png") -855px 0 no-repeat; color: #00aeff ; border:1px solid #d2d2d2;}
.develop-ul li .develop-div7 a.firstPageATag { background-color: #313a4b;}
.develop-ul li .develop-div8 { background: url("../../images/crowdsourcing/index/demandTypeBg.png") -855px -345px no-repeat }
.develop-ul li .develop-div8 a.firstPageATag { background-color: #fff;color: #313a4b;}
.develop-ul li .develop-div8 a.firstPageATag:hover { box-shadow:0 0 5px 0 #5d5d5d;}
.develop-ul li .develop-div8 .applyBtn { background-color: #090d13;border:none;}
.develop-ul li .develop-div8 .applyBtn:hover { background-color: #090d13; color:#91b5eb}
.develop-ul li .develop-div8 .noDataButton:hover { background-color: #090d13; border-color: #090d13; color:#91b5eb}




