/****************/
.box{
    padding:20px 0;
}
.pay-wrapper{
    overflow: hidden;
}
.pay-wrapper{
    background-color: #fff;
    border: 1px solid #EDEDED;
}
.order-wrapper{
    position: relative;
    margin:10px 100px 0;
    font-size: 14px;
    border-bottom: 3px solid #b3b3b3;
    padding-bottom: 30px;
}
.order-wrapper .header{
    height: 31px;
    padding-top:10px;
    border-bottom: 1px solid #EDEDED;
}
 .order-wrapper .order-title {
     height: 20px;
     font:14px/20px "microsoft yahei";
     padding-left:10px;
     border-left:2px solid #237DE7;
     width: 600px;
    /*overflow: hidden;*/
     white-space: nowrap;
     text-overflow: ellipsis;
}
.order-details{
    display: none;
    overflow: hidden;
}
.order-seller, .pay-wrapper .order-wrapper .order-title {
    height: auto;
    line-height: 25px;
    margin-bottom: 12px;
}
 .order-amount {
    position: absolute;
    right: 100px;
    top: 7px;
    text-align: right;
}
.pay-wrapper .order-wrapper .order-amount span {
    color: #ff8208;
    font-weight: 700;
    font-size: 22px;
    margin-right: 3px;
}
.pay-wrapper .order-wrapper .od-tb{
    margin-bottom:10px;
}
.pay-wrapper .order-wrapper .od-tb tr{
    padding: 2px 0;
    line-height: 24px;
    color: #666;
}
.pay-wrapper .order-wrapper .od-tb th.sub-th {
    vertical-align: top;
    text-align: right;
}
.pay-wrapper .order-ext-trigger {
    position: absolute;
    right: 100px;
    bottom: 0;
    line-height: 18px;
    padding: 2px 8px 1px;
    font-weight: 400;
    border-top: none;
    background-color: #b3b3b3;
    color:#fff;
    text-decoration: none;
}
.pay-wrapper .order-ext-trigger:link, .order-ext-trigger:visited {
    color: #fff;
    text-decoration: none;
}
.pay-wrapper .main-container {
    border-bottom: 3px solid #a6a6a6;
    background: #fff;
    padding: 20px;
    width: 960px;
    margin: 0 auto 30px;
}
/*****/
.manage-list {
    padding: 10px 0;
}

.manage-list .manage-item {
    margin-right: 10px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    text-decoration: none;
    text-align: center;
    min-width: 135px;
}
.manage-list .manage-item {
    min-width: 135px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}
.manage-list .manage-item-xbox {
    border: 1px dashed #ccc;
}
.row-container {
    padding: 4px 4px 3px;
    position: relative;
    margin-bottom: 1px;
    border-bottom: 1px solid #e6e6e6;
}
.row-container-focus, .row-container-focus:hover {
    border-color: #85a1d4;
}
.row-container-focus, .row-container:hover {
    padding: 0;
    border: 4px solid #cad6ef;
}
.row-basic {
    height: 52px;
    width: 100%;
    line-height: 52px;
    cursor: pointer;
}
 .fn-hide, .row-container .icon-limit-exceed {
    display: none;
}
.row-container-focus .row-extra {
    display: block;
}
.channel-label {
    display: block;
    height: 100%;
    width: 100%;
}
.banklogo-BALANCE_s {
    background-image: url(https://as.alipayobjects.com/g/cashier-wd/bank-logo/2017.3.10/BALANCE_s.png);
}
.banklogo-BOC_s {
    background-image: url(https://as.alipayobjects.com/g/cashier-wd/bank-logo/2017.3.10/BOC_s.png);
}
.banklogo-ICBC_s {
    background-image: url(https://as.alipayobjects.com/g/cashier-wd/bank-logo/2017.3.10/ICBC_s.png);
}
.banklogo-CMB_s {
    background-image: url(https://as.alipayobjects.com/g/cashier-wd/bank-logo/2017.3.10/CMB_s.png);
}
.banklogo-BALANCE_s {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.channel-icon {
    height: 15px;
    width: 25px;
    float: left;
    margin-top: 18px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 5px;
}
.channel-tit {
    margin-left: 50px;
}
.fn-mr-20 {
    margin-right: 20px;
}
.channel-balance .channel-name, .channel-moneyfund .channel-name {
    margin-right: 4px;
}
.channel-name {
    font-size: 14px;
    float: left;
}
.pay-amount {
    float: right;
    margin-right: 17px;
    margin-left: 5px;
    min-width: 150px;
    text-align: right;
    padding: 10px 0;
    height: 32px;
    line-height: 32px;
}
.row-container-focus .channel-input, .row-container:hover .channel-input {
    left: 20px;
    top: 20px;
}
.channel-input {
    position: absolute;
    left: 24px;
    top: 24px;
}


.ui-securitycore .ui-form-item .ui-form-explain {
    margin-top: 8px;
}
#J-fastpay-submit .ui-label, #J-security .ui-label {
    display: block;
    float: none;
    margin-left: 0;
    padding-bottom: 5px;
    text-align: left;
}
.ui-securitycore .ui-label {
    float: left;
    width: 170px;
    margin-left: -170px;
    padding-top: 3px;
    text-align: right;
    font-size: 14px;
}

#J-rcSubmit .pay-btn{
    min-width: 100px;
    height: 36px;
    background: #00c1de;
    color: #fff;
    font-size: 16px;
    margin-top:20px;
    border:none;
    cursor: pointer;
}
.saved-card-list li{
    display: none;
}
.saved-card-list .channel-balance{
    display: block;
}
#J-security .alieditContainer{
    position: relative;
}

#J-security .sixDigitPassword {
    position: absolute;
    left: -122px;
    top: 0;
    width: 1000px;
    height: 26px;
    color: #fff;
    font-size: 12px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: initial;
    outline: 'none';
    z-index: 999;
    opacity:0;
    filter:alpha(opacity=0);
}

#J-security .sixDigitPassword-box {

    cursor:text;
    background: #fff;
    outline: none;
    position: relative;
    padding: 8px 0;
    height: 15px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}
#J-security .sixDigitPassword-box i {
    float: left;
    display: block;
    padding: 4px 0;
    height: 7px;
    border-left: 1px solid #cccccc;
}
#J-security .sixDigitPassword-box .active {
    background: url('/static/images/password-blink.gif') no-repeat center center;
}
#J-security .sixDigitPassword-box b {
    display: block;
    margin: 0 auto;
    width: 7px;
    height: 7px;
    overflow: hidden;
    visibility:hidden;
    background: url('/static/images/passeord-dot.png') no-repeat;
}
#J-security .sixDigitPassword-box span {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: 30px;
    border: 1px solid rgba(82, 168, 236, .8);
    border: 1px solid #00ffff\9;
    border-radius: 2px;
    visibility: hidden;
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
#J-security .ui-securitycore  .ui-form-item .ui-form-explain{
    margin-top: 8px;
}
#J-security .i-block{
    display:inline-block;
}
#J-security .six-password{
    position: relative;
    height:33px;
    width:182px;
    overflow: hidden;
    vertical-align: middle;

}
#J-security .clearfix:after {
    clear: both;
}
#J-security .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}









