<footer>
	<div class="footerBox">
		<ul class="first-level">
			<li>
				<h3><img src="${host.website}/static/images/footer/footerIco01.png" alt="">用户导航</h3>
				<ul class="second-level">
					<li><a href="http://www.lsdashuju.net" target="_blank"> 交易服务 </a></li>
					<li><a href="http://crowd.lsdashuju.net/crowdsourcing" target="_blank"> 需求发现平台 </a></li>
					<li><a href="http://cms.lsdashuju.net:80/scpt/index.jhtml" target="_blank"> 双创平台 </a></li>
					<li><a href="http://www.lsdashuju.net/usercenter/buyer/orderManagement" target="_blank"> 我的订单 </a></li>
					<li><a href="http://www.lsdashuju.net/usercenter/index" target="_blank"> 用户中心 </a></li>
				</ul>
			</li>
			<li>
				<h3><img src="${host.website}/static/images/footer/footerIco02.png" alt="">用户服务</h3>
				<ul class="second-level">
					<li><a href="http://cms.lsdashuju.net:80/cjw/index.jhtml" target="_blank"> 常见问题 </a></li>
					<li><a href="http://cms.lsdashuju.net:80/zbfw/index.jhtml" target="_blank"> 需求发现平台 </a></li>
					<li><a href="http://cms.lsdashuju.net:80/ptsm/index.jhtml" target="_blank"> 平台声明 </a></li>
					<li><a href="http://cms.lsdashuju.net:80/jygz/index.jhtml" target="_blank"> 交易规则 </a></li>
				</ul>
			</li>
			<li>
				<h3><img src="${host.website}/static/images/footer/footerIco03.png" alt="">商务合作</h3>
				<ul class="second-level">
					<li>18515230063</li>
					<li>18563537605</li>
				</ul>
			</li>
			<li>
				<h3><img src="${host.website}/static/images/footer/footerIco04.png" alt="">关于我们</h3>
				<ul class="second-level">
					<li><a href="http://cms.lsdashuju.net:80/gysjxh/index.jhtml" target="_blank"> 关于交易所 </a></li>
					<li><a href="http://cms.lsdashuju.net:80/ptdw/index.jhtml" target="_blank"> 平台定位 </a></li>
					<li><a href="http://cms.lsdashuju.net/ptdt/index.jhtml" target="_blank"> 平台动态 </a></li>
					<li><a href="http://cms.lsdashuju.net:80/fzgh/index.jhtml" target="_blank"> 发展规划 </a></li>
				</ul>
			</li>
			<li>
				<h3><img src="${host.website}/static/images/footer/footerIco05.png" alt="">服务热线电话</h3>
				<ul class="second-level">
					<li style="width: 300px;">服务热线：18515230063 18563537605</li>
					<li style="width: 300px;">服务邮箱：<a href="mailto:service@lsdashuju.com">service@lsdashuju.net</a></li>
					<li style="width: 250px;">公司地址：山东省聊城市江北水城旅游度假区政务服务中心4层</li>
					<li style="width: 310px;">请登录网址：<a href="http://www.GBDEx.com">www.lsdashuju.net</a>了解更多</li>
				</ul>
			</li>
		</ul>

	</div>
	<div class="beian">
		Copyright ©2017 www.lsdashuju.net All Right Reserved 鲁ICP备18014720号-2
	</div>
</footer>
<style>
	footer{
		background: url('${host.website}/static/images/footer/footer_bg.jpg') center top no-repeat #ddd;
		margin-top:30px;
	}
	footer .footerBox {
		position: relative;
		color: #7b7b7e;
		width: 1200px;
		min-width: 1200px;
		height: 380px;
		margin: 0 auto;
		padding-top: 10px;
	}

	footer .footerBox .first-level {
		list-style: none;
		margin: 0;
		padding: 0 0 0 0;
	}

	footer .footerBox .first-level li {
		margin-right:24px;
		float: left;
		width: 200px;
		color: #666;
	}

	footer .footerBox .first-level li h3 {
		font-size: 18px;
		margin: 0 0 5px 0;
		color: #333;
	}

	footer .footerBox .first-level li h3 img {
		position: relative;
		top: 11px;
		margin-right: 10px;
	}

	footer .footerBox .first-level .second-level {
		font-size: 16px;
		line-height: 30px;
		color: #166ca8;
		list-style: none;
		margin: 0;
		padding: 0 0 0 0;
		margin: 0 0 0 44px;
	}

	footer .footerBox .first-level .second-level a {
		color: #666;
		text-decoration: none;
	}

	footer .footerBox .first-level .second-level a:hover,
	footer .footerBox .first-level .second-level a.active {
		color: #e10000;
		text-decoration: none;
	}

	footer .footerBox .first-level .second-level:before,
	footer .footerBox .first-level .second-level:after {
		content: " ";
		display: table;
	}

	footer .footerBox .first-level .second-level:after {
		clear: both;
	}

	footer .footerBox .first-level:before,
	footer .footerBox .first-level:after {
		content: " ";
		display: table;
	}

	footer .footerBox .first-level:after {
		clear: both;
	}

	footer .footerBox .erweima {
		width: 254px;
		text-align: center;
		color: #fff;
		font-size: 18px;
		position: absolute;
		right: 3px;
		top: 242px;
		overflow: hidden;
	}

	footer .footerBox .erweima .erweimaBox {
		float: left;
		width: 113px;
		color: #666;
		font-size: 14px;
		text-align: center;
	}

	footer .footerBox .erweima .erweimaBox:first-child {
		margin-right: 21px;
	}

	footer .beian {
		width；1200px;
		min-width: 1200px;
		text-align: center;
		border-top: 1px solid #4d4d4d;
		line-height: 51px;
		color: #999;
		font-size:12px;
	}

	footer .beian a {
		color: #999;
		text-decoration: none;
	}
</style>