<div class="grid-0 header-top-bar border-bottom backgorund-gray">
  <div class="grid-row">
    <ul class="text-align-right">
      <!--<li class="display-inline-block" style="float:left"><a href="/" class="a-hover-blue">首页</a></li>-->
      <%if(isEmpty(user)){%>
        <li class="display-inline-block">
          <a href="${oauth2.loginUrl}"><span class="fa fa-user-o margin-right-5"></span>登录</a>
        </li>
        <li class="display-inline-block"><a href="${oauth2.regUrl}" class="color-orange">免费注册</a></li>
      <%}else{%>
        <li class="display-inline-block userInfos">

          <a href="javascript:void(0)" class="login">
            欢迎，
            <!--<span class="fa fa-user-o margin-right-5"></span>-->
            ${user.userName}
          </a>

        </li>
      <%}%>


    </ul>
  </div>
</div>