<div class="module-wrap">
    <div class="index-top-banner" data-hover-container="">
        <div data-group="" data-isimage="true" data-active="dark" data-groupindex="0" class="bottom">
            <div class="box">
                <div class="y-row" data-ignore-group="">
                    <div class="layer left-header" data-ignore="">
                        <a href="javascript:void(0)">
                            <h1>全球首个大数据生态交易平台</h1>
                            <!--<p>吹牛逼很厉害</p>-->
                            <a href="/exchange/index" class="layer-btn ">进入BDGStore</a>
                        </a>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div data-base-layer="" style="transform: rotateX(0deg) rotateY(0deg);">
                        <div class="banner-row">
                            <div class="layer right-image" data-zindex="50">
                                <img src="/static/images/banner/one-ball.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div data-group="" data-isimage="" data-group-open="" data-active="dark" data-groupindex="1"
             class="bottom">
            <div class="box">
                <div class="y-row" data-ignore-group="">
                    <div class="layer left-header" data-ignore="">
                        <a href="" target="_blank" data-spm-anchor-id="5176.8142029.418686.3">
                            <h1>大数据产业领跑者</h1>
                            <!--<p>吹牛逼很厉害</p>-->
                            <a href="/exchange/index" class="layer-btn a">进入BDGStore</a>
                        </a>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div data-base-layer="" style="transform: rotateX(0deg) rotateY(0deg);">
                        <div class="banner-row">
                            <div class="layer right-image" data-zindex="50">
                                <img src="/static/images/banner/two-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div data-group=""  data-isimage="" data-group-open="" data-active="dark" data-groupindex="2"
             class="bottom">
            <div class="box">
                <div class="y-row" data-ignore-group="">
                    <div class="layer left-header" data-ignore="">
                        <a href=""
                           target="_blank">
                            <h1>构建数据流通生态体系</h1>
                            <p>打造数据接入、流通、应用一体化平台</p>
                            <a href="/exchange/index" class="layer-btn a">进入BDGStore</a>
                        </a>
                    </div>
                </div>
                <a href="javascript:void(0)" >
                    <div data-base-layer="" style="transform: rotateX(0deg) rotateY(0deg);">
                        <div class="banner-row">
                            <div class="banner-row">
                                <div class="layer right-image" data-zindex="50">
                                    <img src="/static/images/banner/three-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--<div data-group="" style="background-color:#e66905 " data-isimage="" data-group-open="" data-active="dark" data-groupindex="3"-->
             <!--class="bottom">-->
            <!--<div class="y-row" data-ignore-group="">-->
                <!--<div class="layer left-header" data-ignore="">-->
                    <!--<a href="" target="_blank">-->
                        <!--<h1>大数据价值发现者</h1>-->
                        <!--<p>吹得很厉害</p>-->
                        <!--<button class="layer-btn">查看详情</button>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<a href="javascript:void(0)">-->
                <!--<div data-base-layer="" style="transform: rotateX(0deg) rotateY(0deg);">-->
                    <!--<div class="banner-row">-->
                        <!--<div class="banner-row">-->
                            <!--<div class="layer right-image" data-zindex="50">-->
                                <!--<img src="/static/images/a4.png" alt="">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div data-group=""  style="background-color: #5c5566"  data-isimage="" data-group-open="" data-active="dark" data-groupindex="4"-->
             <!--class="bottom">-->
            <!--<div class="y-row" data-ignore-group="">-->
                <!--<div class="layer left-header" data-ignore="">-->
                    <!--<a href="" target="_blank">-->
                    <!--<h1>大数据平台方案</h1>-->
                    <!--<p>实时洞察风险、挖掘潜在客户、轻松抢占市场</p>-->
                    <!--<button class="layer-btn">立即查看</button>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<a href="javascript:void(0)">-->
                <!--<div data-base-layer="" style="transform: rotateX(0deg) rotateY(0deg);">-->
                    <!--<div class="banner-row">-->
                        <!--<div class="banner-row">-->
                            <!--<div class="layer right-image" data-zindex="50">-->
                                <!--<img src="/static/images/a5.png" alt="">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    </div>
    <ul class="banner-tab dark" style="visibility: visible; margin-left: -55px;">
        <li class="banner-tab-li" data-index="0"></li>
        <li class="banner-tab-li " data-index="1"></li>
        <li class="banner-tab-li" data-index="2"></li>
        <!--<li class="banner-tab-li" data-index="3"></li>-->
        <!--<li class="banner-tab-li" data-index="4"></li>-->
    </ul>
</div>
<script type="text/javascript">
    var dd = $("div[data-hover-container]");
    var ss = dd.children().length;
    var ll = setInterval('slider()', 5000);
    var active_index = 0;
    var data_index = 0;
    var o = $("div[data-groupindex='" + active_index + "']");
    var oo = $(".banner-tab-li[data-index='" + active_index + "']");
    oo.addClass("active");
    o.removeClass("bottom").addClass("center animating-enter-up");
    function slider() {
        if (active_index < ss - 1) {
            o.removeClass("center animating-enter-up").addClass("bottom");
            oo.removeClass("active");
            active_index += 1;
        } else {
            active_index = 0;
        }
        o.removeClass("center animating-enter-up").addClass("bottom");
        oo.removeClass("active");
//        console.log(active_index);
        o = $("div[data-groupindex='" + active_index + "']");
        o.removeClass("bottom").addClass("center animating-enter-up");
        oo = $(".banner-tab-li[data-index='" + active_index + "']");
        oo.addClass("active");
    var nn = $(".banner-tab-li[data-index='" + active_index + "']");
    nn.addClass("active");
    }
    $('.banner-tab > .banner-tab-li').click(function(){
        active_index = $(this).index() - 1;
        slider()
    })
</script>