<style>
  .control-label {
    width: 80px;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <div class="console-title console-title-border clearfix">
      <div class="pull-left"><h5>邮件记录</h5></div>
      <div class="pull-right">
        <button class="btn btn-default" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 刷新
        </button>
        <!--<button class="btn btn-default" data-ng-click="returnPage()"><span class="glyphicon glyphicon-refresh"></span> 返回-->
        <!--</button>-->
        <!--<a target="_blank" href="{{site.websiteServer}}/usercenter/goodsPublish" class="btn btn-primary">新增</a>-->
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-12">
        <div class="searchSection">
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label">消息状态</label>
              <select ng-model="messageIsSuccess" ng-options="messageIsSuccess.id as messageIsSuccess.name for messageIsSuccess in messageIsSuccessList"  style="width: 155px;height: 32px">
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">邮箱账号</label>
              <input ng-model="receiveAddr" type="text" class="form-control" placeholder="请输入邮箱号码">
            </div>
            <div class="form-group">
              <label class="control-label">关键字</label>
              <input ng-model="keywords"  type="text" placeholder="请输入消息标题/内容关键字"  class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">事件类型</label>
              <select ng-model="eventType"  ng-options="eventType.code as eventType.describle for eventType in eventTypes"  style="width: 155px;height: 32px">
              </select>
            </div>

            <div style="display: inline-block" >
              <label class="control-label">发送时间：</label>
              <p class="input-group" style="margin-top: 15px">
                <input   style="background-color: transparent;" ng-keypress="$event.preventDefault()" ng-paste="$event.preventDefault()" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" type="datetime-local" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="关闭"  clear-text="清除" current-text="今天" readonly="true"/>
                <span class="input-group-btn" >
                         <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
              </p>
              <!--<input ng-model="addTime" type="text" class="form-control" placeholder="起始日期">-->
              <label class="control-label">至</label>
              <p class="input-group" style="margin-top: 15px">
                <input style="background-color: transparent;"  ng-keypress="$event.preventDefault()" ng-paste="$event.preventDefault()" type="text" class="form-control" uib-datepicker-popup ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" close-text="关闭"  clear-text="清除" current-text="今天" readonly="true"/>
                <span class="input-group-btn" >
                         <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
              </p>
            </div>

            <button type="submit" class="btn btn-primary" data-ng-click="emailSearch()">搜索</button>
          </form>
        </div>
        <div class="gridSection">
          <div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
          <table class="table table-hover" style="margin-bottom: 57px;">
            <thead>
            <tr>
              <th>序号</th>
              <th>标题</th>
              <th>内容</th>
              <th>发送时间</th>
              <th>用户名</th>
              <th>接收邮箱</th>
              <th>事件类型</th>
              <th>状态</th>
              <th width="200" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="!loadingState" data-ng-repeat="item in pagination.store" class="">
              <td>
                <span text-length="50" >{{$index+1}}</span>
              </td>
              <td>
                <a href="javascript:;" ng-click="lookDetail(item)">
                  <span class="column-text" ng-bind="item.sendHeader | limitTo:10"></span>
                </a>
              </td>
              <td>
                <span class="column-text" title="{{item.sendContent}}" ng-bind="item.sendContent | limitTo:20"></span>
              </td>
              <td>
                <span class="column-text" ng-bind="item.sendTime"></span>
              </td>
              <td>
                <span class="column-text" ng-bind="item.receiveUserName"></span>
              </td>
              <td>
                <span class="column-text" ng-bind="item.receiveAddr"></span>
              </td>
              <td>
                <span class="column-text" ng-bind="item.eventTypeName"></span>
              </td>
              <td>
                <span class="column-text" ng-bind="item.isSuccess | isSuccess"></span>
              </td>
              <td class="text-center">

              </td>
            </tr>
            </tbody>
            <tfoot ng-if="!showNoneDataInfoTip && showPageHelpInfo" class="">
            <tr>
              <td colspan="9">
                <div class="pull-right page-box">
                  <div class="pagination-info">共有{{pagination.totalItems}}条，每页显示：{{pagination.pageSize}}条</div>
                  <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems"
                      ng-model="pagination.currentPage" items-per-page="pagination.pageSize"
                      max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                      force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页"
                      last-text="末页">
                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="simple-grid-none-data-wrap">
          <div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
            <div class="row-padding row-margin text-center">
              <span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
              <div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>