<style>
	.control-label {
		width: 80px;
	}
</style>
<div class="row">
	<div class="col-sm-12">
		<div class="console-title console-title-border clearfix">
			<div class="pull-left"><h5>{{pageName}}管理</h5></div>
			<div class="pull-right">
				<button class="btn btn-default" data-ng-click="search()">
					<span class="glyphicon glyphicon-refresh"></span> 刷新
				</button>
				<!--<a ui-sref="items.search" target="_blank" href="http://www.qddata.com.cn/myseller" class="btn btn-primary">新增</a>-->
			</div>
		</div>
		<div class="row margin-top">
			<div class="col-sm-12">
				<div class="searchSection clearfix">
					<div class="pull-right">
						<button class="btn btn-default" ui-sref="carousel.edit({type:'add',imgType:imgType})"><span class="glyphicon glyphicon-plus"></span>新增{{pageName}}
						</button>
					</div>
				</div>
				<div class="gridSection">
					<div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
					<table class="table table-hover margin-top" style="margin-bottom: 57px;">
						<thead>
						<tr>
							<th>序号</th>
							<th>标题</th>
							<th>描述</th>
							<th>图片</th>
							<th>链接</th>
							<th>操作</th>
							<th>排序</th>
						</tr>
						</thead>
						<tbody>
						<tr data-ng-repeat="item in imgList" class="">
							<td>
								<span class="column-text" ng-bind="item.imgSort"></span>
							</td>
							<td>
								<span class="column-text" ng-bind="item.imgName"></span>
							</td>
							<td>
								<span class="column-text" ng-bind="item.imgDesc"></span>
							</td>
							<td>
								<img ng-src="{{item.imgUrl}}" style="width:50px;">
							</td>
							<td>
								<span class="column-text" ng-bind="item.imgLink"></span>
							</td>
							<td>
								<a ui-sref="carousel.edit({type:'modify',imgType:imgType,id:item.imgId})">编辑</a>
								<a ng-click="delImg(item.imgId)">删除</a>
							</td>
							<td>
								<span style="width:30px;display: inline-block"><span class="glyphicon glyphicon-arrow-up" ng-if="!$first" style="font-size: 16px;margin-left:10px;cursor: pointer; " ng-click="sortImg(item.imgId,'ASC')"></span></span>
								<span style="width:30px;display: inline-block"><span class="glyphicon glyphicon-arrow-down" ng-if="!$last" style="font-size: 16px;cursor: pointer; " ng-click="sortImg(item.imgId,'DESC')"></span></span>
							</td>

						</tr>
						</tbody>
					</table>
				</div>
				<div class="simple-grid-none-data-wrap">
					<div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
						<div class="row-padding row-margin text-center">
							<span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
							<div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>