<!doctype html>
<html>
<head>
    <meta name="charset" content="utf-8"/>
    <title>${title!}</title>
    <meta name="description" content="">
    <meta name="keyword" content="大数据,云计算,">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link type="text/css" rel="stylesheet" href="/static/2/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/2/css/common.css">
    <link type="text/css" rel="stylesheet" href="/static/2/css/base.css">
    <link href="/static/2/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    ${headSection}
</head>
<body>
<%include("/2/layout/header.html"){} %>
${htmlSection}
<%include("/2/layout/footer.html"){} %>
</body>
</html>