<div class="grid-0 header-top-bar border-bottom backgorund-gray">
    <div class="grid-row">
        <ul class="text-align-right">
            <li class="display-inline-block"><a href="javascript:void(0)"><span class="fa fa-user-o margin-right-5"></span>登录</a></li>
            <li class="display-inline-block"><a href="javascript:void(0)" class="color-orange">免费注册</a></li>
            <li class="display-inline-block">|</li>
            <li class="display-inline-block"><a href="javascript:void(0)"><span class="fa fa-question-circle-o margin-right-5"></span>常见问题</a></li>
            <li class="display-inline-block"><a href="javascript:void(0)">联系我们</a></li>
            <li class="display-inline-block color-orange"><span class="fa fa-phone margin-right-5"></span>400-819-0919</li>
        </ul>
    </div>
</div>