.info-center-box .header{
    border: none !important;
}
.accountInformation{}
.accountInformation .accountInformation-top{
    margin-bottom: 15px;
}
.accountInformation .accountInformation-top ul{
    margin-left: 157px;
    margin-top: 10px;
    width: 332px;
}
.accountInformation .accountInformation-top ul li{
    height: 32px;
    line-height: 32px;
    color: #666666;
    font-size: 14px;
    margin-bottom: 16px;
}
.accountInformation .accountInformation-top ul li .info-title{
    display: inline-block;
    width: 90px;
    margin-right: 10px;
    text-align: right;
}

.accountInformation .accountInformation-down table{
    width: 812px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #E5E5E5;
}
.accountInformation .accountInformation-down table tr{
    border: 1px solid #E5E5E5;
}
.accountInformation .accountInformation-down table th{
    width: 33.33%;
    height: 39px;
    text-align: center;
    color: #333;
    background-color: #F4F4F4;
}
.accountInformation .accountInformation-down table td{
    height: 34px;
    text-align: center;
}