.becomingSupplierStep1{
    padding:85px 168px 0px 168px;
}

.becomingSupplierStep1-info{

}
.becomingSupplierStep1-info p{
    height: 36px;
    line-height:36px;
    font-size: 14px;
    color: #666666;
}
.becomingSupplierStep1-info .btn{
    display:block;
    width: 130px;
    height: 36px;
    font-size: 14px;
    line-height:36px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    color: #ffffff;
    background-color: #4F95F4;
}