.info-center-box{
    width: 982px;
    margin-top: 10px;
    padding: 14px;
    height: 845px;
    background-color: #FFF;
}
.info-center-box .header{
    height: 31px;
    padding-top:10px;
    border-bottom: 1px solid #EDEDED;
}
.center-title{
    height: 20px;
    font:14px/20px "microsoft yahei";
    font-weight: bold;
    padding-left:10px;
    border-left:2px solid #237DE7;
}
