.becomingSupplierStep1-progress-bar ul{
    width: 100%;
}
.becomingSupplierStep1-progress-bar ul li{
    position: relative;
    float: left;
    height: 82px;
    font-size: 14px;
    color: #666666;
    line-height:82px;
    width: 33.33%;
}
.becomingSupplierStep1-progress-bar ul li:first-child{
    color: #F53839;
}
.becomingSupplierStep1-progress-bar ul li:first-child span{
    background-color: #F53839;
}
.becomingSupplierStep1-progress-bar ul li:nth-child(2){
    text-align: center;
}
.becomingSupplierStep1-progress-bar ul li:nth-child(2) span{
    left: 108px;
}
.becomingSupplierStep1-progress-bar ul li:last-child{
    text-align: right;
}
.becomingSupplierStep1-progress-bar ul li:last-child span{
    left: 173px;
}
.becomingSupplierStep1-progress-bar ul li span {
    position: absolute;
    top: -10px;
    left: 41px;
    color: #ffffff;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height:30px;
    background: #BDBDBD;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.becomingSupplierStep1-progress-bar ul li span.active {
    background:#F53839;;
}
.becomingSupplierStep1-progress-bar ul li span i{
    position: absolute;
    top: -7px;
    left: 2px;
    font-style: normal;
    color: #ffffff;
    /* Rotate */
    -webkit-transform: rotate(+45deg);
    -moz-transform: rotate(+45deg);
    -ms-transform: rotate(+45deg);
    -o-transform: rotate(+45deg);
    transform: rotate(+45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.becomingSupplierStep1-progress-bar ul li:first-child:before{
    position: absolute;
    top: -2px;
    left: 68px;
    content: '';
    width: 225px;
    height: 3px;
    background-color: #BDBDBD;
}
.becomingSupplierStep1-progress-bar ul li:last-child:before{
    position: absolute;
    top: -2px;
    right: 68px;
    content: '';
    width: 225px;
    height: 3px;
    background-color: #BDBDBD;
}
