
.contactInformation ul{
  margin-top: 62px;
  margin-left: 318px;
}
.contactInformation ul li{

    color: #666666;
    font-size: 14px;
    margin-bottom: 15px;
}
.contactInformation ul li label{
    width: 64px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: right;
    margin-right: 22px;
}
.contactInformation ul li input{
    width: 246px;
    height: 32px;
    padding-left: 10px;
    border: 1px solid #E5E5E5;
}
.contactInformation ul li .vertical-align-top{
   vertical-align: top;
}
.contactInformation ul li .contactAddress{
    display: inline-block;
    width: 270px;
}
.contactInformation ul li:last-child{
    margin-left: 90px;
    margin-top: 30px;
    font-size: 0;
}
.contactInformation ul li:last-child a{
    display: inline-block;
    width: 110px;
    height: 36px;
    border-radius: 5px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #5397F3;
}
