.contactInformation{

}
.contactInformation ul{
  margin-top: 62px;
  margin-left: 318px;
}
.contactInformation ul li{
    height: 32px;
    color: #666666;
    font-size: 14px;
    margin-bottom: 15px;
}
.contactInformation ul li label{
    width: 64px;
    display: inline-block;
    text-align: right;
    margin-right: 22px;
}
.contactInformation ul li input{
    width: 246px;
    height: 100%;
    padding-left: 10px;
    border: 1px solid #E5E5E5;
}

.contactInformation ul li:last-child{
    margin-left: 90px;
    margin-top: 30px;
    font-size: 0;
}
.contactInformation ul li:last-child a{
    display: inline-block;
    width: 110px;
    height: 36px;
    border-radius: 5px;
    line-height: 36px;
    text-align: center;
}
.contactInformation ul li:last-child a.save{
    font-size: 14px;
    color: #ffffff;
    margin-right: 28px;
    background-color: #5397F3;
}
.contactInformation ul li:last-child a.cancel{
    font-size: 14px;
    color: #333333;
    background-color:#EDEDED;
}