.nameAuthentication{}
.nameAuthentication ul {
   margin-top: 20px;
}
.nameAuthentication ul li{
    height: 39px;
    line-height: 39px;
    width: 591px;
    margin: auto;
    border: 1px solid #E5E5E5;
    border-bottom: none;
}
.nameAuthentication ul li:last-child{
    border-bottom:1px solid #E5E5E5;
}
.nameAuthentication ul li label{
    display: inline-block;
    height: 100%;
    width: 156px;
    padding-right: 34px;
    text-align: right;
    background-color: #F4F4F4;
}
.nameAuthentication ul li p{
    display: inline-block;
    height: 100%;
    width: calc(100% - 194px);
    text-align: center;
}
.nameAuthentication ul li.img-box{
    height: 115px;
}
.nameAuthentication ul li.img-box label{
    line-height: 115px;
}
.nameAuthentication ul li.img-box img{
    height: 107px;
    vertical-align: middle;
    margin-left: 115px;
}
.nameAuthentication ul li .revise-btn{
    position: absolute;
    top: 0;
    right: 77px;
    color: #5598f2;
    text-decoration: underline;
}
.nameAuthentication ul li .repeat-revise-btn{
    position: absolute;
    top: 7px;
    right: 55px;
    width: 72px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    background-color: #F8A23A;
}