/*充值第一步*/
.fundmanage-box .recharge{
     margin: 12px 0 393px 0px;
     border: 1px solid #E5E5E5;
 }
.fundmanage-box .recharge ul{
    display: inline-block;
    padding-left: 280px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.fundmanage-box .recharge ul li{
    height: 50px;
    color: #333333;
    line-height:53px;
    font-size: 14px;
}

.fundmanage-box .recharge ul li label{
    margin-right: 14px;
}
.fundmanage-box .recharge ul li input{
    width: 216px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #E5E5E5;
}
.fundmanage-box .recharge ul li a{
    display: inline-block;
    color: #ffffff;
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-left: 84px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #4C94F4;
}

.fundmanage-box .recharge ul .money{
     font-size: 0px;
 }
.fundmanage-box .recharge ul .money label{
    font-size: 14px;
}

.fundmanage-box .recharge ul .color-orange{
    color:#F17D17 ;
    font-weight: bold;
}
/*充值第二步*/

