ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
    font-size: 0;
    zoom: 1;
}

.box {
    background: #F8F8F8;
}

/*中心动态*/
 .leftSide {
    font-size: 15px;
    float: left;
}

 .leftSide .top {
    width: 235px;
    background: #fff;
}

 .leftSide .top ul .active {
    background: #E1EFFF;
    color: #247DE8;
    border-left: 2px solid #247DE8;
}

 .leftSide .top ul li {
    line-height: 46px;
    border-bottom: 1px solid #E9E9E9;
}

.leftSide .top ul li a {
    display: block;
    padding-left: 30px;
}

.leftSide .top ul li span {
    margin-right: 10px;
}

 .leftSide .top ul li:nth-child(3) {
    border-bottom: none;
}

/*右侧内容*/
 .rightCenter {
    width: 905px;
    background: #fff;
    float: left;
}

.rightCenter .title {
    line-height: 50px;
    border-bottom:1px solid #e0e0e0;
}

.rightCenter .title h3 {
    display: inline-block;
}

.rightCenter .title span {
    border-left: 2px solid #237DE7;
}
.rightCenter .img-box{
    padding:20px;
    text-align: center;
}
.rightCenter .detail .header{
    height: 31px;
    padding-top:10px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom:20px;
}
.center-title{
    height: 20px;
    font:14px/20px "microsoft yahei";
    padding-left:10px;
    border-left:2px solid #237DE7;
}
.content p {
    font: 14px/25px "microsoft yahei";
    color: #666;
    margin-bottom: 25px;
}

.content .title {
    font-weight: 900;
    font-size: 16px;
}

.content .subtitle, .content .smalltitle {
    font-weight: 900;
    margin-bottom: 25px;
}

.content .adress span {
    color: #333;
}

