<style>
	.control-label {
		width: 80px;
	}
</style>
<div class="row">
	<div class="col-sm-12">
		<div class="console-title console-title-border clearfix">
			<div class="pull-left"><h5>货架查询</h5></div>
			<div class="pull-right">
				<button class="btn btn-default" data-ng-click="refresh()">
					<span class="glyphicon glyphicon-refresh"></span> 刷新
				</button>
				<!--<a ui-sref="items.search" target="_blank" href="http://www.qddata.com.cn/myseller" class="btn btn-primary">新增</a>-->
			</div>
		</div>
		<div class="row margin-top">
			<div class="col-sm-12">
				<div class="searchSection clearfix">
					<div class="pull-right">
						<button class="btn btn-default" ui-sref="shelf.edit({type:'add'})"><span class="glyphicon glyphicon-plus"></span> 新增货架
						</button>
					</div>
				</div>
				<div class="gridSection">
					<div us-spinner ng-show="showSpinner" spinner-start-active="true" spinner-key="showSpinner"></div>
					<table class="table table-hover margin-top" style="margin-bottom: 57px;">
						<thead>
						<tr>
							<th>货架名称</th>
							<th>描述</th>
							<th>图片</th>
							<th>创建时间</th>
							<th width="200" class="text-center">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr data-ng-if="!loadingState" data-ng-repeat="item in storages" class="">
							<td>
								<a href="JavaScript:void(0);" ng-click="manageGoods($event,item)">
									<span class="column-text" ng-bind="item.name"></span>
								</a>
							</td>
							<td>
								<span class="column-text" ng-bind="item.describle"></span>
							</td>
							<td>
								<img ng-src="{{item.img}}" style="width:50px;">
							</td>
							<td>
								<span class="column-text" ng-bind="item.updateTime"></span>
							</td>
							<td class="text-center">
								<!--<a href="javascript:;" ng-click="manageGoods($event,item)">管理商品</a>-->
								<a ui-sref="shelf.manageGoods({id:item.shelvesId,name:item.shelvesName})">管理商品</a>
								<span class="text-explode">|</span>
								<i class="link-space"></i>
								<a  ui-sref="shelf.edit({type:'modify',id:item.id})">修改</a>



							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="simple-grid-none-data-wrap">
					<div class="simple-grid-none-data text-center " ng-if="showNoneDataInfoTip && !loadingState">
						<div class="row-padding row-margin text-center">
							<span class="text-size-24 blue icon-info-1" style="vertical-align: middle"></span>
							<div class="text-size-18 tip-text inline-block">没有查询到符合条件的记录</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>