<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/css/usercenter.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">资金管理</h3>
            <div class="fundmanage-box">
                <div class="fundmanage-bd">
                    <div class="user-infos y-left">
                        <div class="user-head-img"><img src="../../static/img/zheng.jpg" alt=""></div>
                        <p>Hi,<span>nickname</span></p>
                    </div>
                    <div class="user-balance y-left">
                        <div class="title">余额:</div>
                        <div class="price">8000<span>.00元</span></div>
                        <div class="operation"><a href="/usercenter/recharge">充值</a><a href="/usercenter/withdrawals" class="btn-2">提现</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
