<%
var head = {
%>
<link rel="stylesheet" type="text/css" href="/static/css/user-center-menu.css">
<link rel="stylesheet" type="text/css" href="/static/css/usercenter.css">
<%};%>

<%
var htmlPart = {
%>
<div class="user-center">
    <div class="user-center-bd y-row">
        <div class="user-center-menu y-left">
            <%include("/layout/user-center-menu.html"){}%>
        </div>
        <div class="user-center-box y-right">
            <h3 class="center-title">个人资料</h3>
            <div class="user-info">
                <h3 class="hello-user">Dear<span>nickname</span>,请填写真实有效的个人资料！</h3>
                <form action="">
                    <ul>
                        <li><label>头像：</label><span class="user-head-portrait"><img src="../../static/img/zheng.jpg" alt=""> <span>点击上传</span></span></li>
                        <li><label>昵称：</label><input class="input-txt" type="text" value="nickname"></li>
                        <li><label>真实姓名：</label><input class="input-txt" type="text" value="test name"></li>
                        <li class="tip-title">请填写真实姓名</li>
                        <li><label>性别：</label><label class="except"><input type="radio" name="sex" checked="checked">男</label><label class="except"><input type="radio" name="sex">女</label></li>
                        <li><label>出生日期：</label><input class="input-txt" type="date"></li>
                        <li><label>身份证号：</label><input class="input-txt" type="text" value="110188199002077389"></li>
                        <li><button class="submit-btn">保存</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>
