<%
var head = {
%>
<link rel="stylesheet" href="/static/css/usercenter/question.css">
<%};%>

<%
var htmlPart = {
%>
<div class="backgorund-gray padding-bottom-30 padding-top-10">
    <div class="grid-row backgorund-white  ">
        <div class="question ">
            <h2 class="text-align-center ">青岛大数据交易平台常见问题</h2>
            <h4 >1、青岛大数据交易中心有哪些优势？</h4>
            <p>（1）强有力的区位优势：在国家大数据发展战略背景和山东省政策支持下，位于未来“中国数都”青岛，这里凝聚着强大的通信、互联网、大数据、云计算等理念、智力、技术及设施设备企业资源，可以为青岛大数据交易中心就近提供相应的支持与合作。</p>
            <p>（2）丰富优质的数据源：青岛大数据交易中心致力于整合山东省公共部门大数据资源，推动大数据市场化交易；通过与山东大型企业及其他数据源供给方合作，整合全领域数据源；同时与全国范围内的大数据交易平台合作，实现大数据资源的“买自全国、卖至全国”。</p>
            <p>（3）专业的大数据背景：青岛大数据交易中心的股东之一——九次方大数据信息集团，是中国第一家大数据资产运营商，同时也是全球第一家大数据交易所——贵阳大数据交易所的创始股东，目前已与国内40多个省市的国有控股平台合资成立大数据应用服务及政府数据资产运营公司，拥有1000多位大数据全产业链高端人才，是国内唯一一家超过一千人的大数据公司，是国内唯一一家已经设计研发完成了4000多个政府大数据应用场景的公司，已经获得专利及软著等专业资质逾100项，公司大数据安全体系达到公安部等级保护测试的中高级应用标准。</p>
            <p>（4）极健全的机制保障：为了保障交易各方的合法权益和最大效益，青岛大数据交易中心建立了一整套保障机制，从政策、市场、技术、法律、财务、交易及内部管理等层面全方位规范落实，按照事前预防和事中控制为主、事后补救为辅的原则，为交易各方打造了一个便捷、安全的交易环境。</p>
            <h4>2、数据来源是否真实可靠，数据质量是否有保证？</h4>
            <p>交易所中的所有数据都是来自专业的数据公司，并且由交易中心专业平台进行测试、审核过的真实数据。</p>
            <p>青岛大数据交易中心采集及加工的大数据产品，是按照严格的流程进行审核评估的，可放心使用。</p>
            <p>针对合作方提供的大数据产品，青岛大数据交易中心首先会对供应商资质进行审核，通过协议对供应商的义务进行明确，对上架数据源进行审核，对交易全过程进行管理，及时解决交易双方之间的问题。</p>
            <p>然而，大数据产品具有一定的非标特性，针对买家在交易过程中对所购买的数据源的真实可靠性及质量存在的疑问、问题及由此产生的争议，平台将及时帮助协调解决。</p>
            <h4>3、数据来源是什么？</h4>
            <p>数据来源主要分为两部分：</p>
            <p>第一部分：政府数据；</p>
            <p>第二部分：合作伙伴数据。</p>
            <p>第三部分：第三方机构</p>
            <h4>4、如何注册成为交易中心的用户？</h4>
            <p>详见交易中心注册流程。</p>
            <h4>5、注册用户有哪些权利？</h4>
            <p>新注册的用户只能浏览数据信息，只有通过实名认证的企业和个人才能进行数据的交易。新注册的用户（包括企业和个人）只能调用个人数据；调用“限企业用户“字样的数据需要认证企业用户资格，审核通过方可进行调取；发布数据则要认证平台商家资格，审核通过方可进行数据发布。</p>
            <p>青岛大数据交易中心正式会员享有下列权利：</p>
            <p>a)通过平台从事交易及与交易相关的活动；</p>
            <p>b)参加交易中心举办的相关培训及相关交流活动；</p>
            <p>c)使用交易中心的有关设施，享用交易中心提供的相关数据信息和有关服务；</p>
            <p>d)按规定可享有的其他权利。</p>
            <h4>6、个人用户和企业用户都有哪些区别呢？</h4>
            <p>由于考虑到数据的保密性，有一些数据只对企业用户开放，个人用户身份会有所限制。</p>
            <h4>7、交易中心目前都有哪些服务？</h4>
            <p>目前，青岛大数据交易中心可以提供数据源交易、数据工具组件交易以及平台应用的提供和交易服务。</p>
            <p>随着交易中心的发展，今后将建设成为以大数据产业数据资产交易和大数据产业工具、模型算法交易为核心，同时发展相关的衍生业务，包括大数据产业众包服务、大数据产业双创指导及投融资服务、大数据云平台服务服务、大数据产业交易会、批准的其他数据衍生业务等。</p>
            <h4>8、没有我需要的数据怎么办？</h4>
            <p>您可以根据定制功能需求给我们留言，或通过青岛大数据交易中心邮箱admin@qddata.com.cn或客服电话0532-86617555与我们取得联系。</p>
            <h4>9、如何购买数据？</h4>
            <p>您可以在注册认证完成后按照交易流程购买所需资源数据。</p>
            <h4>10、是否有发票？</h4>
            <p>可申请提取发票，领取发票细节请联系客服人员或留言网站公告。</p>
            <h4>11、API调用频率是否有限制？</h4>
            <p>不同数据产品API的调用频率上限不同，请留意API的详细介绍说明。</p>
            <h4>12、API调用次数有上限吗？</h4>
            <p>不同数据产品API的调用次数上限不同，请留意API的详细介绍说明。</p>
            <h4>13、调用结果以哪种形式展现？</h4>
            <p>Json、XML格式进行展现。</p>
            <h4>14、如果调用不成功或者调用失败，是否收费呢？</h4>
            <p>调用成功会扣除相应费用，调取失败不会收取任何费用。</p>
            <h4>15、成为数据卖家，有哪些条件？</h4>
            <p>请关注平台招商及商家相关介绍资料。</p>
            <h4>16、数据卖家如何入驻？</h4>
            <p>注册平台帐号——申请商家资格——签订《平台入驻协议》——获得商家资格——发布数据产品——审核——上线</p>
            <h4>17、如何进行数据的录入？</h4>
            <p>完成注册、资格审核的商家，通过商家专用的资源上传界面进行数据录入及发布。</p>
            <h4>18、如何进行结算，账期是什么？</h4>
            <p>供应商账款及相关费用的结算规则，平台会在相关协议、操作细则及宣传资料中明确，请及时关注了解。</p>
            <h4>19、账号丢失，如何找回？</h4>
            <p>在注册登录页面，点击“密码找回”，按照页面提示进行密码重置操作。</p>
            <h4>20、如何才能与青岛大数据交易中心进行更广泛深入的合作？</h4>
            <p>欢迎您随时通过网站展示的联系方式与我们进行沟通，或者前来我交易中心交流、洽谈。</p>
        </div>
    </div>
</div>


<%};
include("/layout/base.html",{headSection:head,htmlSection:htmlPart}){}
%>