
<% if(shiro.hasRole("Admin")){%>
<div class="grid-left left-bar margin-top-10 margin-bottom-30">
    <!--<ul>-->
        <!--<li class="text-align-center active"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>用户中心 <span class="fa fa-"></span></li>-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/userProfile"><span class="fa fa-file-text"></span>个人资料</a></li>&ndash;&gt;-->
        <!--<li class="text-align-center"><a href="/usercenter/safeSet"><span class="fa fa-heart-o" aria-hidden="true"></span>安全设置</a></li>-->
    <!--</ul>-->
    <ul>
        <!--<li class="text-align-center active"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>文章管理 <span class="fa fa-"></span></li>-->
        <li class="text-align-center active"><a href="/admin/articleManage"><span class="fa fa-file-text"></span>文章列表</a></li>
        <li class="text-align-center"><a href="/usercenter/goodsManage"><span class="fa fa-cog"></span>商品管理</a></li>
    </ul>

</div>
<%}else{%>
<div class="grid-left left-bar margin-top-10 margin-bottom-30 status">
    <ul>
        <li class="text-align-center"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>用户中心 <span class="fa fa-"></span></li>
        <!--<li class="text-align-center"><a href="/usercenter/userProfile"><span class="fa fa-file-text"></span>个人资料</a></li>-->
        <li class="text-align-center"><a href="/usercenter/infoCenter"><span class="fa fa-id-card-o"></span>信息中心</a></li>
        <li class="text-align-center"><a href="/usercenter/fundmanage"><span class="fa fa-life-buoy" aria-hidden="true"></span>资金管理</a></li>
        <li class="text-align-center"><a href="/usercenter/safeSet"><span class="fa fa-unlock-alt" aria-hidden="true"></span>安全设置</a></li>
    </ul>
    <ul class="u2">
        <li class="text-align-center"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>买家中心 <span class=""></span></li>
        <li class="text-align-center"><a href="/usercenter/buyer/orderManagement"><span class="fa fa-indent"></span>订单管理</a></li>
        <li class="text-align-center"><a href="/usercenter/invoice"><span class="fa fa-list-alt"></span>我的发票</a></li>
        <li class="text-align-center"><a href="/usercenter/buyer/cart"><span class="fa fa-shopping-cart"></span>购物车&nbsp;&nbsp;&nbsp;</a></li>
        <li class="text-align-center"><a href="/usercenter/buyer/evaluation"><span class="fa fa-building"></span>我的评价</a></li>
        <li class="text-align-center"><a href="/usercenter/myAttention"><span class="fa fa-star"></span>我的关注</a></li>
    </ul>
    <ul>
        <li class="text-align-center"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>卖家中心 <span class=""></span></li>
        <li class="text-align-center"><a href="/usercenter/goodsManage"><span class="fa fa-cart-plus"></span>商品管理</a></li>
        <li class="text-align-center"><a href="/usercenter/trade"><span class="fa fa-indent"></span>交易管理</a></li>
        <!--<li class="text-align-center"><a href="javascript:void(0);"><span class="fa fa-outdent"></span>店铺管理</a></li>-->
        <li class="text-align-center"><a href="/usercenter/custom"><span class="fa fa-volume-control-phone"></span>客服管理</a></li>
    </ul>
</div>
<%}%>

<script>
    $(function(){
        var url=window.location.pathname;
        $('.status ul li').each(function () {
            var href = $(this).children('a').attr('href');
            if (url.indexOf(href) >= 0) {
                $(this).addClass('active').siblings().removeClass("active");
                $(this).children('a').css("color","#247DE8");
            }
        })
        if(url=="/usercenter/buyer/orderStay"){
            $('.u2 li:nth-child(2)').addClass('active').siblings().removeClass("active");
            $('.u2 li:nth-child(2)').children('a').css("color","#247DE8");
        }
    })
</script>