<link rel="stylesheet" href="/static/css/usercenter/user-center-menu.css">
<% if(shiro.hasRole("Admin")){%>
<div class="grid-left left-bar margin-bottom-30 margin-top-10 status adminS">
    <!--<ul>-->
        <!--<li class="text-align-center active"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>用户中心 <span class="fa fa-"></span></li>-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/userProfile"><span class="fa fa-file-text"></span>个人资料</a></li>&ndash;&gt;-->
        <!--<li class="text-align-center"><a href="/usercenter/safeSet"><span class="fa fa-heart-o" aria-hidden="true"></span> </a></li>-->
    <!--</ul>-->
    <div class="one-level-menu ">
        <ul>
            <!--<li class="text-align-center active"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>文章管理 <span class="fa fa-"></span></li>-->
            <li class="text-align-center"><a href="/admin/articleManage"><span class="fa fa-file-text"></span>文章列表</a></li>
            <li class="text-align-center"><a href="/usercenter/goodsManage"><span class="fa fa-cog"></span>商品管理</a></li>
            <li class="text-align-center"><a href="/usercenter/trade"><span class="fa fa-indent"></span>交易管理</a></li>
        </ul>
    </div>
</div>
<%}else{%>
<div class="grid-left left-bar margin-top-10 margin-bottom-30 status">
    <div class="one-level-menu ">
        <div class="title"><span class="fa fa-caret-down margin-right-25"></span>账户中心</div>
        <ul>
            <li><a href="/usercenter/index"><span class="fa fa-id-card-o margin-right-22 "></span>基本信息</a></li>
            <li><a href="/usercenter/accountInformation"><span class="fa fa-id-card-o margin-right-22"></span>账户信息</a></li>
            <li><a href="/usercenter/safeSet"><span class="fa fa-id-card-o margin-right-22"></span>安全中心</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>实名认证</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>站内信息</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>联系信息</a></li>
        </ul>
    </div>
    <div class="one-level-menu">
        <div class="title"><span class="fa fa-caret-down margin-right-25"></span>资金管理</div>
        <ul>
            <li><a href="/usercenter/fundmanage"><span class="fa fa-id-card-o margin-right-22"></span>资金总览</a></li>
            <li><a href="/usercenter/capitalRecord"><span class="fa fa-id-card-o margin-right-22"></span>资金记录</a></li>
        </ul>
    </div>
    <div class="one-level-menu">
        <div class="title"><span class="fa fa-caret-down margin-right-25"></span>买家中心</div>
        <ul>
            <li><a href="/usercenter/buyer/orderManagement"><span class="fa fa-id-card-o margin-right-22"></span>我的订单</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>订单评价</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>我得收藏</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>我的商品</a></li>
        </ul>
    </div>
    <div class="one-level-menu">
        <div class="title"><span class="fa fa-caret-down margin-right-25"></span>卖家中心</div>
        <ul>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>商品管理</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>交易管理</a></li>
            <li><a href="javascript:void(0);"><span class="fa fa-id-card-o margin-right-22"></span>结算记录</a></li>
        </ul>
    </div>
    <!--<ul class="one-level-menu-user">-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/userProfile"><span class="fa fa-file-text"></span>个人资料</a></li>&ndash;&gt;-->
        <!--<li class="padding-left-30"><a href="/usercenter/index"><span class="fa fa-file-text"></span>账户中心</a></li>-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/infoCenter"><span class="fa fa-id-card-o"></span>信息中心</a></li>&ndash;&gt;-->
        <!--<li class="two-level-menu">-->
            <!--<a href="/usercenter/fundmanage">资金总览</a>-->
             <!--&lt;!&ndash;<div class="padding-left-30"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>资金管理</div>&ndash;&gt;-->
             <!--&lt;!&ndash;<a href="/usercenter/fundmanage"><span class="fa fa-life-buoy" aria-hidden="true"></span>资金管理</a>&ndash;&gt;-->
             <!--&lt;!&ndash;<ul class="three-level-menu">&ndash;&gt;-->
                 <!--&lt;!&ndash;<li class=""></li>&ndash;&gt;-->
                 <!--&lt;!&ndash;<li class=""><a href="/usercenter/recharge">充值</a></li>&ndash;&gt;-->
                 <!--&lt;!&ndash;<li class=""><a href="/usercenter/withdrawals">提现</a></li>&ndash;&gt;-->
                 <!--&lt;!&ndash;<li class=""><a href="/usercenter/capitalRecord">资金记录</a></li>&ndash;&gt;-->
             <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</li>-->
        <!--<li class="padding-left-30"><a href="/usercenter/safeSet"><span class="fa fa-unlock-alt" aria-hidden="true"></span></a></li>-->
    <!--</ul>-->
    <!--<ul class="one-level-menu-fundmanage">-->
        <!--<li class="font-weight-bold padding-left-20">买家中心</li>-->
        <!--&lt;!&ndash;<li class="text-align-center"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>买家中心 <span class=""></span></li>&ndash;&gt;-->
        <!--<li class="padding-left-30"><a href="/usercenter/buyer/orderManagement"><span class="fa fa-indent"></span>订单管理</a></li>-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/invoice"><span class="fa fa-list-alt"></span>我的发票</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/buyer/cart"><span class="fa fa-shopping-cart"></span>购物车&nbsp;&nbsp;&nbsp;</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/buyer/evaluation"><span class="fa fa-building"></span>我的评价</a></li>&ndash;&gt;-->
        <!--<li class="padding-left-30"><a href="/usercenter/myAttention"><span class="fa fa-star"></span>我的关注</a></li>-->
    <!--</ul>-->
    <!--<ul class="one-level-menu-buyer">-->
        <!--<li class="font-weight-bold padding-left-20">买家中心</li>-->
        <!--&lt;!&ndash;<li class="text-align-center"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>买家中心 <span class=""></span></li>&ndash;&gt;-->
        <!--<li class="padding-left-30"><a href="/usercenter/buyer/orderManagement"><span class="fa fa-indent"></span>订单管理</a></li>-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/invoice"><span class="fa fa-list-alt"></span>我的发票</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/buyer/cart"><span class="fa fa-shopping-cart"></span>购物车&nbsp;&nbsp;&nbsp;</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="text-align-center"><a href="/usercenter/buyer/evaluation"><span class="fa fa-building"></span>我的评价</a></li>&ndash;&gt;-->
        <!--<li class="padding-left-30"><a href="/usercenter/myAttention"><span class="fa fa-star"></span>我的关注</a></li>-->
    <!--</ul>-->
    <!--<ul class="one-level-menu-seller">-->
        <!--<li class="text-align-center"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up" style="display: none;"></span>卖家中心 <span class=""></span></li>-->
        <!--<li class="text-align-center goods"><a href="/usercenter/goodsManage"><span class="fa fa-cart-plus"></span>商品管理</a></li>-->
        <!--<li class="text-align-center"><a href="/usercenter/trade"><span class="fa fa-indent"></span>交易管理</a></li>-->
        <!--<li class="text-align-center"><a href="javascript:void(0);"><span class="fa fa-outdent"></span>店铺管理</a></li>-->
        <!--<li class="text-align-center"><a href="/usercenter/custom"><span class="fa fa-volume-control-phone"></span>客服管理</a></li>-->
    <!--</ul>-->
</div>
<%}%>

<script>
    $(function(){
        var url=window.location.pathname;
        $('.status ul li').each(function () {
            var href = $(this).children('a').attr('href');
            if (url.indexOf(href) >= 0) {
                $(this).addClass('active').siblings().removeClass("active");
                $(this).siblings().addClass('item-active');
                $(this).parent().siblings().addClass('active')
            }

        });
//        控制菜单下拉
        $('.title').on('click',function () {
            var display=$(this).siblings().css("display");
            $(this).addClass('active').parent().siblings().find(".title").removeClass('active');
            if(display=="block" ){
                $(this).siblings().hide()
            }else {
                $(this).siblings().show()
            }
        });
      /*  if(url == '/admin/articleManage' || url == '/admin/articlePublish' || url == '/admin/articleModify'){
            $('.adminS ul li:first-child').addClass('active').children('a').css("color","#247DE8").siblings().removeClass("active");
        }else if(url == '/usercenter/trade'){
			$('.adminS ul li').eq(3).addClass('active').children('a').css("color","#247DE8").siblings().removeClass("active");
        }
        if(url == '/usercenter/goodsManage'){
            $('.adminS ul li:nth-child(2)').addClass('active').siblings().removeClass("active").children('a').css("color","#247DE8");
        }
        if(url == '/usercenter/trade'){
            $('.adminS ul li:nth-child(3)').addClass('active').siblings().removeClass("active").children('a').css("color","#247DE8");
        }

        if(url=="/usercenter/buyer/orderStay"||url=="/order/viewDetails" ||url=="/usercenter/sunAlone"){
            $('.u2 li:nth-child(2)').addClass('active').siblings().removeClass("active");
            $('.u2 li:nth-child(2)').children('a').css("color","#247DE8");
        }
        if(url.indexOf("goods")>=0){
            $(".goods").addClass('active').siblings().removeClass("active");
            $(".goods").children('a').css("color","#247DE8");
        }
        if(url.indexOf('/usercenter/recharge') >= 0 || url.indexOf('/usercenter/withdrawals') >= 0){
			$('.u1 li:nth-child(3)').addClass('active').siblings().removeClass("active");
			$('.u1 li:nth-child(3)').children('a').css("color","#247DE8");
        }
*/
    })
</script>

